[2022-02-24 16:15] kvmware commented on #2987
/kind cncf-after

[2022-02-24 16:22] kvmware commented on #2976
/kind cncf-after

[2022-02-24 22:16] chizhg opened #3120 "Update Prow build cluster node type from n1-standard-16 to e2-standard-16"
The current machine type for the Prow build cluster is `n1-standard-16`, according to https://cloud.google.com/blog/products/compute/google-compute-engine-gets-new-e2-vm-machine-types, `e2-standard-16` will be more cost effective, so switching to it will help us save some cost.

/assign

[2022-02-24 22:46] chizhg opened #3121 "Reduce frequency of running periodic Prow jobs"
Currently we are running periodic Prow jobs for multiple releases of all Knative repositories, and their run history can be checked from testgrid.knative.dev. Some of them are not needed to be run as frequently as they are now, which is not an efficient use of resource. We should audit them and try to reduce the frequency if feasible.

/assign

[2022-02-24 22:55] chizhg commented on #3120
This is done.

/close

[2022-02-24 22:55] #3120 closed

[2022-02-24 23:15] chizhg commented on #3121
cc @dprotaso @kvmware

[2022-02-25 22:04] chizhg opened #3127 "Turn on optimize-utilization profile for Autoscaling for the Prow build cluster"
According to https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-autoscaler#autoscaling_profiles:

In GKE version [1](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-autoscaler#fn1).18 and later, when you specify the optimize-utilization autoscaling profile, GKE prefers to schedule Pods in nodes that already have high allocation of CPU, memory and/or GPUs1, helping th

[2022-02-25 22:12] chizhg commented on #3127
[code]

[2022-02-25 22:12] chizhg commented on #3127
/close

[2022-02-25 22:12] #3127 closed

[2022-02-26 00:08] chizhg opened #3128 "Change Prow control plane cluster to smaller machines"
Knative Prow cluster now has very low resource utilization for both CPU and memory, and it's constant. We should be able to change it to use a smaller Machine Type, which'll help cut some cost.

https://cloud.google.com/kubernetes-engine/docs/tutorials/migrating-node-pool is the tutorial on how to migrate.

[2022-02-26 00:18] chizhg commented on #3128
Changed machine type from `e2-standard-16` to `e2-standard-8`

[2022-02-26 00:20] chizhg commented on #3128
/close

[2022-02-26 00:20] #3128 closed

[2022-02-28 01:19] chizhg opened #3130 "Separate system pods and Prow job pods to different node pools for the Prow build cluster"
Currently the Prow build cluster only has one node pool, and all system pods and Prow job pods are scheduled to this node pool. However, according to https://cloud.google.com/architecture/best-practices-for-running-cost-effective-kubernetes-applications-on-gke#cluster_autoscaler, since some system pods cannot be restarted, they will be blocking Autoscaler from scaling down the cluster, which can c

[2022-03-02 18:24] chizhg commented on #3104
/cc @upodroid @kvmware

This issue is tracking all the work we are doing / planning to do to reduce the infra cost. If you have other ideas, please create a new issue and link it here. If you have concerns on the existing issues, please leave comments under the corresponding issue. Thanks!

[2022-03-03 16:25] kvmware commented on #2466
/kind cncf-infra

[2022-03-03 16:27] kvmware commented on #3130
/kind cncf-infra

[2022-03-03 18:12] upodroid opened #3134 "Domain: transfer domain to the CNCF"
As part of https://github.com/cncf/toc/issues/794 we will need to handover ownership of the knative domains to CNCF but the DNS zones will be hosted on Google Cloud and changes will be driven via Infrastructure as Code.

Current NS records:

[code]

We will need to create a new GCP project called `knative-dns` and host the DNS zones in that project. Once that is done, this issue will be updated wi

[2022-03-04 22:34] steven0711dong opened #3135 "Enable Snyk and White-source scanning on knative repos"
Problem
We see some dependencies that are considered as vulnerable by both Snyk and White-source scanning. I found out about this because our organization does the scanning after we clone the repo. Keda does both snyk and white-source scanning so I would like to propose that we enabled these 2 scans on this repo as well so that any vulnerable libraries could be caught on PR and people no longer op

[2022-03-05 20:03] kvmware commented on #3135
/kind security

[2022-03-06 08:52] chizhg commented on #3130
Fixed this issue with a slightly hacky approach:
1. Created a `system-node-pool-new` node pool with very small machine type (`e2-standard-2`: 2 CPU+8G RAM), and set the label as `type: system`.
2. Added below to the `metrics-server`, `kube-dns` and `kube-dns-autoscaler` deployment spec so that the pods will only be scheduled on the system node pool:
[code]
3. Since the current default CPU request

[2022-03-06 08:52] #3130 closed

[2022-03-09 03:59] chizhg commented on #2374
/close

[2022-03-09 03:59] #2374 closed

[2022-03-09 08:00] chizhg opened #3146 "Remove the under-utilized prow-trusted build cluster"
Previously in order to run some high privileged Prow jobs, such as peribolos, we created a second Prow build cluster named as `prow-trusted`.

The cluster itself is pretty small, but since we don't run many jobs on this cluster, it has been pretty under-utilized. As part of the effort to reduce the infra cost, we could move these Prow jobs to run on existing clusters, and use workload identity to

[2022-03-09 09:48] upodroid opened #3147 "Proposal - Infrastructure Management Methods"
As part of the CNCF migration, the Google Cloud projects are being handed over by Google. We want to manage the entire infrastructure using Infrastructure as Code tools and store the configuration in this git repository in the infra/gcp folder.

We need to agree how we will manage our infrastructure and we have a few options:
- bash 👎
  - Example One https://github.com/kubernetes/k8s.io/tree/main/

[2022-03-09 11:07] ameukam commented on #3147
For more clarification, bash is still used in some specific use cases; I don't think _legacy_ is the right term for SIG k8s Infra. Terraform is the preferred tool at the moment for infrastructure management.

We also want to investigate tools like `Config Connector` or CrossPlane in the future depending on the progress we make during the migration to the community infrastructure. See https://githu

[2022-03-09 14:10] #2946 closed

[2022-03-09 18:24] steven0711dong commented on #3135
White-source and Snyk scanning

Current status:

Currently there is no scanning tool in knative workspace that discovers vulnerable libraries. Cloned knative repos(downstream repos) in other organizations ends up having to deal with each individual vulnerability on their own. This creates two issues:

1. By replacing the vulnerable libraries in, downstream repos end up with a knative project with

[2022-03-09 18:27] kvmware commented on #3135
@carlisia is also working on security scanning. Would be nice to hear her thoughts as well.

[2022-03-09 18:36] steven0711dong commented on #3135
@carlisia Hi, I'm working on enabling white-source scan and snyk scan on this repo, could you take a look at the proposal I wrote above and see whether you have anything to add?

[2022-03-09 22:10] chizhg commented on #3121
There are some continuous Prow jobs run every 3 hours, and some of them run every 4 hours. My plan is changing them to be every 8 hours and 12 hours.

This change will mostly only impact data freshness posted by `flaky-test-reporter`, which is now used by Serving and Eventing, since it calculates the flakiness rates based on the last 10 run results, but I think at this moment reducing the infra co

[2022-03-10 00:20] xtreme-sameer-vohra commented on #2965
I'd want to be cautious for https://github.com/knative/client-pkg/pull/24 type PRs. If they get merged without all the checks passing and leave repos in a broken state that should be considered undesirable.

[2022-03-10 02:05] chizhg commented on #2965
We should set these GitHub Actions checks as required, ideally by automation with branch-protector https://github.com/knative/test-infra/blob/c2f5bece9217fe1a5377dbdf4777fe9d5bc81fd3/prow/config.yaml#L194-L243.

@shinigambit 's work for https://github.com/knative/test-infra/issues/2985 is for build and unit tests, but we can extend it to work for any custom GitHub Actions checks.

[2022-03-10 18:17] kvmware commented on #3147
As discussed in productivity:
Let us move forward with terraform and let us punt on a decision to use Config Connector, etc. til later with a new proposal :+1:
1. It will give us some relieve from complex Bash.
2. it is an industry standard and has wide support. (ex. can export google cloud config as terraform etc.)

[2022-03-10 19:17] csantanapr commented on #3134
Related to [INCUBATING PROJECT ONBOARDING] Knative https://github.com/cncf/toc/issues/794

[2022-03-13 21:55] chizhg opened #3155 "Deprecate the bespoke go-coverage tool"
https://github.com/knative/test-infra/tree/main/tools/coverage is an in-house tool that can be configured as Prow jobs to calculate the show the test coverage metrics for the Go code. It is bespoke for Knative, and it now lack of maintenance.

Now most of the major Knative projects have been migrated to [Codecov](https://about.codecov.io/), with the metrics displayed on https://app.codecov.io/gh/k

[2022-03-14 15:09] #3121 closed

[2022-03-14 19:04] chizhg commented on #3155
cc @kvmware

[2022-03-14 21:48] chizhg commented on #2983
Below are the resource usage history for the TestGrid `summarizer` and `updater` component:

![image](https://user-images.githubusercontent.com/19399934/158266517-2221fbd9-7313-42e8-b5ef-cf18e87c0c77.png)

![image](https://user-images.githubusercontent.com/19399934/158266545-c926d46e-a915-4138-8664-1aa64001d867.png)

Both of them are pretty low so should not add much additional cost once they are

[2022-03-15 18:54] chizhg opened #3163 "Turn off vulnerability scanning for knative-nightly images"
According to the report:
![image](https://user-images.githubusercontent.com/19399934/158450274-de0fcb5f-27bf-4ed1-be34-fe2f82b80905.png)
, the cost for vulnerability scanning for the images stored in the `knative-nightly` projects is pretty high.

Since we also do vulnerability scanning for `knative-release`, it makes more sense for us to only enable one, even in the long term, since there are ove

[2022-03-15 18:54] chizhg commented on #3163
Done.

[2022-03-15 18:54] #3163 closed

[2022-03-15 18:56] upodroid commented on #3163
Good idea, scanning nightlies isn't that useful.

[2022-03-16 14:53] pierDipi opened #3166 "Root cause why 1.2 dot release job for knaitve/eventing wasn't there"
1.2 dot release job for eventing isn't in this list:
https://github.com/knative/test-infra/blob/9e055f3cecdd4500480968bd2b371419a25ec5d5/prow/config_knative.yaml#L1053-L1067

The list is updated by the [prow-jobs-syncer](https://github.com/knative/test-infra/tree/main/tools/prow-jobs-syncer) tool but for some reason, 1.2 is not there.

Additional context / workaround: https://github.com/knative/te

[2022-03-22 08:16] chizhg commented on #3146
I checked this again, it seems we indeed have quite a few Prow jobs configured to run on the `prow-trusted` cluster, and the cost is actually not that large (~$200 per month) so removing does not help that much with cost reduction.

We probably can do this in the future, but I don't think it's worth prioritized for the initial CNCF infra transition work.

[2022-03-22 08:16] chizhg commented on #3146
/lifecycle frozen

[2022-03-22 18:20] chizhg opened #3176 "Get rid of go mod vendor across all Knative repos"
Currently all the Knative projects are using `go mod vendor`, resulting in a huge amount of files in the `vendor` directory - e.g. https://github.com/knative/test-infra/tree/main/vendor, which can add a lot of noise when reviewing PRs that introduce extra dependencies.

AFAICT the only reason we need them is we need to vendor a bunch of non-go files - e.g. https://github.com/knative/test-infra/tre

[2022-03-23 00:26] dprotaso commented on #3176
If this is the sole reason I would split this into a separate commit and review the commits independently

Just as an FYI dropping this practice will be quite a loot of work since the majority reason we vendor deps is forpulling in non-go code artifacts

Some examples:
1. code-gen scripts from https://github.com/kubernetes/code-generator.
2.  reconciler gen scripts in `knative.dev/pkg` that are us

[2022-03-24 05:16] BbolroC opened #3183 "All prow jobs for s390x have gone red"
Since midnight, all prow jobs for s390x have not worked as scheduled and gone red: see the [dashboard](https://prow.knative.dev/?job=*s390x*)

It would be grateful to let me know what had happened to the knative-prow cluster and how to react to this.

[2022-03-24 05:17] BbolroC commented on #3183
/assign @chizhg

Do you have any idea?

[2022-03-24 06:50] chizhg commented on #3183
This is a pretty tricky issue...

The reason is due to https://github.com/knative/test-infra/blob/main/prow/jobs/generated/knative/eventing-main.gen.yaml#L68 added by the new config generator tool, which has the same root cause as https://github.com/arttor/helmify/issues/12

[2022-03-24 07:18] chizhg commented on #3183
https://github.com/knative/test-infra/pull/3184 should partially fix the tests, but in my own test, it failed with:
[code]

Not sure what's going wrong..

Failing job link: https://prow.knative.dev/view/gs/knative-prow/logs/s390x-e2e-tests_eventing_main_periodic-chizhg-test/1506888968166182912

[2022-03-24 07:22] BbolroC commented on #3183
Ah, I turned off spinning up the Z test machine. We are using IBM cloud and preparing the Z machine dynamically in advance before the scheduled time for each prow job. I will turn it on again. Sorry.

[2022-03-24 07:30] BbolroC commented on #3183
@chizhg the machine is ready. You can run that test again. Thanks.

[2022-03-24 09:51] BbolroC commented on #3183
But I would say the job was working as before because:

ssh: connect to host 165.192.135.60 port 22: Connection timed out

This means the exernal secret is attached and used as a script.

[2022-03-24 15:22] kvmware commented on #2984
https://github.com/knative/community/issues/90 should address this

[2022-03-24 23:20] upodroid commented on #2985
@dprotaso @kvmware We have an interesting problem. It seems github actions doesn't report contexts in their status.

Sample PR: https://github.com/knative/serving/pull/12775

Use the gh cli to explore the API responses.

[code]

Cleaner view of the last command:
`gh api repos/knative/serving/commits/efc837471c066ff8f0424156e9f6295b55a5ab7f/status | jq .statuses`

We'll have to add the github check

[2022-03-25 05:03] chizhg commented on #2962
/assign

[2022-03-28 02:14] chizhg commented on #2962
Followed the documentations to manually apply the changes and manually did the test.

Below are the PRs needed for the migration:
- https://github.com/GoogleCloudPlatform/oss-test-infra/pull/1553
- https://github.com/GoogleCloudPlatform/oss-test-infra/pull/1554
- https://github.com/knative/test-infra/pull/3198

[2022-03-29 00:49] chizhg commented on #2962
https://github.com/knative/test-infra/pull/3200 for fixing the GitHub ops Prow jobs.

[2022-03-29 04:31] chizhg commented on #3166
There was a bug with querying the branches for given repos, which should have been fixed by the new `release-jobs-syncer` tool added in https://github.com/knative/test-infra/pull/3191.

/close

[2022-03-29 04:31] #3166 closed

[2022-03-29 17:43] chizhg commented on #2976
I have successfully move all these GCP projects to the `knative.team/infra` folder, and I haven't observed any issues so far. I'll mark this issue as fixed, and we can track the following automation work with other issues.

[2022-03-29 17:43] #2976 closed

[2022-03-29 18:01] chizhg commented on #2962
The migration has been done. Marking this issue as fixed.

[2022-03-29 18:01] #2962 closed

[2022-03-29 20:18] chizhg commented on #2994
@shinigambit @dprotaso @kvmware is there anything left for this issue? Shall we mark this issue as resolved now?

[2022-03-29 22:49] upodroid commented on #3134
Can you verify if these records are correct?

[code]

[2022-03-30 11:37] Siddhesh-Ghadi commented on #2842
/reopen
/remove-lifecycle stale

[2022-03-30 11:48] Siddhesh-Ghadi commented on #2842
Hi @coryrc, we will be setting up CI for knative components on **ppc64le** in coming weeks. Has there been any change in the way secrets are configured on prow server? Asking this because of the recent restructuring in ci configurations. If not, we will raise a PR to `GoogleCloudPlatform/oss-test-infra` as described by you in https://github.com/knative/test-infra/issues/2842#issuecomment-885753278

[2022-03-30 17:23] coryrc commented on #2842
Probably has changed? Could you take this thread to the #productivity slack channel?

FYI @chizhg

[2022-03-31 04:08] chizhg commented on #3134
These are all we have I think. I'm not familiar with Cloud DNS so not sure if anything else are needed.

[code]

[2022-03-31 04:13] chizhg opened #3212 "Create budgets & alerts for Knative infra billing"
Once Knative infra is switched to CNCF billing, budgets and alerts need to be created to prevent over-cost.

From the `Billing` page:

Avoid surprises on your bill by creating budgets to monitor all your Google Cloud charges in one place. After you’ve set a budget, you can create budget alerts to email billing admins and users when charges exceed a certain amount.

[2022-03-31 04:13] chizhg commented on #3212
/kind cncf-infra
/kind cncf-after

[2022-03-31 06:33] chizhg commented on #3212
Specially GCR egress traffic costs can grow without control - https://docs.google.com/document/d/1yNQ7DaDE5LbDJf9ku82YtlKZK0tcg5Wpk9L72-x2S2k/edit#, so we need to keep that in mind.

[2022-03-31 15:31] #2994 closed

[2022-03-31 16:56] csantanapr commented on #3134
/assign chizhg

[2022-03-31 17:01] chizhg commented on #3134
@csantanapr Mahamed said he's going to work on this, and he's got enough information to start. Are there anything I need to do at this moment?

[2022-03-31 18:09] upodroid commented on #3134
This is sorted now.

[code]

@csantanapr @thisisnotapril Please provide the following NS records to CNCF

[code]

[code]

[2022-03-31 21:38] chizhg commented on #3017
/reopen

Opening it for visibility. We may still need to introduce some presubmit testing in the future to make it more robust.

[2022-03-31 21:38] chizhg commented on #3017
/lifecycle frozen

[2022-03-31 21:38] chizhg commented on #3101
This is done by https://github.com/knative/test-infra/pull/3208

[2022-03-31 21:38] #3101 closed

[2022-03-31 21:55] chizhg opened #3220 "Configure config-bootstrapper Prow job to do full update for Prow configs"
Currently Prow is using the [config-updater](https://github.com/kubernetes/test-infra/tree/master/prow/plugins/updateconfig) plugin to do the Prow configs update. But since it relies on GitHub webhook, and only does incremental updates, the configmaps on the Prow cluster will be out of sync if a GitHub webhook event gets lost and it'll be very tedious to recover when it happens.

To mitigate this,

[2022-03-31 23:09] chizhg commented on #3146
It's probably not worth considering to delete it at this point, closing it for now.

/close

[2022-03-31 23:09] #3146 closed

[2022-03-31 23:12] chizhg opened #3221 "Use gcr-cleaner to clean up stale images"
We can use https://github.com/GoogleCloudPlatform/gcr-cleaner to clean up stale images for the Boskos projects. After using it, we will be able to deprecate the bespoke [cleanup](https://github.com/knative/test-infra/tree/main/tools/cleanup) tool as cluster cleanup is already handled by Boskos Janitor as well.

[2022-04-01 04:41] #3221 closed

[2022-04-01 04:42] chizhg commented on #3120
Also updated the prow-trusted cluster to e2 machines.

[2022-04-01 11:29] carlisia commented on #3135
Hey @steven0711dong, apologies for not responding earlier. Initially I am very much onboard with this. Some time ago I had installed a Snyk extension for my editor and it worked well. Maybe too well, I turned it off because there were too many warnings (forgot which project).

Thank you so much for bringing this up.

I haven't had a chance to look into the license issue. Do you know what is requir

[2022-04-01 20:45] chizhg commented on #3176
That's true, but we don't have a way to enforce it and usually it's tedious (at least for me) to keep that in mind.

If we keep vendor/, I found the pull request file tree does help reduce the noise though:
![image](https://user-images.githubusercontent.com/19399934/161338864-e3fdf02a-920e-4b3a-8f57-1fee6be18a51.png)

[2022-04-01 23:12] kvmware commented on #2983
/lifecycle frozen

[2022-04-01 23:13] kvmware commented on #2983
Google is fine hosting this for us (Knative) for the meantime as it is very low resource use and the backend and frontend need to be in sync and would break often if we hosted ourselves. We should check back with them on a yearly basis just to confirm if they are still fine hosting it though.

[2022-04-02 00:36] kvmware opened #3229 "Clean up some things"
- githubhelper https://github.com/knative/test-infra/tree/main/tools/githubhelper can be removed.
- remove the [pj-on-kind.sh](https://github.com/knative/test-infra/blob/main/prow/jobs/pj-on-kind.sh) script
- gubernator https://github.com/knative/test-infra/tree/main/config/gubernator can be removed.

[2022-04-02 00:36] kvmware commented on #3229
/kind good-first-issue

[2022-04-03 06:20] chizhg opened #3231 "Enable usage logs to track the downloads from knative-releases project"
Currently, the network egress cost for `knative-releases` project is ~$1k per month, and it's because this project hosts all the Knative release artifacts in GCS and GCR, and all the Knative users will download them from it.

As there are more and more Knative users, the cost for it will keep growing. To get a better understanding on where the costs come from and also for potential future improvem

[2022-04-03 06:35] chizhg commented on #3231
Enabled by running below commands:

[code]

[2022-04-04 18:19] chizhg opened #3234 "knativeteam-groups Prow jobs are consistently failing"
The `ci-knativeteam-groups` and `post-knativeteam-groups` Prow jobs are consistently failing, which seems to be both due to a permission issue:
- https://prow.knative.dev/?job=post-knativeteam-groups
- https://prow.knative.dev/?job=ci-knativeteam-groups

After they are fixed, it would be better to configure Slack alerts to catch it in case it breaks again.

/kind bug

[2022-04-04 18:20] chizhg commented on #3234
/cc @upodroid do you have time to take a look at this?

[2022-04-04 19:31] upodroid commented on #3234
Yes, the jobs are broken on purpose.

I was waiting for https://github.com/knative/community/pull/937#event-6345250223 to be merged which happened towards the end of the week.

The fix is to create the user which I have created now.

[2022-04-04 19:41] upodroid commented on #3234
1st manual sync ran properly.

[code]

[2022-04-04 21:46] chizhg commented on #3231
Next steps will be finishing [Analyze logs in BigQuery](https://cloud.google.com/storage/docs/access-logs#BigQuery) and probably writing a tool to aggregate the data to see what are the main sources for these requests, but I don't have bandwidth to work on it now.

I have run `gsutil logging set off gs://knative-releases-analysis gs://knative-releases gs://artifacts.knative-releases.appspot.com gs

[2022-04-05 05:50] chizhg commented on #3134
I have two questions about this:

1. I see `knative.dev` domain is registered through Google domains - https://domains.google.com/registrar/search/whois/knative.dev?searchTerm=knative.dev, and it's going to expire on **2022-05-23**. Shall we also transfer the ownership **AND** extend it?

2. When should we delete the dns zones managed internally at Google? It's unclear to me how it works when two

[2022-04-05 11:04] #3220 closed

[2022-04-05 11:28] upodroid commented on #3134
When you transfer the domain to CNCF, they will be able to renew it. However, if the transfer is after that date, you'll need to renew it to avoid losing the domain.

After the new zones are in operation. We can verify that by checking the NS records returned for the domains after the transition. The active DNS zone is determined by the nameservers given to the domain registry.

Yes.

Typical DNS

[2022-04-06 13:06] #3075 closed

[2022-04-06 13:06] #3234 closed

[2022-04-07 16:27] dprotaso commented on #2965
/assign @chizhg

[2022-04-07 16:48] csantanapr commented on #3134
/assign @thisisnotapril

[2022-04-07 16:52] upodroid commented on #3076
https://support.google.com/nonprofits/answer/3367631?hl=en-GB

[2022-04-07 16:55] dprotaso opened #3247 "Knative org peribolos job is failing"
See: https://prow.knative.dev/?job=*peribolos*

`
{"client":"github","component":"peribolos","file":"k8s.io/test-infra/prow/github/client.go:907","func":"k8s.io/test-infra/prow/github.(*client).log","level":"info","msg":"RemoveOrgMembership(knative, google-ospo-team)","severity":"info","time":"2022-04-07T16:44:57Z"}
{"component":"peribolos","file":"k8s.io/test-infra/prow/cmd/peribolos/main.go:209"

[2022-04-07 17:26] chizhg commented on #3247
See the reason in https://knative.slack.com/archives/CCSNR4FCH/p1649255826443469

[2022-04-07 17:26] chizhg commented on #3247
Possibly also duplicate with https://github.com/knative/community/issues/186

[2022-04-07 19:45] upodroid commented on #3071
/close

This is enabled on the prow trusted cluster.

[2022-04-07 19:46] #3071 closed

[2022-04-07 20:26] chizhg commented on #2987
I have uploaded all the password information to the Productivity vault through 1Password created for Knative. Marking this issue as resolved.

FYI @dprotaso

[2022-04-07 20:26] #2987 closed

[2022-04-07 22:33] chizhg commented on #2965
The other two are more involved and more dangerous to enable auto-merge, and some prerequisite work will be needed, at least https://github.com/knative/test-infra/issues/2985. At this point I don't have bandwidth to take on this so unassgin myself.

Please feel free to continue on this issue if anyone is interested.

/unassign

[2022-04-08 20:04] upodroid opened #3248 "Allow Release Leads permissions to submit prow jobs via Kubernetes APIs"
This is the plan for making this happen.

- [ ] Create a Google Group for release leads
- [ ] Mention new group in release process
- [ ] Leverage [Google Groups for RBAC](https://cloud.google.com/kubernetes-engine/docs/how-to/google-groups-rbac) and ensure it is enabled on the cluster.
- [ ] Insert an appropiate Role and RoleBinding in https://github.com/knative/test-infra/blob/main/prow/cluster/b

[2022-04-11 20:55] chizhg commented on #3247
Temporary fix will be removing `aryann` from the knative peribolos config file. The same approach will apply for the following errors like this.

/cc @dprotaso @kvmware

[2022-04-11 21:10] chizhg opened #3253 "Update Knative Prow to use the new monitoring stack"
As per the Prow owners, Knative Prow is currently using a legacy monitoring stack (in https://github.com/knative/test-infra/tree/5094d5004d5b9188e508024789d0e0dee2b1a866/prow/cluster/monitoring), which has been deprecated in favor of https://github.com/GoogleCloudPlatform/oss-test-infra/tree/master/prow/oss/terraform.

Since the legcy monitoring stack is not actively being maintained, and the new

[2022-04-12 17:24] #3100 closed

[2022-04-14 16:48] evankanderson commented on #3003
Can this be closed?

[2022-04-14 17:34] chizhg commented on #3003
Yes, this can be closed - we have already done all the work that we identified to reduce the cost.

[2022-04-14 17:34] #3003 closed

[2022-04-19 04:53] chizhg commented on #3005
/lifecycle frozen

[2022-04-19 16:12] upodroid opened #3270 "Rebuild `prow` & `prow-build` clusters"
We need to rebuild these clusters for a few reasons:
- They are using legacy route based networking
  - Can't use the gke module - minor problem
  - Can't consume any managed products like CloudSQL that require VPC Native Clusters - big problem
- [Disable client certificates](https://cloud.google.com/kubernetes-engine/docs/how-to/api-server-authentication#disabling_authentication_with_a_client_cer

[2022-04-19 17:28] chizhg commented on #3270
These all make sense to me. Just one nit question/concern:

Will this change increase the cost? Are we still going to keep the node pools as zonal?

[2022-04-19 19:55] upodroid commented on #3270
Kind of, when you create nodepools, you can select which zones to use them. us-central1 has four :( so we will pick two zones and adjust the machine type instead of using all 4 zones.

Example:
<img width="1168" alt="image" src="https://user-images.githubusercontent.com/25100905/164083636-0b7a1d14-ba61-4666-8f7a-4a250d2628fc.png">

Instead of running 1x e2-standard-8, we will run 2x e2-standard-4

[2022-04-19 20:49] chizhg commented on #3270
Got it, thanks for the detailed explanation and being careful with the cost!

[2022-04-21 01:23] hh commented on #3076
/assign @hh

[2022-04-21 01:23] hh commented on #3134
/assign @hh

[2022-04-21 20:42] hh commented on #3076
I have access now.

[2022-04-21 21:12] hh commented on #3076
I'll put this on the LF card next week with help from Taylor W.

[2022-04-21 22:36] thisisnotapril commented on #3076
We should sync on this. Steering made decisions today about the GSuite account that are going to impact the number of users, etc.
Steering also kicked off the process with CNCF Servicedesk for this; and I want to be sure we're not duplicating work.

[2022-04-25 04:27] chizhg commented on #3033
/remove-lifecycle stale

[2022-04-26 23:11] hh commented on #3134
/assign @bobyMCBobs

[2022-04-26 23:37] hh commented on #3134
Created https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-23949

Those domains need to be unlocked and an xfer code generated for those domains.

I'll take a look to see if I have access.

[2022-04-27 22:41] hh commented on #3134
LF IT now has the domain xfer codes.

[2022-04-28 16:14] csantanapr commented on #3134
Thanks @hh !

[2022-04-28 16:15] csantanapr commented on #3134
@hh feel free to close this issue once the transfer is done

[2022-04-28 16:49] hh commented on #3134
Johnson Nguyen has added a comment on your request [IT-23949]:

Both domains have been transferred in sucessfully

/close

[2022-04-28 16:49] #3134 closed

[2022-04-28 16:56] mattmoor commented on #3134
When I was at Google I also scooped `kn.dev` for Knative, if it's easy enough to transfer that, I'd suggest it as well.

[2022-04-28 16:59] #3229 closed

[2022-04-28 17:00] hh opened #3299 "Pull kn.dev into knative-dns project"
- [ ] Change DNS servers / zone service to Knative-dns
- [x] Create DNS xfer codes
- [x] Send request to LF IT with codes https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/create/63

https://github.com/knative/test-infra/issues/3134#issuecomment-1112442000

[2022-04-28 17:33] mattmoor commented on #3134
We should check on the domains used for auto-TLS e2e testing.  IDK which are for that, but this smells like one, and @ZhiminXiang would know (also the scripts likely reference them).

[2022-04-28 17:39] chizhg commented on #3134
Zhimin has left Google so unlikely he'll be checking the GitHub issues..

I see kn-e2e.dev is indeed referenced at https://github.com/knative/serving/blob/main/test/e2e-auto-tls-tests.sh#L27. I'll ask if they can also help move these two domains out.

[2022-04-28 17:42] chizhg commented on #3299
There is also a kn-e2e.dev domain which is used by the auto TLS e2e test - https://github.com/knative/serving/blob/main/test/e2e-auto-tls-tests.sh#L27

[2022-04-28 17:47] mattmoor commented on #3134
(So did I 😉 )

[2022-05-02 19:22] chizhg commented on #3104
As of now, we have met our goal to reduce the infra cost to below $250k/year (the cost for 2022/04 was ~13k so the year round will be ~$156k). The remaining tasks initially added to this issue are good-to-have and are already tracked in separate issues. Closing this issue to mark it as resolved.

[2022-05-02 19:22] #3104 closed

[2022-05-04 13:46] dprotaso commented on #3064
/lifecycle frozen

[2022-05-04 14:51] kvmware commented on #3064
Looks like most of the things reported in this repo have tags or have been removed.

[2022-05-06 18:22] hh commented on #3076
CNCF Credit Card should for this should be in place early next week.
/cc

[2022-05-09 18:19] #3247 closed

[2022-05-10 19:08] #3113 closed

[2022-05-10 19:47] #214 closed

[2022-05-10 19:50] #746 closed

[2022-05-10 19:51] #1586 closed

[2022-05-10 19:52] #1742 closed

[2022-05-12 11:44] upodroid commented on #3080
/lifecycle frozen

[2022-05-16 02:59] hh commented on #3076
This is done!

[2022-05-16 13:28] nader-ziada opened #3323 "Install netstat on prow image used by serving tests"
The serving performance tests is using netstat to pull down a results csv file and need netstat

https://github.com/knative/serving/pull/12889#discussion_r872517450

[2022-05-17 09:37] #3323 closed

[2022-05-19 17:58] dprotaso commented on #3070
/lifecycle frozen

note the downstream workflow yaml is in `knative/actions` repo

[2022-05-20 22:37] upodroid commented on #3076
Thank you

/close

[2022-05-20 22:47] upodroid commented on #3134
I tracked down the zone for that domain and it is a project that manage. We want to use GCP Cloud DNS domains instead of Google Domain DNS.

[code]

@hh I will log a separate issue to request the transfer for that domain and kn.dev

[2022-05-21 04:39] #2392 closed

[2022-05-23 11:03] upodroid opened #3328 "Prow Control Plane Rebuild"
Prow Control Plane will be migrated to a new cluster. This is currently scheduled for 27/05/2022  at 13:00 UTC/06:00 PDT.

**Why do we need to do this:**

- Current GKE Cluster has insecure features turned on
- Increase cluster availability by switch to regional cluster.
- Secrets are deployed manually instead of being loaded from Secret Manager with [ESO](https://external-secrets.io/v0.5.3/)
- We

[2022-05-23 15:23] upodroid commented on #3299
@thisisnotapril @mattmoor @hh Can we initiate the transfer of ownership for kn.dev and kn-e2e.dev?

Please use the following NS Records:

[code]

[code]

[2022-05-25 10:42] upodroid commented on #3328
I spoke to Alvaro and his colleagues from Kubernetes and this was their recommendation:

- Decouple job migration from controlplane migration, Prow can have many build clusters, migrate the jobs first before doing anything with the controlplane and give some soak time. Make sure no job has default as build cluster, because the meaning of that will change during migration
- Setup CRDs, hook and ing

[2022-05-25 23:37] #2984 closed

[2022-05-27 19:52] upodroid opened #3345 "Release Improvements Project"
This is an epic style issue tracking Release Improvements Project:

- Start generating SBOMs: https://github.com/knative/test-infra/pull/3342 ko 0.11+ generates and attaches SBOMs to docker images.

[2022-05-30 01:35] #3048 closed

[2022-06-02 14:40] kvmware commented on #3057
/remove-lifecycle stale

[2022-06-03 19:39] chizhg commented on #3076
Billing hasn't been switched to CNCF billing account yet. All the GCP projects under `knative.team/infra` folder will need to be switched.

[code]

[2022-06-03 20:17] chizhg commented on #3076
Once the billing account is ready, you can run below commands to migrate these projects:

[code]

[2022-06-03 21:28] upodroid commented on #3328
New Maintenance Window:

11/06/2022 at 14:00 UTC/07:00 PDT to 20:00 UTC/13:00 PDT

cc @navidshaikh

[2022-06-03 21:36] upodroid opened #3363 "Switch to using ArgoCD to deploy cluster manifests instead of `kubectl`"
When changes to the cluster configuration is made, a prow postsubmit job runs `kubectl apply -f prow/cluster/build` to deploy the config, but this problematic for a few reasons:

- No pruning support. I deleted a Service in #3360 but it still around and requires manual cleanup by a human
- It is kind of slow: https://prow.knative.dev/view/gs/knative-prow/logs/post-test-infra-deploy-prow/1532834481

[2022-06-04 12:45] hh commented on #3076
We did create a billing account, but there was concern about it not being invoiced based billing. I put in a request to upgrade the new billing account, but it was rejected to to lack of history. (Requires 3+ months).  Today I put in a request to upgrade the existing billing account to be invoiced to the CNCF. We should hear back sometime next week.

[2022-06-06 16:13] dprotaso commented on #3363
just an FYI

1. [kubectl has prune support](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#alternative-kubectl-apply-f-directory-prune-l-your-label)
2. In serving we use [`kapp`](https://carvel.dev/kapp/) cli which is like a smarter kubectl - that solves ordering and waiting without the extra infrastructure

that's all I have - haven't used Argo myself so I'm neutra

[2022-06-07 14:30] kvmware opened #3365 "Investigation into GHA version of tide"
TLDR: GHA native solutions are hacky at best. There are solutions if we host our own merge queuer, but in that case there is not really any gain.

https://github.com/autifyhq/merge-queue-action
Difficulty with having github acitons interact https://github.community/t/triggering-a-new-workflow-from-another-workflow/16250/44
We could force rebases before merging and then run an auto-rebase bot/work-

[2022-06-07 14:33] kvmware opened #3366 "Add documentation on howto cancel a prow job"
We have a nice UI to rerun a prowjob, but not cancel one. https://github.com/kubernetes/test-infra/issues/4425
Might want to upstream a UI change to add the feature, even though the above was proposed and closed. I think a PR might make it further. In either case need to explain and add simple steps to our guides on how to manually run, rerun, and cancel prow jobs. The rerun works fine from UI, bu

[2022-06-08 20:07] AngeloDanducci commented on #1733
/assign @AngeloDanducci

[2022-06-13 16:06] #3328 closed

[2022-06-13 17:08] #3072 closed

[2022-06-14 01:38] #3086 closed

[2022-06-14 01:38] #2769 closed

[2022-06-14 14:33] #3155 closed

[2022-06-15 17:07] kvmware commented on #3147
Been in prod for awhile.

[2022-06-15 17:07] #3147 closed

[2022-06-15 17:12] #2983 closed

[2022-06-15 17:20] upodroid commented on #3299
Google handed the xfer codes to LF. This should be done later this week and LF will modify the domain to use the correct NS servers.

[2022-06-15 17:21] #2842 closed

[2022-06-15 17:25] kvmware commented on #3029
Currently blocked by lack of contributors. Work can be done on this with respect to documentation, process, etc.

[2022-06-15 17:26] kvmware commented on #3212
Waiting for billing accounts to fully transfer to community.

[2022-06-15 17:36] kvmware opened #3383 "Remove redundant markdown lint from presubmit-test.sh"
https://github.com/knative/test-infra/blob/d41432f3e415994399b2ea328675e2284451b83b/scripts/presubmit-tests.sh#L138 this is handled by github actions.

[2022-06-15 17:36] kvmware commented on #3383
/kind good-first-issue

[2022-06-15 17:37] kvmware commented on #1714
Closing in favor of https://github.com/knative/test-infra/issues/3383

[2022-06-15 17:37] #1714 closed

[2022-06-15 17:43] #1782 closed

[2022-06-15 17:52] kvmware opened #3384 "Peribolos weirdness"
1. Adding empty new groups with dry-run has problems
- https://github.com/knative/community/pull/1091 related
- https://github.com/kubernetes/test-infra/issues/26542
3. Productivity-wg leads are not admins of repos

[2022-06-15 17:55] kvmware commented on #3080
Blocked by upstream kubernetes/k8s.io#3356

[2022-06-17 18:32] dprotaso commented on #3384
I think the way the dry-run is configured is incorrect

https://github.com/kubernetes/test-infra/issues/26542#issuecomment-1151773192

I'm guessing we don't want these `fix` flags
https://github.com/knative/test-infra/blob/dbfbc04b6384fc92094f1923be2f8383d84bd701/prow/jobs/custom/peribolos.yaml#L41-L48

I haven't dug deeply into the tooling

[2022-06-17 18:37] dprotaso opened #3386 "Need the ability to pull in changes that don't trigger point releases"
Right now we're unable to pull in changes into release branches without triggering a point release

ie. here we want to fix the hack scripts to work with go1.18
https://github.com/knative/serving/issues/13034

In other CI systems I've seen the pattern of including the text `[ci skip]` or `[skip ci]` in the commits title or body.

In the the case of a release job if the only new commits on a releas

[2022-06-17 19:03] kvmware commented on #3384
Yes @upodroid and I talked about this. We are for sure using the tool incorrectly it seems. We will investigate and try to mimic k8s setup more.

[2022-06-23 15:17] dprotaso commented on #3386
/assign @kvmware

[2022-06-23 15:59] dprotaso commented on #3384
Any updates?

This is blocking a bunch of administrative knative/community PRs modifying/adding

ie. https://github.com/knative/community/pull/1091

[2022-06-29 13:47] #3386 closed

[2022-06-30 06:40] #3363 closed

[2022-07-06 14:20] upodroid opened #3411 "A reference "batteries included" public Knative deployment"
I want to put together a "batteries included" opinionated reference deployment of Knative, including GitOps, Monitoring, Logging, Tracing, Networking, and deploy it to a cluster, with the UIs public accessible.

It will run on GKE, but the only external dependency will be an object store(GCS/S3/Minio/Azure) and a cluster with LoadBalancer capability. It is mainly geared for non-GKE deployments

I

[2022-07-08 12:27] abrennan89 commented on #2942
Would be nice to have for the knative/docs repo as well

[2022-07-13 18:54] kellyaa commented on #3383
I noticed the link to `presubmit-tests.sh` is in the now non-existent `test-infra/scripts` folder -- It's been relocated to the hack repo. I also noticed that the [same file in the hack repo](https://github.com/knative/test-infra/blob/main/vendor/knative.dev/hack/presubmit-tests.sh) no longer has those lines for running linting. Although its references are still in the [README.md](https://github.c

[2022-07-13 21:44] #3076 closed

[2022-07-13 21:46] chizhg commented on #3212
/remove-priority critical-urgent

[2022-07-14 19:41] kellyaa commented on #3383
/assign @kellyaa

[2022-07-18 13:16] upodroid opened #3432 "Bump ko to a released version soon"
I installed a prerelease version of ko to get SBOMs to work properly. Need to bump this to a released version once it has been cut.

Details:https://knative.slack.com/archives/CCSNR4FCH/p1658087066901969

/assign
/priority important-soon
/area tools

[2022-07-21 17:43] kellyaa commented on #3383
/close

[2022-07-21 17:43] #3383 closed

[2022-07-23 12:33] upodroid opened #3440 "SLSA 1 Compliance"
https://slsa.dev/spec/v0.1/requirements

For SLSA 1 we need to do the following:

- Build:
  - ~~Scripted Build: All build steps were fully defined in some sort of “build script”. The only manual command, if any, was to invoke the build script.~~ ✅
- Provenance:
  - Available: The provenance is available to the consumer in a format that the consumer accepts. The format SHOULD be in-toto [SLSA Prov

[2022-07-23 13:05] upodroid commented on #3440
@mattmoor

I'm having a hardtime working out the Provenance piece.

Using net-certmanager as an example.

To build images, we call https://github.com/knative-sandbox/net-certmanager/blob/main/vendor/knative.dev/hack/release.sh and https://github.com/knative-sandbox/net-certmanager/blob/main/hack/release.sh.

A typical run looks like this. https://storage.googleapis.com/knative-prow/logs/nightly_ne

[2022-07-24 20:51] mattmoor commented on #3440
🤔 something like GCB isn't a requirement for SLSA and in fact will become a problem for higher levels of SLSA because there's no hermetic build option (yet / afaik).

cc @puerco @priyawadhwa

[2022-07-25 08:21] upodroid opened #3442 "SLSA 2 Compliance"
https://slsa.dev/spec/v0.1/requirements

In addition to #3440, we need to meet the following for SLSA 2:

Source:
- ~~Version controlled: Every change to the source is tracked in a version control system that meets the following requirements: [Change history] There exists a record of the history of changes that went into the revision. Each change must contain: the identities of the uploader and re

[2022-07-25 17:54] puerco commented on #3440
The goal of the provenance attestation is to leave a record of where a bunch of artifacts came from and how they came to be. Essentially you need to let others know what you took in, what you did to those ingredients (using the old slsa terms) and what came out.

What you are doing here is creating an attestation with the SBOM as predicate, it has it's use cases too but that document is essentiall

[2022-07-28 15:36] kvmware commented on #3057
https://github.com/kubernetes/test-infra/issues/25831

[2022-07-28 16:26] upodroid commented on #3440
I wrote a provenance generator that pulls info from prow at run time and generates provenance. Would be great if you could take a look and provide comments/feedback.

#3456

[2022-08-04 19:23] upodroid opened #3468 "SLSA 3 Compliance"
https://slsa.dev/spec/v0.1/requirements

In addition to #3440 and #3442, we need to meet the following for SLSA 3:

Source:
- ~~Verified History: Every change in the revision’s history has at least one strongly authenticated actor identity (author, uploader, reviewer, etc.) and timestamp. It must be clear which identities were verified, and those identities must use [two-step verification](https:/

[2022-08-04 19:32] upodroid commented on #3468
@puerco

For SLSA 1 and 2, the pod that runs the test jobs will be signing the images, binaries and attestations. This won't be valid for SLSA 3 so I'll be building a provenance-signer API that will sign attestations generated by jobs on Prow. Once a signed attestation exists, images/binaries can be signed separately from the build step.

![image](https://user-images.githubusercontent.com/25100905

[2022-08-11 17:56] kvmware opened #3479 "[EPIC] Are we Github Actions yet?"
This is an epic to evaluate what is possible for Prow vs Github Actions(GHA). For some context please see https://docs.google.com/document/d/1Jf2lZ9V63oxItIv2__JoEA8gQ52s9_NXCYR-VzkEkPg/edit?resourcekey=0-doRA3EyTBo9N8EN9yRiRAw#heading=h.4guahjqktlld. I will add in potential solutions and how much of feature parity they have in separate issues and link them here.

<This is a placeholder for now>

[2022-08-11 18:41] kellyaa commented on #1733
/assign @kellyaa

[2022-08-11 18:43] kellyaa commented on #1733
@kvmware has already created this GH Action which includes yaml linting, but is not yet activated in all the repos: https://github.com/knative/actions/blob/main/.github/workflows/reusable_style.yaml

[2022-08-15 20:10] kellyaa commented on #1696
/assign @kellyaa

[2022-08-15 20:42] kellyaa commented on #1696
Spelling is currently included in https://github.com/knative/actions/blob/main/.github/workflows/style.yaml#L130

So this is covered.

[2022-08-16 12:59] #1696 closed

[2022-08-16 14:30] kellyaa commented on #1733
I'm thinking we can close this particular issue. The capability is there, just needs to be propagated to all the repos, which is  covered by this epic: https://github.com/knative/actions/issues/62

@kvmware - thoughts?

[2022-08-16 15:40] kvmware commented on #1733
Sounds good thanks @kellyaa :+1:

[2022-08-16 15:40] #1733 closed

[2022-08-28 01:43] #2398 closed

[2022-09-14 09:54] upodroid commented on #3299
@hh What is the latest on this ticket?

[2022-09-14 10:55] hh commented on #3299
[IT-24536](https://jira.linuxfoundation.org/plugins/servlet/theme/portal/2/IT-24536) - kn.dev NS records update

[2022-09-20 10:49] haubenr opened #3534 "s390x: run perodic e2e tests in 'short' mode"
The e2e tests contain dedicated scale tests (e.g. AutoScaling) that can only be run on a dedicated cluster with appropriate hardware resources. At the moment, all tests on s390x are run on a KinD cluster with the biggest underlying hardware configuration being 16 IFLs and 128 GB RAM which seems not to be sufficient.

Due to this and the following code: https://github.com/knative/serving/blob/58cce

[2022-09-21 13:52] upodroid opened #3536 "Notarise our binaries for Mac"
https://developer.apple.com/documentation/security/notarizing_macos_software_before_distribution

Apple requires all binaries shipped since June 2019 to be notarised to suppress Gatekeeper(that annoying thing requiring extra prompts to run programs on Mac) warning.

I have signed up for[ Apple Developer Program](https://developer.apple.com/programs/) and I have keys that I can use to notarised our

[2022-09-22 09:38] haubenr commented on #3534
Closing as this can probably be solved without any code changes.

[2022-09-22 09:38] #3534 closed

[2022-09-22 15:49] evankanderson commented on #3536
Should we ask CNCF for an Apple Developer Program account for keys?

In any case, I'm okay with doing this for now.

[2022-09-27 11:53] #3536 closed

[2022-10-07 11:27] cardil commented on #3135
/remove-lifecycle stale
/reopen
/triage accepted

[2022-10-07 11:29] cardil commented on #3253
/remove-lifecycle stale
/reopen
/triage accepted

[2022-10-10 15:33] #3440 closed

[2022-10-13 01:36] #3365 closed

[2022-10-13 23:32] upodroid commented on #3442
/lifecycle stale

[2022-10-13 23:32] upodroid commented on #3442
/remove-lifecycle stale

[2022-10-17 11:19] kvmware commented on #2985
/remove-lifecycle rotten

[2022-10-21 16:00] cardil commented on #3176
/remove-lifecycle stale
/triage accepted

[2022-11-01 20:22] hh opened #3595 "Migrate away from CNCF for Knative, 01DDAC-7D2015-6E152D GCP Billing Account"
This was a temporary account and we should now move completely over to CNCF Knative USD Account, 018CEF-0F96A6-4D1A14.

There are 118 projects remaining on the old billing account including:
- [ ] knative-performance
- [ ] knative-gcp
- [ ] native-seed
- [ ] knative-e2e-dns
- [ ] knative-dns
- [ ] knative-gsuite
- [ ] knative-analytics
- [ ] knative-nightly
- [ ] knative-service-e2e-tests
- [ ] kn

[2022-11-01 20:58] hh opened #3596 "Downgrade / Suspend Google Workspace accounts of contributors no longer contributing"
Visit https://admin.google.com/u/3/ac/users as a SuperAdmin.

[2022-11-01 21:01] hh commented on #3596
Currently we hav 47 active users which costs over $500usd / month.

[2022-11-01 21:06] hh opened #3597 "Add Taylor Wagonner (LF) as a knative.dev Google Workspace SuperAdmin"
In order to continue managing the billing and infra, I'd like us to add Taylor Wagonner as a SuperAdmin.

I didn't see a way to do this without creating yet another user like twagonner@knative.dev and assigning her.

Is there another way?

[2022-11-01 21:06] hh commented on #3597
twaggoner@linuxfoundation.org

[2022-11-03 01:37] puerco commented on #3468
/remove-lifecycle stale

[2022-11-04 01:37] #3384 closed

[2022-11-04 01:37] #3366 closed

[2022-11-04 01:37] #2965 closed

[2022-11-04 16:58] cardil opened #3603 "The `tools/go-ls-tags/files.ReadLines` always reads just first line"
/kind bug

The [`tools/go-ls-tags/files.ReadLines`](https://pkg.go.dev/knative.dev/test-infra@v0.0.0-20221103125330-3b3d6bea5949/tools/go-ls-tags/files#ReadLines) always reads just first line. That's an obvious bug!

[2022-11-07 12:11] #3603 closed

[2022-11-09 19:54] dprotaso commented on #3057
/lifecycle-frozen

[2022-11-14 06:43] upodroid commented on #3345
Most images have been signed for 1.8 except serving, eventing and 3 eventing plugins.

Image references were not being created properly for the unsigned projects.

Details https://github.com/knative/serving/pull/13408

I intend to complete the remaining images before 1.9 and verify them in the nightly releases.

[2022-11-14 15:01] upodroid commented on #3597
That is the standard approach. You'll need to create one for her. Assign her a Cloud Identity license.

[2022-11-14 15:04] upodroid commented on #3299
This is done now.

Thanks

[code]

[2022-11-14 15:04] #3299 closed

[2022-11-14 16:04] upodroid opened #3615 "Image Signing Status"
Part of #3345

I wrote this python script to check if the images are signed.

[code]

This yielded the following output.

[code]

[2022-11-15 13:51] kvmware commented on #3479
/remove-lifecycle stale

[2022-11-15 18:59] kvmware opened #3618 "Safe-settings for peribolos investigation"
https://github.com/github/safe-settings is the ideal type of git-ops configuration that would be desirable https://github.com/github/safe-settings#the-settings-file. It would also be able to handle branch protection and enable repo owners to configure access to their repos by giving access to the repo subdir of the `admin` repo.

Setup involved https://github.com/github/safe-settings/blob/main-ent

[2022-11-15 19:00] kvmware commented on #3618
Creating this as an issue for us to keep our eyes on if the project ever matures.

[2022-11-17 10:32] upodroid commented on #3440
This is working now.

[code]

[2022-11-29 16:36] kvmware commented on #2559
https://github.com/knative/test-infra/blob/6d572240f416188df3153f4522d101361ba0f997/prow/jobs/custom/branchprotector.yaml#L54 shows `confirm` option is enabled

[2022-11-29 16:36] #2559 closed