[2018-05-23 13:54] bobcatfish opened #867 "Make conformance and e2e test images public"
/area test-and-release
/kind dev

## Expected Behavior
There is no reason folks should have to build and push the [e2e images]() and [conformance test images]() whenever they want to run the tests, the images hardly ever change and they don't do much. They should be available publicly so folks can get up and running with the tests faster, and they should be regularly updated.

Note this will have

[2018-06-14 15:27] mattmoor opened #866 "Add /want-lgtm to Prow"
Sometimes you want multiple reviewers to weigh in before a change is merged, but Prow always merges as soon as the minimum set is satisfied (AFAIK).

Internally, we have the concept of `WANT_LGTM` to enumerate those you want an `/lgtm` from before merging a change.  I feel like such a concept would be useful in Prow as well.

e.g. I'd like to write:
[code]

To have `tide` block merges until both h

[2018-06-30 17:11] adrcunha opened #770 "Google CLA bot issues"
## Expected Behavior

No bot issues. :)

## Actual Behavior

We've seen PRs where the bot complains that the CLA was not signed (even though it was before), like in https://github.com/knative/serving/pull/1435; or where a PR created with pair programming like in https://github.com/knative/serving/pull/1390 or https://github.com/knative/serving/pull/1352.

## Steps to Reproduce the Problem

  1. Cr

[2018-07-16 18:18] adrcunha opened #7 "Create unit tests"

[2018-07-16 18:19] adrcunha opened #8 "Create end-to-end tests"

[2018-07-18 22:49] jessiezcc opened #15 "Need monitoring/alerting to check whether Knative prow jobs run properly"
/area test-and-release
/kind dev

Expected Behavior
When Prow job fails to run properly, we should get alert/notification automatically

Actual Behavior
We are finding out the failing job run manually.

[2018-07-20 18:02] jessiezcc opened #18 "Allow clone issues for knative repos"
When I open code coverage issues for each repo, I wish we can clone an existing issue, and just need to do minor updates to create a new issue.

[2018-07-20 20:02] jessiezcc opened #20 "Run tests concurrently to reduce overall test duration"
As we drive up code coverage numbers, # of tests (especially unit tests) increase significantly.
@evankanderson reported overall it's taking 30+min to run the tests, we should look at how much we can save if we run tests concurrently. go test has a parallel option that supports concurrency.

We can start with unit tests first.

[2018-07-24 21:25] #18 closed, assigned to nobody

[2018-07-25 23:30] adrcunha opened #30 "Vendor test-infra helper scripts in the other repos"
Now that `test-infra` is stable, we should vendor the helper scripts it in the other repos and remove the fetching using docker from prow-tests image.

[2018-08-01 14:12] scothis opened #40 "Unable download GKE release in e2e tests"
The e2e tests currently fail for me attempting to download a GKE release.

Right now I can only run the e2e tests via prow for a PR. The e2e tests need to be runable without special privileges or infrastructure.

[2018-08-02 21:04] scothis opened #43 "e2e tests can choke if Istio injector is not available"
I hit an issue with the eventing e2e tests where the serving install fails because the Istio sidecar injector is not available to handle requests.

https://console.cloud.google.com/storage/browser/knative-prow/pr-logs/pull/knative_eventing/298/pull-knative-eventing-integration-tests/272/?angularJsUrl=%2Fstorage%2Fbrowser%2Fknative-prow%2Fpr-logs%2Fpull%2Fknative_eventing%2F296%2Fpull-knative-servi

[2018-08-03 20:40] adrcunha opened #49 "Integration tests are failing"
Internal Prow switched to timestamp-indexed builds, which cause resource names to be too long:

[code]

[2018-08-03 20:49] #49 closed, assigned to adrcunha

[2018-08-06 21:55] steuhs opened #57 "rerun command not working on https://prow.knative.dev/"
none of the jobs can be rerun with the command suggested by the re-run button

for example
kubectl create -f "https://prow.knative.dev/rerun?prowjob=e2aeff0e-99c2-11e8-80e3-0a580a3c0043"

[2018-08-07 00:56] #57 closed, assigned to adrcunha, jessiezcc

[2018-08-07 16:23] adrcunha opened #60 "Knartive releases failing since 8/3"
Root cause:

[code]

[2018-08-07 16:40] #60 closed, assigned to adrcunha

[2018-08-07 19:25] #43 closed, assigned to nobody

[2018-08-08 21:26] adrcunha opened #65 "Make it clear when build tests fail"
For example, in https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_eventing/276/pull-knative-eventing-build-tests/1027295713966428160/ there's a single error:

[code]

but it's hidden in a long list of files, which makes it hard to spot.

[2018-08-09 21:12] adrcunha opened #69 "Configure gubernator"
e.g., https://gubernator.knative.dev/pr/knative/serving/1833 shows no results.

Probably because GitHub access is not configured yet: https://gubernator.knative.dev/github_auth/pr

[2018-08-10 17:13] mattmoor opened #70 "Upgrade ko"
We need: https://github.com/google/go-containerregistry/pull/253

This breaks some container analysis tooling, since some of the layer tarballs are malformed.

cc @ImJasonH

[2018-08-10 18:35] srinivashegde86 opened #71 "prow test-images makefile does not push docker image"
The makefile only build is locally, but does not push it. we need to push it to the repo as well

[2018-08-10 23:11] #71 closed, assigned to adrcunha

[2018-08-10 23:22] #70 closed, assigned to adrcunha

[2018-08-10 23:25] adrcunha opened #72 "Correctly identify changed files in PR in presubmit"
Current approach using `git` frequently produces wrong results.

Now that we have `prow-tests` image, we can add a tool to it that would query GitHub about the changes and report the changes files in the current PR.

[2018-08-11 19:01] adrcunha opened #74 "Gubernator contains hardcoded kubernetes links"
Although this is not Knative-specific, would be nice to get it fixed.

Gubernator contains several places where kubernetes is hardcoded. For example, when clicking "Ongoing" or "Incoming" in https://gubernator.knative.dev/pr you'll be taken to the GitHub search page with user hardcoded to kubernetes.

[2018-08-11 19:04] adrcunha opened #75 "Prow contains hardcoded links to kubernetes"
Although this is not Knative-specific, would be nice to get it fixed.

Prow contains several places where kubernetes is hardcoded. For example, the default reply from Prow robot about an approval contains links to Kubernetes documentation like https://go.k8s.io/bot-commands and https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process. See https://github.com/knative/test-in

[2018-08-11 19:05] #69 closed, assigned to adrcunha

[2018-08-14 17:49] srinivashegde86 opened #79 "The coverage report does not report on files that has no corresponding *_test.go files"
The go coverage report only looks at files that have *_test.go files. This provides wrong coverage outputs and also bumps up the coverage numbers. It is not reflective of the current state.

go test does specify that the package has no test files and we should capture this behaviour in our report.

For eg. in knative/pkg/test, we have some go files but no _test files.
knative/pkg/test$ go test
? g

[2018-08-14 20:37] srinivashegde86 opened #80 "Use --gcp_service_account instead of GOOGLE_APPLICATION_CREDENTIALS with kubetest"
In the prow logs, when creating a knative cluster with kubetest, we see:
util.go:132: Please use kubetest --gcp-service-account=/etc/service-account/service-account.json (instead of deprecated GOOGLE_APPLICATION_CREDENTIALS=/etc/service-account/service-account.json)

We should heed that warning and update our kubetest args

[2018-08-15 11:08] jessiezcc opened #81 "Run check_links_in_markdown as part of common code for all .md changes"
Now we have check_links_in_markdown function, I suggest to make it part of automatic presubmit check for all .md changes, so that no individual PR need to worry about add such tests.

[2018-08-15 18:47] imjasonh opened #82 "presubmit tests in build-templates are broken"
Prow fails running any test on https://github.com/knative/build-templates/pull/50

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_build-templates/50/pull-knative-build-templates-unit-tests/1029758946673430529/

[code]

Does the Prow config for the build-templates repo need to be updated?

/assign @adrcunha

[2018-08-20 18:02] grantr opened #84 "Gubernator links to github.com/knative/knative_eventing"
In https://gubernator.knative.dev/pr/knative_eventing/376, the links to the eventing repo are https://github.com/knative/knative_eventing, but they should be https://github.com/knative/eventing.

[2018-08-20 18:18] #82 closed, assigned to adrcunha

[2018-08-21 21:16] #40 closed, assigned to scothis, adrcunha

[2018-08-21 21:16] #80 closed, assigned to adrcunha

[2018-08-22 23:26] jessiezcc opened #89 "Add zipkin tracing support for Knative tests"
as title suggests

[2018-08-23 21:21] adrcunha opened #91 "Transfer gubernator OAuth app ownership to knative"
For user trust reasons.

[2018-08-23 21:21] #91 closed, assigned to adrcunha

[2018-08-23 21:22] adrcunha opened #92 "Open knative/test-infra"
The repo is now ready to be open, and this is a requirement for #30.

[2018-08-23 21:22] #92 closed, assigned to adrcunha

[2018-08-24 18:10] #72 closed

[2018-08-28 20:58] scothis opened #93 "PROW_JOB_ID should not be required"
Running the update-codegen.sh script from eventing fails because `PROW_JOB_ID` is unbounded. This var should have a default automatically set when not running on prow.

[code]

[2018-09-04 19:19] adrcunha commented on #93
https://github.com/knative/serving/pull/1975 fixes the serving repo.

[2018-09-04 19:30] adrcunha commented on #93
https://github.com/knative/eventing/pull/413 fixes the eventing repo.

[2018-09-04 20:26] dprotaso commented on #93
https://github.com/knative/build/pull/327 fixes it for build repo

[2018-09-04 20:53] adrcunha commented on #93
https://github.com/knative/pkg/pull/61 fixes the pkg repo

[2018-09-04 21:05] adrcunha commented on #93
https://github.com/knative/build-templates/pull/62 fixes the build-templates repo

[2018-09-04 21:11] adrcunha commented on #93
https://github.com/knative/docs/pull/371 fixes the docs repo.

[2018-09-05 16:52] adrcunha opened #95 "Listing changed files in a PR is buggy"
e.g. https://github.com/knative/serving/pull/1977 lists no changed files in the log

[2018-09-05 17:26] #30 closed

[2018-09-05 17:31] adrcunha commented on #15
I suggest using Stackdriver, at least as an initial solution; this way we can have some monitoring up and running ASAP.

[2018-09-05 17:36] adrcunha opened #96 "Properly configure testgrid bucket in gubernator"
Currently the testgrid bucket in gubernator is hardcoded, thus the version deployed is locally modified. Proper bucket definition (flag? yaml?) and deploy command (`Makefile`) needs to be done.

[2018-09-05 18:23] dprotaso opened #97 "presubmit checks should ensure Gopkg.lock was created with some minimal version of dep"
If a contributor has an older version of dep there may be unnecessary edits to `Gopkg.lock` when opening a PR.  Future PRs from other contributors with a newer version of dep may change the lock file. This thrashing is noisy.

It'd be nice if we could enforce a minimal version of dep as part of the presubmit checks.

Latest release at this time is v0.5.0
https://github.com/golang/dep/releases

[2018-09-05 18:44] adrcunha commented on #97
Is there a canonical way of knowing what's `dep` version? Mine was installed through `go get` and reports no numeric version :(

[code]

[2018-09-05 18:45] adrcunha commented on #97
For the record, the prow jobs use the latest `dep`.

[2018-09-05 20:36] adrcunha opened #101 "Create helpers for build/unit/integration tests"
This will simplify presubmit tests in the repos, unify features and increase coverage.

* Build tests helper should:
  * build all go code, plus any e2e tests;
  * check for 3rd party licenses and also up-to-date depencencies (if `vendor` present);
  * check go formatting;
  * check links and formatting of markdown files (meaning that build tests won't be totally skipped anymore for documentation-

[2018-09-05 23:34] adrcunha opened #103 "Investigate using kind for e2e tests on Prow"
kind (kubernetes in docker) might make e2e tests faster since there's no need to create an external cluster. However, it needs to be taken into consideration that we have to start a k8s cluster with a known, public version (e.g. 1.11.1).

[2018-09-06 00:08] dprotaso commented on #97
I updated the title & body reflect my expectations of having some presubmit checks to prevent thrashing of the `Gopkg.lock` file

The specific version of dep matters less - just that whatever contributors is consistent.

[2018-09-06 20:14] adrcunha commented on #81
Superseded by the broader #101.

[2018-09-06 20:14] #81 closed

[2018-09-07 16:32] jessiezcc opened #106 "Enable Prow for new Knative repo Caching"
@adrcunha, can you pls document steps on how to onboard a new Knative repo to Knative Prow?

[2018-09-10 06:01] adrcunha commented on #106
Steps are already documented at https://github.com/knative/test-infra/blob/master/ci/prow/prow_setup.md%23setting-up-prow-for-a-new-repo

[2018-09-10 19:01] adrcunha opened #108 "e2e tests are trying to create an unsupported k8s cluster"
In https://github.com/knative/build/pull/335 the e2e tests report (https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_build/335/pull-knative-build-integration-tests/1039211002157076480/):

[code]

However, cluster creation fails with:

[code]

[2018-09-10 19:01] adrcunha commented on #108
`knative-boskos-05` doesn't support 1.10.7, even though it was reported as valid.

[2018-09-10 19:05] adrcunha commented on #108
The reported server config is for the region, and not the zone. `us-central1-f` supports 1.10.7:

[code]

but `us-central1-a` doesnt:

[code]

Querying by region `us-central1` returns mixed results:

$ gcloud container get-server-config --project=knative-boskos-05 --format='value(validMasterVersions)' --region=us-central1
Fetching server config for us-central1
1.10.6-gke.2;1.10.6-gke.1;1.10.5-gke.

[2018-09-10 19:06] adrcunha commented on #108
Actually I got mixed results for `us-central1-a` zone too:

[code]

[2018-09-10 19:15] adrcunha commented on #108
Looks like we're in the middle of a GKE update:

https://cloud.google.com/kubernetes-engine/release-notes

**September 5, 2018**
...
1.10.7-gke.1
...

Date | Available zones
-- | --
2018-09-10 | ... us-central1-a ...

[2018-09-10 19:35] adrcunha commented on #108
Easiest solution is to `/retest`. Once the rollout finishes this flakiness will disappear.

[2018-09-10 19:35] #108 closed

[2018-09-10 20:53] adrcunha commented on #106
I'll favor the issue in knative/caching since this is strictly related to that repo.

[2018-09-10 20:53] #106 closed

[2018-09-10 22:38] adrcunha commented on #97
I understand the goal, but I'm still unsure how clean/reliably such check can be performed. `Gopkg.lock` contains no version information, `dep status` and `dep check` won't complain about missing fields in the lock file (e.g., `digest`), and simply grepping the lock file for `digest` (or any other field) is too brittle and hackish... :/

[2018-09-11 17:34] #93 closed

[2018-09-11 19:07] adrcunha opened #111 "Open-source the latency metrics aggregation tool"

[2018-09-11 22:17] steuhs commented on #79
Do we really want to include the data from source files without corresponding _test.go? I think our consensus was to ignore them
In terms of reporting, what do you think the report would look like if we are to include those files? @srinivashegde86

[2018-09-17 14:37] zrss opened #122 "Propose: add an option --skip-prepare-cluster in e2e-test"
## Expected

i have a kubernetes cluster that is bootstrapped by `kubeadm`, but currently, there is no way to let knative components run e2e on it

[2018-09-17 17:06] adrcunha commented on #122
The behavior you need can be achieved with `--run-tests`. If you just want to run the e2e tests, `go test` is enough. How to run the e2e tests is documented in the `README.md` files (e.g., in serving), although `--run-tests` is documented in the script headers only (I encourage you to move it to the README files if you think it would have solved the scenario of this issue).

[2018-09-17 17:17] zrss commented on #122
thanks for reply

i hit this case by `./hack/release.sh` ... and actually we should have a k8s cluster to run the e2e test right ? [https://github.com/knative/serving/blob/master/test/README.md#running-end-to-end-tests](https://github.com/knative/serving/blob/master/test/README.md#running-end-to-end-tests)

[2018-09-17 17:19] adrcunha commented on #122
You can use `--skip-tests` to skip running the e2e tests in `release.sh`. And yes, you should have a k8s cluster to run the e2e tests, as explained in the docs.

[2018-09-17 17:21] zrss commented on #122
yes, i can skip the test though `--skip-tests` to skip all the tests (include e2e), but how about i have a k8s cluster rather then a GCP cluster, maybe there can be a choice that i can skip the step to setup/create a cluster from the GCP

[2018-09-17 17:35] adrcunha commented on #122
Looks like there's some confusion here. `release.sh` doesn't create a cluster; `e2e-tests.sh` does, and you can skip that using `--run-tests` or using `go test` directly as explained above (in both cases you still need to set up the env vars for your test to run).

[2018-09-17 17:38] adrcunha opened #123 "gubernator sometimes fail to report failed tests"
e.g., in https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1039348282343559168 the e2e tests failed but were not reported

[2018-09-17 17:39] adrcunha commented on #123
#118 should solve it, or at least provide a hint on why the report on e2e tests was skipped.

[2018-09-17 17:50] zrss commented on #122
that's correct. `e2e-tests.sh` create a cluster not `release.sh`, but if i already have a cluster, can there be an option like `skip-prepare-cluster` to skip creating a cluster in `e2e-tests.sh` ?

[2018-09-17 17:53] adrcunha commented on #122
Such option is `--run-tests`.

[2018-09-17 18:27] zrss commented on #122
thanks adrcunha kindly explain

i check again the `e2e-test.sh` code, i find the env that u said, if u mean that ~

[code]

though if there is a well-documented about how to launch a e2e test in existing k8s cluster maybe more attractive

thanks anyway

[2018-09-17 18:27] #122 closed

[2018-09-17 18:35] adrcunha commented on #122
Assuming you're working on knative/serving, that would be https://github.com/knative/serving/blob/master/test/README.md#running-end-to-end-tests

[2018-09-17 18:38] zrss commented on #122
happy to see it 😆

[2018-09-17 19:29] #74 closed

[2018-09-17 19:29] #96 closed

[2018-09-18 18:12] dprotaso opened #131 "'Changes' link points to Kubernetes repository"
When I visit: https://testgrid.knative.dev/knative-serving#continuous

[2018-09-18 18:14] dprotaso commented on #131
I see `Changes` beside `Overall` and the test underneath

[2018-09-18 20:00] srinivashegde86 commented on #131
Looks like they are supposed to show changes between the last 2 columns to aid in figuring out the issue for the failures. but, it is pointing to the kubernetes/kubernetes instead of knative/serving.

[2018-09-18 20:49] jessiezcc opened #132 "automatically file git issues to track flaky tests"
This way, working group triage will get the visibility to flaky tests and assign proper owners.
The bug should provide data points about flakiness per test. Prefer one issue per flaky test.

[2018-09-18 20:52] adrcunha commented on #132
We can have a daily job that inspects the CI test jobs and files issues accordingly. Most of this work is already done in the latency and API coverage jobs.

[2018-09-18 20:53] jessiezcc opened #133 "Surface metrics for test flakiness such as /test /retest"
This came up from discussion with Matt.
Number of (/test, /retest) is a good measurement for test flakiness. Let's include it as part of project health metric.

FlakinessSignal: Number of (/test, /retest) / Number of PR

Ideally, as number of PR grows, we'd like above ratio not to go up.

[2018-09-18 22:19] adrcunha commented on #89
/assign @dushyanthsc

[2018-09-19 05:31] dushyanthsc commented on #89
/assign @dushyanthsc

[2018-09-20 18:08] #8 closed

[2018-09-20 21:20] adrcunha commented on #7
We should add at least a bogus test to exercise the libraries and presubmit script and avoid issues like #135.

[2018-09-20 21:20] adrcunha commented on #7
/assign adrcunha

[2018-09-20 21:40] jessiezcc opened #136 "GitHub notification for Knative actions"
This came up from scaling working group with @josephburnett.

PR owners often need to wait for approve/lgtm to close on a PR. However, from the reviewer side, they also have difficulty knowing when something needs their  attention. It's normal for folks to get like a bazillion emails about Knative each day. We have an internal chrome pluggin for our google code review tool that gives me a little r

[2018-09-20 22:10] jessiezcc opened #137 "Support Issue priority"
Git issue doesn't support priority. Would be nice to support P0, P1, P2 for issues opened.
- people can assign priority when open issue or during triage
- we can query issues with priority label

[2018-09-21 00:13] adrcunha commented on #136
Gubernator PR dashboard is a great way to be on top of PRs that need your attention.

An interesting (intern?) project would be creating a Chrome plugin for notifications (I'm not aware that such thing exists).

But then we're now mostly on Kubernetes land.

@fejta might have more comments/ideas about this.

[2018-09-21 00:18] adrcunha commented on #136
https://medium.freecodecamp.org/i-wanted-real-time-github-push-notifications-so-i-built-a-chrome-extension-7e6be0611e4 seems to be exactly the problem/feature we need (just as an example)

[2018-09-21 00:19] jessiezcc commented on #136
With chrome, we don't know whether all contributors use chrome.
With github, it's guaranteed all contributors will see it.

[2018-09-21 00:21] adrcunha commented on #136
According to https://help.github.com/articles/about-notifications/ you can configure your notifications, so even if we inject them somehow, it's not guaranteed that the user will see them on the web page (or even at all, if the notification is also disabled for email).

[2018-09-21 01:24] fejta commented on #136
Chrome extension would be cool. Could serve as a reference for people who want to write one for Firefox/safari/edge.

I definitely find the PR dashboard very helpful -- I know which PRs need my reply. This is works better than GitHub notifications which doesn't have the concept of a review turn.

[2018-09-21 02:39] adrcunha commented on #137
This can be easily achieved in GitHub by using labels.

[2018-09-21 02:41] adrcunha commented on #133
We can write a daily job that scans the comments in PRs and calculate such metrics. We can analyse closed PRs to get historical data (so the job just have to worry about new PRs).

[2018-09-21 02:44] adrcunha commented on #136
https://github.com/marketplace/pull-reminders (also https://pullreminders.com) is an app in the GitHub marketplace that reminds you about pending reviews in Slack. It's free for open source projects. Looks like Pivotal is using it, maybe they can provide us with their opinion about the tool effectiveness.

[2018-09-21 17:03] adrcunha commented on #123
Once https://github.com/knative/serving/pull/2042 is merged it will possible to check in knative/serving if this is really solved.

[2018-09-21 17:35] adrcunha commented on #123
Checked the CI flow for knative/build, and didn't find any missing results anymore.

[2018-09-22 00:32] steuhs commented on #15
It looks like prow has some of its own way of reporting https://github.com/kubernetes/test-infra/tree/master/prow/report
I am trying to see if we can build on top of what they have

[2018-09-25 17:35] #7 closed

[2018-09-25 18:10] adrcunha opened #140 "Coverage for knative/pkg is empty for 9/24"
https://testgrid.knative.dev/knative-pkg#coverage

The changes from #110 were pushed yesterday, and the other repos show coverage numbers for today. It seems that the target change caused the coverage report on knative/pkg to break.

[2018-09-25 20:15] steuhs commented on #140
I am looking at it

[2018-09-25 23:51] steuhs commented on #140
fixed

[2018-09-25 23:52] steuhs commented on #140
updated binary to use most recent code to fix the issue: https://github.com/kubernetes/test-infra/pull/9313

[2018-09-25 23:52] #140 closed

[2018-09-26 17:11] dprotaso opened #143 "Link took me to kubernetes/test-infra"
Not sure if this is something we configure to point to knative/test-infra
https://github.com/knative/pkg/issues/97#issuecomment-424705175

[2018-09-26 17:11] dprotaso commented on #143
Under the fold has the bad link

[code]

[2018-09-26 18:48] mattmoor opened #144 "dep-collector should probably move here."
Y'know, in case I'm hit by a bus :)

[2018-09-26 18:51] dprotaso commented on #144
Those google shuttle buses are dangerous

On Wed, 26 Sep 2018 at 14:48 Matt Moore <notifications@github.com> wrote:

[2018-09-26 19:12] adrcunha commented on #144
/label good-first-issue

[2018-09-26 19:13] adrcunha commented on #143
This is #75.

[2018-09-26 19:13] #143 closed

[2018-09-26 19:13] #137 closed

[2018-09-26 19:17] adrcunha commented on #131
That's weird. This is not part of Testgrid, because the app was not updated, so it was probably part of the data. However, it's now gone. Anyway, this seems like another variant of #75.

[2018-09-26 19:17] #131 closed

[2018-09-26 19:20] adrcunha commented on #123
Another instance where the results were not parsed correctly:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2063/pull-knative-serving-integration-tests/1045017388094853122/?log#log

[code]

[2018-09-26 20:22] jessiezcc opened #145 "Rename test-infra to productivity"
Since this will be our primary repo for productivity related projects, is it feasible to rename the repo to Productivity? "test-infra" is a bit limited in terms of scope.

[2018-09-26 20:24] jessiezcc opened #146 "Notify when LGTM is lost due to merge"
This was brought up from scaling working group.

["What about automatically notifying if LGTM is lost because of a merge?"](https://docs.google.com/document/d/1FoLJqbDJM8_tw7CON-CJZsO2mlF8Ia1cWzCjWX8HDAI/edit#)

[2018-09-26 20:37] adrcunha commented on #146
This is interesting and should be filed in kubernetes test-infra/prow.

[2018-09-26 20:39] adrcunha commented on #145
Technically this is not an issue. test-infra was chosen to follow the pattern from kubernetes. So far the scope of the repo reflects its name.

[2018-09-26 21:09] adrcunha commented on #65
Another example:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2063/pull-knative-serving-build-tests/1045046957724143616/

Making the failure(s) appear as failed test would be a simple yet effective way of surfacing the issue.

[2018-09-27 17:05] srinivashegde86 opened #147 "Enable /lint in prow for knative repos"
Prow provides many plugins for static analysis. We have enabled a few, but not linting. There is a golint plugin that adds warnings as comments to the PR. We should enable that.

[2018-09-27 17:07] srinivashegde86 commented on #147
/cc @mattmoor

[2018-09-27 17:14] srinivashegde86 opened #148 "Investigate using peribolos for knative github admininistration"
https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos#peribolos-documentation

[2018-09-27 17:15] srinivashegde86 commented on #148
cc @jessiezcc , @BenTheElder

[2018-09-27 17:57] adrcunha commented on #148
This should be taken to the TOC WG. It's mostly a matter of deciding what process we want to follow (i.e., if administration will be done through GitHub or through Prow). From the Perobolo's README I'm not really convinced that it currently adds value to Knative.

[2018-09-27 17:59] adrcunha commented on #147
The linter is already enabled, and anyone can use it:

https://prow.k8s.io/command-help

For example:

https://github.com/knative/serving/pull/2095#issuecomment-425185226

Note that it's not automatic, you have to manually issue `/lint`. For details about where, when and why, see https://github.com/knative/serving/issues/346.

[2018-09-27 17:59] #147 closed

[2018-09-27 18:01] srinivashegde86 commented on #148
One use case, I thought of was, we need to ask mark or dewitt or other admin to add folks to knative org. If anyone interested can just create a PR and get added by default, it prevents a manual intervention by an admin. For eg. - https://knative.slack.com/archives/CA4DNJ9A4/p1537979117000100

We can send request to be added to knative-dev, but not for knative org.

[2018-09-27 18:08] adrcunha commented on #148
Such process could be intentional (you don't have to be a member to contribute), so better taking this to the TOC WG as I suggested.

[2018-09-27 18:33] steuhs opened #149 "let code coverage target all packages for knative/serving, knative/build, etc"

[2018-09-27 18:47] jessiezcc opened #150 "Documentation on existing test-infra tooling"
This has come up a few times from various discussions. Need to bring up awareness of existing tooling such as gubernator, testgrid, prow, and etc.

[2018-09-27 20:47] steuhs opened #153 "mark /test/... as coverage-excluded in knative/pkg"

[2018-09-27 21:06] evankanderson commented on #148
Added to TOC agenda for next week. Can someone write up a quick description or pros & cons?

https://docs.google.com/document/d/1hR5ijJQjz65QkLrgEhWjv3Q86tWVxYj_9xdhQ6Y5D8Q/edit#heading=h.5nc37ou2m7k4

[2018-09-27 21:07] adrcunha commented on #150
Our documentation in the repo is barely minimum. We should document our tools, use cases and expected flow better. Although there's some documentation about it in some repos (knative/serving or knative/docs), it's hidden, generic and mostly pointing to existing (long) documentation, so I think nobody reads that. With a proper documentation/guide, we can point/remind devs to them when needed.

[2018-09-27 21:14] adrcunha commented on #148
/assign @srinivashegde86

I volunteer Srinivas as a tribute. :D

[2018-09-27 22:28] #153 closed

[2018-09-27 23:44] jessiezcc commented on #150
@samodell, Sam, do you think docs team can help us out here?

[2018-09-28 00:05] jessiezcc opened #154 "Tooling on help contributors to find each other"
such as who is working on what, who is expert on what, etc.

[2018-09-28 00:06] jessiezcc opened #155 "Tooling to help search past conversations"
this came from slack, initially on how to search slack history.

[2018-09-28 04:58] BenTheElder commented on #148
We're pretty early in using this in Lubernetes admittedly, but we pretty much have a join by PR process, see: https://github.com/kubernetes/org, EG https://github.com/kubernetes/org/pull/119

It's really nice having a public mechanism to do this and a public record of changes made to add people etc, similar to our test configs :-)
I'm hopeful we can expand this pattern (~GitOps) to more parts of t

[2018-09-28 17:32] jessiezcc commented on #150
This issue actually tracks much bigger scope of test-infra documentation.
I'm working on a spec and is conversation with docs wg to help out.

[2018-09-28 17:48] adrcunha commented on #155
What's that different from what's explained in https://get.slack.help/hc/en-us/articles/202528808-Guide-to-search-in-Slack- ?

[2018-09-29 00:15] evankanderson commented on #155
The only item here would be providing a longer history than free Slack for
OSS that we're using today, but I think we should write up the important
results from Slack conversations in other docs instead.

On Fri, Sep 28, 2018 at 10:48 AM Adriano Cunha <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2018-10-01 17:45] steuhs commented on #15
Yutong is working on prow's reporting feature. https://github.com/kubernetes/test-infra/tree/master/prow/report. I am trying to see if and to what extent we can use that feature

[2018-10-01 18:00] steuhs commented on #15
Looks like this pkg have a template and function to post prowjob issues on github https://github.com/kubernetes/test-infra/blob/master/prow/report/report.go

[2018-10-01 18:28] adrcunha opened #159 "Add more boskos projects to the pool"
Knative is growing, I'm starting to see E2E test failures because of the boskos pool being empty. :/

[2018-10-01 18:31] cjwagner commented on #15
What exactly are you referring to? I think we have mechanisms to achieve everything listed on this issue except for reporting job failures to slack.

[2018-10-01 18:36] steuhs commented on #15
@cjwagner I think you are talking about the status context that is showing up at the end of each PR page. Isn't that limited to pre-submit checks? There is also post-submit and periodical jobs we want to monitor, I believe.

[2018-10-01 18:39] cjwagner commented on #15
That is just one of the mechanisms we have. We have configurable email alerting available through testgrid and we can display the status of the last run of a job with svg badges.

What exactly are you trying to report on?

[2018-10-01 20:08] adrcunha commented on #123
Another example of missing failure:

https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_serving/2120/pull-knative-serving-unit-tests/1046832725564067840/build-log.txt

[code]

The parser doesn't recognize `SIGQUIT`.

[2018-10-02 19:25] adrcunha opened #161 "knative-releases contains outdated and confusing stuff"
Including:
- manifests in the `/latest` and `/previous` root dirs in GCS;
- a `build-base` dir in GCR;
- images in the GCR root dir;

[2018-10-02 19:54] jessiezcc opened #162 "Need a testgrid tab dedicated to conformance tests"
It should show overall conformance tests passing rate as well as individual test results.
Right now, it's shown under continuous/release together with unit tests and E2E tests.

[2018-10-02 21:09] srinivashegde86 commented on #162
Conformance and e2e tests are currently run as one group. We may need to separate them out and store results separately.

[2018-10-02 22:09] adrcunha commented on #162
I wonder if we can have a Testgrid tab that filters the conformance tests from the CI job... This way we get the results for free, with no overhead.

[2018-10-02 22:13] adrcunha commented on #162
Answer is "yes":

https://testgrid.knative.dev/knative-serving#continuous&include-filter-by-regex=%2Ftest%2Fconformance

[2018-10-03 00:00] jessiezcc opened #168 "A prow command to move git hub issue"
GIT doesn't have a nice way to move issues around repos.
Given that Knative has multiple repos, we often have need to move issues from one repo to another. Would love a Prow command to do so, something like /move <target repo>

Any other alternative with similar goal will do as well.

[2018-10-03 02:27] adrcunha commented on #168
This is another feature request that seems more appropriate to be filed under kubernetes/test-infra IMO.

[2018-10-03 02:28] adrcunha opened #170 "Simplify running e2e tests on presubmit jobs"
Currently there's a bit of black magic and boilerplate for that:

[code]

[2018-10-03 20:54] jessiezcc commented on #168
Was thinking to experiment for Knative first and then we can expose to official Prow repo

[2018-10-03 22:31] srinivashegde86 commented on #148
## Pros:
* Publicly visible
* Auto-update from periobolos config to knative org.
* Easier to know who is part of a particular WG
* Dont need to wait on admins to add someone. Anyone joining can just send a PR to add themself to knative.
* Maintains running history
* Part of prow, so easy to integrate

## Cons:
* One more thing to maintain for knative-admins.
* May need frequent clean-up for member

[2018-10-03 23:30] BenTheElder commented on #148
I like those points. :+1: @fejta @cblecker how do we feel about monitoring for Kubernetes?

Is there a widely used non-manual alternative? If the tool fails for some reason admins can still add people manually, and there are checks to ensure we maintain a minimum admin set.

[2018-10-03 23:39] fejta commented on #148
How is this related to peribolos? If anything peribolos should make it easier to detect and remove random members.

We just run this as a postsubmit prow job (and a periodic job to catch any erroneous human updates). Here's the entire job def: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/test-infra/test-infra-trusted.yaml#L1-L23

Monitoring doesn't make sense for som

[2018-10-03 23:56] fejta commented on #148
Also what we did was submit the postsubmit job without the `--confirm` flag for ~week so we could see what it wanted to do without actually changing GitHub.

Once we we're confident in it's behavior we added the `--confirm` flag to let it loose.

[2018-10-03 23:59] srinivashegde86 commented on #148
It's not related to periobolos. But, someone will have to create a PR deleting folks that are no longer part of WG. It is an additional ask for the admins.

Yes. It runs as another periodic job. But, someone will have to look at them, probably in testgrid. If it is failing, then someone from knative needs to isolate that failure to tool issue or cluster issue and triage accordingly.

Again, someon

[2018-10-04 00:03] cblecker commented on #148
second everything @fejta just said. it was designed with lots of safeguards (such as manually specifying admins via a flag that it will fatal if the config is missing them, and delta measurement to reject mass removal of users).

the biggest advantage is the one kubernetes is just now implementing: delegation of administrative privs. an unprivileged user can do things like suggesting new members,

[2018-10-04 00:11] fejta commented on #148
Sounds good. Just trying to clarify some things. Can be quiet too if you prefer.

Hopefully this still requires random internet user to wait for admins (or some other trusted set of org maintainers) to approve the PR.

I still don't understand this? Either admins have to click a bunch of buttons on GitHub to remove the users or else they need to merge a PR. The theory is the PR method is more fami

[2018-10-04 18:12] jessiezcc opened #174 "Investigate octobox.io for knative notifications"
This came up from slack discussions.
Both @bbrowning  and markus.thoemmes are recommending [octobox.io](https://octobox.io/) as a great tool for catching git notifications.  and it also supports "Run your own Octobox"

[2018-10-04 18:45] bbrowning commented on #174
Funnily enough, I got notified of this issue via my Octobox tab!

Prior to Octobox, I managed GitHub notifications via Gmail labels and filters. That worked, to an extent, but all too often I found myself avoiding anything to do with email because of all the other distracting and tempting unread things that lurk there.

Now I have a pinned tab in my browser for Octobox and I can go there to see an

[2018-10-04 19:11] jessiezcc commented on #174
cc @markusthoemmes
It'd be beneficial to evangelize some of these notification mgmt tooling across the community as part of productivity wg initiatives.

[2018-10-04 19:51] markusthoemmes commented on #174
Definitely, it's a great tool for anybody who's trying to stay on top of things, especially because you see for every notification why you got it in the first place (be it a mention, an assignment or just because you subscribed). I'll spread the word!

[2018-10-05 03:29] srinivashegde86 commented on #148
## Meeting notes:
* Investigate and create a prototype.
* Not super high priority. Nice to have for now.
* Knative admins to follow-up for public/private repos.

[2018-10-05 17:15] jessiezcc opened #177 "Investigate how to prevent test-infra outage for release branches"
In light of test-infra issues coming out of https://github.com/knative/serving/pull/1922 and https://github.com/knative/serving/pull/2050#issuecomment-427389291, we need to define a process or automation to prevent such outage.

What happened:
we have one prow config for all branches - we removed the ssh check recently in master and updated the scripts. But the release branches don't have the scri

[2018-10-10 20:15] jessiezcc opened #178 "Need to support running tests against multiple Kubernetes version"
and perhaps Istio versions as well

[2018-10-11 02:42] adrcunha commented on #178
Let's investigate kind (#103) as an option to quickly run multiple clusters, so we don't have to deal with several Prow jobs.

[2018-10-11 02:47] adrcunha commented on #177
The SSH issue is just part of the problem. Prow being a live part of the infrastructure means that simple versioning won't solve the issue. The same applies for the other live parts involved, e.g., GKE. Take, for example, https://github.com/knative/serving/pull/2208: even if the SSH fix was backported previously, the authentication issue with newer GKE clusters would still exist and wouldn't have

[2018-10-11 05:37] adrcunha commented on #170
This now needs to be replicated to the other repos.

[2018-10-11 16:40] adrcunha opened #180 "Knative 0.1 integration tests don't run with current Prow config"

[2018-10-11 19:34] adrcunha commented on #161
Old/unrelated/spurious images cleaned up.

[2018-10-11 19:34] #161 closed

[2018-10-11 20:15] #159 closed

[2018-10-11 20:46] #180 closed

[2018-10-15 17:32] adrcunha opened #186 "Setup Knative Build latency metrics"

[2018-10-15 17:33] adrcunha commented on #186
/cc @ImJasonH

https://github.com/knative/test-infra/pull/185 creates the jobs and Testgrid tab.

[2018-10-15 21:42] steuhs commented on #79
fixed by the last two commits here: https://github.com/steuhs/test-infra/commits/re-org

[2018-10-15 21:44] #79 closed

[2018-10-17 16:28] adrcunha commented on #186
Metrics are up.

![screenshot 2018-10-17 at 9 24 30 am](https://user-images.githubusercontent.com/35786489/47101409-d7ef3580-d1ee-11e8-8e05-af3ca7e04a13.png)

[2018-10-17 16:28] #186 closed

[2018-10-18 14:31] dprotaso opened #197 "As a contributor I'd like the instruct prow to run a test for a PR N times"
In this PR https://github.com/knative/build/pull/430 I'm trying to flush out a flakey test

I repeatedly need to invoke `/test pull-knative-build-integration-tests` in order to run the test numerous times in hopes of guaranteeing there is no flakiness

It'd be nice if I could type something along the lines of
[code]

This would run the integration test sequentially ten times and stop at any point

[2018-10-18 15:48] adrcunha commented on #197
This is another feature request that seems more appropriate to be filed under kubernetes/test-infra IMO.

[2018-10-18 15:57] dprotaso commented on #197
Sure

[2018-10-18 15:58] adrcunha commented on #197
Workaround if you want to test a PR several times (say, 50) just like Prow:

[code]

`PROJECT_ID` must point to a GCP project you own, and this line must be run from the root of your repo/branch (so it includes your changes).

[2018-10-22 22:30] adrcunha commented on #123
In https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1052590539603447808:

[code]
Looks like the parser missed the `fatal` entry.

[2018-10-23 01:38] #144 closed

[2018-10-23 20:47] jessiezcc opened #207 "Automate new repo onboarding"
is it possible to have a single click experience to onboard a new repo? Today, we have to make separate code changes to enable prow, code coverage, testgrid and etc. Since it has been repeated for a few repoes now, wonder whether we can further automate it to be a single step.

[2018-10-23 21:07] adrcunha commented on #207
https://github.com/knative/test-infra/pull/204 should clarify the process even more. A "single click" experience isn't possible because onboarding a new repo also requires updating Prow (thus outside of GitHub realm). We could have a script to do that, but it won't solve the manual step of merging at least one PR. Having a few scripts to make the task easier could help (for example, as I already m

[2018-10-23 21:14] adrcunha commented on #123
The error above happened before `library.sh` was updated to the latest version, which had a few fixes for handling the `fatal` case. Also, the autoscale tests were updated as well. Since then there's no evidence in Testgrid that the parser is still missing failures.

[2018-10-23 21:14] adrcunha commented on #123
Considering this fixed.

[2018-10-23 21:14] #123 closed

[2018-10-25 23:23] jessiezcc opened #214 "Release notes tooling"
This came up from today's productivity wg.

Need automation/tooling to keep tracking of feature changes went into repo, and to facilitate ultimate release note generation/editing per release.

[2018-10-25 23:25] jessiezcc opened #215 "Per partner contribution reporting"
The ask came up in today's productivity wg meeting.
Need an automated way to generate such reporting and share with community.

[2018-10-29 16:06] adrcunha opened #218 "knative/eventing-sources has double, conflicting "overall" reports"
https://testgrid.corp.google.com/knative-eventing-sources#coverage&expand-groups=&group-by-directory=

[2018-10-29 22:04] steuhs opened #220 "enforce code coverage threshold by blocking PRs that does not comply"
Repos to enforce the rule:
knative/serving
knative/build

# sub-tasks
## knative/serving
https://github.com/knative/serving/issues/2347
https://testgrid.knative.dev/knative-serving#coverage
## knative/build
https://github.com/knative/build/issues/447
https://testgrid.knative.dev/knative-build#coverage

[2018-10-29 22:04] steuhs commented on #220
@jessiezcc Any other repos we want to enforce the rule?

[2018-10-29 22:12] steuhs commented on #218
The testgrid result is not reflecting what data is stored here: https://pantheon.corp.google.com/storage/browser/knative-prow/logs/ci-knative-eventing-sources-go-coverage/1056712450503610371/artifacts/

/assign srinivashegde86

[2018-10-29 22:36] steuhs commented on #218
@adrcunha what was the issue here?

[2018-10-29 22:44] steuhs commented on #220
/cc jessiezcc

[2018-10-29 22:52] #149 closed

[2018-10-30 03:49] steuhs opened #222 "package level coverage is missing in periodical runs"
## knative/serving
https://testgrid.knative.dev/knative-serving#coverage
## knative/build
https://testgrid.knative.dev/knative-build#coverage

[2018-10-30 17:45] adrcunha opened #223 "knative/build-pipeline is missing coverage job"

[2018-10-30 20:41] #223 closed

[2018-10-30 21:18] #162 closed

[2018-11-01 00:17] dushyanthsc commented on #89
[Commit](https://github.com/knative/pkg/commit/083969f9a02994963485eb8c9200c293ebf804a2) adds Zipkin tracing support to test infrastructure. However, fundamental requirement of this feature is the availability of Monitoring components installed on the KNative cluster. Currently, monitoring is not enabled by default for e2e tests due to [this](https://github.com/knative/serving/blob/master/test/clu

[2018-11-02 18:26] jessiezcc opened #233 "update owners shouldn't trigger tests"
see https://github.com/knative/serving/pull/2385 for an example, there is no need to run tests.

[2018-11-02 18:32] vaikas-google opened #235 "EXISTING_CLUSTER still tears down the environment"
Setting the K8S_CLUSTER_OVERRIDE is not being honored.

vaikas@penguin:~/projects/go/src/github.com/knative/serving$ ./test/e2e-tests.sh --run-tests
- Cluster is gke_quantum-reducer-434_us-west1-knative-eventing-e2e
- User is vaikas@google.com
- Docker is us.gcr.io/quantum-reducer-434
Deleting any previous SUT instance

namespace "knative-serving" deleted
clusterrole.rbac.authorization.k8s.io "kna

[2018-11-02 19:49] adrcunha commented on #235
Setting `K8S_CLUSTER_OVERRIDE` means that a new test cluster won't be created for your test, not that we assume Knative is already installed and shouldn't be touched.

[2018-11-02 20:00] adrcunha commented on #233
Changes to OWNERS don't trigger presubmits. Changes to OWNERS_ALIASES do.

[2018-11-02 20:09] mattmoor commented on #235
@vaikas-google IDK if eventing has weird setup requirements, but I always `go test -tags=e2e ./test/...`, which lets me use `-run=TestFoo` and `-count=N`.  FWIW

[2018-11-03 04:10] adrcunha commented on #235
As I explained in #236, Ville should be able to run the tests against his existing cluster exactly like you pointed, Matt: by using `go test`.

[2018-11-03 15:40] #235 closed

[2018-11-05 21:22] srinivashegde86 opened #241 "Testgrid pkg should handle local storage with the artifacts dir"
https://github.com/knative/test-infra/blob/master/tools/testgrid/testgrid.go#L53 currently accepts an artifacts directory where it creates the xml output. This should have one way of specifying local storage and not depend on the caller to specify this location.

For eg - https://github.com/knative/serving/pull/2320/files#r230900752

[2018-11-05 21:24] srinivashegde86 opened #242 "covbot should not calculate coverage under serving/test/test_images dir"
https://github.com/knative/serving/pull/2320#issuecomment-436039292

[2018-11-06 17:59] adrcunha opened #244 "API coverage flow is stale"
There are no results for the past 14 days:

![image](https://user-images.githubusercontent.com/35786489/48083655-9c6ed800-e1aa-11e8-911d-8b8a8026ea38.png)

/assign @srinivashegde86

[2018-11-08 18:35] adrcunha opened #249 "Prow test logs are missing content"
From the newest test logs:

[code]

Also, the logs are looking funny, missing a lot of stuff:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2435/pull-knative-serving-integration-tests/1060588994200342530/

[2018-11-08 19:03] adrcunha commented on #249
The deprecation notice is because of

https://github.com/kubernetes/test-infra/commit/43667aff4d8e435ead244eff3ae27565de26ff0b

[2018-11-08 19:15] adrcunha commented on #249
Serving CI shows that the logs were fine 24h ago.

[2018-11-08 19:49] adrcunha commented on #249
Synced up with k8s folks, looks like the deprecation notice had undesired collateral effects on logs.

https://github.com/kubernetes/test-infra/pull/10096 should fix that.

[2018-11-08 19:56] #241 closed

[2018-11-08 20:22] adrcunha commented on #249
/woof

[2018-11-09 00:43] adrcunha commented on #249
The fix is merged, the logs are now fine:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2435/pull-knative-serving-integration-tests/1060683314282631168/

[2018-11-09 00:43] #249 closed

[2018-11-09 14:50] #242 closed, assigned to steuhs

[2018-11-09 14:56] adrcunha commented on #146
When LGTM is lost due to a change, a comment is added to the issue, e.g., https://github.com/knative/serving/pull/1817#issuecomment-411774784

However, such comment is not added when Prow removes the LGTM due to a new commit, e.g., https://github.com/knative/serving/pull/2435#event-1955723201

[2018-11-09 23:40] adrcunha opened #252 "Generalize dump_app_logs()"
Move it to `library.sh` so all repos can benefit from it:

https://github.com/knative/build/pull/466#pullrequestreview-173628974

[2018-11-13 22:36] #233 closed

[2018-11-15 20:05] adrcunha commented on #103
/cc @mattmoor @josephburnett FYI

This should help with the question brought today during Joe's presentation about autoscaling

[2018-11-16 01:09] mattmoor commented on #103
I'm wondering about the resource requirements we need and it's ability to handle our workloads (e.g. provisioning GCP LoadBalancers).

[2018-11-16 17:08] adrcunha opened #260 "Alert when tests in Testgrid start failing"
This is specially important for CI flows that aren't master (and thus tend to be forgotten), like release branches.

[2018-11-16 17:10] adrcunha commented on #260
Testgrid can send email alerts:

https://github.com/kubernetes/test-infra/tree/master/testgrid#email-alerts

It's possible to send messages to a Slack channel:

https://get.slack.help/hc/en-us/articles/206819278-Send-emails-to-Slack

[2018-11-16 17:30] adrcunha commented on #260
Synced up with the Slack owners, let's not use the Slack integration for now.

[2018-11-18 16:01] adrcunha opened #264 "Coverage job is failing for knative/build-pipeline"
There's an error in the job that's causing coverage to fail. Latest daily coverage job failed with (note that the job succeeds even though the coverage failed):

https://prow.knative.dev/log?job=ci-knative-build-pipeline-go-coverage&id=1063597766501994499

(parsed the stacktrace manually)

[code]

Running `go test ./... -covermode=count -coverprofile /tmp/foo` from head works:

[code]

/assign @st

[2018-11-19 20:24] srinivashegde86 opened #265 "Move prow to pod-utils"
The knative prow config uses bootstrap.py utility to set up prow jobs. This has been deprecated for a while and we should be moving to pod utilities to define our prow jobs

[2018-11-20 16:33] adrcunha commented on #265
I had a quick discussion about this with the k8s folks due to #249. pod-utils is still missing some features (eg timestamps) so I we shouldn't upgrade now.

[2018-11-20 16:34] adrcunha commented on #265
I already did that for one job, just follow the code coverage example and use `runner.sh` as entry point.

[2018-11-21 17:16] adrcunha opened #272 "Use different bots for test and release jobs"
This way test jobs can't harm release properties (e.g., GCR).

[2018-11-21 22:39] adrcunha opened #276 "Create a job to cleanup boskos instances"
Instead of deleting the images in GCR after the test finishes, have a job to perform it from time to time (and only old images).

[2018-11-28 01:41] #260 closed

[2018-11-29 22:29] adrcunha opened #281 "verify-codegen.sh should check /vendor"
https://github.com/knative/serving/pull/2561 should be replicated to all repos.

/assign chaodaiG

[2018-11-30 19:39] jessiezcc opened #283 "Knative gubernator is showing merged PR as Needs Attention"
A new deployment may fix it.

https://github.com/knative/test-infra/tree/master/ci/gubernator
make deploy

[2018-11-30 19:50] jessiezcc commented on #283
new deployment doesn't help, the current workaround is to add a random comment to merged PR, then it will be gone from Gubernator page.
It happens when github fails to send the event, gubernator won't update the state. Adding a comment will trigger a new event.

[2018-11-30 19:51] adrcunha commented on #283
This should be filed against kubernetes, as it's an issue with gubernator.

[2018-11-30 20:17] chaodaiG commented on #276
update, test-infra updated in all other knative repos

[2018-12-03 23:07] adrcunha commented on #264
Please pay attention to the description of the issue: the test appears as passing, but the log shows an error. Because of that the build-pipeline coverage grid is empty:

https://testgrid.knative.dev/knative-build-pipeline#coverage

[2018-12-05 06:12] jessiezcc opened #294 "Knative bots hosting"
Knative contributors have started to produce bots for various purposes, and they are quite beneficial to be run against Knative repos themselves.
We need a process where contributors can graduate their bots to be run against Knative repos (at which point, we'd probably have a Knative bots repo). And of course need a Knative environment where these bots can be hosted. This also serves great dogfood

[2018-12-05 17:32] adrcunha commented on #283
Closing this as the issue was opened in the kubernetes/test-infra repo.

[2018-12-05 17:32] #283 closed

[2018-12-05 17:36] adrcunha commented on #244
@srinivashegde86 I was about to close this as obsolete, but testgrid is missing runs from 12/04 an 12/05.

[2018-12-05 17:37] adrcunha commented on #222
Looks like this is obsolete? I see the "overall" line in both grids.

[2018-12-05 17:38] adrcunha commented on #281
@chaodaiG are all yours PRs merged?

[2018-12-05 18:02] chaodaiG commented on #281
There are still 2 open waiting for approval:
https://github.com/knative/eventing-sources/pull/133
https://github.com/knative/caching/pull/17

[2018-12-05 21:30] chaodaiG commented on #281
update: @adrcunha , now all PRs are merged

[2018-12-05 22:01] steuhs commented on #222
@adrcunha Package level coverage means the coverage summary for each package, e.g. github.com/knative/serving/pkg/activator/handler/

[2018-12-05 22:56] adrcunha commented on #281
Awesome, thanks!

[2018-12-05 22:56] #281 closed

[2018-12-06 19:29] steuhs commented on #264
This error doesn't occur in local run. Probably cause by the issue to be fixed here: https://github.com/knative/test-infra/pull/298

[2018-12-07 04:36] #264 closed

[2018-12-07 04:42] adrcunha commented on #264
Prow updated.

[2018-12-10 20:53] adrcunha opened #308 "Coverage jobs are failing with no apparent reason"
/assign @steuhs

Example:
https://github.com/knative/eventing-sources/pull/154#issuecomment-445954045

GitHub links to https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_eventing-sources/154/pull-knative-eventing-sources-go-coverage/1072220963090731009/ which shows

Unable to load build details from gs://knative-prow/pr-logs/pull/knative_eventing-sources/154/pull-knative-eventi

[2018-12-11 00:08] steuhs commented on #308
There is no information on the build logged. Probably fails before the coverage binary is run. Will take a closer look later

[2018-12-11 00:54] adrcunha commented on #308
Note that it also failed for PR 2691 in serving, so this is not an isolated case.

[2018-12-11 19:39] adrcunha commented on #177
The CI job for previous release branches is in place (currently there's only the 0.2 branch worth doing it):

https://testgrid.knative.dev/knative-serving-0.2

[2018-12-11 19:39] #177 closed

[2018-12-11 19:47] adrcunha commented on #308
Looks like your job is failing at the very start. Start by finding the job in the cluster and investigating is logs.

[2018-12-11 20:44] #276 closed

[2018-12-11 22:17] steuhs commented on #308
It's likely to be unrelated to coverage job. Something changed before 12:03pm, Dec 10th and then all the coverage jobs starts failing. https://prow.knative.dev/?job=pull-knative-serving-go-coverage

The behavior is similar here
https://prow.knative.dev/?job=ci-knative-build-latency

@chaodaiG has done some investigation and this PR probably cause the issue https://github.com/knative/test-infra/pul

[2018-12-12 08:09] #308 closed

[2018-12-14 06:04] gyliu513 opened #318 "Getting a Power CI for Knative"
We want to enable Knative running on POWER, so it is better to enable POWER CI for Knative as well.

Can anyone propose some help for how to enable this?

[2018-12-14 21:16] adrcunha commented on #318
Can you please elaborate on your proposal, and how it affects/benefits the current Knative CI/CD system?

[2018-12-14 21:17] adrcunha commented on #272
https://github.com/knative/test-infra/pull/303 splits test and nightly jobs between different service accounts.

[2018-12-14 22:44] cjwagner commented on #15
Those are Testgrid feature so @michelle192837 is the one who implemented them. Please refer to the documentation first though, it describes the features and how to use them: https://github.com/kubernetes/test-infra/tree/master/testgrid#email-alerts

[2018-12-14 22:47] adrcunha commented on #15
Testgrid e-mail alerting is already enabled by #261. We want a lower level job monitoring so we can act faster when something goes wrong.

[2018-12-14 22:51] steuhs commented on #222
Fixed

[2018-12-14 22:51] #222 closed

[2018-12-14 23:09] cjwagner commented on #15
According to that PR body, you configured Testgrid to report only after 3 consecutive failures. If you reported on the first failure that would have the effect you want right? Or are you saying that Testgrid's update period itself is too slow for some use case that you have?

[2018-12-14 23:18] adrcunha commented on #15
That's correct. Example: suppose that we push a bad Prow config, for example, and the crons or pull jobs don't run. Currently we have no way of knowing that, unless someone stumbles upon it and reports (e.g., pull test jobs never finish for your PR).

[2018-12-15 00:50] adrcunha opened #324 "Enable the verify-owners plugin for Prow"
The verify-owners plugin validates OWNERS files if they are modified in a PR. On validation failure it automatically adds the 'invalid-owners' label to the PR, and a review comment on the incriminating file(s).

Source:
https://github.com/kubernetes/test-infra/blob/master/prow/plugins/verify-owners/verify-owners.go

[2018-12-15 02:51] gyliu513 commented on #318
Thanks @adrcunha , If I can provide some POWER machines for Knative, who I need to contact to enable Knative CI running on those machines?

[2018-12-15 03:07] adrcunha commented on #318
Let's discuss the idea first, then we can discuss the implementation details. :)

[2018-12-15 03:47] gyliu513 commented on #318
More info here, you may also see that Kubernetes now support x86, POWER and s390x for each release, this is because now many customers are using a mixed infrastructures for their cloud, so it would be great for Knative CI enable POWER support.

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md#server-binaries

ppc64le is for POWER.

@adrcunha as the Knative meeting time is not

[2018-12-17 17:18] adrcunha opened #326 "Review bazel settings in Prow config"
Things that *might* not be needed/necessary anymore:

* bazel remote cache (OR actually set it up)
* privileged mode

[2018-12-17 21:58] srinivashegde86 commented on #326
we use kubernetes_execute_bazel scenario used to run the workflows. there is a non-bazel version as well, which we can use

[2018-12-17 22:03] adrcunha commented on #326
We use bazel for the test result parsing, so we can't drop bazel (unless someone wants to write a parser).

[2018-12-17 22:13] #272 closed

[2018-12-17 23:44] adrcunha opened #329 "Use :stable tag for prow-tests image"

[2018-12-18 01:45] gyliu513 commented on #318
Thanks @adrcunha , got it, I will start from the first item: Building knative on ppc64le, will append some detail here when there are some progress.

[2018-12-18 05:57] adrcunha opened #331 "Fail fast in release.sh when testing"
We don't want to wait until all unit/integration tests finish running if build tests failed, for example.

[2018-12-18 06:47] adrcunha opened #332 "Write a `go test` parser for Gubernator/Testgrid"
Instead of parsing the test results from a shell script, and using bazel as transformation, write a tool that run the tests and translates the output directly into the proper XML file.

[2018-12-18 06:48] adrcunha commented on #326
The parser is actually a good idea. Filed #332.

[2018-12-18 06:57] adrcunha commented on #326
The current bazel settings seem to be useless to our parser:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2745/pull-knative-serving-unit-tests/1074919996653572096/

This is https://prow.knative.dev/log?job=pull-knative-serving-unit-tests&id=1074919996653572096 which is a Prow job without the bazel settings at all.

[2018-12-18 18:55] #326 closed

[2018-12-18 20:26] adrcunha opened #335 "Serving performance grid seems to be messed up"
![image](https://user-images.githubusercontent.com/35786489/50181048-2a68d300-02c0-11e9-9a80-30aa8d424644.png)

[2018-12-19 05:48] adrcunha commented on #15
Maybe that was just a bad example. But the idea, as Cold put it clearly, is to have some sort of monitoring in place so we are aware of issues with our Prow jobs (presubmits, postsubmits, crons, etc) way faster than the time it takes for Testgrid to update and us to check it out and realize that something is not right.

That's the motivation. I'll leave the details to Stephen, who's working on thi

[2018-12-19 17:43] srinivashegde86 commented on #335
the observed concurrency test was refactored and hence the new cells. I have fixed the tests and added the latency runs and should start to be visible once the perf run passes.

The latest perf run failed due to insufficient resources - https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-performance/1075194178993917953/?log#log

Will wait on the next run to confirm

[2018-12-20 11:47] markusthoemmes commented on #335
Test results are not properly parsed now at all

See: https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-performance/1075556566633025537/

I think prow can only handle a single `<testsuite>` element per XML file and we're creating multiple with our tests.

[2018-12-20 16:18] srinivashegde86 commented on #335
That seems to be the issue.

Seeing
[code]

Logs:
https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-performance/1075556566633025537/#gubernator-internal-fatal-xml-parse-error

Based on testgrid code, it can handle multiple testsuites, but gubernator is throwing a ParseError.

[2018-12-20 16:30] srinivashegde86 commented on #335
Multiple testsuites seem to be fine, but they need a parent element, which is missing

[code]

[2018-12-22 02:32] srinivashegde86 commented on #335
Fixed by https://github.com/knative/serving/pull/2770

[2018-12-22 02:32] #335 closed

[2018-12-26 22:09] srinivashegde86 commented on #332
there is already a OSS parser which we can probably use - https://github.com/jstemmer/go-junit-report

[2018-12-27 22:36] #244 closed

[2018-12-28 07:03] adrcunha opened #350 "prow.knative.dev doesn't show logs for ci-knative-serving-0.2-continuous"
Workaround is to view the log store in GCS via Gubernator, but then you can't watch the job run. Selecting the log icon in the dashboard shows:

Invalid job query: ci-knative-serving-0.2-continuous

[2018-12-28 16:21] #350 closed

[2018-12-30 06:54] adrcunha commented on #222
Fixed in https://github.com/knative/test-infra/pull/286

[2019-01-03 19:57] dprotaso opened #359 "Failed unit test output seems broken"
See: https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2829/pull-knative-serving-unit-tests/1080914118036164609/

Executing tests from //knative/serving/pkg/reconciler/v1alpha1/revision:TestGlobalResyncOnConfigMapUpdate

--- PASS: TestGlobalResyncOnConfigMapUpdate/Update_Istio_Outbound_IP_Ranges (0.81s)

[2019-01-03 20:05] srinivashegde86 commented on #359
We started showing stderr messages in the log output recently. Maybe this is being caused by that change - https://github.com/knative/test-infra/pull/354

/assign @adrcunha

[2019-01-03 21:23] adrcunha commented on #359
It's not 354, it's bazel. It will be gone as soon as I finish my PR updating test-infra in serving.

[2019-01-05 04:06] #332 closed

[2019-01-05 04:08] adrcunha commented on #329
Fixed by #330.

[2019-01-05 04:08] #329 closed

[2019-01-06 11:49] adrcunha opened #365 "Allow creating major releases from existing nightly builds"
Add the flag `--from-nightly` to `release.sh` that will:
* **NOT** run any test
* find out the commit used to create the nightly release given by the `--from-nightly` flag
* create a *release-X.Y* branch on the GitHub repo (version given by the `--version` flag) from such commit
* copy the already built nightly images/manifests to the release GCR/GCS, properly tagging them (version given by the `-

[2019-01-07 18:09] adrcunha commented on #132
By "inspects the CI test jobs" I mean parsing the junit XML files containing the test results.

[2019-01-07 18:13] chaodaiG commented on #132
thanks for clarification!

[2019-01-08 15:07] adrcunha commented on #197
Feedback in 9855 is not favorable, due to concerns about abusing the feature. If that issue gets closed due to staleness, I'll close this one as well as infeasible.

[2019-01-08 18:21] adrcunha opened #367 "Personalize covbot"
Currently the bot used to post coverage reports on PRs is simply "covbot". It should have a clearly identifiable name,  profile and avatar, just like knative-prow-robot and knative-prow-releaser-robot.

[2019-01-08 21:21] adrcunha opened #368 "Automate the creation of major releases"
Summary: a bi-hourly job (to ensure enough time for building a release) checks for new release branches (using the releases published on GitHub for comparison), then builds a new major release.

[2019-01-08 23:44] steuhs commented on #15
@adrcunha I read this https://github.com/kubernetes/test-infra/tree/master/testgrid#email-alerts. It seems to me that we can use the TestGrid, with num_failures_to_alert set to 1. With that change, I don't see any use case where TestGrid would be too slow - we don't need to rely on periodical jobs, we can monitor on post-submit jobs to get the failure report as soon as it happens. Please correct m

[2019-01-08 23:53] adrcunha commented on #15
`num_failures_to_alert` will only report failed tests, not broken jobs (one that never reports test status, for example). Also, it has a delay of up to 2h due to Testgrid updates. This issue is about monitoring the jobs, not test failures.

[2019-01-08 23:59] michelle192837 commented on #15
Adriano is correct that you'll have to deal with the TestGrid update delay either way (though it's a lot less than 2H in worst case in external; more like 30 minutes delay with bad luck). That said, it does seem like broken jobs should timeout and report at some point, producing a failed result, so that the only delay you have to deal with is the update delay.

So I guess if the problem is 'I want

[2019-01-09 00:11] adrcunha commented on #15
Timeouts are already in place, `num_failures_to_alert` is already setup (but won't work until we have our own Testgrid backend). On top of that, we want the quickest possible way to identify when Prow jobs are misbehaving; we don't want to wait 30 minutes, or 2h, or for a user to report issues on Slack. Scenarios include bad configs (secrets, ACLs), k8s pods failures, resource exhaustion, etc. Les

[2019-01-09 01:45] adrcunha opened #371 "Latest release GCS might contain spurious files"
`publish_yaml` simply copies the new YAML files to the GCS bucket. Since `latest` is always updated (never created), any YAML file not overwritten will remain in the bucket.

For example, after PR 363 Knative Serving doesn't include build's YAML file, but the `latest` dir in GCS will contain that file because it's not touched or overwritten anymore.

https://github.com/knative/test-infra/blob/fef8

[2019-01-09 18:54] #65 closed

[2019-01-10 06:39] adrcunha commented on #368
@nbarthwal goal is to have this ready by end of January.

[2019-01-10 07:08] adrcunha opened #374 "githubhelper doesn't list all changed files in a PR"
In

https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_docs/734/pull-knative-docs-build-tests/1083251881859354624/build-log.txt

the merge process reports 519 files changes, but githubhelper lists only 30.

[2019-01-10 19:47] srinivashegde86 opened #377 "Log all the uber details like k8s version, go version, etc in metadata.json when running tests"
Our testing tools look for metadata.json inside artifacts/ and incorporate it into the results. We can also use the names from this json to display custom headers on testgrid. So, we can display the k8s version, and #nodes used for the test run.

This will be particularly helpful to understand in testgrid, what params a test was run against.

We log all this information in the build log. Would be

[2019-01-10 19:47] srinivashegde86 commented on #377
/cc @fejta

[2019-01-10 19:47] srinivashegde86 commented on #377
/cc @adrcunha
/cc @jessiezcc

[2019-01-10 21:22] adrcunha commented on #377
Sounds interesting. But I couldn't find an example in the GCS bucket. Can you provide one?

[2019-01-10 21:33] srinivashegde86 commented on #377
This is mentioned in the testgrid README - https://github.com/kubernetes/test-infra/tree/master/testgrid#column-headers.

Slack convo:
https://knative.slack.com/archives/CA1DTGZ2N/p1547068564013200?thread_ts=1547065829.011300&cid=CA1DTGZ2N

[2019-01-10 21:45] adrcunha commented on #377
Got it. But I wonder if such much information wouldn't excessively pollute the headers in Testgrid. Also, they're only interesting if you have multiple instances to compare. But I think that a proof of concept is in order to validate or reject my assumptions. This can be done per job, so doing it for the performance tests won't hurt the other flows.

[2019-01-10 21:48] srinivashegde86 commented on #377
They show up on testgrid only if you add them in the tab config. We can add them to all jobs and only update the tab config to show them or let each job deal with it individually.

We can start with the performance job as a POC.

[2019-01-10 22:14] adrcunha opened #378 ""Details" in tide task leads to 404"
The link leads to prow.knative.dev/tide.html which 404s. The right URL is prow.knative.dev/tide (no .html).

[2019-01-10 23:16] #378 closed

[2019-01-11 07:52] adrcunha opened #382 "Create a tool to generate the Prow config"
From a simpler yaml file, generate the final config.yaml file.

Use templates for each kind of job (CI, presubmit, postsubmit, periodic, etc).

Allow generating one job or all.

Allow overriding parameters from command-line: service account, repository, log upload GCS, command to run before the real task.

[2019-01-11 23:48] grantr opened #383 "GCE stockout errors while running e2e tests"
While running eventing e2e tests: `Try a different location, or try again later: Google Compute Engine does not have enough resources available to fulfill request: us-central1-a.`

/cc @adrcunha

[2019-01-11 23:49] grantr commented on #383
/assign @adrcunha

[2019-01-12 04:52] adrcunha commented on #383
There's nothing that we can do about the stockout itself, but we can make the E2E test framework more flexible about regions and zones.

[2019-01-14 15:16] adrcunha opened #387 "Align release process in all repos"
Major tasks:
* update test-infra and `release.sh` to include latest and major changes like #365, #368, and #371
* update `release.md`, including the new features from #365, #368, and #371 (use `serving` as starting point)

[2019-01-14 15:20] adrcunha opened #388 "GitHub token file for release.sh can't end in whitespace"
Including LF and/or spaces.

[2019-01-14 18:16] adrcunha opened #390 "Extend cleanup job to delete old clusters as well"
Rationale: if a GKE cluster in a boskos project is older than 1h, much probably the test using it failed do clean it up. This will impact quotas in the boskos pool, and can cause E2E tests to fail.

It's safe to assume that clusters older than 6h are stale. As of now, no E2E test takes more than 20 minutes to run.

[2019-01-14 18:28] #388 closed, assigned to adrcunha

[2019-01-14 19:13] #383 closed

[2019-01-15 01:44] adrcunha opened #395 "--version cannot be used alone in release.sh"
It expects --branch to be set. Should not.

[2019-01-15 01:44] adrcunha commented on #395
/assign adrcunha

[2019-01-15 17:21] #395 closed

[2019-01-15 23:10] adrcunha opened #397 "Create a CI flow for Knative 0.3"

[2019-01-16 01:13] steuhs commented on #15
@adrcunha I discussed with @cjwagner, bad configs such as invalid container address and wrong secrets will result in pending state and there is no way to tell if there is any real issue (see https://github.com/kubernetes/test-infra/issues/9694) when it is in pending state. We can not alter that unless we change the design and coding of Kubernetes itself. To avoid long wait time we can shorten the

[2019-01-16 17:33] #371 closed

[2019-01-16 18:00] jessiezcc opened #400 "ReadMe for code coverage tool"
Now that we''ve imported the code coverage tool to test-infra repo, let's add some documentation for it:
- how it works
- how to push out an update
- how to troubleshoot
- etc.

[2019-01-16 21:50] steuhs commented on #15
@adrcunha
2. & 4. We don't necessarily need to rule out Stackdriver because the status change can be monitored through there. Indeed it seems to be a better alternative to monitor the status change there, comparing to using Crier. I am doing the investigation. One potential advantage of using Stackdriver would be the alerting system it provides
3. I mean Nghia is working on "Cloud Run GKE prober s

[2019-01-16 21:58] adrcunha commented on #15
3 doesn't apply.
For 4 looks like I wasn't clear. I indeed meant "do NOT rule out Stackdriver unless it's proven that it doesn't help". I advocated using SD as an easy monitoring solution from day 1.

[2019-01-17 18:10] srinivashegde86 commented on #377
looks like the results are picked up and updated in finished.json. We should be able to use these for custom headers in testgrid.

[code]

Do we want to log this when we create the cluster instead for all tests or keep it only for perf tests?

[2019-01-17 18:34] adrcunha commented on #377
+1 for making it generic.

[2019-01-17 22:17] #377 closed

[2019-01-18 16:21] scothis commented on #365
What nightly releases? I don't see any artifacts since November.

https://console.cloud.google.com/storage/browser/knative-releases/

[2019-01-18 16:38] adrcunha commented on #365
Nightly releases now live in https://console.cloud.google.com/storage/browser/knative-nightly/

[2019-01-18 18:42] srinivashegde86 opened #404 "Surface failing test messages in gubernator overview"
We sometimes fail to showcase the test failures in the gubernator overview and need to go over the entire build-log to check where are the failures. - https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1085688690312744960#githubcomknativeservingteste2e-testscaleto50.

This was fixed in #123. But, we shifted to using the new OSS parser from our bash version, and ma

[2019-01-18 18:42] srinivashegde86 commented on #404
/cc @adrcunha

[2019-01-18 19:03] adrcunha commented on #404
The parser didn't capture the error message. The message field in the XML is empty. I could swear it used to do that... It's not only for E2E tests: https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-continuous/1083906947670872064

[2019-01-18 19:14] adrcunha commented on #404
Reproduce with:

[code]

[2019-01-18 19:17] adrcunha commented on #404
The tool was updated recently to include the test output. I used the latest version and it worked as expected:

[code]

[2019-01-18 19:19] adrcunha commented on #404
It seems to be a simple case of `prow-tests` being outdated (which is weird, as it was last built earlier this month).

[2019-01-18 19:22] adrcunha commented on #404
According to the history, the test output PR was merged 2 days after `prow-tests` was last built.

[2019-01-19 00:18] adrcunha opened #406 "prow-tests doesn't need test-infra"
Or at, least, not a dirty (local) copy of it.

[2019-01-19 00:32] adrcunha commented on #406
It was added to the docker image by https://github.com/knative/test-infra/pull/213 so `dep-collector` can be built in the container.

[2019-01-19 03:52] adrcunha commented on #404
Gubernator is now showing the errors again in the summary:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/2884/pull-knative-serving-unit-tests/1086469709974474752/

[2019-01-19 03:52] #404 closed

[2019-01-20 07:37] #406 closed

[2019-01-23 20:35] srinivashegde86 opened #414 "Investigate using Failure Aggregator for knative"
k8s has a failure aggregator that provides trending view of all the failures. This will be great for admins and WG's to check failures and identify flakes.

k8s version - https://storage.googleapis.com/k8s-gubernator/triage/index.html

[2019-01-23 20:35] srinivashegde86 commented on #414
/cc @chaodaiG

[2019-01-23 21:16] chaodaiG commented on #414
this looks pretty good. In terms of implementation, not sure how much we could leverage from k8s, if not there is going to be a major investment on re-implementing `test-infra/kettle` for data collection, and `test-infra/triage` for UI. Also we need to have a discussion of whether we want to store data in bigquery or not

[2019-01-23 21:21] srinivashegde86 commented on #414
idk much about kettle. I initially thought it might be simple to bring up. If this needs a lot of work, we can probably hold on to this for later.

[2019-01-23 21:23] chaodaiG commented on #414
sounds good. I think bigquery is certainly worthy looking into when the needs come, and we could iterate on this then.

[2019-01-25 16:15] adrcunha opened #417 "Allow specifying mdl rule exclusions per repo"

[2019-01-25 17:14] adrcunha commented on #417
/cc @matzew

[2019-01-25 18:00] #417 closed

[2019-01-25 19:30] srinivashegde86 opened #422 "Performance tests do not show overview of failed tests"
Sample ivocation:
https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-performance/1088602638884278273/

[2019-01-25 19:39] adrcunha commented on #422
This is because it's not using `go_test_e2e`, which generates the summary. Coincidentally I found it out this morning and I'm including the fix in a PR I'm working on.

[2019-01-26 01:15] adrcunha opened #424 "Drop kubetest from E2E test infra"
At this point we know exactly what E2E tests need for infrastructure, and `kubetest` is just being a complicated wrapper around `gcloud containers create`. We should drop it and use plain cluster creation commands instead.

[2019-01-26 01:18] adrcunha commented on #424
Acquiring a project from boskos will need a small tool, but that should be simple:

https://github.com/kubernetes/test-infra/blob/master/kubetest/main.go#L764

[2019-01-28 21:59] adrcunha opened #428 "Show summary of build failures in gubernator"
Currently the build tests show the errors in the log, but nothing in the summary on gubernator. It's easy for devs to be without a clue as to what failed in the build tests. Now that we have support for generating junit XML files with test status, we can build a simple tool to properly summarize build failures so it's reported by gubernator.

[2019-01-29 20:40] chaodaiG commented on #374
This might be the reason:
https://github.com/google/go-github#rate-limiting
Anonymous client has a rate limit of 30 requests per minute.
@adrcunha

[2019-01-29 20:55] chaodaiG commented on #374
This can be fixed if we use an token from service account

[2019-01-29 20:59] adrcunha commented on #374
We can use the Knative bot. Are you willing to fix that, Chao? :D

[2019-01-29 21:10] chaodaiG commented on #374
yeah I can work on it, since I'm learning how to use github api

[2019-01-31 00:47] jessiezcc commented on #397
Good ramp up task for Nikhil

[2019-01-31 00:56] adrcunha commented on #397
Pretty simple, just clone https://github.com/knative/test-infra/pull/259

[2019-01-31 17:19] #170 closed

[2019-02-01 02:00] adrcunha opened #433 "Release script is not pushing manifests to GCS"
The `publish_yamls` step was not merged in #392. As a result, the release script publishes the images, but not the manifests.

[2019-02-01 20:25] jessiezcc opened #439 "Make productivity oncall schedule visible to community"
A set of googlers within productivity wg have formed an oncall rotation to support tools/infra.
We need to make the schedule visible to community so everyone can look up the schedule and contact the right oncall when there is a tools/infra issue.

[2019-02-01 20:38] dushyanthsc opened #441 "Analyze package dependency between knative/test-infra and knative/serving"
Ideally we should not have any dependency from knative/test-infra to knative-serving. We currently have this dependency which would bring serving to other repos, when they express dependency on test-infra. This issue is created to analyze where these dependencies exist and if possible move them to pkg if needed.

[2019-02-01 21:06] srinivashegde86 commented on #441
/cc @adrcunha
/cc @jessiezcc
/cc @srinivashegde86

[2019-02-01 21:09] srinivashegde86 opened #442 "coverage job is not reporting metrics to testgrid"
https://testgrid.knative.dev/knative-serving#coverage shows blank rows for the last 3 days.

[2019-02-01 21:09] srinivashegde86 commented on #442
/assign @steuhs

[2019-02-01 21:09] srinivashegde86 commented on #442
/cc @adrcunha
/cc @jessiezcc

[2019-02-01 21:46] adrcunha commented on #442
cough... how I miss monitoring... cough... :)

[2019-02-01 21:49] adrcunha commented on #441
This is concerning. `test-infra` is intended to be repo-agnostic and this might lead to weird dependency issues. We should prioritize this.

[2019-02-01 21:56] dushyanthsc commented on #441
I will take this up will take a look next week.

[2019-02-01 21:57] dushyanthsc commented on #441
/assign @dushyanthsc

[2019-02-02 00:39] steuhs commented on #442
From https://storage.cloud.google.com/knative-prow/logs/ci-knative-serving-go-coverage/1091139354480349184/build-log.txt:

--- FAIL: TestNewRouteCallsSyncHandler (3.50s)
	logger.go:130: 2019-02-01T01:02:56.763Z	DEBUG	TestNewRouteCallsSyncHandler.route-controller	reconciler/reconciler.go:109	Creating event broadcaster	{"knative.dev/controller": "route-controller"}
	logger.go:130: 2019-02-01T01:02:5

[2019-02-02 00:42] steuhs commented on #442
Coverage job relies on the unit tests to pass. This test should be flaky, otherwise it should not get into the master branch in the first place. The change I can make is to ignore failed tests and let the process go through without data from failed tests

[2019-02-02 00:42] srinivashegde86 commented on #442
that is passing in the continous runs though. What is the difference here?

[2019-02-02 00:44] steuhs commented on #442
@srinivashegde86 do you have the script for continuous run? Does it call "go test" on the entire repo?

[2019-02-02 00:50] srinivashegde86 commented on #442
yes. it ultimately uses `go test` to run the tests through some utility functions.

https://github.com/knative/test-infra/blob/master/scripts/e2e-tests.sh#L74

https://github.com/knative/test-infra/blob/master/scripts/library.sh#L247

[2019-02-02 02:13] steuhs commented on #442
@srinivashegde86 I assume the e2e test script only runs the e2e tests, not the unit tests. Is that right?

[2019-02-02 16:57] adrcunha commented on #101
All repos are now using the default runners.

[2019-02-02 16:57] #101 closed

[2019-02-02 17:01] adrcunha commented on #178
#239 adds support for an arbitrary GKE cluster. Using kind is a bonus.

[2019-02-02 17:01] #178 closed

[2019-02-02 20:03] adrcunha commented on #422
Fixed by https://github.com/knative/serving/pull/3017

[2019-02-02 20:03] #422 closed

[2019-02-04 20:19] #439 closed

[2019-02-04 22:32] steuhs commented on #442
@srinivashegde86 I do see it (pkg/reconciler/v1alpha1/route.TestNewRouteCallsSyncHandler) fails sometimes recently https://testgrid.knative.dev/knative-serving#continuous

[2019-02-05 18:01] jessiezcc opened #444 "Move conformance tests to its own repo"
conformance validation should not be tied into serving repo. It'd make sense to be separated to its own repo for better portability.

[2019-02-05 19:14] dgerd opened #445 "Markdown linter fails on working file links"
I have a change that touches existing Markdown files in the repository. The change is https://github.com/knative/serving/pull/3029. I do not adjust any of the links in the files, but have build test failures for "dead links found!". See [output](https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/3029/pull-knative-serving-build-tests/1090326122178023424/).

Going to a fa

[2019-02-06 18:26] dushyanthsc opened #448 "webhook based API Coverage tool refactoring"
In first iteration of webhook-based API coverage tool, the thinking is to provide each repo with the ability to configure the tool as they see fit for their use-case. This approach has resulted in moving some pieces of code into knative serving repo which might be generic across other repos, thus utilising the potential to re-factor some of the code.

This issue is created to re-evaluate this appr

[2019-02-06 18:26] dushyanthsc commented on #448
/assign @dushyanthsc

[2019-02-06 20:23] #445 closed

[2019-02-07 22:25] #433 closed

[2019-02-07 22:46] dushyanthsc commented on #441
The dependency was introduced in the API Coverage tool:
https://github.com/knative/test-infra/blob/master/tools/apicoverage/apicoverage.go#L31

Spoke to Srinivas about this and the plan is that since the above tool would retired soon, we would just wait for webhook coverage tool work to complete and just delete this package from test-infra.

The only other dependency is: https://github.com/knative

[2019-02-08 01:46] greghaynes opened #451 "MD linting failing for serving due to pre-existing dead links"
We only run markdown linting when markdown files are editing. We also added dead link checking without verifying it would pass on the existing markdown files (which it does not). As a result pr's (such as https://github.com/knative/pkg/pull/143 and https://github.com/knative/serving/issues/2885) fail when they edit markdown files with pre-existing dead links.

[2019-02-08 02:55] adrcunha commented on #451
The proposed solution is unnecessarily complex. It's way simpler to fix dead links (they add no value to the documentation if they're dead) than to keep track of dead links and not check them.

[2019-02-08 02:55] #451 closed

[2019-02-08 02:57] greghaynes commented on #451
Sorry but I think theres a misunderstanding - my proposal is to remove this check for now as we cannot currently make edits to any markdowns. Then we fix all the dead links and update the link check test to run on *all* changes (the cost should be minimal and will avoid this situation).

[2019-02-08 03:37] adrcunha opened #453 "Replace markdown-link-check"
The tool has limitations that make it not ideal for Knative.

https://github.com/raviqqe/liche seems to be a better option:
* understands local files
* understands links with _
* has been updated more frequently
* it's written in Go

[2019-02-08 04:01] adrcunha commented on #451
I don't understand why you can't make edits to any markdowns. I just did that in https://github.com/knative/pkg/pull/143. Anyway, to disable the link checker clone https://github.com/knative/docs/pull/773

Filed https://github.com/knative/test-infra/issues/453 to get a better link checker in place.

[2019-02-08 15:43] jessiezcc commented on #368
reopen since the issue is not fully addressed without prow job

[2019-02-08 17:45] #453 closed

[2019-02-08 18:20] jessiezcc commented on #368
@nbarthwal, .4 release is only 1.5 week away.

[2019-02-08 18:24] nbarthwal commented on #368
Yes, working on it!

[2019-02-11 15:37] mattmoor opened #459 "More prow jobs doing less stuff"
We've been cramming stuff (like markdown checks) into existing CI legs, which:
1. Makes it less clear from the failing job what exactly failed
2. Makes each leg longer (at a minimum this is relevant to flake reruns)

My recollection is that the k8s.io/test-infra folks have separated out things like `verify-bazel` and whatnot into separate legs, so it's clear even without making the jump to guberna

[2019-02-11 19:53] adrcunha commented on #459
At a minimum, this depends on #382, or our already-hard-to-read Prow config will become as terrible as k8s' Prow config.

It also requires refactoring how we run presubmit tests (and thus the CI tests), which seems to offer a good opportunity to:

1. migrate the (already complex) bash scripts to Go (preferred) or some other language
1. drop kubetest (#424)
1. show better errors in build tests (#42

[2019-02-11 19:53] adrcunha commented on #459
/cc @jessiezcc FYI

[2019-02-12 18:44] chaodaiG opened #471 "Protect release script changes in presubmit tests"
Changes in release script could cause CI jobs failure, we should have a mechanism preventing this from happening in presubmit test

[2019-02-12 18:46] chaodaiG commented on #471
An example, on Jan 11th, a [PR](https://github.com/knative/build/pull/529) renamed `release.yaml` to `build.yaml`, which caused continuous and presubmit tests failing in eventing and build-template repo

[2019-02-12 19:26] chaodaiG opened #472 "A centralized place defining release yaml naming conventions"
Each repo defines the release yaml names under `hacks/release.sh`, the names are mirrored in test-infra repo under `scripts/library.sh`, this could cause error if any updates not happening on both sides at the same time.

[2019-02-12 19:30] adrcunha commented on #471
That's not a good example. This was a valid change and the errors in eventing should be alerted by monitoring.

[2019-02-12 19:33] chaodaiG commented on #471
agree that this case is very hard to prevent, which is why I didn't put it in the issue body. The purpose of creating this issue is to help test release scripts

[2019-02-12 19:38] adrcunha commented on #471
I would rather spend time rewriting the release scripts in something that's not bash than writing tests for it. They don't necessarily have to be written in bash, but they were because when they were first created, it was easy. Plus, a few complications:
* the vendoring approach makes it harder (and slow) to propagate changes.
* lack of monitoring causes errors to be skipped.

[2019-02-12 19:41] nbarthwal commented on #471
I completely agree with @adrcunha , I have been very vocal about this from the beginning that release script in bash is a terrible idea and we are accumulating technical debt on it day by day. We need to re-write it in Python/Go/Something else, rather that doing patch work on fixing this mess.

[2019-02-12 19:46] #471 closed

[2019-02-12 19:50] jessiezcc commented on #471
should we repurpose this issue to rewrite release script in non bash then?

[2019-02-12 19:51] nbarthwal commented on #471
I would say yes @jessiezcc

[2019-02-12 19:53] adrcunha commented on #471
1. There's no reason to repurpose an issue, just file a new one and preserve history.
1. Rewriting the release script in some other language is either not a priority and a very narrow scope for something that's more complex (see next item).
1. We should properly plan tackling #459.

[2019-02-12 20:03] jessiezcc commented on #442
@steuhs, any progress udpate on the fix?

[2019-02-12 20:10] jessiezcc commented on #471
sounds perfectly good.

[2019-02-12 20:14] adrcunha commented on #387
All repos are updated.

[2019-02-12 20:14] #387 closed

[2019-02-12 23:01] adrcunha commented on #472
Note that these are different things: `release.sh` generate the manifest files, but the location is predetermined. `library.sh` has convenience URLs pointing to the most used manifests. When Knative was released as a single bundle, it made sense having differente names (build.yaml, serving.yaml, etc). But with the (recent, still ongoing) decoupling, the tendency seems to be using release.yaml for

[2019-02-12 23:34] adrcunha commented on #368
For monitoring, we need a new tab in Testgrid.

[2019-02-13 01:27] dprotaso opened #475 "Various links in gubernator don't work"
See here:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/3179/pull-knative-serving-integration-tests/1095435847307628544/#teste2e-testbuildpipelineandservetaskrun

clicking on 'log files' doesn't work

[2019-02-13 18:37] jessiezcc commented on #214
Scraping the release notes field in PRs would be a great default for the release notes :D (going to add this field to build-pipeline as well in #72) - from @bobcatfish

[2019-02-13 19:16] jessiezcc commented on #220
@steuhs , can this issue be closed now?

[2019-02-13 19:24] jessiezcc commented on #89
@dushyanthsc, can this issue be closed now?

[2019-02-13 19:31] jessiezcc opened #478 "Set up Knative devstats project health dashboard"
but runs it on top of Knative itself.

[2019-02-13 19:32] jessiezcc opened #479 "Add social signals to Knative project health dashboard"
This will cover signals from github, twittter, stackoverflow, and etc.

[2019-02-13 20:06] dushyanthsc commented on #89
After talking to Adriano, we have decided to enable atleast Zipkin for E2E tests. I will work on this to enable Zipkin tracing. ETA at the moment is 02/22/2019

[2019-02-13 21:59] #220 closed

[2019-02-14 00:38] steuhs commented on #433
What does this issue look like? Does it fail the prow job?

[2019-02-14 01:03] srinivashegde86 commented on #433
Nope. This is one of the things, the release script does. This was a functionality missing issue. Not related to the prow job.

[2019-02-14 01:08] srinivashegde86 commented on #433
This is one of the functionalities of the release script and it did not fail the prow job.

[2019-02-14 21:53] #382 closed

[2019-02-14 21:59] adrcunha opened #483 "Also generate testgrid config with make_config.go"
With the Prow config being generated automatically (https://github.com/knative/test-infra/issues/382), we should extend this to also generate the Testgrid config file, thus keeping both configs in sync.

[2019-02-14 22:03] adrcunha commented on #475
It doesn't work for Kubernetes as well. For example:

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-multizone/36669/

![image](https://user-images.githubusercontent.com/35786489/52820593-38896480-3061-11e9-97db-99b0ce131383.png)

The link to the log leads to

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-multizone/36669/nodelo

[2019-02-14 22:11] adrcunha commented on #475
I think that due to https://github.com/kubernetes/test-infra/issues/10375 this bug won't be fixed.

[2019-02-15 03:51] tcnghia opened #484 "Run upload-test-images.sh, generate-yaml.sh, and cluster creation in parallel"
These are independent steps of e2e testing that all take quite sometime to complete.  We should run them in parallel to reduce the test prep time.

/kind good-first-issue

[2019-02-15 21:35] chaodaiG opened #486 "Update go version to 1.12rc1"
A new feature in serving websockets need to use go1.12rc1 version,
link: https://github.com/knative/serving/pull/3240
Instead of manually installing this version in serving repo, updating it in prow-tests image, so that all jobs use consistent go version.
This proposal was communicated among team leads and green lighted. Also, our local workstations are already using this version, so the risk of i

[2019-02-16 01:31] jessiezcc opened #488 "Clean up TestPerformanceLatency category on testgrid perf tab"
We renamed TestPerformanceLatency to TestTimeToServeLatency, but it still shows up on testgrid.
It needs to be cleaned up so that it doesn't cause any user confusion.

[2019-02-16 19:51] adrcunha commented on #20
Obsoleted by https://github.com/knative/serving/issues/3247

[2019-02-16 19:51] #20 closed

[2019-02-19 18:30] adrcunha opened #491 "Document auto releases in serving, build and eventing"
Including automatic dot releases and pointers to Testgrid and job status.

Part of #368.

[2019-02-19 19:21] #442 closed

[2019-02-20 02:04] steuhs commented on #433
How was the problem noticed? What was the symptom?

[2019-02-20 02:18] adrcunha commented on #433
Broken tests due to missing file in GCS.

[2019-02-20 18:05] adrcunha opened #496 "Auto release should send notifications when they publish"
The job pass even when no release is actually created (which is expected). However, for better awareness, an e-mail notification should be sent to interested parties as well (otherwise the only way is (re)loading Testgrid, the Prow status page or the GitHub release page to notice any changes).

[2019-02-20 19:35] evankanderson opened #498 "Releases should fail if the try to publish 0-length files"
The last week of `knative-eventing` releases had two yaml files (`gcp-pubsub.yaml` and `natss.yaml`) which were zero-length (due to yaml formatting errors detected by `ko`) -- See https://github.com/knative/eventing/pull/824 for the fix.

While we should fix the `build_release` function to check `ko`'s exit status, it would probably be a good idea for the release script to also fail rather than pu

[2019-02-20 19:57] adrcunha opened #500 "Create a CI flow for Knative 0.4"

[2019-02-20 21:53] #397 closed

[2019-02-20 21:53] #500 closed

[2019-02-21 05:11] srinivashegde86 commented on #488
Cleaned up the few days where we were using the wrong names. Should be reflected in testgrid soon. Will wait to confirm and close

[2019-02-21 19:37] srinivashegde86 commented on #488
I cleaned up the artifacts - https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-performance/1095125622620950530

but testgrid still shows TestPerformanceLatency on the tabs. Maybe its using its cached results and not updating it?

[2019-02-21 23:41] jessiezcc commented on #486
depending on 1.12 to be official, let's hold

[2019-02-21 23:43] jessiezcc commented on #475
switch to spyglass would solve this. Not worth the engineering effort to fix it given that spyglass is around the corner.

[2019-02-21 23:43] #475 closed

[2019-02-21 23:45] jessiezcc commented on #472
let's solve it when we rewrite shellscript later.

[2019-02-21 23:48] jessiezcc commented on #444
Need a tech discussion for go/nogo with wg leads

[2019-02-21 23:49] jessiezcc commented on #441
what's the latest on this issue, @dushyanthsc?

[2019-02-21 23:51] dushyanthsc commented on #441
I removed the second dependency in this PR: https://github.com/knative/test-infra/pull/463

For the first one, it will be removed as part of retiring the old API Coverage tool which is waiting on the prow job for the new tool.

ETA end of next week.

[2019-02-24 21:46] ImJasonH opened #513 "`ko resolve` failure should abort the release"
knative/build's `release.sh` includes [this](https://github.com/knative/build/blob/release-0.4/hack/release.sh#L33):

[code]

When `ko resolve` fails (like due to a [typo](https://github.com/knative/build/pull/567) for instance), the `build_release` function continues and the [`main` call to `build_release`](https://github.com/knative/build/blob/release-0.4/vendor/github.com/knative/test-infra/scr

[2019-02-25 17:07] adrcunha commented on #513
A blanker protection should be calling  `build_release` between `set -e` and `set +e`. This kind of bug is easy to be reintroduced whenever something changes in the release build.

[2019-02-25 17:09] adrcunha commented on #513
Interesting, a failure in `ko resolve` should actually fail the release:

https://github.com/knative/test-infra/blob/master/scripts/release.sh#L386

[2019-02-25 17:31] ImJasonH commented on #513
Yeah I was surprised by that too, but @nbarthwal seemed to think this was the correct behavior as written.

[2019-02-25 17:32] nbarthwal commented on #513
I tested a dummy script and it showed the same behaviour.

On 02/25/2019 09:31 AM, Jason Hall wrote:

[2019-02-25 17:57] adrcunha commented on #513
Forcing an error in the `ko` command correctly fails the build:

[code]

Now let me try the exact error that was silently ignored...

[2019-02-25 18:18] adrcunha commented on #513
Ok, to keep this short, the error was swallowed due to the `||` operator when checking if the function failed. Ah, bash weirdness...

[2019-02-25 18:21] nbarthwal commented on #513
This line, I think:

build_release ||abort "error building the release"

Will fix it!

On 02/25/2019 10:18 AM, Adriano Cunha wrote:

[2019-02-25 18:24] adrcunha commented on #513
That's the original line. The fix is not using the shortcut operator.

[2019-02-25 18:28] nbarthwal commented on #513
On a seperate note, I think we should make writing bash script (or
whatever alternate solution) a priority. This is accumulating
unneccessary technical debt!

On 02/25/2019 10:18 AM, Adriano Cunha wrote:

[2019-02-25 18:45] srinivashegde86 opened #515 "Add some documentation about the new logger"
We are using a new logger now in all our tests - https://github.com/knative/pkg/blob/master/test/spoof/spoof.go#L81

All the current tests and all(most?) of the base functions have been updated to take this logger. We need to either:

1. delete the old logger and move this to https://github.com/knative/pkg/blob/master/test/logging/logging.go package. Also, cleanup references to old logger
2. Clari

[2019-02-25 18:46] srinivashegde86 commented on #515
/cc @adrcunha
/cc @jessiezcc
/cc @dushyanthsc
/cc @mattmoor

[2019-02-25 19:40] srinivashegde86 opened #516 "Export all knative metrics from prometheus after perf tests are done"
Currently, for perf tests we bring up a prometheus instance when we run the tests. But, this instance dies when the cluster is deleted. We need a way to persist the metrics for the tests longer term so that we can evaluate it over time.

[2019-02-25 19:43] srinivashegde86 opened #517 "Expose all autoscaler metrics long term from perf tests"
Currently, for perf tests we bring up a prometheus instance when we run the tests. But, this instance dies when the cluster is deleted. We need a way to persist the **autoscaler** metrics for the tests longer term so that we can evaluate it over time.

[2019-02-25 19:44] srinivashegde86 opened #518 "Expose all request metrics long term from perf tests"
Currently, for perf tests we bring up a prometheus instance when we run the tests. But, this instance dies when the cluster is deleted. We need a way to persist the **request** metrics for the tests longer term so that we can evaluate it over time.

[2019-02-25 19:46] srinivashegde86 opened #519 "Expose all reconciler metrics long term from perf tests"
Currently, for perf tests we bring up a prometheus instance when we run the tests. But, this instance dies when the cluster is deleted. We need a way to persist the **reconciler** metrics for the tests longer term so that we can evaluate it over time.

[2019-02-25 19:46] srinivashegde86 opened #520 "Expose CPU amd memory metrics long term from perf tests"
Currently, for perf tests we bring up a prometheus instance when we run the tests. But, this instance dies when the cluster is deleted. We need a way to persist the **cpu and memory** metrics for the tests longer term so that we can evaluate it over time.

[2019-02-25 19:48] srinivashegde86 opened #521 "Measure number of kubeapi calls made in perf tests per test"
We need some way of measuring the number of kubeapi calls we make in our perf tests

[2019-02-25 19:50] srinivashegde86 opened #522 "Measure latency of kubeapi calls made in perf tests"
We make a certain number of kubeapi calls in our perf tests. We need to measure the amount of time each kubeapi call takes

[2019-02-25 21:24] srinivashegde86 commented on #488
this is now fixed

[2019-02-25 21:24] #488 closed

[2019-02-25 21:47] adrcunha commented on #459
[WIP] Assorted comments about the new test-infra:
* it should allow running old tests (e.g., running tests from the 0.5 branch, even though HEAD is now 0.6)
* prefer providing test services  as opposed to providing shared code

[2019-02-26 03:04] adrcunha commented on #486
1.12 is now official: https://golang.org/dl/

[2019-02-26 03:37] ericKlawitter commented on #252
This is done via [test-infra commit](https://github.com/knative/test-infra/commit/cfcb8c3d5b2eb146c40e5d8a828520f240b35747) and [build commit](https://github.com/knative/build/commit/dc8cdea4502ef2f01770902db5f1b3e5df039a31).

[2019-02-26 18:10] #513 closed

[2019-02-26 18:12] jessiezcc commented on #265
Triaged, not a high priority, will re-evaluate in Q2

[2019-02-26 18:15] jessiezcc commented on #207
Not a priority.

[2019-02-26 18:15] #207 closed

[2019-02-26 18:17] jessiezcc commented on #197
Close because it's outside the scope of Knative.

[2019-02-26 18:17] #197 closed

[2019-02-26 18:18] jessiezcc commented on #174
We had discussion, no engineering work to be done here.

[2019-02-26 18:18] #174 closed

[2019-02-26 18:19] jessiezcc commented on #155
Closing, it's more about documentation, not much engineering tooling

[2019-02-26 18:19] #155 closed

[2019-02-26 18:21] jessiezcc commented on #154
Not a priority, more activities are happening across wgs recently such as techtalk series, and slac k is one tool that folks can leverage.

[2019-02-26 18:21] #154 closed

[2019-02-26 18:22] jessiezcc commented on #150
There are incremental documentation activities happened as we update/add new features.

[2019-02-26 18:22] #150 closed

[2019-02-26 18:23] jessiezcc commented on #148
Closing as no recent asks and not a priority.

[2019-02-26 18:25] jessiezcc commented on #146
Jessie to file an ask against Prow, and then close this issue.

[2019-02-26 18:26] jessiezcc commented on #145
not a priority, big risks for breaking.

[2019-02-26 18:26] #145 closed

[2019-02-26 18:27] #136 closed

[2019-02-26 18:28] jessiezcc commented on #97
Closing per staleness

[2019-02-26 18:28] #97 closed

[2019-02-26 18:30] jessiezcc commented on #75
closing due to low priority.

[2019-02-26 18:30] #75 closed

[2019-02-26 19:47] adrcunha opened #527 "e2e/presubmit tests logs should be easily available locally"
Currently the test log is just dumped to stdout. Having it (and a summary) available for easy review would improve the local dev experience.

[2019-02-26 20:07] srinivashegde86 commented on #527
/cc @yanweiguo

[2019-02-27 02:35] srinivashegde86 opened #530 "Remove BaseLogger from logging pkg for e2e tests"
Now that we have a FormatLogger and all e2e and base methods have been updated, we can maybe remove the BaseLogger and all its associated methods - https://github.com/knative/pkg/blob/master/test/logging/logging.go#L61

We should move the FormatLogger to logging from spoof and update all the locations where it was used.

[2019-02-27 02:37] srinivashegde86 commented on #530
/cc @adrcunha
/cc @jessiezcc
/cc @mattmoor

I think we should have one way to lof things and if we want everyone to use the FormatLogger, we should probably delete the BaseLogger completely. Maybe we need some of it for latency calculation.

[2019-02-27 05:21] #486 closed

[2019-02-27 18:21] adrcunha opened #532 "Automatically manage issue lifecycle"
Let's use something like fejta-bot (it automatically add warnings on stale issues, and closes them if they're inactive for 90 days, among other stuff). A quick search in the GitHub repo didn't show me a straightforward way to set it up, so this might need a bit of digging.

Prow job config for fejta-bot:
https://github.com/kubernetes/test-infra/blob/4da53f46e256ccb3c2b06406cf8df9923907de02/config/

[2019-02-27 18:33] #252 closed

[2019-02-27 18:33] #527 closed

[2019-02-27 23:52] srinivashegde86 commented on #515
Added some info - https://github.com/knative/pkg/tree/master/test#output-logs

[2019-02-27 23:52] #515 closed

[2019-02-28 19:14] chaodaiG opened #537 "Integration tests are failing due to GKE version 1.12.5"
It's failing at least in test-infra and build-pipeline right now:
examples:
https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_test-infra/506/pull-knative-test-infra-integration-tests/1101192779393929217/
https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_build-pipeline/564/pull-knative-build-pipeline-integration-tests/1101196554120728578/

[2019-02-28 21:55] srinivashegde86 commented on #516
We should be able to get all the metrics that we see on the current knative grafana dashboard

[2019-02-28 22:12] steuhs commented on #537
1.12.5 is now supported on "region=us-west1" and the first issue is resolved.

The 2nd link brings up 404 @chaodaiG

[2019-02-28 22:18] dushyanthsc opened #538 "All *.knative.dev sites are not reachable."
https://prow.knative.dev/ is not reachable at this time. We are seeing a "Error: Server Error" on the landing page.

[2019-02-28 22:19] srinivashegde86 commented on #538
all *.knative.dev sites are down including gubernator and testgrid

[2019-02-28 22:20] dushyanthsc commented on #538
Updated the issue.

[2019-02-28 22:29] srinivashegde86 commented on #538
Open registration has now begun for .dev domains. Maybe related?

[2019-02-28 23:10] #374 closed

[2019-02-28 23:20] adrcunha commented on #538
Root cause was accidental project deletion. It's now undeleted, things are back to normal.

Reassigning to @steuhs for a proper post-mortem on this.

/assign @steuhs

[2019-03-01 00:39] #530 closed

[2019-03-01 18:47] srinivashegde86 opened #539 "Add zipkin tracing to performance test infra"
We have enabled monitoring for our perf tests. We can already query prometheus, but we also need to get the zipkin tracing info for our requests.

[2019-03-01 19:05] srinivashegde86 opened #540 "Create a common way to set up monitoring components"
we have added support for [zipkin tracing](https://github.com/knative/pkg/blob/master/test/zipkin/util.go) and for [prometheus](https://github.com/knative/test-infra/blob/master/shared/prometheus/prometheus.go).

Both these components share common things:
* Check if the port exists
* If exists, check if the component pods exist
* If pods exist, are they running as expected
* IF running, port-forwa

[2019-03-04 23:43] #537 closed

[2019-03-05 02:41] adrcunha opened #546 "Properly check licenses when using go modules"
Looks like the license checker doesn't work fine with go modules. It should.

See https://github.com/knative/client/pull/34

[2019-03-05 20:33] adrcunha commented on #324
/assign yt3liu

[2019-03-05 20:35] adrcunha opened #547 "api-coverage tab is empty"
https://testgrid.knative.dev/knative-serving#api-coverage

![image](https://user-images.githubusercontent.com/35786489/53835759-1b023900-3f43-11e9-8ab0-1472e299a67b.png)

[2019-03-05 20:35] adrcunha commented on #547
@srinivashegde86 @jessiezcc is it even worth keeping this tab?

[2019-03-05 21:26] jessiezcc commented on #547
@dushyanthsc is going to put new conformance measurement to this tab I believe.

[2019-03-05 21:31] dushyanthsc commented on #547
Yes, I will take out this job and put in a new one next week. Assigning it to myself for the moment.

[2019-03-05 21:32] dushyanthsc commented on #547
/assign @dushyanthsc

[2019-03-06 00:32] sixolet commented on #546
Running `go mod vendor` doesn't vendor in the relevant binaries that this wants to run, only the go code.

[2019-03-06 00:50] srinivashegde86 commented on #539
/assign @yt3liu

[2019-03-06 00:54] srinivashegde86 commented on #539
way to get zipkin tracing - https://github.com/knative/pkg/blob/master/test/zipkin/doc.go#L34

we can probably add the setup and cleanup steps to the main base perf setup and cleanup [methods](https://github.com/knative/serving/blob/master/test/performance/performance.go).

The tests that then use spoof to make requests(or functions that call spoof to make requests) i.e. all non forito calls will

[2019-03-06 00:54] srinivashegde86 commented on #539
we also need to update the [README](https://github.com/knative/serving/blob/master/test/performance/README.md)

[2019-03-06 05:31] gyliu513 commented on #318
FYI @seth-priya @bpradipt

[2019-03-06 18:01] yt3liu commented on #324
Tested the Prow plugin that it add the tag 'do-not-merge/invalid-owners-file' when OWNERS file is invalid. And does not add the tag when the OWNERS file is valid.

Test PR: https://github.com/knative/test-infra/pull/548

[2019-03-06 18:14] adrcunha commented on #324
Thanks Joyce!

\close

[2019-03-06 18:14] #324 closed

[2019-03-06 19:03] srinivashegde86 opened #550 "Knative setup is flaky for perf tests"
There have been multiple instances in the past(and yesterday), where the knative setup to build the test cluster fails due to some reason or the other.

For eg,
` The Service "istio-ingressgateway" is invalid: spec.ports[2].nodePort: Invalid value: 31400: provided port is already allocated`

build log:
https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-performance/1103098011203932

[2019-03-06 19:03] srinivashegde86 commented on #550
we can maybe add retries for setup failures?

/cc @adrcunha

[2019-03-06 19:03] srinivashegde86 commented on #550
/cc @jessiezcc

[2019-03-06 19:09] adrcunha commented on #550
I don't like the retry approach because it's slow, complex and hides the root cause. I would prefer a (tracked) workaround. I've seen this before, so it's not exclusive to the perf jobs.

[2019-03-06 19:15] srinivashegde86 commented on #550
logged https://github.com/knative/serving/issues/3374 to check on istio behavior

[2019-03-06 19:21] adrcunha commented on #374
#529 does fix the issue:

[code]

Thanks Adam for that.

[2019-03-06 19:25] adrcunha commented on #550
I understand. Let's leave that as a last resort, since manual checking is even worse. 3374 sounds promising.

[2019-03-07 01:58] srinivashegde86 opened #555 "Create benchmarks for perf test cases"

[2019-03-07 01:58] srinivashegde86 opened #556 "Create dashboard for showing perf benchmarks"

[2019-03-07 01:59] srinivashegde86 opened #557 "Investigate storing prometheus metrics generated during the test long term"

[2019-03-11 18:30] #331 closed

[2019-03-11 18:51] adrcunha commented on #537
Second link is not 404s anymore, and the failure was also because 1.12.5 wasn't yet available.

[2019-03-14 00:28] chaodaiG opened #571 "Integration tests are failing due to not enough resource in us-west1-c"
Examples:
- In repo "serving":
https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/3353/pull-knative-serving-integration-tests/1105982603938238464/
- In repo "test-infra"
https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_test-infra/567/pull-knative-test-infra-integration-tests/1105985624378183682/

Example error message:
Current errors: [ZONE_RESOURC

[2019-03-14 00:47] adrcunha commented on #571
Move the jobs to a new region/zone. This is a simple update to the config (through the generator).

[2019-03-14 16:59] adrcunha commented on #498
This is kind of a blocker for 365 and it's a trivial fix, I'm hijacking this issue.

/assign @adrcunha

[2019-03-14 17:42] #498 closed

[2019-03-14 20:43] adrcunha opened #576 "Prefer markdown linter Knative bots over presubmit checks"
Creating a markdown checker is outside of the scope of Productivity WG, so naturally we resort to third-party apps for that. No tool is perfect, and enhancing/fixing a third-party checker has low priority for the WG.

Users have been very happy with mattmoor-sockpuppet fixing markdown files and automatically submitting PRs for that.

Let's make that official, add proper support for the bots (see #

[2019-03-14 22:21] dushyanthsc opened #577 "Webhook API Coverage: Use Go's HTML Template engine to produce output"
The current implementation of Webhook API Coverage tool uses string formatting to produce HTML page. This is error prone and not clean. The issue created to replace this approach with Go's HTML template engine: https://golang.org/pkg/html/template/

[2019-03-14 22:21] dushyanthsc commented on #577
cc: @yt3liu

[2019-03-14 22:22] dushyanthsc commented on #577
/assign @dushyanthsc

[2019-03-17 18:04] adrcunha opened #579 "Tweak OWNERS"
OWNERS files should be updated, and appropriate reviewers and approvers should be set. Here and in every repo. Non-active members should NOT be added as reviewers, as it might block PRs if Prow chooses them.

[2019-03-18 20:26] srinivashegde86 commented on #539
After some discussions with the WG, this needs to be per-test and not for all the tests. Lets add it in the setup as an optional thing

[2019-03-19 18:46] srinivashegde86 opened #588 "Use defaults for coverage job flags"
Currently, there are three flags that we pass to the code coverage job
[code]

Of these, only `cov-threshold-percent` changes to 0 from 80 for post vs pre submit jobs. We should use reasonable defaults in the coverage job and not provide them in all the job configs.

[2019-03-19 18:47] srinivashegde86 commented on #588
/cc @steuhs

[2019-03-19 19:55] adrcunha opened #589 "Tweak Testgrid alerts"
The following flows run every 2h, so staleness alerts must be set to 3h:
- */continuous
- */auto-release

The following flows run daily, so staleness alerts must be set to 25h:
- */release
- */coverage (all sorts)

The following flows run weekly, so staleness alerts must be set to 169h (7 days + 1h):
- */playground
- */dot-release

The following flows should alert on **each and every** failure:
-

[2019-03-19 23:20] srinivashegde86 opened #590 "Create a common way to upload test images"
Currently, the repos are having upload-test-images.sh script under the test/ dir. We are modifying [serving](https://github.com/knative/serving/commits/master/test/upload-test-images.sh) and keeping it in shape. We should probably move this over to test-infra and import in all the repos as all the repos are doign this and pretty much in the same way

[2019-03-19 23:20] srinivashegde86 commented on #590
/cc @nbarthwal

[2019-03-20 12:01] knative-flaky-test-reporter-robot opened #591 "[flaky] 'test/e2e.TestAutoscaleUpCountPods' in repo 'serving'"
\<Auto-generated issue tracking flakiness of test\>
Test name: 'test/e2e.TestAutoscaleUpCountPods' in repo 'serving'

-------------Text below this line is for issues mapping, Please don't edit-------------
[DONT_MODIFY_TEST_IDENTIFIER]'test/e2e.TestAutoscaleUpCountPods' in repo 'serving'[DONT_MODIFY_TEST_IDENTIFIER]

[2019-03-20 18:39] ericKlawitter opened #592 "Add Better Handling of Stockouts"
We should come up with a better way of handling stockouts. In the past, we switched to Zonal GKE Clusters to address this issue, but this is not a tenable solution as zonal clusters aren't highly available.

Let's come up with a better way of dealing with these issues.

[2019-03-20 18:56] srinivashegde86 opened #594 "Need a way to test different istio versions in our integration tests"
currently, we use the istio yamls defined in the config and only test on the version defined in that yaml.

We should be able to test atleast N, N+1, N-1 istio versions with the current serving master in our integration tests atleast as periodic runs.

[2019-03-20 18:56] srinivashegde86 commented on #594
/cc @nbarthwal
/cc @tcnghia

[2019-03-20 18:58] srinivashegde86 commented on #594
If we can define the istio yamls somewhere for each of the versions, we can probably create periodic jobs that install serving and then the corresponding istio version and then run the tests.

[2019-03-20 18:59] srinivashegde86 commented on #594
Additionally, we need a way to test with and without sidecar injection

[2019-03-20 19:00] srinivashegde86 opened #595 "Need to capture and store istio-telemetry logs once the tests are run"
This came up in discussions for analyzing perf tests. But, maybe useful even for e2e tests.

[2019-03-20 19:01] adrcunha commented on #594
I had a brief email exchange with Nghia about that.

It's just another custom flag for selecting the Istio version (or Gloo). If the different Istios are just manifests, one might want to store them in GCS instead of in the repo.

[2019-03-20 19:02] srinivashegde86 opened #596 "Need a perf test to capture cpu metrics for a long running app"
We can probably have a long running app like the fibonacci calculation

[2019-03-20 19:02] srinivashegde86 opened #597 "Need a perf test to capture memory metrics for a long running app"

[2019-03-20 19:03] srinivashegde86 opened #598 "Update timetoserving perf test to handle more QPS and test the limit"

[2019-03-20 19:13] adrcunha commented on #592
For context, #593 is the rollback of #572 and #573.

[2019-03-20 19:16] adrcunha commented on #588
This is a quick & simple simplification.

/assign @steuhs

[2019-03-20 23:03] Fredy-Z commented on #540
This issue has been resolved.
/close

[2019-03-20 23:03] #540 closed

[2019-03-21 12:01] knative-flaky-test-reporter-robot opened #602 "[flaky] 'pkg/reconciler/v1alpha1/route.TestNewRouteCallsSyncHandler' in repo 'serving'"
\<Auto-generated issue tracking flakiness of test\>
Test name: 'pkg/reconciler/v1alpha1/route.TestNewRouteCallsSyncHandler' in repo 'serving'

-------------Text below this line is for issues mapping, Please don't edit-------------
[DONT_MODIFY_TEST_IDENTIFIER]'pkg/reconciler/v1alpha1/route.TestNewRouteCallsSyncHandler' in repo 'serving'[DONT_MODIFY_TEST_IDENTIFIER]

[2019-03-21 12:01] knative-flaky-test-reporter-robot opened #603 "[flaky] 'test/scale.TestScaleToN/scale-50' in repo 'serving'"
\<Auto-generated issue tracking flakiness of test\>
Test name: 'test/scale.TestScaleToN/scale-50' in repo 'serving'

-------------Text below this line is for issues mapping, Please don't edit-------------
[DONT_MODIFY_TEST_IDENTIFIER]'test/scale.TestScaleToN/scale-50' in repo 'serving'[DONT_MODIFY_TEST_IDENTIFIER]

[2019-03-21 12:01] knative-flaky-test-reporter-robot opened #604 "[flaky] 'test/scale.TestScaleToN' in repo 'serving'"
\<Auto-generated issue tracking flakiness of test\>
Test name: 'test/scale.TestScaleToN' in repo 'serving'

-------------Text below this line is for issues mapping, Please don't edit-------------
[DONT_MODIFY_TEST_IDENTIFIER]'test/scale.TestScaleToN' in repo 'serving'[DONT_MODIFY_TEST_IDENTIFIER]

[2019-03-21 12:01] knative-flaky-test-reporter-robot opened #605 "[flaky] 'test/e2e.TestActivatorOverload' in repo 'serving'"
\<Auto-generated issue tracking flakiness of test\>
Test name: 'test/e2e.TestActivatorOverload' in repo 'serving'

-------------Text below this line is for issues mapping, Please don't edit-------------
[DONT_MODIFY_TEST_IDENTIFIER]'test/e2e.TestActivatorOverload' in repo 'serving'[DONT_MODIFY_TEST_IDENTIFIER]

[2019-03-21 12:01] knative-flaky-test-reporter-robot opened #606 "[flaky] 'test/scale.TestScaleToN/scale-10' in repo 'serving'"
\<Auto-generated issue tracking flakiness of test\>
Test name: 'test/scale.TestScaleToN/scale-10' in repo 'serving'

-------------Text below this line is for issues mapping, Please don't edit-------------
[DONT_MODIFY_TEST_IDENTIFIER]'test/scale.TestScaleToN/scale-10' in repo 'serving'[DONT_MODIFY_TEST_IDENTIFIER]

[2019-03-21 18:53] Fredy-Z commented on #576
/assign @Fredy-Z

[2019-03-21 18:58] adrcunha commented on #592
Currently all jobs run in the same region. We could split them among different regions (it's way easier now with the config generator), but I'm not sure how effective that would be.

[2019-03-21 21:38] #483 closed

[2019-03-22 12:01] knative-flaky-test-reporter-robot opened #610 "[flaky] 'pkg/reconciler/v1alpha1/revision.TestGlobalResyncOnConfigMapUpdateDeployment/Update_Istio_Outbound_IP_Ranges' in repo 'serving'"
\<Auto-generated issue tracking flakiness of test\>
Test name: 'pkg/reconciler/v1alpha1/revision.TestGlobalResyncOnConfigMapUpdateDeployment/Update_Istio_Outbound_IP_Ranges' in repo 'serving'

-------------Text below this line is for issues mapping, Please don't edit-------------
[DONT_MODIFY_TEST_IDENTIFIER]'pkg/reconciler/v1alpha1/revision.TestGlobalResyncOnConfigMapUpdateDeployment/Update_Istio

[2019-03-22 12:01] knative-flaky-test-reporter-robot opened #611 "[flaky] 'pkg/reconciler/v1alpha1/revision.TestGlobalResyncOnConfigMapUpdateDeployment' in repo 'serving'"
\<Auto-generated issue tracking flakiness of test\>
Test name: 'pkg/reconciler/v1alpha1/revision.TestGlobalResyncOnConfigMapUpdateDeployment' in repo 'serving'

-------------Text below this line is for issues mapping, Please don't edit-------------
[DONT_MODIFY_TEST_IDENTIFIER]'pkg/reconciler/v1alpha1/revision.TestGlobalResyncOnConfigMapUpdateDeployment' in repo 'serving'[DONT_MODIFY_TEST_IDENTIFI

[2019-03-22 17:25] adrcunha opened #615 "make_config.go misses coverage job/tab if no periodic job defined"
In https://github.com/knative/test-infra/pull/614 the knative/client repo has presubmit tests, but no periodic jobs defined yet (e.g., CI flow). The generator misses adding the coverage tab and the daily coverage job, since the presubmit section is empty.

/assign @Fredy-Z

[2019-03-22 17:26] adrcunha commented on #615
Workaround: add a continuous presubmit job to the config, setting it to false.

[2019-03-22 17:29] adrcunha commented on #615
Since there's a workaround, this is not urgent, unassigning for future triaging.

/unassign @Fredy-Z

[2019-03-22 18:56] #365 closed

[2019-03-22 20:21] #589 closed

[2019-03-23 12:00] #606 closed

[2019-03-23 12:00] #603 closed

[2019-03-23 12:00] #604 closed

[2019-03-24 12:01] #610 closed

[2019-03-24 12:01] #611 closed

[2019-03-25 12:01] knative-flaky-test-reporter-robot opened #618 "[flaky] 'pkg/reconciler/v1alpha1/route.TestReconcile' in repo 'serving'"
\<Auto-generated issue tracking flakiness of test\>
Test name: 'pkg/reconciler/v1alpha1/route.TestReconcile' in repo 'serving'

-------------Text below this line is for issues mapping, Please don't edit-------------
[DONT_MODIFY_TEST_IDENTIFIER]'pkg/reconciler/v1alpha1/route.TestReconcile' in repo 'serving'[DONT_MODIFY_TEST_IDENTIFIER]

[2019-03-25 14:12] mattmoor opened #619 "oncall should show slack handle"
Right now it's `steuhs`, which isn't a slack handle.

https://storage.googleapis.com/knative-infra-oncall/oncall.html

[2019-03-25 17:46] adrcunha commented on #619
/assign @jessiezcc

[2019-03-25 17:49] adrcunha commented on #615
/assign @Fredy-Z

Not urgent, though.

[2019-03-25 17:52] adrcunha commented on #579
/assign @jessiezcc

[2019-03-25 17:55] adrcunha commented on #592
/assign @chaodaiG

[2019-03-25 17:58] adrcunha commented on #590
/assign @dushyanthsc

Please reassign to the right person in your crew.

[2019-03-25 18:00] adrcunha commented on #576
/assign @nbarthwal

[2019-03-25 19:21] srinivashegde86 commented on #550
the base issue in serving is closed now. Closig this as well

/close

[2019-03-25 19:21] #550 closed

[2019-03-26 17:34] #390 closed

[2019-03-26 21:38] steuhs opened #625 "Integration tests lack 'compute.targetPools.list' permission for 'projects/knative-tests'"
The error happens every once a while and resolves itself after several failures.
breakouts since Mar 1st:
Mar 25th
Mar 26th

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_eventing/951/pull-knative-eventing-integration-tests/1110603806170681344/

I0326 18:06:23.420] 2019/03/26 18:06:23 main.go:312: Something went wrong: failed to prepare test environment: --provider=gke bos

[2019-03-27 12:01] knative-flaky-test-reporter-robot opened #627 "[flaky] 'pkg/reconciler/v1alpha1/route.TestRouteDomain' in repo 'serving'"
\<Auto-generated issue tracking flakiness of test\>
Test name: 'pkg/reconciler/v1alpha1/route.TestRouteDomain' in repo 'serving'

-------------Text below this line is for issues mapping, Please don't edit-------------
[DONT_MODIFY_TEST_IDENTIFIER]'pkg/reconciler/v1alpha1/route.TestRouteDomain' in repo 'serving'[DONT_MODIFY_TEST_IDENTIFIER]

[2019-03-27 12:01] #602 closed

[2019-03-27 12:01] knative-flaky-test-reporter-robot opened #628 "[flaky] 'test/e2e.TestServiceToServiceCall' in repo 'serving'"
\<Auto-generated issue tracking flakiness of test\>
Test name: 'test/e2e.TestServiceToServiceCall' in repo 'serving'

-------------Text below this line is for issues mapping, Please don't edit-------------
[DONT_MODIFY_TEST_IDENTIFIER]'test/e2e.TestServiceToServiceCall' in repo 'serving'[DONT_MODIFY_TEST_IDENTIFIER]

[2019-03-27 12:01] #618 closed

[2019-03-27 15:26] adrcunha opened #629 "Cleanup job should also delete leaked networks"
Complementing #390, leaked networks should be cleaned up as well (deleting a cluster doesn't guarantee that). The cleanup code can be "borrowed" from `scripts/e2e-tests.sh`.

/assign @chaodaiG
(not urgent though)

[2019-03-27 21:13] steuhs opened #631 "Add a lien owner of the project knative-tests"
Add a lien owner to prevent accidental deletion of the project

hint: https://cloud.google.com/resource-manager/docs/project-liens

[2019-03-27 22:39] steuhs opened #632 "Restrict roles for the project knative-tests"
Restrict roles for the project to prevent accidental deletion & other potentially harmful accident

[2019-03-27 22:42] steuhs opened #633 "Have monitoring over prow.knative.dev"
Have monitoring over prow.knative.dev to make sure it is up and running

[2019-03-27 22:49] steuhs opened #634 "Have monitoring over Knative-tests and its buckets"
Have monitoring over Knative-tests and its buckets to make sure they are accessible

[2019-03-27 22:56] steuhs opened #635 "Email alert for knative-tests project deletion"
Configure project settings so that email alerts are sent to owners when a project is deleted

[2019-03-27 23:09] srinivashegde86 opened #636 "Save zipkin trace information for requests to verify long term"
we need a way to save and view the zipkin traces in the longer term for viewing traces at a later time to investigate perf latency issues.

[2019-03-27 23:09] srinivashegde86 commented on #636
/assign

[2019-03-28 02:50] daisy-ycguo opened #637 "Separate the dependencies on infrastructure and allow testing running on any K8s cluster"
The current testing depends on bottom infrastructure very much. I'm not able to run e2e test without a Google cloud account, even I have my own K8s cluster on my own cloud infrastructure.

I think we should separate the dependencies to lower level infrastructure. Here are some thoughts in my mind:
- use general command lines, not specific command lines for a single kind of infrastructure
- allow p

[2019-03-28 15:01] adrcunha commented on #635
Email alerts should be sent for any major changes (e.g., billing changes).

[2019-03-28 15:06] adrcunha commented on #637
Unit tests don't need a cluster, so it's fine. presubmit tests on GitHub do use Google Cloud, but it's all automatic so it's also fine.

You can run E2E tests against any K8s cluster you have running. Basically you set KO_DOCKER_REPO and point kubectl to your cluster and run the E2E tests with go.

For serving, detailed instructions are here (there's no mention of gcloud or Google account in them)

[2019-03-28 15:23] adrcunha opened #638 "Boskos issues causing CI/presubmits to fail"
We've been seeing failures with acquiring projects from boskos for the CI/presubmit flows.

A generic "resource not found" error:

https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-continuous/1111055658830008320/build-log.txt

Same error, but with permission denials listed:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_eventing/951/pull-knative-eventing-

[2019-03-28 15:30] adrcunha commented on #638
We're using a pretty old boskos image (https://github.com/knative/test-infra/blob/master/ci/prow/boskos/config.yaml#L56), we should at least update it to get the latest improvements and bugfixes.

[2019-03-28 17:21] adrcunha opened #640 "Clearly show unit test failures due to race conditions"
Knative unit tests (and E2E too) run with `-race`. It can cause a test to fail, but it won't be shown as such in the test summary, causing confusion.

For example:

https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_serving/3537/pull-knative-serving-unit-tests/1111306561692635137/build-log.txt

![image](https://user-images.githubusercontent.com/35786489/55178173-201d6700-5142-11e9-8a

[2019-03-28 17:23] adrcunha commented on #640
This can be coupled with #428.

[2019-03-28 17:24] adrcunha commented on #428
This is specially true for markdown linting errors, which are not displayed at all in gubernator's summary.

[2019-03-28 20:42] steuhs commented on #638
This is the same issue as https://github.com/knative/test-infra/issues/625

[2019-03-28 20:45] adrcunha commented on #625
Closing in favor of 638.

[2019-03-28 20:45] #625 closed

[2019-03-28 20:46] adrcunha commented on #638
From 625, another example of permission denied errors:

Mar 25th
Mar 26th

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_eventing/951/pull-knative-eventing-integration-tests/1110603806170681344/

[code]

[2019-03-28 20:47] adrcunha commented on #638
We can ignore the permission denied issues, they're not related to boskos. They actually come from the network cleanup code in e2e-tests.sh:

https://github.com/knative/test-infra/blob/f2aa3067cfc8465c76a42d746dbce063e54df8d1/scripts/e2e-tests.sh#L190

[2019-03-28 20:49] adrcunha commented on #638
In addition to updating the boskos service, I also suggest expanding the pool (it definitely won't hurt).

[2019-03-28 22:35] steuhs opened #642 "go test failed on knative-client in the new go coverage job"
https://prow.knative.dev/log?job=ci-knative-client-go-coverage&id=1111070508478107650

[2019-03-28 22:35] steuhs opened #643 "coverage job should not print binary string in logs"
https://prow.knative.dev/log?job=ci-knative-client-go-coverage&id=1111070508478107650

[2019-03-28 22:54] steuhs opened #645 "remove post-knative-serving-go-coverage as defaultPostSubmitJobName"
We are running code coverage on multiple repos and we are running it not only in pre-submit.
Periodical jobs and post-submit jobs do not need the flag and it is distracting to set the defaultPostSubmitJobName, as it would be printed in logs.

example from https://prow.knative.dev/log?job=ci-knative-client-go-coverage&id=1111070508478107650
postSubmitJobName=post-knative-serving-go-coverage;

[2019-03-29 14:07] adrcunha commented on #645
Link to the log above from GCS:

https://storage.googleapis.com/knative-prow/logs/ci-knative-client-go-coverage/1111432895316103172/build-log.txt

I'm not sure what this issue is trying to solve. If it's an internal thing in the code coverage job, not a high priority. I would prefer such effort spent on a cleanup of the flags used in the jobs in the Prow config.

[2019-03-29 14:09] adrcunha opened #646 "coverage periodic job should clearly fail"
To avoid issues like #642, the go coverage periodic job should clearly fail when it can't produce any usable coverage data (i.e., the command fails, as opposed to "coverage is low").

/assign @steuhs

[2019-03-29 18:10] adrcunha commented on #638
@steuhs @jessiezcc Just got pinged about this issue. Stephen, I think you should prioritize that; at least the initial tentative fixes I suggested.

[2019-03-29 20:09] chaodaiG commented on #132
I consider this work is done, can we close this issue? @jessiezcc

[2019-03-29 20:52] #645 closed

[2019-03-29 21:21] steuhs commented on #638
@adrcunha by expanding the pool, I guess you mean to increase the number for E2E_MAX_CLUSTER_NODES?

[2019-03-29 21:30] evankanderson commented on #638
I have several small cleanup PRs that seem to be hitting this.

Is there some way that we can queue (rather than fail) the e2e tests when the Boskos pool is empty? Something like a max_concurrency for serverless functions?

[2019-03-29 21:32] adrcunha commented on #638
@steuhs No. There are instructions about expanding the pool in the ci/prow dir README.
@evankanderson Sorry, there isn't. kubetest kinda interacts under the hood with boskos.

[2019-03-29 23:44] steuhs commented on #571
This issue is reoccurring today

[2019-03-29 23:44] steuhs commented on #571
It happened 3 time in Mar 28th and around 20 times in Mar 29

[2019-03-30 00:37] adrcunha commented on #571
/assign @steuhs

[2019-03-30 12:00] knative-flaky-test-reporter-robot opened #649 "[flaky] 'test/e2e.TestAutoscaleUpDownUp' in repo 'serving'"
\<Auto-generated issue tracking flakiness of test\>
Test name: 'test/e2e.TestAutoscaleUpDownUp' in repo 'serving'

-------------Text below this line is for issues mapping, Please don't edit-------------
[DONT_MODIFY_TEST_IDENTIFIER]'test/e2e.TestAutoscaleUpDownUp' in repo 'serving'[DONT_MODIFY_TEST_IDENTIFIER]

[2019-03-30 12:01] knative-flaky-test-reporter-robot opened #650 "[flaky] 'test/conformance.TestBlueGreenRoute' in repo 'serving'"
\<Auto-generated issue tracking flakiness of test\>
Test name: 'test/conformance.TestBlueGreenRoute' in repo 'serving'

-------------Text below this line is for issues mapping, Please don't edit-------------
[DONT_MODIFY_TEST_IDENTIFIER]'test/conformance.TestBlueGreenRoute' in repo 'serving'[DONT_MODIFY_TEST_IDENTIFIER]

[2019-03-30 19:12] adrcunha opened #652 "Refactor, document and simplify the latency metrics aggregation tool"
#111 is the initial commit. The source code can be enhanced and simplified given the current shared libraries in test-infra.

[2019-04-01 14:19] chaodaiG commented on #638
The permission denied issue is becoming worse, it has failed at least latest 10 continuous runs in serving:
https://testgrid.knative.dev/knative-serving#continuous

[2019-04-01 14:49] adrcunha commented on #638
As I mentioned in https://github.com/knative/test-infra/issues/638#issuecomment-477765004 the permission denied error is a red herring. I believe Stephen is working on expanding the boskos pool, hopefully that will solve (or at least alleviate) the problem.

[2019-04-01 17:10] adrcunha commented on #571
Reassigning to the current oncall, @nbarthwal

[2019-04-01 17:33] #111 closed

[2019-04-01 17:55] adrcunha opened #654 "Document how to cut releases using Prow"

[2019-04-01 19:06] srinivashegde86 opened #656 "Create an artifacts dir for local testing"
We use the artifacts dir to store artifacts when running tests. But, when I run tests locally(not on prow), we dont have the env var ARTIFACTS set to the artifacts dir handled by prow. We need a way to create a dir and use that to store the artifacts. These are useful for debugging and/or verifying the test results.

[2019-04-01 19:13] adrcunha commented on #656
I've seen the pattern "get artifacts dir; check if exists; create if not; fail if error" a few times in the codebase. This is a good candidate for refactoring/sharing, which will also simplify the resolution of this task.

[2019-04-01 20:37] steuhs commented on #571
It happened 4 times today. You can see the occurrences here: https://pantheon.corp.google.com/logs/viewer?project=knative-tests&minLogLevel=0&expandAll=false&timestamp=2019-04-01T20:35:08.586000000Z&customFacets=jsonPayload.to&limitCustomFacetWidth=true&dateRangeStart=2019-03-22T23:38:49.153Z&interval=P7D&resource=container&scrollTimestamp=2019-04-01T18:26:21.000000000Z&filters=text:%22Google%20Co

[2019-04-01 20:50] steuhs commented on #638
After 3 actions taken to solve this issue, this issue stopped occurring from 2019-04-01 10:36:10.000 PDT

1) expand boskos pool by adding 11 more projects #657
2) update boskos images #658
3) update flags passed to boskos janitor image #658

The problem is resolved after the last action is taken

[2019-04-01 21:16] steuhs opened #659 "Automate the process of adding owner and editors for boskos projects"
Automate the following process outlined in https://github.com/knative/test-infra/blob/master/ci/prow/prow_setup.md.

2. Make the following accounts editors of the project:
- knative-productivity-admins@googlegroups.com
- knative-tests@appspot.gserviceaccount.com
- prow-job@knative-tests.iam.gserviceaccount.com
- prow-job@knative-nightly.iam.gserviceaccount.com
- prow-job@knative-releases.iam.gserv

[2019-04-01 21:50] steuhs opened #661 "Simplify pool expansion instruction"
Simply pool expansion instruction after https://github.com/knative/test-infra/pull/660 merged

[2019-04-02 01:35] steuhs commented on #538
Post Mortem completed and reviewed
https://docs.google.com/document/d/1yiFiEqcxOMgAz8aETApIDzKvR7NfIZ1GfYNY1jMDxW0/

[2019-04-02 01:36] #538 closed

[2019-04-02 01:59] #638 closed

[2019-04-02 18:08] jessiezcc commented on #656
not a priority, but good to have

[2019-04-02 18:10] jessiezcc commented on #652
no longer a priority.

[2019-04-02 18:10] #652 closed

[2019-04-02 18:14] jessiezcc commented on #640
this fits into test common code/infra project.

[2019-04-02 18:16] jessiezcc commented on #637
per @adrcunha's instruction above, close the issue for now.

[2019-04-02 18:16] #637 closed

[2019-04-02 18:23] #632 closed

[2019-04-02 20:54] adrcunha opened #666 "Allow running a setup function before starting the test cluster in e2e-tests.sh"
For example, a test might want to build/use a tool; doing it before bringing up the cluster and Knative makes sense, as the test will fail faster if something goes wrong.

/cc @bbrowning
/assign @adrcunha

[2019-04-03 17:20] adrcunha opened #669 "Unify Knative Testgrid CI dashboards for previous releases"
https://github.com/knative/test-infra/pull/668 creates 3 new CI flows for release-0.5.

However, currently the Testgrid config generator creates one dashboard for each CI flow. It would be better if all flows could be a tab (serving, eventing and eventing-sources) in a single dashboard (knative-0.5), simplifying and unifying the results display.

[2019-04-03 17:49] Fredy-Z commented on #669
/assign @Fredy-Z

I can take this one and fix it together with the one assigned to me before.

[2019-04-03 22:53] Fredy-Z commented on #656
To add more background for this issue:
Currently when we run tests locally by using `go test` command, there is no standard and elegant way to export the test result as junit format `.xml` file like what `prow` does.
Test cases like [this](https://github.com/knative/serving/blob/ce19a633478c7da01fec82826c11662364786be2/test/performance/observed_concurency_test.go#L209) explicitly create the file,

[2019-04-03 23:14] adrcunha commented on #656
What you're describing is a different issue. This issue is about a simple refactoring.

[2019-04-04 15:05] adrcunha opened #674 "Default Knative Serving installation function is broken"
https://github.com/knative/serving/pull/3353 updated Knative Serving to use Istio 1.1.1, and that required a small change in the way Istio CRDs are installed.

However, the PR above didn't update the standard Knative Serving installation function, used by all the other repos to bring up the SUT (https://github.com/knative/test-infra/blob/0125a23e5d1edb5e2b6f27b9b5a30a3965d6319e/scripts/library.sh#

[2019-04-04 15:13] adrcunha opened #675 "Couple Istio and Knative installation between test-infra and serving"
knative/serving has its own serving installation function (https://github.com/knative/serving/blob/b5ae99b62303ff31437ba49b7fe48a664a74bdae/test/e2e-common.sh#L123), while all other repos use a standard function from knative/test-infra (https://github.com/knative/test-infra/blob/0125a23e5d1edb5e2b6f27b9b5a30a3965d6319e/scripts/library.sh#L302).

If these two functions are out-of-sync, updates to k

[2019-04-04 15:24] adrcunha commented on #675
One simple (short-term?) solution would be adding an extra E2E test to serving that uses the function in library.sh to bring up serving.

[2019-04-04 15:54] adrcunha commented on #674
Filed https://github.com/knative/test-infra/issues/675 for pursuing a long-term solution and preventing this from reoccurring.

[2019-04-04 15:59] adrcunha commented on #674
@tcnghia FYI

[2019-04-04 17:25] srinivashegde86 opened #676 "Use --force and maybe --grace_period=0 when deleting resources with kubectl"
There have been multiple instances of pods getting stuck during delete. We should be using --force and --grace_period flags with `kubectl delete` so that we dont wait around a long time and delete the pods without waiting and forcefully, if needed.

`kubectl delete pod --grace-period=0 --force --namespace <NAMESPACE> <PODNAME>`

[2019-04-04 17:26] #666 closed

[2019-04-04 17:29] adrcunha commented on #674
Also, when serving gets test-infra update, the copy of wait_until_batch_job_complete() in e2e-common.sh can be removed.

[2019-04-04 17:30] nbarthwal commented on #674
ok

[2019-04-04 18:25] adrcunha commented on #676
Apart from 3641, looks like only build is using a similar approach in scripts:

[code]

[2019-04-04 18:28] bbrowning commented on #666
Thanks for this!

[2019-04-05 14:43] duglin opened #678 "Process for reporting issues with our images"
I'm told that GCR will scan our images for vulnerabilities but there isn't yet a process in place for us to be notified when something of concern is detected.  We need something to tell us of the issue so we can investigate/fix it.

@dlorenc @mattmoor

[2019-04-05 20:14] #654 closed

[2019-04-07 14:34] mattmoor opened #679 "Very stale coverage baselines"
In Serving a PR I just submitted got back:
![image](https://user-images.githubusercontent.com/2442466/55685124-83a85100-5907-11e9-95b8-992ceb79a411.png)

I'm wondering if whatever updates the coverage baselines is just broken because this file's existed for a while now...

/kind bug

[2019-04-08 21:08] yanweiguo opened #680 "Provide the ability to test different configmap settings for e2e tests"
Taking Knative serving for example, e2e tests are running against default configmap settings under https://github.com/knative/serving/tree/master/config.

It will be nice if we can run e2e tests against different settings. For example, `enable-scale-to-zero` defaults to "true". The following e2e test is nice to have:

-  Check the pods are not scaling to zero when no traffic coming to a revision a

[2019-04-09 21:21] srinivashegde86 opened #682 "Prow should report to github when tests finishes"
Currently, we report tests are done, once when the scripts are done running. This includes creating everything, running tests and deleting all the created objects.

We should report to github once the tests are done running and delete the associated resources in parallel. So, github does not have to wait the additional few minutes that takes.

[2019-04-10 18:11] #676 closed

[2019-04-11 23:09] srinivashegde86 commented on #631
/assign

[2019-04-11 23:10] srinivashegde86 commented on #631
Added a lien on the project

[2019-04-11 23:10] #631 closed

[2019-04-12 19:24] Fredy-Z opened #686 "Add logs before executing command in the *.sh scripts"
Right now when there is test failure, it is sometimes hard for us to find the reason through logs, since we cannot clearly know each commands executed on the cluster.

It would be helpful if we log the executed commands during environment setup, like what `Prow` is doing now. We can see `Prow` is printing out logs for each key command execution, which is quite clear:
[code]

/assign @Fredy-Z

[2019-04-12 19:26] Fredy-Z commented on #686
/kind enhancement

[2019-04-12 19:27] Fredy-Z commented on #686
/enhancement

[2019-04-12 21:25] chaodaiG commented on #629
Scanned PRs in serving since PR#3000 (Jan. 25th 2019), both in `pull-knative-serving-integration-tests` and `pull-knative-serving-upgrade-tests`, the code path `Found leaked` at line [L137](https://github.com/knative/test-infra/blob/master/scripts/e2e-tests.sh#L137) and [#L142](https://github.com/knative/test-infra/blob/master/scripts/e2e-tests.sh#L142) were not hit at all.

Running serving e2e te

[2019-04-15 16:40] #592 closed

[2019-04-15 17:37] jessiezcc commented on #686
@Fredy-Z, pls review your ideas first with @adrcunha before implementation.

[2019-04-15 17:39] jessiezcc commented on #682
According to @adrcunha, github will only take the signal of job being completed, and we are not doing resources cleanup anymore.

[2019-04-15 17:39] #682 closed

[2019-04-15 17:43] jessiezcc commented on #679
@steuhs, can u pls look into this?

[2019-04-15 17:45] jessiezcc commented on #678
This would be great value add, and we should have it for all knative related projects.

[2019-04-15 17:48] jessiezcc commented on #675
Pls sync up with @adrcunha on short term vs long term preference.

[2019-04-15 17:50] #674 closed

[2019-04-15 18:13] adrcunha commented on #629
This is indeed a good signal. As synced offline, let's keep the cleanup job running for a while, then check its logs. If no leaks are found anymore, let's remove the cleanup function.

[2019-04-15 18:23] mattmoor commented on #678
@jessiezcc We already scan `gcr.io/knative-releases`.  The question is how we're notified of the issues, and on what channels.  @nbarthwal Dan's old team had infrastructure for this, so please coordinate with him before we roll out own.

[2019-04-15 18:25] nbarthwal commented on #678
Ok. What is Dan’s LDAP?

[2019-04-15 19:41] mattmoor commented on #678
same as above :)

[2019-04-15 22:03] chaodaiG opened #689 "Automate Prow components versions bumping"
Current process of updating Prow components versions is manual, which is time consuming and error prone. Automating the versions bumping can make this process more resilient and we always get latest features and fixes.
We might be able to borrow from automating script in Kubernetes/test-infra repo:
https://github.com/kubernetes/test-infra/blob/0f376b4ea70b4d3d8f51c622158a623fee2e9744/prow/autobump

[2019-04-17 16:50] adrcunha commented on #686
Synced with Chi. The idea is basically being more verbose when performing actions in the shell scripts. For example: when installing Knative Serving, ultimately there's a `kubectl apply` command; that should be printed to the logs.

That would be a nice to have, and wouldn't inflate the logs much. However, the implementation requires going through all scripts and adding relevant `echo` commands. P

[2019-04-17 16:52] adrcunha opened #690 "Consider using Sonobuoy for integration/performance tests"
From https://github.com/heptio/sonobuoy :

Sonobuoy is a diagnostic tool that makes it easier to understand the state of a Kubernetes cluster by running a set of Kubernetes conformance tests in an accessible and non-destructive manner.

[2019-04-17 20:32] chaodaiG opened #691 "Consider creating staging Prow cluster for testing test-infra changes"
Currently there is not really a good way for testing some of the changes related to Prow before hitting errors in production. For example: Prow cluster config change, plugins updates, and bots.

We can reduce the risk of these breakages by setting up a staging Prow cluster, by mirroring production Prow cluster, on which we can enable auto config updates, enable automatic testing, and even create r

[2019-04-17 20:51] #132 closed

[2019-04-18 22:43] steuhs commented on #679
The baselines are stale because in recent runs, the unit test in github.com/knative/serving/pkg/activator/handler kept failing. We only use the most recent healthy run as baseline. I tried cloned a fresh copy of knative/serving and I see that test fail locally as well. I think the test need to be fixed @mattmoor

[2019-04-19 00:45] srinivashegde86 opened #694 "Dont use latest k8s version when creating cluster"
Can we use the second latest version of k8s to run our e2e tests? When we use latest, we will always have flakiness during GKE rollouts causing retests. If this happens during our periodic job runs, we will have to wait till the next run or mauallykick off another run, which again is not guaranteed to pass.

We should probably use the previous latest version, which is guaranteed to be supported si

[2019-04-19 00:45] srinivashegde86 commented on #694
/cc @adrcunha

[2019-04-19 00:54] adrcunha commented on #694
Not using latest might be finally an option. We have been using latest because during Knative development many features required the bleeding edge k8s.

This would require some coding though, as the version selection is done by kubetest. There's prior art in e2e-tests.sh for querying and selecting the k8s version.

So, choosing the not latest k8s version in a region means we would be usually using

[2019-04-19 01:08] srinivashegde86 commented on #694
`gcloud container get-server-config --region=us-central1 --format="flattened(validMasterVersions)"` gives the list of valid master versions for a region and we can pick the second to latest from this

[2019-04-19 01:15] adrcunha commented on #694
Yes, that's what my code was doing (which I called "prior art").

[2019-04-19 01:16] adrcunha commented on #694
Note that how to select the k8s version is not the real issue here, but to ensure proper testing environment for Knative.

[2019-04-19 01:19] srinivashegde86 commented on #694
sg. I was playing with `--format` to see how to get this information :D

Agreed. If we need to always test with latest, we may need to live with the occassional flakiness based on the rollout cadence 🤷‍♂️

[2019-04-19 02:07] adrcunha commented on #694
Actually it just occurred to me that Chao's PR for stockout handling can also be used to detect when a cluster couldn't be created because a k8s version isn't available; it would then retry with a previous version. Of course, this only applies if we *must* test against latest k8s.

[2019-04-19 17:45] xichengliudui opened #697 "Update pull-request-template.md file for more detailed information"
Url: `https://github.com/knative/test-infra/blob/master/.github/pull-request-template.md`

**The current**:
[code]
**Updated to**:
[code]

[2019-04-19 17:47] xichengliudui commented on #697
@srinivashegde86 , what do you think.

[2019-04-19 17:48] srinivashegde86 commented on #697
/cc @adrcunha
/cc @jessiezcc

+ admins of the repo

[2019-04-19 18:27] adrcunha commented on #697
I'll defer to @jessiezcc

[2019-04-19 18:48] dushyanthsc opened #698 "Define contract and add suitable tests for E2E setup"
This issue is created to clearly define contract to use test-infra code.

This issue should also handle adding suitable tests to cover these contracts.

[2019-04-19 18:48] dushyanthsc commented on #698
/assign @dushyanthsc

[2019-04-20 15:29] xichengliudui commented on #697
/cc @jessiezcc

[2019-04-20 20:38] mattmoor commented on #679
We're talking like a month old, there's no way we've had a failing unit test for that long.

Here's a 100x run on master as of now:
[code]

With coverage (what I run within emacs):
[code]

The baselines are so old at this point, we may as well turn covbot off, so please get this fixed.

Also: why did it take me raising this as stale coverage for us to uncover this?  @jessiezcc can we add this to s

[2019-04-22 16:08] jessiezcc commented on #679
Matt is right. The coverage for this file shows between 96%-100% since April.8th on [testgrid](https://testgrid.knative.dev/knative-serving#coverage).
This should be covered by monitoring spec @steuhs, pls make sure you add this scenario into functional spec. And before automation is in place, let's add a section to oncall playbook for manual triage.
/cc @srinivashegde86 who is the project lead fo

[2019-04-23 18:40] adrcunha opened #702 "Presubmit tests are stuck again"
Looks like most of them are stuck in resource deletion during tear down, for knative/serving upgrade tests.

cc @dushyanthsc

[2019-04-23 18:52] #702 closed

[2019-04-23 19:32] Fredy-Z opened #704 "Presubmit tests are still run when there is no code change"
According to the intention of our test scripts, integration tests should not be run if there is only documentation change.
But currently it's not the case:
https://github.com/knative/docs/pull/1225
https://github.com/knative/eventing/pull/1015

[2019-04-23 23:29] adrcunha commented on #424
Also, we should investigate having already created k8s clusters in the boskos test projects to speed up E2E tests.

[2019-04-24 17:05] adrcunha commented on #704
In 1225 the script knows that only a .md file was changed, e.g

[code]

However, it's still running the tests.

[2019-04-24 17:11] adrcunha commented on #691
Having a staging Prow would indeed help catching any config errors that could be missed by the validators. However, simply duplicating the cluster/config won't work, as it would run the jobs twice. Thus we need a more thoughtful approach for this. My first question would be: what's the approach the k8s team uses?

[2019-04-24 17:16] adrcunha opened #706 "Latency grid missing E2E tests since 4/18"
/assign @adrcunha

[2019-04-24 17:17] adrcunha commented on #706
Root cause: aggregation tool doesn't recognize the E2E test banner anymore due to 671.

[2019-04-24 19:12] adrcunha commented on #704
@Fredy-Z can you please update the other repos now that the fix is on?
/assign @Fredy-Z

[2019-04-24 22:27] adrcunha opened #709 "Enable PR status on Prow"
Instructions are in https://github.com/kubernetes/test-infra/blob/master/prow/docs/pr_status_setup.md

[2019-04-24 22:27] adrcunha opened #710 "Switch to Spyglass"
But keep Gubernator for the PR dashboard, as it's used by many developers.

[2019-04-25 18:07] adrcunha commented on #691
Synced up with k8s team about this. There's no staging Prow, but they use test-infra as canary before upgrading prow.k8s.io. Regarding component upgrades, we can just follow whatever prow.k8s.io is using and we should be safe.

A staging Prow would involve more work (which is in the roadmap of the k8s team), like customizing webhooks, setting test repos, etc.

That being said, I'm closing this iss

[2019-04-25 18:07] #691 closed

[2019-04-25 18:08] chaodaiG commented on #691
Agreed

[2019-04-25 18:09] adrcunha commented on #689
Synced with the k8s team about this. We should only automatically bump our components version up to the one used by prow.k8s.io, which is safe.

[2019-04-25 18:12] adrcunha commented on #709
PR status enabled in https://prow.knative.dev/pr

[2019-04-25 18:25] adrcunha commented on #710
Spyglass config in prow.k8s.io is in https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#L27

[2019-04-25 18:39] jessiezcc opened #711 "Integrate observability repo onto testgrid"
The repo has been made public, it's necessary for this repo to be surfaced on knative testgrid.

[2019-04-25 20:07] adrcunha commented on #711
1. Update the vendored test-infra dir and the presubmit/e2e script on the repo.
2. Create the pre/post submit jobs, together with the Testgrid tabs.

[2019-04-25 20:19] adrcunha commented on #571
This should have been fixed by #671. Since then we saw no stockouts, so far so good... Considering this fixed.

[2019-04-25 20:19] #571 closed

[2019-04-25 20:40] ericKlawitter opened #713 "Handle server side errors better in releases"
Currently, releases fail if we receive a server side error, e.g. a 502 from the GitHub server when attempting to upload the release to GitHub.

This happened with serving [release 0.5.2](https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-dot-release/1120613746985668608), when a 502 caused the release to fail. We should add some retry logic so that the release script can over

[2019-04-25 20:49] ericKlawitter opened #714 "Don't publish partial releases on failures"
There is an issue in our release script in which partial releases can be published. When an issue occurs during the release script, we should fail without publishing an incomplete release.

This happened with [serving release 0.5.2](https://github.com/knative/serving/releases/tag/v0.5.2), when a [502 caused](https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-dot-release/1120

[2019-04-25 22:00] adrcunha opened #715 "Rename and reorganize TestGrid tab names"
* dashboards don't have to start with "knative-"
* "conformance-tests" can be just "conformance"

Possibly related:
* all periodic job names start with "ci-", maybe use different prefixes for different jobs (e.g., "nightly")
* PRs like 705 introduce long names, maybe shorten them to keep readability

[2019-04-25 22:53] chaodaiG opened #716 "Auto retest PRs that failed flaky tests"
Currently, when a PR encountered flaky tests failure in presubmit test, PR authors need to manually add  `/retest` in PR comment to help PR merge. This is time consuming and often delays the integration of a PR, it's also sometimes not that obvious whether the tests failed in a PR are really flaky or not.

Now that we collect data for discovering active flaky tests in #132 , we can automate the pr

[2019-04-26 17:28] adrcunha opened #717 "Create a CI flow with Minikube"
Although you currently can't run Minikube on a Prow job, we should investigate a way to have a CI flow to exercise it.

[2019-04-26 20:48] adrcunha commented on #717
A simple way of doing this can be running the test inside a VM. Such VM could be one of the GCP projects from the boskos pool (we can use kubetest for the lease part, without bringing up a cluster).

[2019-04-26 20:49] fejta commented on #717
I assume you already looked into kind?

[2019-04-26 20:50] adrcunha commented on #717
If the above approach is feasible, this could be even used for building/testing Knative Client on Windows (unsure about OS X).

[2019-04-29 04:47] srinivashegde86 opened #718 "Integration tests are failing with the istio dependency"
Our e2e tests verify the installation steps in knative serving. But, serving recently stopped publishing istio yamls once https://github.com/knative/serving/pull/3918 got merged. But, we are still trying to install it and failing.

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_test-infra/712/pull-knative-test-infra-integration-tests/1122583223629516802/

[2019-04-29 04:47] srinivashegde86 commented on #718
/cc @adrcunha

[2019-04-29 06:17] adrcunha commented on #718
This is another variant of the decoupling mentioned in #675. This is a simple fix in library.sh.

[2019-04-29 12:51] adrcunha commented on #718
I took a quick look, and unfortunately the fix is not trivial as I thought. https://github.com/knative/serving/pull/3918 removed the istio YAMLs from the releases (and the first nightly release succeeded yesterday, starting the general breakage), but the same Istio is still being installed for serving tests (and is the recommended way in the documentation).

As a stop-gap solution would be adding

[2019-04-29 13:39] adrcunha commented on #718
Assigning to test-infra oncall.

/assign @nbarthwal

[2019-04-29 18:13] adrcunha commented on #718
Scott might have an even neater solution for this (needs to be vetted by serving folks though):

[code]

See https://github.com/knative/eventing/pull/1117

[2019-04-29 18:36] adrcunha commented on #718
Problem 1: the gcloud approach doesn't allow non-GKE k8s clusters to be used (e.g., eventing)
Problem 2: looks like updating the cluster with gcloud take waaaay too long... :(
[code]

[2019-04-29 21:37] adrcunha commented on #717
/assign @dushyanthsc

[2019-04-29 21:39] adrcunha commented on #716
/assign @chaodaiG

Let's think about getting an intern for working on this and other improvements over flaky tests.

[2019-04-29 21:40] adrcunha commented on #715
/assign @Fredy-Z

[2019-04-29 21:47] chaodaiG commented on #716
@adrcunha , That's exactly what I'm considering about this work. Let's plan on it

[2019-04-29 21:50] jessiezcc commented on #679
@steuhs, can you pls update baseline asap for now?

[2019-04-29 21:51] adrcunha commented on #686
We don't have the manpower for this task now, please reopen if things change.

[2019-04-29 21:51] #686 closed

[2019-04-29 21:52] jessiezcc commented on #697
the proposed template looks nice. @xichengliudui, do u want to create a PR to implement it?

[2019-04-29 23:27] adrcunha commented on #718
Looks like I CCed @mattmoor in the wrong issue, doing it here now.

[2019-04-29 23:29] mattmoor commented on #718
Not anymore: https://github.com/knative/docs/pull/1243 :)

[2019-04-29 23:36] mattmoor commented on #718
Can we create the cluster with Istio to start?

[2019-04-30 00:03] xichengliudui commented on #697
Sure, I'll create a pr later.

[2019-04-30 00:11] adrcunha commented on #718
We surlly can, but better protecting that with a flag for now (defaulting to true). Our instructions should be updated to reflect the new behavior.

[2019-04-30 14:13] #706 closed

[2019-04-30 16:31] adrcunha opened #721 "CI flows on branches should use stable releases"
Currently CI flows on branches use nightly releases. For example,

https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-eventing-0.5-continuous/1123145177083416576

fails when installing Istio from the latest Knative Serving nightly. The flow should be using artifacts from Knative Serving 0.5.

@mattmoor @tcnghia to validate the assumption.

[2019-04-30 17:11] #520 closed

[2019-04-30 17:28] Fredy-Z commented on #715
Do you have suggestion for shortening the name like `ci-knative-serving-istio-1.1.2-no-mesh` and `ci-knative-serving-istio-1.0.7-mesh`? How about `ci-serving-istio-1.1.2` and `ci-serving-istio-1.0.7-mesh`?

[2019-04-30 18:13] #636 closed

[2019-04-30 18:30] srinivashegde86 commented on #367
Resurrecting this issue again :)

I would like to report on certain benchmarks once we add them to the PR conversation similar to what we do for coverage report. I would prefer not to have another bot to report results and reuse the bot once we update it to report these benchmark results as well or we want to keep this separate and not reuse it for perf benchmark reports?

SG?

/cc @adrcunha
/cc @

[2019-04-30 18:53] adrcunha commented on #367
Less is more. covbot could be renamed to "Metrics Robot" and used to report all kind of custom metrics.

[2019-04-30 20:29] adrcunha commented on #715
I like that. I think "no-mesh" could become "nomesh" to keep "-" as word separators. Depending on what's the default for mesh, we can drop one or the other (so it would be `ci-serving-istio-1.1.2-nomesh` or `ci-serving-istio-1.1.2-mesh`). Nghia probably knows best.

[2019-04-30 21:29] steuhs commented on #679
added a temporary manual fix. the baseline should be up to date now.

This is a link showing the failure of github.com/knative/serving/pkg/activator/handler, mentioned before.
https://gubernator.knative.dev/build/knative-prow/logs/post-knative-serving-go-coverage/1123312530802872321/?log#log

[2019-04-30 21:50] Fredy-Z opened #723 "Eventing-0.5 and eventing-sources-0.5 tests are consistently failing"
These two jobs are consistently failing.
https://testgrid.knative.dev/knative-eventing-0.5#continuous
https://testgrid.knative.dev/knative-eventing-sources-0.5#continuous

In the logs, we can see the following error:
[code]

[2019-04-30 22:55] Fredy-Z commented on #715
I asked Kenny and he said the default is mesh, but that might change in the future. So I think it's better to keep both for now.

[2019-05-01 13:23] adrcunha commented on #723
Sounds like infra, please have the oncall investigate.

[2019-05-02 14:20] chaodaiG opened #733 "Tool for updating test-infra in other repos"
Currently for updating test-infra in other repos, the following steps are performed:

1. Navigate to a repo
1. Check out a new branch
1. Run `dep ensure -update github.com/knative/test-infra` and `./hack/update-deps.sh`
1. Run `git commit` and `git push`
1. Go to UI, Create Pull Request
1. Repeat step 1 - 5 for all repos

We have done this ~20 times since 2019, but not in all repos every time, ide

[2019-05-03 19:40] nbarthwal commented on #718
/assign @chaodaiG

[2019-05-06 17:24] chaodaiG opened #736 "Report flaky tests for tests of different istio/mesh combinations"
We are running the following combinations of tests in serving:

- istio-1.0.7-mesh
- istio-1.0.7-no-mesh
- istio-1.1.2-mesh
- istio-1.1.2-no-mesh

As requested by #networking team, it would be nice to have automatic flaky tests reporting in #networking channel via Slack.

This work will require some code changes other than config changes, as flaky-test-reporter tool was designed to send notificati

[2019-05-06 17:37] adrcunha commented on #736
/assign @chaodaiG

[2019-05-06 17:39] adrcunha commented on #733
I don't think it's worth writing a complex tool for that. We can have a simple bash script to automate most of the steps. Also, please notice that updating test-infra might cause conflicts with other updates, so a human keeping an eye on the process is a good thing.

Assigning to Nikhil for priority, but IMO it should be low.

/assign @nbarthwal

[2019-05-06 17:40] adrcunha commented on #723
@steuhs can you please investigate?

[2019-05-06 17:41] adrcunha commented on #723
/assign @steuhs

[2019-05-06 17:42] adrcunha commented on #721
/assign @dushyanthsc

[2019-05-06 17:43] chaodaiG commented on #733
Agree with bash script, that's also what was in my mind. This tool should only do things up to Pull Request step, and the user who kicks off the process still need to manually go into every PR to make sure they are correct

[2019-05-06 20:56] Fredy-Z commented on #704
Done.

[2019-05-06 20:56] #704 closed

[2019-05-06 22:14] dushyanthsc commented on #721
/assign @Fredy-Z

[2019-05-06 22:22] steuhs commented on #723
Knative serving stopped publishing istio images starting version 0.6. However, the two jobs mentioned above are trying to use the yaml from the latest (0.6) nightly, "https://storage.googleapis.com/knative-nightly/serving/latest/istio.yaml". Letting the jobs point to 0.5 istio yaml can potentially solve the problem.

/assign @Fredy-Z

[2019-05-07 16:32] adrcunha commented on #669
Please update TestGrid.

[2019-05-07 19:10] dushyanthsc commented on #736
Current plan is to look at this issue in Q2(Apr-Jun)

[2019-05-07 19:11] dushyanthsc commented on #718
Work for this is complete, Chao will close this issue shortly.

[2019-05-07 19:12] dushyanthsc commented on #716
We would be taking a look at this in Q3 (Jul - Sept)

[2019-05-07 19:13] dushyanthsc commented on #689
We would be taking a look at this in Q3 (Jul - Sept)

[2019-05-07 19:16] dushyanthsc commented on #717
Q3 (Jul - Sept)

[2019-05-07 19:19] dushyanthsc commented on #718
/uncc @nbarthwal

[2019-05-07 19:20] dushyanthsc commented on #718
/unassign @nbarthwal

[2019-05-07 19:35] dushyanthsc commented on #640
/assign @coryrc

[2019-05-07 19:36] dushyanthsc commented on #640
/unassign @dushyanthsc

[2019-05-07 19:36] dushyanthsc commented on #428
/unassign @dushyanthsc

/assign @coryrc

[2019-05-07 19:37] dushyanthsc commented on #721
/unassign @dushyanthsc

[2019-05-07 21:40] chaodaiG commented on #718
/close
since PR #734 is replicated in all repos

[2019-05-07 21:40] #718 closed

[2019-05-08 00:54] Fredy-Z commented on #721
Eventing has completely got rid of Serving and Istio, and it's not calling `start_latest_knative_serving` in `e2e-tests.sh` anymore.
So for Eventing 0.5, we can just create a new function `start_knative_serving_0.5`, and use it to replace `start_latest_knative_serving`.

But Eventing-sources (the future Eventing-contrib) will still be relying on the latest Eventing. How do we make changes and get

[2019-05-08 03:15] adrcunha commented on #721
This issue requires a general solution, for all repos, not only eventing or eventing-sources. This should be done in the helper script, then propagated to the other repos.

[2019-05-08 16:27] #615 closed

[2019-05-08 18:53] adrcunha opened #745 "Setup nightly releases for knative/client"
Objective: publish the several binaries (Linux, OS X, Windows) as nightlies.

* Currently there’s a simple build script in hack
* Can be converted to publish releases just like the other repos
* test-infra/scripts/release.sh needs to understand how to publish binaries as well
* No GCR, as these are binaries
* GCS structure follows the current convention

/assign @nbarthwal
/cc @sixolet

[2019-05-08 18:56] adrcunha opened #746 "Setup cross-platform testing support for knative/client"
### Problem statement and requirements

Testing on Linux is easy, since Prow runs on Linux. OS X and Windows require a different solution.

E2E tests must (also) run against public Knative builds (nightly, versioned).

E2E tests must run against multiple versions of Knative (must define which later).

Expanding the E2E tests can be done by the developers. Currently there’s only a smoke test, and s

[2019-05-08 19:00] adrcunha commented on #721
0.6 will be cut next week, we should have this fixed by then to have a clean release branch CI.

[2019-05-08 23:40] srinivashegde86 opened #749 "knative observability continous runs are failing"
https://testgrid.knative.dev/knative-observability#continuous

error:
W0508 21:31:20.679] ./test/presubmit-tests.sh: line 21: ./test/../vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh: No such file or directory
W0508 21:31:20.681] ./test/presubmit-tests.sh: line 46: main: command not found

this repo uses go modules and not dep like other knative repos. Not sure if this has somethi

[2019-05-08 23:40] srinivashegde86 commented on #749
/cc @adrcunha

[2019-05-08 23:40] srinivashegde86 commented on #749
/cc @dushyanthsc

[2019-05-08 23:44] srinivashegde86 commented on #749
it uses gitmodules for vendoring - https://github.com/srinivashegde86/observability/blob/master/.gitmodules

[code]

[2019-05-08 23:53] srinivashegde86 commented on #749
related issue for using dep on the observability repo - https://github.com/knative/observability/issues/5

[2019-05-09 00:01] adrcunha commented on #749
As I mentioned in #5, the solution is to vendor just test-infra, like Knative/client did.

[2019-05-09 00:15] Fredy-Z commented on #721
I have some thoughts on how to solve this issue, but not sure if it is feasible or the best solution.
1. Modify `make_config.go` to add a `VERSION_NUMBER` environment variable for configuration of prow jobs that run for released branches.
2. Change the current functions like `start_latest_knative_serving` to `start_knative_serving`, and let it accept a `version` parameter. Basically the function w

[2019-05-09 02:49] adrcunha commented on #721
I can simply check the current branch. Release branches don't have presubmits, and CI flows perform a standard clone/checkout for running a test.

The right fix is not changing `start_knative_serving()` but `KNATIVE_BASE_YAML_SOURCE`:  https://github.com/knative/test-infra/blob/master/scripts/library.sh#L26

[2019-05-09 18:04] Fredy-Z commented on #721
Can you elaborate more on this? Seems merely changing `KNATIVE_BASE_YAML_SOURCE` is not enough.
The URL for released yaml files is like https://github.com/knative/serving/releases/download/v0.5.0/serving.yaml, which is quite different from the nightly-release.
And the installation steps might be different from version to version, for example, eventing<=0.5 still needs serving but eventing>0.5 does

[2019-05-09 19:32] adrcunha commented on #721
675 will probably require a different approach. Regarding the URL, point to the knative-releases GCS, not to GitHub, e.g., https://storage.googleapis.com/knative-releases/serving/previous/v0.5.0/release.yaml

[2019-05-09 19:58] steuhs commented on #679
fixed by #728

[2019-05-09 19:58] #679 closed

[2019-05-09 20:39] Fredy-Z commented on #721
Is this URL wrong? It shows `No such object: knative-releases/serving/previous/v0.5.0/release.yaml`.

[2019-05-09 20:48] adrcunha commented on #721
Indeed. The correct URL is https://storage.googleapis.com/knative-releases/serving/previous/v0.5.0/serving.yaml

[2019-05-10 21:46] adrcunha commented on #84
I don't think it's worth working on this. Gubernator is deprecated, replaced by Spyglass. Better spend the effort on https://github.com/knative/test-infra/issues/710 (switching from Gubernator to Spyglass).

[2019-05-10 21:46] #84 closed

[2019-05-10 22:00] #749 closed

[2019-05-13 17:37] dushyanthsc commented on #746
We would be evaluating this issue in July-Sept time-frame.

[2019-05-13 18:03] adrcunha commented on #746
/cc @sixolet

[2019-05-13 20:49] #721 closed

[2019-05-13 23:11] srinivashegde86 opened #753 "Merge devstats update into test-infra"
/assign @ericKlawitter

/milestone M5

[2019-05-13 23:12] srinivashegde86 opened #754 "Setup a domain name for devstats"
/assign @ericKlawitter

[2019-05-13 23:13] srinivashegde86 opened #755 "Create devstats cluster in knative-tests"
/assign @ericKlawitter

[2019-05-13 23:14] srinivashegde86 opened #756 "Create a sample K8S app for monitoring"
Lets start with a sample k8s app that we can build on.

/assign @yt3liu

[2019-05-13 23:15] srinivashegde86 opened #757 "Add cloud mail to K8S app"
/assign @yt3liu

[2019-05-13 23:17] srinivashegde86 opened #758 "Update knative/test-infra to pick latest crier update"
Crier pubsub reporter was updated to add more fields that we are interested in. We should update our prow  component images to use atleast 5/14/2019 as we need - https://github.com/kubernetes/test-infra/pull/12586

[2019-05-13 23:17] srinivashegde86 commented on #758
/assign

[2019-05-13 23:17] srinivashegde86 opened #759 "Add pubsub subscriber to K8S app"
/assign @yt3liu

[2019-05-13 23:18] srinivashegde86 opened #760 "Add cloud-sql instance to monitoring app"
/assign @yt3liu

[2019-05-13 23:20] srinivashegde86 opened #761 "monitoring config parser"
/assign @steuhs

[2019-05-13 23:20] srinivashegde86 opened #762 "Add log parser to parse build logs"
/assign @steuhs

[2019-05-13 23:21] srinivashegde86 opened #763 "Send monitoring alerts when needed"
Once we have the config and errorlogs table defined, we should add the alerting using cloud mail component

[2019-05-13 23:22] srinivashegde86 commented on #763
/assign @steuhs

[2019-05-13 23:22] srinivashegde86 opened #764 "Store error patterns in the error logs table"
/assign @steuhs

[2019-05-13 23:23] srinivashegde86 opened #765 "Store alerts in alerts table"
/assign @steuhs

[2019-05-13 23:24] srinivashegde86 opened #766 "Clear alerts when alert condition fails"
/assign @yt3liu

[2019-05-14 00:25] srinivashegde86 commented on #723
/uncc @steuhs

[2019-05-14 00:29] srinivashegde86 commented on #642
this seems to be running now - https://testgrid.knative.dev/knative-client#coverage

[2019-05-14 00:29] #642 closed

[2019-05-14 00:38] srinivashegde86 commented on #635
we now have a lien on project deletion and the project cannot be deleted unless we remove the lien. If we want to track other changes, we should define them and prioritize accordingly.

I am closing this for now. We should open other bugs based on the requirements.

[2019-05-14 00:38] #635 closed

[2019-05-14 01:52] #661 closed

[2019-05-14 17:23] adrcunha commented on #711
1 was fixed by https://github.com/knative/observability/pull/24

/close

[2019-05-14 17:23] #711 closed

[2019-05-14 17:30] #756 closed

[2019-05-14 18:30] adrcunha commented on #745
Increasing priority for Kubecon Barcelona.

[2019-05-14 20:55] adrcunha commented on #745
The release job should be using https://github.com/knative/client/blob/master/hack/build-binaries.sh

[2019-05-14 21:30] #733 closed

[2019-05-15 18:20] #656 closed

[2019-05-15 18:40] Fredy-Z opened #780 "Prow does not have env var PULL_BASE_REF set for periodic jobs"
This issue is used to track one potential issue for Prow.

Background:
We need to use `PULL_BASE_REF` to get the actual branch name for the repo running as Prow jobs, but  currently Prow only set it for non-periodic jobs, see https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md.
We are temporarily adding it in our periodic job configs, and checking with Kubernetes test-infra if we can

[2019-05-15 18:42] chaodaiG commented on #103
Investigated using KIND in our e2e test flows, by trying to make all e2e tests in knative/serving passing in KIND. After a couple of PRs(the ones associated with this issue), KIND works for most of tests as shown below:
- test/e2e-upgrade: 2/2 passed
- test/e2e: 17/17 passed
- test/scale: 0/2 passed (They would pass if giving more time, like 5 minutes for scale to 10, and 20 minutes for scaling to

[2019-05-15 18:42] chaodaiG commented on #103
@adrcunha  fyi

[2019-05-15 18:53] BenTheElder commented on #103
:wave: kind dev here, would like to help if there's interest :upside_down_face:

Do you always need to run scale tests? These are necessarily going to be bound by the hardware it runs on and might improve if run on bigger CI nodes, I'd guess your GKE clusters have more horsepower. Are you running scale tests in presubmit?

I'd be curious what those failed tests are doing, if you know :-)

What ver

[2019-05-15 19:22] chaodaiG commented on #103
Hi @BenTheElder , thanks for prompt response, as well as clarification. Yes we do run scale test in presubmit, and the difference is 240-300 seconds on KIND vs 10-20 seconds on GKE for scaling up to 10, and our e2e tests run in n1-standard-4 machines with 4 nodes, each machine has 4 vcpus and 15 GB mem, this isn't much different from my linux box(12 cpus and 64 GB mem).
In terms of Kubernetes vers

[2019-05-15 19:23] adrcunha commented on #103
At this point we're running them on presubmit, specially because there's active development in the autoscale area.

No, we don't test against the latest k8s version for several reasons, including features and compatibility with other k8s providers (GCP, IBM, Azure, etc). Running against the latest k8s isn't currently a concern.

[2019-05-15 19:32] BenTheElder commented on #103
Thanks @chaodaiG @adrcunha that makes sense to me.

So pod start time is the issue? That is good to know and worth looking into on my end...

I see, so if I want to run knative locally I need to match the cloud providers?
Out of curiosity, what version exactly are you testing?

FWIW It looks like IBM has 1.14.1 with the default at 1.13.6 which is pretty recent. AKS has 1.13 GA with 1.14 in preview

[2019-05-16 18:08] #745 closed

[2019-05-16 18:29] #761 closed

[2019-05-16 18:47] srinivashegde86 commented on #597
We have the tool to do this now.

[2019-05-16 18:47] #597 closed

[2019-05-16 18:47] srinivashegde86 commented on #596
We have the tool for this now

[2019-05-16 18:47] #596 closed

[2019-05-16 21:24] srinivashegde86 commented on #516
Slightly different approach. We have the prom integration and the test can decide which ones it needs and should be able to store them. We dont need to store all of these metrics.

[2019-05-16 21:24] #516 closed

[2019-05-18 01:58] chaodaiG opened #801 "Prow stopped working"
Expected:
Prow works as normal

Actual:
Prow doesn't schedule presubmit jobs for PR
https://github.com/knative/test-infra/pull/800
Prow doesn't update status with finished job
https://prow.knative.dev/

Additional info:
Tide status is not available: https://prow.knative.dev/tide

[2019-05-18 02:01] chaodaiG commented on #801
`kubectl cluster-info dump` got following errors:
{"component":"plank","error":"error listing prow jobs: json: cannot unmarshal string into Go struct field DecorationConfig.grace_period of type time.Duration","level":"error","msg":"Error syncing.","time":"2019-05-18T01:49:03Z"}
{"component":"tide","error":"v1.ProwJobList.Items: []v1.ProwJob: v1.ProwJob.Spec: v1.ProwJobSpec.DecorationConfig: v1.Dec

[2019-05-18 02:05] chaodaiG commented on #801
@cjwagner in case you have seen something similar

[2019-05-18 03:01] adrcunha commented on #801
Investigated with Chao. Looks like `mkpj` created an unparseable config for our Prow cluster, with entries like "grace_period: 15s", "timeout: 2h0m0s" and the previous working configs were "grace_period: 15000000000" and "timeout: 7200000000000".

It's possible that a new mkpj (which renders time values as human-readable strings) was used to generate a config for our Prow cluster (which is running

[2019-05-18 03:09] adrcunha commented on #801
Updating Prow to the latest version (https://github.com/knative/test-infra/pull/802) fixes the issue, which confirms the hypothesis above.

[2019-05-18 03:14] adrcunha commented on #801
Prioritizing addressing #689 would help avoiding this kind of situation.

[2019-05-18 03:18] adrcunha commented on #689
Note: autobump.sh was replaced by experiment/autobumper. See https://github.com/kubernetes/test-infra/pull/12471

[2019-05-20 14:08] chaodaiG commented on #801
/close

[2019-05-20 14:08] #801 closed

[2019-05-20 14:14] chaodaiG opened #804 "Prevent e2e test from running on Prow cluster"
Prow cluster is in critical path of all our automated flows, running e2e on it could make it not working properly. Add a mechanism in e2e scripts to guard against this from happening

[2019-05-20 14:17] chaodaiG opened #805 "Investigating/documenting ways of restoring Prow cluster to previous stable state"
Occasionally Prow cluster could run into bad state due to updates or accidental operations, add a "rollback" alike operation would be very helpful.

[2019-05-20 14:22] chaodaiG opened #806 "Evaluate changing terminal text or background color based on kubecfg context"
When working on crucial kubernetes cluster(s), i.e. knative-prow, it will be pretty helpful if the terminal text/background clearly indicates that. For example, `knative-prow` as red text in terminal

[2019-05-20 14:26] chaodaiG opened #807 "Use role based account for managing knative-tests project"
Restrict personal account with admin privilege on knative-tests project, and use role based account instead. This can help preventing a developer from switching freely to knative-tests with admin rights

[2019-05-20 17:57] srinivashegde86 commented on #758
this should have been done in https://github.com/knative/test-infra/commit/199fc8bc369e2a940a434e45a86586f422ea77eb

[2019-05-20 17:57] #758 closed

[2019-05-20 17:59] srinivashegde86 commented on #598
we have different requirements around benchmarks now. Will close this and work on those

[2019-05-20 17:59] #598 closed

[2019-05-20 18:01] srinivashegde86 commented on #557
Prometheus is meant to live with the cluster and is meant to die with it. The tests can capture the metrics it needs and store it long term. But, this will apply to only the metrics needed by the test and not all prom metrics generated.

[2019-05-20 18:01] #557 closed

[2019-05-20 18:05] #659 closed

[2019-05-20 18:08] srinivashegde86 commented on #634
the knative monitoring proposal handles monitoring for knative prow job components. That should handle this as well. Closing this

[2019-05-20 18:08] #634 closed

[2019-05-20 18:08] srinivashegde86 commented on #633
knative-monitoring proposal should handle this

[2019-05-20 18:08] #633 closed

[2019-05-20 18:09] srinivashegde86 commented on #15
Should be handled by the knative-monitoring proposal

[2019-05-20 18:09] #15 closed

[2019-05-20 18:10] srinivashegde86 commented on #546
/kind good-first-issue

[2019-05-20 18:12] #539 closed

[2019-05-20 18:13] adrcunha commented on #546
I'm pretty sure this is done, I just forgot to close it. I'll double check client.

[2019-05-20 22:09] Benjamintf1 commented on #770
Any update?

[2019-05-20 22:11] #804 closed

[2019-05-20 23:30] steuhs opened #810 "Add defaults & validation logic to monitoring config yaml parser"
Neither Unmarshal, nor UnmarshalStrict catches missing fields as errors. Instead, they use zero values for the type as defaults. Thus, if we want to have our own defaults and/or check missing fields, we should add a validator/processor on the returned structure of newConfig.

That said, UnmarshalStrict will report error on any field name that does not appear in the unmarshall target struct. So it

[2019-05-21 16:52] chaodaiG commented on #103
Close this investigation for now, will re-evaluate in the future.

fyi @BenTheElder , based on my observation pod start time is the bottleneck. And thanks a lot for the helps and quick turnaround time along my investigation.

Also fyi @tcnghia , we decided not to integrate with KIND at this point. Thank you for helping me sweeping out most of the failed tests.

/close

[2019-05-21 17:25] #736 closed

[2019-05-21 17:32] adrcunha commented on #103
For stability, yes. knative.dev website has instructions for several cloud providers, and also minikube.

CI and presubmit run against latest GKE.

Good to know, as it might be necessary in the future, thanks.

[2019-05-21 18:03] srinivashegde86 opened #812 "The flaky reporter should take in the config as an input(maybe yaml?) and not hard-code"
The config is currently hard-coded - https://github.com/knative/test-infra/blob/master/tools/flaky-test-reporter/config.go#L38

We will be expanding this in the future to handle multiple repos and responding to various slack channels. Maybe we should separate the config definition and store it in a yaml and can update only that separately.

[2019-05-21 18:03] srinivashegde86 commented on #812
/cc @chaodaiG

[2019-05-21 18:31] adrcunha commented on #770
In some cases you the issue can be fixed by adding the "cla: yes" or "cla: no" labels to override the bot (mind the space).

[2019-05-21 18:32] adrcunha commented on #770
**Note**

I'm keeping this issue open to report any updates that might appear regarding this issue. This issue is being handled by a different team at Google, not me, and the solution is not trivial. I'll post any relevant updates here, as soon as I'm notified about them.

[2019-05-21 19:07] #753 closed

[2019-05-21 19:11] adrcunha commented on #546
This is done.

[2019-05-21 19:11] #546 closed

[2019-05-21 19:25] adrcunha commented on #807
https://cloud.google.com/iam/docs/creating-custom-roles

[2019-05-21 19:27] adrcunha commented on #806
This looks like a simple bash prompt tweak rather than a knative/test-infra issue to me.

[2019-05-21 19:33] adrcunha commented on #805
This sounds like something that is either documented or should be filed against kubernetes/test-infra/prow.

[2019-05-21 19:36] adrcunha commented on #806
Since bash prompts are pretty personal, I prefer leaving a link to a ready-to-use solution for showing the current context in your prompt. It can be easily adapted to show specific contexts in a different color.

https://pracucci.com/display-the-current-kubelet-context-in-the-bash-prompt.html

[2019-05-21 19:36] #806 closed

[2019-05-21 21:13] #805 closed

[2019-05-21 23:22] steuhs commented on #764
@yt3liu Do we have a db instance to connect to now?

[2019-05-21 23:28] #762 closed

[2019-05-22 15:56] #760 closed

[2019-05-22 17:56] adrcunha commented on #812
/assign @chaodaiG

[2019-05-22 17:56] adrcunha commented on #807
/assign @chaodaiG

[2019-05-23 03:11] adrcunha opened #821 "Flake test reporter should also report consistent failures"
We could use the flake test report to raise awareness of consistently failing tests.

@chaodaiG WDYT? A failing test could be considered flaky if there are passing and failing invocations in the period analyzed. I remember you had a special case for consistently failing tests, but I don't remember. If this case isn't handled by the reporter, would it be hard to do it?

[2019-05-23 14:22] chaodaiG commented on #821
This case isn't handled by the reporter currently, and the logic doesn't distinguish this case from any other non-flaky case.

It would be just 1 line change if we want to treat it same as flaky tests. Otherwise depends on how we want to separate the logic it might take fair amount of work. Here are the questions in my mind:

1. Do we want to report in Slack like this(This isn't much work I believ

[2019-05-23 17:09] adrcunha commented on #821
I agree with both suggestions above. This is not high priority, feel free to assign it or work on it when it's convenient.

/assign @chaodaiG

[2019-05-23 18:18] Fredy-Z commented on #723
As of now, we did some changes to handle this issue in test-infra, but it still has a problem.

Our current solution is: under the repository's root folder, execute `$(git describe --tags --abbrev=0)` to get the latest `tag` name for the current branch, and then use it to retrieve the latest release build url of other repositories. With this logic, we assume that all repositories have the same lat

[2019-05-23 18:27] srinivashegde86 commented on #723
can we merge the chanage for installing istio through add-on in eventing-0.5 and eventing-sources-0.5?
https://github.com/knative/test-infra/pull/734 and https://github.com/knative/test-infra/pull/739

[2019-05-23 18:38] Fredy-Z commented on #723
eventing-0.5 does not work with the istio add-on, it can only work with the `istio-0.5` shipped together with `serving-0.5`, see https://github.com/knative/eventing/pull/1253.

[2019-05-23 19:13] Fredy-Z commented on #709
/cc @Fredy-Z
I can take this issue if no one is working on it.

[2019-05-23 19:13] Fredy-Z commented on #710
/assign @Fredy-Z
I can take this issue if no one is working on it.

[2019-05-23 19:14] Fredy-Z commented on #709
/assign @Fredy-Z

[2019-05-23 20:05] dushyanthsc commented on #709
Thanks for picking it up @Fredy-Z.

/unassign @dushyanthsc

[2019-05-23 20:37] adrcunha commented on #709
@Fredy-Z please ensure you're in sync with the current oncall whenever you make changes to our Prow cluster.

[2019-05-23 20:43] dushyanthsc commented on #710
@Fredy-Z thanks. Lets talk through these when you start working on it.

/unassign @dushyanthsc

[2019-05-23 20:43] adrcunha commented on #710
Thanks, Chi. Since this is more complex than enabling PR status, I suggest you work on that first.

[2019-05-23 20:54] adrcunha commented on #723
Looks like you have to make `get_knative_base_yaml_source()` module-specific for branches. Basically:
* on a master branch, use `nightly`, problem solved;
* on a release branch, (a) get the branch version; (b) for each particular module, identify the latest version of that particular branch by inspecting `gs://knative-releases`; (c) if you can't pair [a] with [b], use the latest version before [a]

[2019-05-24 00:12] stevekuznetsov commented on #801
This is caused by using a `mkpj` of newer version than `plank`. Please upgrade `plank` and/or use an older `mkpj` and delete the offending ProwJobs

[2019-05-24 00:16] adrcunha commented on #801
The problem mentioned above was fixed. The idea if this issue is to prevent any kind of similar issue (config mismatch or bad configs) to cause Prow stop working.

[2019-05-24 03:02] adrcunha commented on #715
On second thought, let's not change the names of the buckets, only Testgrid.

[2019-05-24 17:13] adrcunha commented on #619
![image](https://user-images.githubusercontent.com/35786489/58345150-8d7d0980-7e0c-11e9-965b-25486db3b1fe.png)

[2019-05-24 17:30] adrcunha commented on #694
The error message when creating a cluster with a version not available yet is:

[code]

[2019-05-24 17:32] adrcunha commented on #694
Currently we run the tests against `gke-latest`. There's no need to retry with a previous version, as kubetest will fetch the latest version again when retrying to create the cluster.

[2019-05-24 19:21] chaodaiG commented on #807
Minimum permissions needed for Prow admins:
- All permissions of "Viewer" role
- container.clusters.create
- container.clusters.update
- container.thirdPartyObjects.create
- container.thirdPartyObjects.delete
- container.thirdPartyObjects.update
- container.configMaps.update

[2019-05-24 19:21] #807 closed

[2019-05-24 19:30] adrcunha commented on #675
With Knative Serving 0.6 this is now obsolete, as installing it is now a single yaml. Closing as obsolete.

[2019-05-24 19:30] #675 closed

[2019-05-24 19:31] #669 closed

[2019-05-24 19:33] adrcunha commented on #547
The job is gone and the tab is now deleted.

[2019-05-24 19:33] #547 closed

[2019-05-24 19:33] #694 closed

[2019-05-24 19:36] adrcunha commented on #472
I'm closing this as the yaml names (at least those used by library.sh) are now pretty stable due to the convention used across Knative modules. I don't think it's worth creating an inter-dependency between each module and test-infra just because of yaml names. And since this might change based on whatever new comes from [issues tagged with test-infra-next], this issue is likely to be either obsole

[2019-05-24 19:36] #472 closed

[2019-05-24 19:38] adrcunha commented on #89
@dushyanthsc isn't this one done already?

[2019-05-27 20:51] Fredy-Z opened #829 "Error happens occasionally when installing the nightly serving release"
Not sure if it's an infra issue. Add it here now for record.

Detailed log: https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_test-infra/828/pull-knative-test-infra-integration-tests/1133108957661892608/
[code]

[2019-05-28 00:01] adrcunha commented on #829
It seems that it's complaining about Istio CRDs not ready? Maybe it's because it's expecting stuff from a Istio version newer than what's installed by the add-on?

[2019-05-28 17:36] chaodaiG commented on #689
Kubernetes is updating Prow version almost daily now: https://github.com/kubernetes/test-infra/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+label%3Aarea%2Fprow%2Fbump+

So if we choose to use the same version as Kubernetes, it's not too much different from using latest Prow version. An idea of getting a tested version is going through kubernetes/test-infra PR history, and pick a PR  with `area/prow/

[2019-05-28 17:55] adrcunha commented on #689
Fejta mentioned something about test-infra updating frequently and being the "staging" version, while k8s would update less frequently, on stable versions. Maybe that's what he was referring to? We should get confirmation from the k8s team before proceeding.

[2019-05-28 18:12] chaodaiG commented on #689
Just checked with @cjwagner , the entire kubernetes org is managed by a single Prow instance.

[2019-05-28 18:15] adrcunha commented on #689
Thanks. +1 for the ideas of using a slightly older, not rolled-back version.