[2020-03-04 05:42] chizhg commented on #1782
The bucket has always been `knative-nightly`, and I'm not sure how the decision was made.
Could you point me to the pre-release knative.dev link? I didn't know there was a google-nightly bucket.

[2020-03-04 06:06] nachocano commented on #1782
no, there's not...
see https://github.com/knative/docs/pull/2220
we might have to change the artifacts.html then, see Matt's comment

On Tue, Mar 3, 2020 at 9:42 PM Chi Zhang <notifications@github.com> wrote:

[2020-03-04 09:58] rhuss opened #1784 "How to enable Istio local gateway for Kn client tests ?"
With the kn client E2E tests we hit a [well known issue](https://github.com/knative/eventing/issues/1973) that a CronJobSource can access a Knative Service only via an Istio local gateway on GKE.

For the [kn E2E tests](https://github.com/knative/client/pull/698#issuecomment-593857882) we would need such a gateway to be available.

What would we need to do to enable the installation of this local

[2020-03-04 09:58] rhuss commented on #1784
// cc: @daisy-ycguo

[2020-03-04 23:35] chizhg opened #1787 "Drop the support for installing Istio addon on GKE cluster"
Currently in scripts/e2e-tests.sh, we support passing a flag called `--skip-istio-addon`. If it's passed, the GKE cluster created for the E2E tests will not have Istio addon enabled, otherwise the Istio addon will be enabled.

Istio addon is a GKE feature, we should drop it when we want to support running E2E tests for other Kubernetes providers.

Note:
We cannot drop it now as a few projects, e.g

[2020-03-05 20:30] chizhg commented on #1782
I think it makes sense to hardcode the org as knative.

[2020-03-05 20:38] coryrc commented on #1761
/assign @chizhg

[2020-03-05 20:38] coryrc commented on #1758
/assign @chizhg

[2020-03-05 20:48] chizhg commented on #1784
It seems the GKE cluster created for running e2e tests in client has Istio addon enabled, see more details in https://github.com/knative/test-infra/issues/1787.

Reading through the document you gave, the way to solve this issue should be disable the Istio addon, and install it by following https://github.com/knative/docs/blob/d4f56b2979aff631a25f1ed5395ff3794e41bd7c/docs/install/installing-istio.

[2020-03-09 02:14] chizhg commented on #1765
prow-tests image has been updated.

[2020-03-09 02:14] #1765 closed

[2020-03-09 03:49] #1762 closed

[2020-03-09 09:17] daisy-ycguo commented on #1784
@chizhg  Maybe we don't need to disable Istio add-on, just install a local cluster gateway for e2e testing purpose by:

[code]

Could you tell me where to add this command ? I hope to have a try. Or else, we cannot support this e2e test case.

[2020-03-09 18:48] #1758 closed

[2020-03-10 00:01] #1451 closed

[2020-03-10 04:10] navidshaikh opened #1799 "Verify codegen for docs only PR"
CI skips e2e tests for docs only PRs, but it should run the complete build tests (verify codegen etc).

In client, we noticed a docs only PR had 'autgenerated code out of date' but build-tests failed to catch that (https://github.com/knative/client/pull/710).

To check, here is a debug PR https://github.com/knative/client/pull/717 with a couple of commits:
1. First; docs only change in commit with

[2020-03-10 15:29] mattmoor opened #1801 "Gubernator: Show "needs approval""
Currently Gubernator shows me a "Status", which goes about as far as LGTM.

Two things I'd love to see are:
1. An indication of which PRs still need `/approve`,
2. An indication of which PRs have `do-not-merge/...` labels.

I'd also love to only see the things I have been `/assign`'d and other kinds of filters, but the above would help me triage a bunch since my dashboard gets fairly noisy.

[2020-03-11 01:29] daisy-ycguo commented on #1787
I support to replace Istio add-on with standard Istio because I don't think Istio add-on could support our test cases very well. I have written down the [issue](https://github.com/knative/client/pull/719#issuecomment-597015940) I met with in a client e2e test case. And I see a gentleman had the same issue which was reported to [eventing issue](https://github.com/knative/eventing/issues/2266).

[2020-03-11 02:14] #1262 closed

[2020-03-11 16:50] chaodaiG opened #1803 "Move common helpers from knative.dev/test-infra/shared/common to knative.dev/pkg/test/helpers"
These functions are also helpful in other repos, we should move them over to pkg to avoid vendoring test-infra for Go pkg

[2020-03-12 06:16] chizhg commented on #1587
/remove-lifecycle stale

[2020-03-12 14:17] aliok opened #1804 "Recursive hack/release.sh calls"
This is caused by https://github.com/knative/test-infra/pull/1802

`hack/release.sh` is calling itself recursively forever.

Execution:

[code]

In this stage, re-execution of the script checks if the `current_branch` is equal to `RELEASE_BRANCH`.
The check fails and re-executes again and again.

This is the check: `"${current_branch}" != "${RELEASE_BRANCH}"` in https://github.com/knative/test-inf

[2020-03-12 14:19] aliok commented on #1804
cc @chizhg @mattmoor @chaodaiG @houshengbo

This issue blocks the release of serving-operator 0.13. I haven't checked the others yet.

[2020-03-12 14:23] aliok commented on #1804
Also happens in eventing-operator. However, eventing and serving released fine because this change was not in when they were releasing.

[2020-03-12 14:27] dprotaso opened #1805 "Prow command to list all possible tests to run on a PR"
It's not obvious what tests I can run against a PR. I tend to go to the prow config in this repo but that's not ideal.

I'd be nice if prow have a command that would list all the tests.

[2020-03-12 14:29] chaodaiG commented on #1804
I think `checkout -b` is the good enough fix

[2020-03-12 14:34] houshengbo commented on #1804
Many thx to @aliok for working on this.
operators need it to push 0.13 artifacts.

[2020-03-12 15:15] dprotaso opened #1807 "Flakey test bot messages should provide more information"
![Screen Shot 2020-03-12 at 11 14 53 AM](https://user-images.githubusercontent.com/18562/76536435-ba111900-6452-11ea-87ca-4cd54c7a9106.png)

Showing the test name is redundant

[2020-03-12 15:16] dprotaso commented on #1807
unless the test name column is supposed to show the failed test

[2020-03-13 00:49] chizhg commented on #1805
@cjwagner this sounds to be a very reasonable feature request. Has this issue ever been raised in Prow?

[2020-03-13 01:14] cjwagner commented on #1805
I haven't heard that request before, but I think its a really great idea! I imagine it would be an addition to Prow's [trigger plugin](https://github.com/kubernetes/test-infra/tree/master/prow/plugins/trigger) which is responsible for handling the `/test`, `/retest` and `/ok-to-test` commands. Something like `/test ?` of `/test-ls` for listing all the jobs that could be triggered would be very hel

[2020-03-13 01:19] cjwagner commented on #1805
I added a feature request to k/t-i for this. https://github.com/kubernetes/test-infra/issues/16765

[2020-03-13 01:29] chizhg opened #1810 "Run checkconfig for Prow config files in a Prow job with the published image"
As suggested by Cole in https://github.com/knative/test-infra/pull/1792#issuecomment-598498852:
Check config is meant to be run at the same commit as the Prow components it is validating config for. The gcr.io/k8s-prow/checkconfig image is published with the Prow component images with the same image tag so you can easily update the checkconfig image tag when you update the Prow component image tag

[2020-03-13 18:04] coryrc commented on #1622
We were suggested to use a checkconfig test image

[2020-03-13 18:19] chaodaiG commented on #1746
The PR #1780  doesn't work as expected  was reverted in #1790

/reopen

[2020-03-13 18:30] chaodaiG commented on #1746
Some context, this is needed after this work was done: https://github.com/knative/serving/issues/6862

It used to be in all of our test flows, there was a single entry point like `test/e2e-tests.sh`, `test/e2e-upgrade-tests.sh`. Now we need to support multiple scripts in a single flow, see this PR for example: https://github.com/knative/test-infra/pull/1783/files

[2020-03-13 18:40] chaodaiG commented on #1653
/assign

[2020-03-13 18:42] albertomilan opened #1811 "Restore presubmit run multiple scripts functionality"
There was a recent revert [1] we did perform over the repository.

We are going to restore some of the functionality removed by this revert. These include:
* Allow presubmit run multiple scripts
* Add more error messages
* fix syntax error
* code review feedback

[1] https://github.com/knative/test-infra/pull/1790/files

[2020-03-13 18:50] chizhg opened #1812 "Update Prow config files based on the deprecation notice"
According to the announcement in https://github.com/kubernetes/test-infra/blob/master/prow/ANNOUNCEMENTS.md, there are two breaking changes in Prow that will come soon:
1. Added a default_decoration_configs option to the Plank config that allows to specify different plank's default configuration for each organization or a specific repository. default_decoration_config will be deprecated in April 2

[2020-03-13 18:51] chizhg commented on #1810
/assign

[2020-03-13 19:28] albertomilan commented on #1811
/assign

[2020-03-13 20:51] chaodaiG opened #1813 "[oncall toil]Re-evaluate ideas of using Prow and Testgrid hosted by k8s team"
Background:
Knative started with the idea of hosting our own Prow and Testgrid instances, with the benefits of great flexibility and faster turnaround time on Prow and Testgrid related bugs as well as feature requests.
However, as Knative grows into more and more repos, the complexity of managing these instances start to grow organically. And there were more toil test-infra needs to deal with, we

[2020-03-14 04:29] chizhg commented on #1759
We should use `config-bootstrapper` in an image to make sure there is no version skew, the current way we organize the Prow config files does not allow us to use it in that way.
/lifecycle frozen

[2020-03-14 04:29] chizhg commented on #1759
/remove-kind good-first-issue

[2020-03-14 04:31] chizhg commented on #1611
We are going to reimplement this function with Go and won't make any incremental changes to this function.

/remove-kind good-first-issue
/lifecycle frozen

[2020-03-14 16:03] chaodaiG commented on #1746
/assign

[2020-03-14 16:04] chaodaiG commented on #1746
Duplicate of #1811
/close

[2020-03-14 16:04] #1746 closed

[2020-03-16 17:32] #1653 closed

[2020-03-17 02:24] chizhg commented on #1804
This issue has been fixed by https://github.com/knative/test-infra/pull/1806 and https://github.com/knative/test-infra/pull/1808.
/close

[2020-03-17 02:24] #1804 closed

[2020-03-17 04:49] #1799 closed

[2020-03-17 05:09] chizhg opened #1823 "Use gvm to install and switch different Go versions (?)"
For Knative projects, we need to have Prow jobs running with different Go versions, e.g. 1.12, 1.13, 1.14. The current way we handle them is to build [multiple test images](https://github.com/knative/test-infra/tree/master/images) with different Go versions installed, and we need to rebuild all the images if we want to make any changes to the base image.

There is a tool called [gvm](https://githu

[2020-03-17 06:12] chizhg commented on #1823
FYI @chaodaiG @coryrc

[2020-03-17 13:26] chaodaiG commented on #1823
`gvm` looks promising to me, the only question I have is how up-to-date is gvm with Go, in another word, does it require bunch of work for `gvm` to support a new Go version?

Thanks for the investigation!

[2020-03-17 17:19] chaodaiG opened #1827 "Support dot release from old release branches"
Current dot-release jobs only detects changes from latest release branch and creates new tags on top of latest release branches, there is no way to automate dot release from old release branches. This should be supported

This is part of #1782

[2020-03-17 17:25] chaodaiG commented on #1827
The easiest way to support this would be define `RELEASE_BRANCH` environment variable in Prow dot-release jobs, and creating a dot-release job for each old release branch will be needed.

Currently we support n-3 ... n  release branches, i.e. at the time of creating this bug the latest release branch in serving is 0.13, so we'll have dot-release jobs for 0.10, 0.11, 0.12, and 0.13

[2020-03-17 17:26] chaodaiG commented on #1827
/cc @chizhg @grantr

[2020-03-17 22:32] chizhg commented on #1827
Fixed by #1828

/close

[2020-03-17 22:32] #1827 closed

[2020-03-18 05:09] chizhg commented on #1823
It seems not. The code for `gvm` hasn't been updated for a few years but clearly it still works with the latest Go versions.

[2020-03-18 16:58] #1811 closed

[2020-03-18 18:47] coryrc opened #1833 "Prow config-generated files should not generate the copyright year"
Generated files should keep the copyright from their template and not change the copyright year. Computer programs can't create a copyright.

It also causes toil every single year #1606

<!--
/kind good-first-issue
--!>

[2020-03-18 22:04] cjwagner commented on #1622
FWIW the case that Adriano mentioned is covered by the default checkconfig warnings. In particular the `unknown-fields` warning. It is likely that you aren't running that check because checkconfig is at an old version: https://github.com/knative/test-infra/pull/1792#issuecomment-598498852
It also looks like you are missing the `--strict` flag to cause the job to fail when these lint checks fail.

[2020-03-19 19:52] chizhg opened #1837 "Dump controller/apiserver metrics in test run logs"
As asked by @grantr  on [Slack](https://knative.slack.com/archives/CCSNR4FCH/p1584644208171900), it would be helpful for debugging test errors if test-infra can support dumping the prometheus output from controllers .

/kind feature-request

[2020-03-19 19:53] chizhg commented on #1837
/kind enhancement

[2020-03-19 19:56] grantr commented on #1837
/cc @vaikas

[2020-03-19 20:17] vaikas commented on #1837
And just to be clear, what the end goal here (at least one) should be is to provide visibility on the load that we put on the API server. There's some tests that are being flaky and one hypothesis is that it's because API server is becoming overloaded. So, having some visibility in the number of operations that is being put on the API server seems useful. Ideally this would be broken down by each

[2020-03-20 18:45] #1761 closed

[2020-03-25 16:57] chizhg opened #1855 "Improve the prow_setup doc"
The [prow_setup](https://github.com/knative/test-infra/blob/master/guides/prow_setup.md) doc is now outdated, and some words are not accurate. We need to improve it.

/assign

[2020-03-25 17:51] chizhg opened #1856 "./hack/update-codegen.sh fails in some bash environment"
From https://github.com/knative/test-infra/pull/1851#issuecomment-603522333, `./hack/update-codegen.sh` fails with below error:

[code]

The bash version is:
[code]

[2020-03-26 14:31] chaodaiG opened #1858 "Test-infra integration tests are failing after new prow-tests image"
See here:
https://testgrid.knative.dev/test-infra#continuous

Integration tests failed to install serving in test-infra, but interestingly not in other repos that also consumes serving nightly builds, an example: https://testgrid.knative.dev/docs

The main difference is test-infra is using cluster management lib while doc is not

[2020-03-26 14:32] chaodaiG commented on #1858
/assign @chizhg

[2020-03-26 14:32] chaodaiG commented on #1858
/bug

[2020-03-26 16:25] chizhg commented on #1858
`knative-gcp` also started failing https://testgrid.knative.dev/knative-gcp#continuous. I have reverted the image.

[2020-03-26 17:21] chizhg commented on #1858
The issue is caused by `kubectl`, I'm trying to understand it happens.

[2020-03-27 00:38] nak3 opened #1859 "Running multiple test scripts overwrite the first log like k8s.dump.txt and k8s.log.txt"
Serving project runs two e2e test scripts as:

[code]

These tests set up logging twice and start writing the same log file path like `k8s.dump.txt` and `k8s.log.txt`.

[code]

So, we can see `k8s.dump.txt` and `k8s.log.txt` only from `./test/e2e-auto-tls-tests.sh`. We cannnot find any logs from `./test/e2e-tests.sh`.

(e.g.)
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-h

[2020-03-27 18:35] chizhg commented on #1763
Done in https://github.com/knative/test-infra/pull/1843.

[2020-03-27 18:35] #1763 closed

[2020-03-27 19:53] chizhg opened #1863 "Grant necessary permissions for google/knative-gcp to run e2e tests related to Workload Identity"
[google/knative-gcp](https://github.com/google/knative-gcp) project needs e2e tests for Workload Identity, see https://github.com/google/knative-gcp/issues/658. It requires some more permissions on the boskos projects that the current test service accounts do not have. We need to find out the permissions and add them in https://github.com/knative/test-infra/blob/master/config/prow/boskos/set_up_bo

[2020-03-27 20:15] chaodaiG opened #1864 "Testgrid links to wrong job type"
https://testgrid.knative.dev/serving#conformance  When you click on any build, it will direct to a continuos build. NOT conformance build.

[2020-03-27 20:15] chaodaiG commented on #1864
/assign @chizhg

[2020-03-27 20:19] houshengbo commented on #1864
We do not even have job called `ci-knative-serving-conformance` to run conformance tests. We probably need to create it first, then link to the conformance builds.

[2020-03-27 22:53] chizhg commented on #1864
Currently we are running both e2e and conformance tests in https://github.com/knative/serving/blob/master/test/e2e-tests.sh. So the real request for this issue is to separate them into two flows, for both `presubmit` and `periodic` jobs?

+ @mattmoor  for comments.

[2020-03-27 22:59] chaodaiG commented on #1864
/cc @houshengbo

[2020-03-27 23:42] chizhg commented on #1863
This will need a custom role that includes at least `iam.serviceAccounts.getIamPolicy` and `iam.serviceAccounts.setIamPolicy` permissions.

[2020-03-27 23:42] chizhg commented on #1863
FYI @grac3gao

[2020-03-28 00:01] #821 closed

[2020-03-28 00:10] chizhg commented on #1603
/remove-lifecycle stale

[2020-03-28 15:53] mattmoor opened #1866 "disable slackbot cron on weekends"
Can we disable the slackbot flaky posts on weekends?  in #networking they are long enough that each one pushes all prior comments off the screen, so over the weekend any missed comments are just long gone unless people really dig deep for them.

Perhaps eliding "no flakes" messages as well would be useful.

cc @chaodaiG @chizhg

[2020-03-29 17:02] #1866 closed

[2020-03-30 19:30] chizhg opened #1871 "Text under DataRaceAnalysis tab of Spyglass log page does not have correct line feeds"
See https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-continuous/1232488190519021569

/bug
/kind good-first-issue

[2020-03-30 22:19] chizhg opened #1875 "Migrate all Knative projects to use Go Modules"
Currently all Knative projects (except client) are using Go `dep` to manage the dependencies, but Go `dep` is going to be deprecated soon in favor of the official Go dependency management tool - Go Module. We should switch all Knative projects to use Go Modules.

/kind feature-request

[2020-03-30 22:20] chizhg commented on #1875
/label feature-request

[2020-03-31 05:49] chizhg commented on #1871
It's caused by https://github.com/knative/test-infra/blob/030e4e29cb8ba9502a06b667b1450f6a725371b1/scripts/library.sh#L363, and one example XML file is https://00e9e64baced6ab21ef50824ae5280087468385865966d9783-apidata.googleusercontent.com/download/storage/v1/b/knative-prow/o/pr-logs%2Fpull%2Fknative_test-infra%2F1876%2Fpull-knative-test-infra-build-tests%2F1244794215074893824%2Fartifacts%2Fjunit

[2020-03-31 05:49] chizhg commented on #1871
This issue will be fixed in `kntest`.

[2020-03-31 05:59] chizhg opened #1877 "[kntest] Create the package for kntest"
`kntest` will be a tool implemented in Go that is mainly served to simplify the shell scripts under `knative/test-infra/scripts`, the design doc is in https://docs.google.com/document/d/1-pGZaITHwZrMxFLIvBoOhgyh-vSb0z4xpG4yCEouIzs/edit.

This issue is the first step to create the package and add basic code for `kntest`.

[2020-03-31 06:20] chizhg opened #1878 "[kntest] implement cluster creation subcommand"
As part the work of `kntest`, implement the cluster creation subcommand , and use it to replace the bash functions in `knative/test-infra/test/scripts/e2e-tests.sh`.

[2020-04-01 03:22] nak3 commented on #1859
/close

Closing as these PR are merged:
https://github.com/knative/test-infra/pull/1880
https://github.com/knative/serving/pull/7438

[2020-04-01 03:22] #1859 closed

[2020-04-01 17:57] chizhg commented on #1875
After some investigation, the only blocker for us is the [`dep-collector`](https://github.com/knative/test-infra/tree/master/tools/dep-collector).

If we move the project out of `$GOPATH` and run with `GO111MODULE=auto`, there will be an error:
Error collecting transitive dependencies: package test-infra/tools/prow-auto-bumper is not in GOROOT (/usr/local/go/src/test-infra/tools/prow-auto-bumper)

[2020-04-02 22:37] chizhg commented on #103
/reopen

`KIND` can help us get a better understanding of the cluster state, to dump the logs to a folder instead (e.g. kind export logs) under $ARTIFACTS in prow, it could be super helpful for developers to fight with the test flakiness. So we should reevaluate using `KIND` to run integration tests for Knative, at least for some tests.

[2020-04-02 22:38] chaodaiG commented on #103
You'll also need to consider incorporate it with kntest I believe

[2020-04-02 22:39] chizhg commented on #690
Since we don't control the roadmaps for Sonobuoy, and it does not really help as it has some caveats based on the discussion with GKE team, so we are not going to consider using it.

/close

[2020-04-02 22:39] #690 closed

[2020-04-02 23:08] mattmoor commented on #103
I'd love to see us try this because frankly it's going to be our most reliable way of tracking the set of upstream Kubernetes versions that we want to validate against.

Technically we should be testing against 1.16-1.18 right now, but GKE only has 1.15 in the default channel.

Getting some base set of tests (e.g. conformance) to run against kind across those versions would be pretty valuable IMO.

[2020-04-04 20:40] chizhg commented on #1864
/unassign

[2020-04-06 00:24] chizhg commented on #1505
/remove-lifecycle stale

[2020-04-07 14:39] navidshaikh opened #1896 "client build tests failing with go deps issue"
Seeing build tests failure due to issues with go deps.

[code]
ref: [logs](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/778/pull-knative-client-build-tests/1247432380839366656#1:build-log.txt%3A452)

looking at the path in above logs, I think the build test isnt referring to `vendor` dir in client repo?
cc: @chizhg @chaodaiG

[2020-04-07 20:07] navidshaikh commented on #1896
builds tests restored, looks like fixed by https://github.com/knative/test-infra/pull/1897
Thanks!

/close

[2020-04-07 20:07] #1896 closed

[2020-04-08 16:47] chaodaiG commented on #1871
/assign @chizhg

[2020-04-08 16:48] chaodaiG commented on #1633
fixed
/close

[2020-04-08 16:48] #1633 closed

[2020-04-09 00:56] chizhg commented on #1858
One link https://prow.knative.dev/view/gcs/knative-prow/logs/ci-google-knative-gcp-continuous/1243183756710252544

[2020-04-09 13:52] chaodaiG commented on #1603
It’s configured as a plugin called label  here: https://github.com/knative/test-infra/blob/master/config/prow/core/plugins.yaml
The source of this plugin is at: https://github.com/kubernetes/test-infra/tree/master/prow/plugins/label

[2020-04-09 17:13] chizhg commented on #1877
Done by #1883

[2020-04-09 17:13] #1877 closed

[2020-04-09 17:14] chizhg commented on #1878
Done by #1883

[2020-04-09 17:14] #1878 closed

[2020-04-09 17:15] chizhg commented on #1863
It turned out `editor` role already has these two permissions, so no changes are needed for the IAM settings.
The only thing we needed to do to support it is enabling a new API, and it's done by https://github.com/knative/test-infra/pull/1881.

[2020-04-09 17:15] #1863 closed

[2020-04-09 19:33] grantr opened #1899 "Switch all 0.13 release branches to use test-infra release-0.13"
Now that we have branch `release-0.13` of test-infra, we need to update each project's `release-0.13` branch to track this new branch for the test-infra dependency.

PRs created for:
- [ ] serving
- [x] eventing
- [x] eventing-contrib
- [x] knative-gcp

others?

/cc @chaodaiG

[2020-04-09 19:47] grantr opened #1900 "Switch all master branches to use release-0.14 branch"
Before release day (April 14) we should switch the test-infra dependency in all repos to use `release-0.14` instead of master.

After release branches are cut, the test-infra dependency should be swapped back to master.

Related to #1899

PRs created for:
- [x] serving
- [x] eventing
- [x] eventing-contrib
- [x] knative-gcp

others?

/cc @chaodaiG

[2020-04-13 22:31] grantr commented on #1899
I tried pinning serving release-0.13 branch to test-infra release-0.13, but wasn't able to because of this dep update error:

[code]

[2020-04-13 22:34] #1900 closed

[2020-04-14 21:59] chaodaiG commented on #1695
/assign

[2020-04-15 16:00] slinkydeveloper opened #1906 "Presubmit microbenchmarks task"
As discussed in [Eventing Performance Task Force Meeting 15/04/2020](https://docs.google.com/document/d/1UgblGknPcIMcOfUc_UImUAyjTGTfZNWXZV1_iPsDntY/edit?usp=sharing), we need a prow task that runs on every PR and executes the microbenchmarks available around the repository.

The following task should perform these actions:

1. Run microbenchmarks from master
2. Run microbenchmarks from PR revisio

[2020-04-15 16:03] slinkydeveloper opened #1907 "Continuos microbenchmark runs with historical reporting"
As discussed in [Eventing Performance Task Force Meeting 15/04/2020](https://docs.google.com/document/d/1UgblGknPcIMcOfUc_UImUAyjTGTfZNWXZV1_iPsDntY/edit?usp=sharing), we need a prow task that runs microbenchmarks periodically and store the results.

[2020-04-17 01:05] chizhg commented on #148
/remove-lifecycle stale

[2020-04-17 01:05] chizhg commented on #148
/assign @steuhs

[2020-04-17 01:09] chizhg commented on #1704
/assign @steuhs

[2020-04-17 01:09] chizhg commented on #1704
/meow

[2020-04-17 02:54] chaodaiG commented on #1556
/remove-lifecycle rotten

[2020-04-17 05:06] chizhg opened #1912 "Move the installation of ko out of Dockerfile to the base bash scripts"
Currently we are installing `ko` and a few other tools in the prow-tests image, and all the Prow jobs for Knative are using the same image. Since `ko` does not have a good support for backward compatibility, sometimes it can cause issues for jobs running on the old release branches, see one example in https://github.com/knative/serving/pull/7597#issuecomment-615016991.

As now we are releasing tes

[2020-04-17 05:36] chizhg opened #1913 "config-generator supports configuring branches per job"
Currently all the presubmit test jobs generated from the [config_knative.yaml](https://github.com/knative/test-infra/blob/master/config/prow/config_knative.yaml) are run against all the branches by default. But some jobs can be supported and added at any time, the job won't work for older release branches. See more details in https://github.com/knative/serving/pull/7597#issuecomment-615016991.

Th

[2020-04-17 15:35] chaodaiG commented on #1813
/assign

[2020-04-17 15:43] chaodaiG opened #1914 "[oncall toil]Testgrid configured in Prow job configs"
k8s test-infra created 2 tools [configurator](https://github.com/kubernetes/test-infra/tree/master/testgrid/cmd/configurator) and [transfigure](https://github.com/kubernetes/test-infra/tree/master/testgrid/cmd/transfigure), which translate testgrid related configurations in Prow jobs into testgrid config. We should also use this so that there is no need to maintain [testgrid configurations](https:

[2020-04-17 15:47] coryrc commented on #1556
We need to be able to update old versions of prow-tests, so this doesn't help anything. We should just close.

[2020-04-17 16:05] chaodaiG commented on #1556
What's your proposed solution for preventing issues like https://github.com/knative/serving/pull/7597#issuecomment-615010119

[2020-04-17 16:47] coryrc commented on #1556
My proposed solution is actually testing changes first before deploying or don't prevent them.

If indeed a separate image is needed for different releases, then there should be a separate image, like prow-tests-release-0.11 so it can be recreated.

Otherwise, if you need to do a security fix, you have no ability to just make one change without digging deep in the history and choosing an arbitrary

[2020-04-17 16:55] chaodaiG commented on #1556
Makes sense to me. IMO it also depends on which level of compatibility prow-tests image we want to provide.

@chizhg has a proposal of pinning the versions of tools that are now part of prow-tests image in target repo, which should greatly help with the compatibility of prow-tests image

[2020-04-20 16:51] #1855 closed

[2020-04-21 23:02] chaodaiG opened #1935 "Auto config updater fails silently"
Auto config updater is doing pretty well most of the times, but when it failed it did it in a silent way, it's pretty hard to figure out unless the PR author kept on poking PR status page for the bot comment.

An example failure:
https://prow.knative.dev/view/gcs/knative-prow/logs/post-knative-prow-config-updater/1252724334305218561

[2020-04-21 23:03] chizhg commented on #1935
/assign

[2020-04-21 23:06] chizhg commented on #1935
The reason is because we are using the commit ID to get the PR number for postsubmit jobs, as we are always configuring Tide to use squash to merge PRs. It seems there is some delay when Github correlates the commit ID with the pull request thus the error.
The fix would be adding PR number as an env var in postsubmit jobs for Prow, then we won't need this hack anymore.

[2020-04-22 01:29] chizhg opened #1936 "Do not generate most of the maintenance jobs with config-generator"
Currently, we are generating all Prow jobs with the config-generator tool, including the maintenance jobs. This makes it pretty tedious to add new maintenance jobs, and also, there is no easy way to bump up the images versions used in the jobs with the autobumper tool.

Since most of the maintenance jobs are pretty stable, there is little value to generate them with code. Now that we have supporte

[2020-04-22 02:26] chizhg commented on #1805
This feature has been supported by https://github.com/kubernetes/test-infra/pull/16926. Now you can type `/test ?` or simply `/test` to check the supported tests.

[2020-04-22 02:26] #1805 closed

[2020-04-22 02:29] chizhg commented on #1623
This issue has been solved by the prow-config-updater tool, see https://github.com/knative/test-infra/tree/master/tools/prow-config-updater for more details.

[2020-04-22 02:29] #1623 closed

[2020-04-22 02:31] chizhg commented on #1622
Duplicate of https://github.com/knative/test-infra/issues/1810

[2020-04-22 02:31] #1622 closed

[2020-04-22 03:39] #1936 closed

[2020-04-22 03:55] chizhg opened #1941 "Cleanup job is broken"
The cleanup job in test-infra has been broken for a while, see https://prow.knative.dev/?job=ci-knative-cleanup

/cc @chaodaiG

[2020-04-22 03:56] chizhg commented on #1941
One thing not clear to me is why it does not fail the build tests...

[2020-04-22 13:40] chaodaiG commented on #1941
/assign

[2020-04-22 13:45] chaodaiG commented on #1941
This job still uses go1.12 image, this needs to be fixed

[2020-04-22 15:52] davyodom opened #1945 "Coverage job in prow does not support cgo builds"
The eventing-kafka repo in knative-sandbox requires some c libraries to be preinstalled before running go test/build.  We don't have any access to do this or run in a docker container for the coverage job.

As an example : https://storage.googleapis.com/knative-prow/pr-logs/pull/knative-sandbox_eventing-kafka/2/pull-knative-sandbox-eventing-kafka-go-coverage/1252983884107223042/build-log.txt

[cod

[2020-04-22 16:01] #1810 closed

[2020-04-22 16:15] #1941 closed

[2020-04-22 16:22] dprotaso opened #1947 "After marking a draft PR ready for review Prow doesn't add assignees"
I noticed it here: https://github.com/knative/serving/pull/7620

I had wip in the title and it was a draft PR

[2020-04-22 16:26] chizhg commented on #1947
Related: https://github.com/kubernetes/test-infra/issues/15572

[2020-04-22 16:31] #1812 closed

[2020-04-22 18:09] chizhg opened #1948 "prow-auto-bumper should also update the images in Prow jobs"
Some of our Prow jobs are also using images built from k8s-prow, e.g. `gcr.io/k8s-prow/checkconfig` in https://github.com/knative/test-infra/blob/4e70f01f4d2258e8ddd4abeee8635f7657868d6b/config/prow/jobs/custom-jobs.yaml#L45.

Prow auto-bumper should also update the version of these images as well.

Note:
There is one blocker to support this - the image `gcr.io/k8s-prow/commenter` used in the issu

[2020-04-22 19:05] chizhg opened #1950 "Prow staging does not work if a new PR is merged during the process"
Currently we are using the `pull` bot to create a PR to sync the changes to the forked repo, after a PR in the main repo is merged. It will only create a PR even if there are multiple PRs merged in the main repo.

The Prow staging process relies on this PR to test if the staging Prow is working, by leaving `/lgtm` and `/approve` on that PR, and then wait for the PR to be merged. But if a new PR in

[2020-04-22 19:05] chizhg commented on #1950
/assign

[2020-04-22 20:01] chizhg opened #1951 "go114 prow-tests image fails to be built on linux"
`cd images/prow-tests-go114 && make push` fails on linux machine with the below errors:
[code]

It works on mac though.

[2020-04-23 17:38] chaodaiG opened #1960 "Run simple workloads using Github Actions"
As discussed in Knative productivity WG meeting on 04/24/2020, it was proposed to use Github Actions side by side with Prow for some simple workloads, such as:
- config checker
- build/unit test
- maybe release

The nice thing about using Github Actions are:
- It's free for public repos
- In repo config
- It works better with templated repos, such as sample-source

There are several things need to

[2020-04-23 17:42] chaodaiG opened #1961 "Create build cluster for staging environment"
Currently build cluster configs are not covered by auto config updater, due to the missing of build cluster for staging environment. Create a staging build cluster and get auto config updater also protect it

/cc @chizhg

[2020-04-23 19:47] chizhg commented on #1960
Another thing we want to investigate is how this works with Tide, e.g. if one test is controlled by GitHub Actions and is marked as `required` in the branch protection rule, how will Tide detect it? Will Tide keep retrying to merge the PR if the test is not passed?
That's one reason I added https://github.com/knative/test-infra/blob/master/config/prow/core/config.yaml#L146, but I'm not sure if it'

[2020-04-23 19:56] chaodaiG commented on #1960
tide only relies on `required:true` label in Prow job config afaict, the branch protection rule is a duplicate of this. So this shouldn't be a problem as tide doesn't even care about the existence of jobs defined by Github Actions. see this issue I created in k8s/test-infra: https://github.com/kubernetes/test-infra/issues/16472

[2020-04-23 20:12] chizhg commented on #1960
Yeah I know. But I think the actions for Tide will be different in these two scenarios. Instead of doing
[code]
, it will do
[code]

[2020-04-23 20:14] chaodaiG commented on #1960
Ah. I see. That makes sense now. This will need to be better supported by tide if it doesn't currently

[2020-04-23 23:58] chaodaiG opened #1967 "run_job.sh is broken"
It failed to find default plank config:
[code]

I think it's related to #1939, and the root cause is we are using a very old commit id in k8s/test-infra for bazel

/cc @chizhg

[2020-04-24 10:36] markusthoemmes commented on #1960
I think we also need to make sure we have testgrid integration. Unit test flakes shall be visible there.

[2020-04-24 12:29] davyodom commented on #1945
@chaodaiG In the meantime, can we just disable the coverage job for knative-sandbox/eventing-kafka so we aren't blocked on merging?

[2020-04-24 14:08] chaodaiG commented on #1945
Make sense, see https://github.com/knative/test-infra/pull/1968

[2020-04-24 15:44] chaodaiG opened #1970 "Unified story of using k8s/test-infra tools with bazel"
There are currently a few places where bazel are used in this repo, based on the usage this can be divided into these categories:
- Used only by test-infra:
  - [Update testgrid config](https://github.com/knative/test-infra/blob/f645de8d9a500a3fd00149f1b4e693029d678132/config/prow_common.mk#L120)
  - [run_job.sh](/config/prow/run_job.sh)
- Used by other repos
  - Installed in [Prow test image](htt

[2020-04-24 15:45] chaodaiG commented on #1967
In the short term, we can fix it by cloning k8s, but in the long run, we should address #1970

[2020-04-24 16:04] chaodaiG commented on #1695
All jobs are running on build cluster now

/close

[2020-04-24 16:04] #1695 closed

[2020-04-24 16:22] chizhg commented on #1970
@cjwagner Do you have a suggestion on how to solve this issue? How are other repos running commands from k8s/test-infra repo such as `mkpj`? Thanks!

[2020-04-24 20:24] cjwagner commented on #1970
All Prow binaries are published as container images and all images are published together whenever one changes so that a consistent image version tag can be used across Prow components. Using components with different versions together or building with bazel from an arbitrary commit can cause in problems due to version skew between components. e.g. using a newer version of `mkpj` than `plank` coul

[2020-04-24 23:03] coryrc opened #1974 "Enable autoscaling in Prow build cluster"
Need to first update to 1.15
Enable NodeLocal DNSCache
Then enable autoscaling
/assign @chaodaiG
(feel free to reassign if desired)

[2020-04-24 23:05] coryrc commented on #1970
So we'd `docker run` them somehow?

[2020-04-24 23:38] cjwagner commented on #1970
Yes, see my link above for some example `docker run` commands for `mkpj` and `mkpod`.

[2020-04-24 23:50] chizhg commented on #1970
Thanks Cole!!

It seems `//testgrid/cmd/configurator` is not built as an image, or maybe it was in a different registry? If indeed not, can we built it as an image as well?

[2020-04-25 17:21] mattmoor opened #1975 "Enable non-Googlers to rescan PRs"
https://github.com/knative/net-contour/pull/108#issuecomment-619187191

[2020-04-27 18:38] chizhg opened #1978 "In Go modules mode, dep-collector takes a long time to collect and generate the license file"
When Go modules is turned on, dep-collector takes a long time to collect and generate the license file. The root cause is because each call to https://github.com/knative/test-infra/blob/3205a40d6171d2db4af0218e31ba4a2950fc76d1/tools/dep-collector/gobuild.go#L75 is taking much longer time than non-modules mode.

We should consider solving https://github.com/knative/test-infra/issues/1553 and push t

[2020-04-27 18:54] cjwagner commented on #1970
@chases2 Is there a configurator container image already?

[2020-04-27 19:27] chases2 commented on #1970
There is an image of configurator at `gcr.io/k8s-testgrid/configurator`, though that location may change in the near future. It should be part of the Prow registry with other tools.

[2020-04-27 21:10] chaodaiG commented on #1974
To avoid failing badly, created another build cluster and updated it to 1.15, test ran a test-infra job on it and it all went well: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-test-infra-continuous/1254862679047147521

I think it's relatively safe to update cluster

[2020-04-27 21:10] chaodaiG commented on #1974
/assign

[2020-04-27 21:43] chizhg opened #1983 "git command listing changed files gets warnings when there are too many changed files"
The git command in https://github.com/knative/test-infra/blob/bf3e6802597ac31776a8e3e62b32d51744b2ae77/scripts/presubmit-tests.sh#L52 gets warnings when there are too many changed files, one example is in https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/7734/pull-knative-serving-unit-tests/1254884557732188162#1:build-log.txt%3A3

/cc @chaodaiG

[2020-04-27 21:59] chaodaiG commented on #1983
To be more specific, this is too many renames:
[code]

Technically the test behavior is not affected by this warning, as this PR already had > 2000 lines of diff discovered, which we can assure that all tests will run.

However, we could easily get over this by `git config diff.renames 0` as described here: https://stackoverflow.com/questions/7830728/warning-on-diff-renamelimit-variable-when-doing

[2020-04-28 00:03] chaodaiG commented on #1974
Need to first update to 1.15: Done
Enable NodeLocal DNSCache: Ongoing

[2020-04-28 01:04] coryrc commented on #1912
The linked problem is a bug in `ko` or a bug in the script. Whichever one was the source should have been fixed, rather than paper over the problem.

Additionally, I thought we only supported N-2:N releases; given release-0.14 is out, I don't believe we support 0.11 any more.

[2020-04-28 01:08] chizhg commented on #1912
We support N-3:N releases for Knative. But it's not important to this issue as such kind of issue can happen on any branch.

[2020-04-28 01:22] coryrc commented on #1912
It matters because a problem on the oldest supported version has probably been fixed, it does not affect users, and it should be the releaser's responsibility to backport the fix.

[2020-04-28 01:50] duglin commented on #678
/remove-lifecycle stale

[2020-04-28 13:28] chaodaiG commented on #1974
Done

/close

[2020-04-28 13:28] #1974 closed

[2020-04-28 17:58] #1983 closed

[2020-04-29 04:51] chizhg commented on #1967
This issue has been fixed by https://github.com/knative/test-infra/pull/1981

[2020-04-29 04:51] #1967 closed

[2020-04-29 05:14] chizhg commented on #1858
Created https://github.com/knative/serving/issues/7755 for tracking.

[2020-04-30 23:08] chizhg commented on #1978
We have switched to `go-licenses` and it's now much faster.

[2020-04-30 23:08] #1978 closed

[2020-05-03 05:48] chizhg commented on #1951
/area test

[2020-05-03 05:48] chizhg commented on #1951
/remove-area test

[2020-05-03 05:48] chizhg commented on #1951
This issue has been fixed.

[2020-05-03 05:48] #1951 closed

[2020-05-04 12:01] #1573 closed

[2020-05-05 01:52] chizhg opened #2012 "Prow autobumper is getting an error"
The Prow autobumper job throws out an error in the last run:
`2020/05/04 20:01:40 failed updating files: 'failed to change to root dir'`

See details in https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-prow-auto-bumper/1257399883074113537

/assign @chaodaiG

[2020-05-05 15:27] chaodaiG commented on #2012
Couldn't repro locally

[2020-05-05 15:36] chaodaiG commented on #2012
This job runs from an image, which hasn't been updated since March: gcr.io/knative-tests/test-infra/prow-auto-bumper. Something wrong with the environment running it

[2020-05-05 19:15] #2012 closed

[2020-05-05 21:44] #1871 closed

[2020-05-06 00:37] coryrc commented on #1600
Chi is solving 2 with `kntest`.

1 was always a small task, as the file is mostly standalone.

1 & 3 will be supplanted by Tekton Pipelines, work which has already begun.

These other issues are tracked separately, so this issue isn't needed anymore.

[2020-05-06 00:37] #1600 closed

[2020-05-07 20:22] coryrc opened #2037 "Update playbook for Prow config updater & staging Prow"
The playbook predates the Prow config updater and staging Prow.

As oncall, I received a PR to auto-update staging Prow. What do I do after it has been approved? It seems manual update is no longer necessary?

What do I do after the staging Prow is updated? Is there another automatic PR bump for the regular Prow? Will that auto-update? How do I do an emergency rollback -- still manual push from sl

[2020-05-07 20:41] coryrc commented on #1823
/assign @coryrc

[2020-05-08 08:48] slinkydeveloper opened #2042 "e2-tests.sh script sourcing doesn't work properly with zsh"
I'm trying to follow this guide https://github.com/knative/test-infra/blob/master/scripts/README.md but it doesn't work properly on Fedora 32 with zsh as default shell.

I found somewhere in the codebase of the scripts some bash specific vars like `$BASH_SOURCE`: https://github.com/knative/test-infra/blob/master/scripts/e2e-tests.sh#L20 while it should use https://stackoverflow.com/questions/99012

[2020-05-08 08:52] slinkydeveloper commented on #2042
I've also tried to run the script from bash, like:

[code]

But after the script is ran, it quits from bash and goes back to zsh

[2020-05-08 22:02] coryrc commented on #1364
/assign @coryrc

[2020-05-08 22:03] coryrc commented on #1364
Creating a new CI flow as copy of the integration-tests CI flow in each repo.

[2020-05-12 21:35] chizhg opened #2059 "CI/CD flows are broken for all release branches"
After test-infra switched to Go modules, the CI/CD flows are broken for all release branches due to one issue in `dep-collector`. One example is https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-0.14-continuous/1257583593450901504.

/assign

[2020-05-12 21:49] chizhg commented on #2059
This issue has been fixed by https://github.com/knative/test-infra/pull/2058

[2020-05-12 21:49] #2059 closed

[2020-05-12 23:37] coryrc commented on #1734
oops, wrong number
still open

[2020-05-12 23:37] coryrc commented on #1734
/open
?

[2020-05-12 23:38] coryrc commented on #1734
/reopen

[2020-05-12 23:39] coryrc commented on #1364
2044 should have fixed this

[2020-05-13 03:09] coryrc commented on #1823
/reopen

I shouldn't have closed this issue until the image is deployed. The beta-testing jobs are telling me:

[code]

so will need to do something about GOPATH when switching

(from https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-0.14-continuous-beta-prow-tests-chizhg/1260398562286505984)

[2020-05-13 03:11] coryrc commented on #1364
Missed a few images being -go114: https://github.com/knative/test-infra/pull/2044/files#diff-d7e5ce7ac90738a0137d602ea0820b71R8056

[2020-05-13 20:00] coryrc commented on #2042
You shouldn't "source" the script, just run it:
`(kafka_source_tracing)⚡ [127] % test/e2e-tests.sh`

/close

[2020-05-13 20:00] #2042 closed

[2020-05-13 20:01] coryrc opened #2063 "Helper utility for running testing from docker"
Any developer should be able to easily run tests on their local machine as if they were running in Prow (same tool versions, etc). We can do this by making it easy to run the test flows in docker.

/assign @coryrc

[2020-05-13 20:03] navidshaikh opened #2064 "e2e-tests: Passing tags fails running e2e tests"
**Issue 1:**
Passing multiple tags fails running e2e tests

Steps to re-produce:
1 - Pass multiple e2e tags to `go_test_e2e` [ref](https://github.com/knative/client/pull/830/files#diff-0bff8fdbdcedf4cfbdcab24558df0df2R55)
[code]

2 - Fails with error: `go test: tags flag may be set only once` because there is an additional `-tags=e2e` added to the `go test` command ref: [logs](https://prow.knative

[2020-05-13 20:15] coryrc commented on #1801
Gubernator is [deprecated](https://github.com/kubernetes/test-infra/pull/11302).

At the bottom of the page, there [is a link to where to file bugs](https://github.com/kubernetes/test-infra/issues/new?title=PR%20Dashboard:&labels=area/gubernator&assignee=rmmh).

[2020-05-13 20:15] coryrc commented on #1801
/close

[2020-05-13 20:15] #1801 closed

[2020-05-13 20:18] coryrc commented on #1587
I think Chi's kntest proposal supercedes this nor is the approaches discussed here viable, so

/close

[2020-05-13 20:18] #1587 closed

[2020-05-13 20:19] coryrc commented on #1626
Given the config generator, this isn't feasible and we should drop in favor of more important things.

/close

[2020-05-13 20:19] #1626 closed

[2020-05-13 20:20] coryrc commented on #148
Since he's actually doing it:
/assign @evankanderson

/unassign steuhs

[2020-05-13 20:21] coryrc commented on #1704
/unassign steuhs

[2020-05-13 20:27] coryrc commented on #2064
For the first, you need to do `-tags="e2e serving"`, then it will work (note I added an equals sign).

For the second, if the above does not fix your problem, then adding single quotes probably will:
`"-tags='e2e serving'"`

/close

[2020-05-13 20:30] coryrc commented on #1856
Anybody using a Mac needs to install a newer bash, that's why every file has to have `#!/usr/bin/env bash` instead of `#!/bin/bash`.

/close

[2020-05-13 20:30] #1856 closed

[2020-05-13 20:30] coryrc commented on #1864
WAI

the conformance tests are in that test run
/close

[2020-05-13 20:30] #1864 closed

[2020-05-13 20:35] coryrc commented on #1975
Internal bug filed

[2020-05-13 20:40] coryrc commented on #1975
156525597 is the bug number

[2020-05-13 20:53] coryrc commented on #1947
Recommend `/auto-cc` command or file bug at kubernetes/test-infra
/close

[2020-05-13 20:53] #1947 closed

[2020-05-13 20:57] coryrc commented on #1960
We should be reducing the number of disparate system we need to support and configure, not increasing them.

[2020-05-13 21:03] coryrc commented on #1960
We already have Prow.

Prow supports this, our template generator does not.

Not if we put the test scripts into prow-tests (oops, already did!)

[2020-05-13 21:12] coryrc commented on #1906
If you write a program (executable or shell script) in your repo that does 1&3, we can help you plumb it into the test flows.

[2020-05-13 21:13] coryrc commented on #1907
@chizhg is this feasible to easily add to the continuous Mako runs or should it be a CI job running the same outputs as #1906 ?

[2020-05-13 21:17] coryrc commented on #1858
This should be renamed to "use serving-crds.yaml in place of serving.yaml".

[2020-05-13 21:29] coryrc commented on #1899
@grantr Those two packages got moved from test-infra/shared to pkg/test

[2020-05-13 22:41] #1823 closed

[2020-05-13 22:59] coryrc commented on #1975
Normally the PR owner can request a rescan, but in this case being a bot, it requires a googler to do it and it's not a priority for that team to tackle the issue otherwise.
/close

[2020-05-13 22:59] #1975 closed

[2020-05-13 23:10] coryrc commented on #1803
shared folder doesn't exist anymore so assuming they all got moved
/close

[2020-05-13 23:10] #1803 closed

[2020-05-14 07:02] slinkydeveloper commented on #2042
@coryrc that's what i read here to use separately the setup/teardown functions: https://github.com/knative/test-infra/blob/master/scripts/README.md

Then i suppose this guide needs to be updated

[2020-05-14 07:03] slinkydeveloper commented on #1906
@coryrc ok i can give it a try, where should i pr these scripts?

[2020-05-14 07:05] slinkydeveloper commented on #1907
Not sure, let's try to tackle first the #1906 and then we'll figure out this one too

[2020-05-14 11:37] navidshaikh commented on #2064
For first, using `-tags="e2e serving"` prevents repeating `-tags` flag.

<hr>

For second, adding single quotes as suggested doesnt help
[code]

ref: [log](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/830/pull-knative-client-integration-tests/1260888542058385408#1:build-log.txt%3A524)

[2020-05-14 11:38] navidshaikh commented on #2064
/reopen

[2020-05-14 17:35] coryrc commented on #2042
I'm sorry it's not clear, it's describing how to write your own script and we only support bash.

[2020-05-14 17:36] coryrc commented on #1906
eventing or eventing-contrib I assume? @chizhg

[2020-05-14 17:40] coryrc commented on #2064
Did you try with just double quotes first?

Because `go_test_e2e` calls `report_go_test` so it should work

[2020-05-14 17:47] chizhg commented on #1906
Yeah eventing should be the right place.

[2020-05-15 03:43] coryrc opened #2069 "Cannot update shell scripts independently"
During a test run, we use a collection of shell scripts to run `go build`, `go test`, acquire clusters, install serving, check markdown links, etc. The master source of these shell scripts is in knative/test-infra. Each repo carries of copy of these shell scripts and some extend them by `source`ing them and adding functionality.

When a release is cut, these scripts stop being kept in sync with kn

[2020-05-15 03:45] coryrc commented on #2069
/assign @mattmoor
/assign @chizhg
/assign @chaodaiG
/assign @vaikas
/assign @grantr

[2020-05-15 04:12] coryrc commented on #1364
Fixed in: https://github.com/knative/test-infra/pull/2065

I need to document using the flows though.

[2020-05-15 04:34] chizhg commented on #2069
To add some clarity, `go mod` update is following the [Minimal Version Selection](https://github.com/golang/go/wiki/Modules#faqs--minimal-version-selection) to update modules.

So in your case that updates `test-infra` for `client`, it checks the version of `knative.dev/pkg` in the `go.mod` file of `test-infra`, which is `v0.0.0-20200514052058-c75d324f8b8b` and exactly the version `client` was upd

[2020-05-15 04:44] mattmoor commented on #2069
The example in knative/client#841 pulls in a months worth of test-infra changes, and (as discussed in slack) test-infra has an ill-advised dependency on knative/pkg which pulls that into the solution space when running `go get -d knative.dev/test-infra` (as @chizhg points out before I can hit send!).

In a world where we've adequately snapped release branches for test-infra and pkg, would pulling

[2020-05-15 04:55] coryrc commented on #2069
In an ideal world, we have only one set of scripts and they're tested before being updated.

It shouldn't matter what libraries test-infra uses! We don't use it for Go code, we just include it. If we had never entangled them in the first place, there'd be no reason to entangle them today.

[2020-05-15 05:27] mattmoor commented on #2069
Ack, and I agree.

We're not in an ideal world, and unfortunately it does matter what libraries test-infra uses.  I'd love to see us disentangle things, and get ourselves to a better place; however, rushing that in the closing week(ish) of our milestone isn't the right time to try and do that.

I am looking for a clear statement of the problem so that we can assess more tactical options (including

[2020-05-15 09:34] slinkydeveloper commented on #1906
All yours: https://github.com/knative/eventing/pull/3151

[2020-05-15 14:02] antoineco opened #2071 "update_licenses pulls more than just license files"
As seen in knative/eventing-contrib#1232, update_licenses copies more than just LICENSE files.

Example: https://github.com/knative/eventing-contrib/tree/master/third_party/VENDOR-LICENSE/github.com/hashicorp/go-uuid

[2020-05-15 14:28] navidshaikh commented on #2064
Yes, I tried as
[code]
which gives
[code]

[2020-05-15 17:55] coryrc commented on #2069
It's trivial to backport, so we don't need to do anything in the next 2 days.

It can wait.

[2020-05-15 18:30] #1769 closed

[2020-05-15 18:47] chizhg commented on #2071
This is expected for the [go-licenses](https://github.com/google/go-licenses) tool, see https://github.com/google/go-licenses/blob/master/save.go#L97-L102

If the license type is `Restricted` or `Reciprocal`, it will need to copy the entire source directory instead of just the LICENSE file.

[2020-05-15 18:47] #2071 closed

[2020-05-15 19:35] chaodaiG opened #2076 "Prow auto updater prints out actionable error messages"
Prow auto updater prints the following [error message](https://github.com/knative/test-infra/pull/2075#issuecomment-629433534):
[code]

This is not very actionable. Would be very helpful if it could point out where it failed, and provide relevant links. If it couldn't figure out it's own skyglass link at least we should have a link pointing to https://prow.knative.dev/?job=post-knative-prow-config

[2020-05-15 19:35] chaodaiG commented on #2076
cc @chizhg  for awareness

[2020-05-15 20:42] coryrc commented on #1906
Note to myself or team: "You can get a link to it in the top bar by adding a reference to it in finished.json."

I'm not sure how to do that yet, but it means we can make a link to the HTML you generate from the Spyglass page (the one that pops up when you click on the job in TestGrid or details from a PR).

[2020-05-15 22:25] chizhg opened #2078 "Investigate using multiple Go modules to solve the scripts vendor issue"
At this point (May 15th, 2020), we have switched all Knative projects to use Go modules, but it brings in a regression that makes it impossible to only update vendored scripts from `test-infra`, when vendored `pkg` is not at HEAD. More discussions can be found from https://github.com/knative/test-infra/issues/2069.

Using multiple Go modules in the test-infra repo can potentially solve this issue,

[2020-05-15 23:11] chizhg opened #2079 "report_go_test does not fail when there are no tests"
When the test package does not contain any tests, the [report_go_test](https://github.com/knative/test-infra/blob/65144e695d277847c51c08f5008cd39f59b931e4/scripts/library.sh#L415) function reports as success the test flow still passes even when there is error.

https://knative.slack.com/archives/CA1DTGZ2N/p1589561963210900 is the discussion on Slack.

[2020-05-18 16:03] chaodaiG opened #2081 "Prow logs contains lots of crier errors"
The same crier error is appearing at a steady rate of ~20 times per minute. One of the example from stackdriver is:
[code]

A better format of the error message:
[code]

[2020-05-18 16:03] chaodaiG commented on #2081
/assign

[2020-05-18 16:24] chaodaiG commented on #2081
This has been happening since 2020-04-18 09:23:39.000 PDT

[2020-05-18 16:54] chaodaiG commented on #2081
This problem also blocks some of the PRs from reporting. Since it's known that restarting crier can temporarily alleviate the problem, rebooting crier to unblock them while investigating

[2020-05-18 19:57] chaodaiG opened #2085 "Flaky test reporter failed"
It had failed since last Friday. Example: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-flakes-reporter/1262352438174683138
[code]

[2020-05-18 19:57] chaodaiG commented on #2085
/assign

[2020-05-18 19:58] chaodaiG commented on #2085
The error was caused by listing issues while a repo doesn't contain `IssueRepo`

[2020-05-18 21:01] chaodaiG opened #2089 "Prow logs contains repeating deck errors `failed to get path: failed to resolve sym link`"
The error logs come in batches, like:
[code]

It's recurring every 15 to 25 minutes, and each batch contains 10 to 11 logs

[2020-05-18 21:01] chaodaiG commented on #2089
https://pantheon.corp.google.com/logs/viewer?project=knative-tests&minLogLevel=0&expandAll=false&customFacets=jsonPayload.component,jsonPayload.level&limitCustomFacetWidth=false&interval=PT1H&resource=container%2Fcluster_name%2Fprow%2Fnamespace_id%2Fdefault&timestamp=2020-05-18T20:54:30.000000000Z&advancedFilter=resource.type%3D%22container%22%0Aresource.labels.cluster_name%3D%22prow%22%0Aresource

[2020-05-18 21:02] chaodaiG commented on #2081
Link of stackdriver log:
https://pantheon.corp.google.com/logs/viewer?project=knative-tests&minLogLevel=0&expandAll=false&customFacets=jsonPayload.component,jsonPayload.level&limitCustomFacetWidth=false&interval=PT1H&resource=container%2Fcluster_name%2Fprow%2Fnamespace_id%2Fdefault&pli=1&rapt=AEjHL4M7zLSOVoHMAmPPK7cly20iLMJFTCQ0X2WnE6bNA7VOL1lblvqZ-AXQ1Eonb5DmO3Z5cb23vEh0_3a1TAV0SAtLjdWlMQ&timesta

[2020-05-18 21:17] chaodaiG commented on #2069
/unassign

[2020-05-18 22:39] chaodaiG commented on #2089
For the example mentioned in the issue body: `pull-knative-client-integration-tests/1194106295636987907.txt`, the prow job was started but didn't log anything in gcs: https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/844/pull-knative-client-integration-tests/1194106295636987907. The symlink for the build was not created either: `gs://knative-prow/pr-logs/directory/pull-kna

[2020-05-19 02:03] chizhg opened #2091 "Use peribolos to manage org settings, teams and memberships for Knative"
[peribolos](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos) is a tool developed by k8s sig-testing. By using it, the org settings, teams and memberships can be declared in a yaml file, and GitHub will be updated to match the declared configuration.

We can configure this tool for `knative` and `knative-sandbox`. The configuration files will be put under `knative/community`

[2020-05-19 03:41] chizhg opened #2092 "Flaky test retryer cannot retry on PRs for repos that are not under Knative org"
We have set up flaky test reporter and retryer for [google/knative-gcp](https://github.com/google/knative-gcp), but it does not work.

The reason is when it gets failed tests for a PR in https://github.com/knative/test-infra/blob/master/tools/flaky-test-retryer/handler.go#L100, it's using a library implemented in `knative.dev/pkg/test/prow`, which assumes the org is `knative`, so it won't be able

[2020-05-19 14:14] chaodaiG commented on #2085
It's fixed
/close

[2020-05-19 14:14] #2085 closed

[2020-05-19 15:24] chaodaiG commented on #2079
There are two sides of this problem:

1. There are cases where a test suite crashed and no junit result logged, this is where `report_go_test` reports a test failure
1. When there is no go test in a directory, `report_go_test` still reports it as failed, this is not desired. However, I would argue that it should report failure if someone call `go test <dirA>` and there is no test in `<dirA>`

[2020-05-19 17:01] evankanderson commented on #2091
Dup of #148

/close

[2020-05-19 17:01] #2091 closed

[2020-05-19 17:43] chaodaiG commented on #2089
I can reproduce this problem by visiting https://prow.knative.dev/job-history/knative-prow/pr-logs/directory/pull-knative-client-integration-tests, every time I refresh button on the page, these errors appeared right away in stackdriver

![Screen Shot 2020-05-19 at 10 18 42 AM](https://user-images.githubusercontent.com/45011425/82359981-8821b300-99bd-11ea-849f-220c99be0db6.png)

[2020-05-20 00:03] chizhg commented on #1714
/remove-lifecycle stale

[2020-05-20 15:51] chaodaiG commented on #1807
/kind enhancement

[2020-05-20 15:52] chaodaiG commented on #1807
/kind good-first-issue

[2020-05-20 15:53] chaodaiG commented on #1787
/kind enhancement

[2020-05-20 15:54] chaodaiG commented on #2076
/kind enhancement

[2020-05-20 15:57] chaodaiG commented on #2037
/kind enhancement

[2020-05-20 15:59] chaodaiG commented on #1961
This was done
/close

[2020-05-20 15:59] #1961 closed

[2020-05-20 16:00] chaodaiG commented on #1875
I think this is done @chizhg

[2020-05-20 16:02] chaodaiG opened #2103 "Auto-push images"
test-infra repo maintains several docker images under `images`, which are currently updated manually. This is error prone and sometimes are neglected, we should have a way of automatically uploading images

[2020-05-20 16:02] chaodaiG commented on #2103
/kind enhancement

[2020-05-20 16:39] #1875 closed

[2020-05-20 16:45] chaodaiG commented on #1970
Fixed
/close

[2020-05-20 16:45] #1970 closed

[2020-05-20 18:25] chaodaiG opened #2104 "Separate prow job update job from others"
Currently, once a PR containing prow jobs only changes, the config is updated right away by https://prow.knative.dev/?job=post-knative-prow-config-updater. This could be separated out of the process by simply updating prow job configs if the PR contains prow job changes

[2020-05-20 18:25] chaodaiG commented on #2104
/kind enhancement

[2020-05-20 18:42] chaodaiG opened #2105 "Remove redundant sections in prow configs"
Prow allows custom settings with granularity on repo level, but we are not really using it at the moment. However, the configs are still defined on repo level, which causes:

- Lots of duplicated entries, i.e. https://github.com/knative/test-infra/blob/c3a5d13192cf72c79ad96eee575e2f836e96478d/config/prod/prow/core/plugins.yaml#L96
- Pretty bad readability, makes code review hard

Should just go ba

[2020-05-20 18:42] chaodaiG commented on #2105
/assign

[2020-05-20 20:35] chizhg commented on #2092
This issue has been fixed, see https://github.com/google/knative-gcp/pull/1099#issuecomment-631629107

[2020-05-20 20:39] chizhg opened #2107 "Flaky test reporter and retryer won't work well for duplicated repo names"
When flaky test reporter generate report files, the file name will only contain the repo name, see https://github.com/knative/test-infra/blob/master/tools/flaky-test-reporter/jsonreport/jsonreport.go#L78, and flaky test retryer will only get the report with the repo name. This normally works well, but will have problems for sure if there are duplicated repo names under different orgs.

The fix wou

[2020-05-20 20:43] chizhg commented on #2104
FYI https://github.com/kubernetes/test-infra/tree/master/prow/plugins/updateconfig could be helpful here. It can even be configured on different repos.

[2020-05-20 20:44] chaodaiG commented on #2104
Sweet!

[2020-05-20 20:45] chizhg commented on #2103
With the CI beta tests added by @coryrc , we can potentially implement an image auto-promotion flow for rolling out the new image.

[2020-05-20 20:46] #2092 closed

[2020-05-20 21:29] coryrc commented on #2103
CI Jobs in many repos are flaky or completely broken, so we wouldn't want Overall status to gate release of the new image.

[2020-05-20 21:31] chaodaiG commented on #2103
For this process I'm not oppose the idea of "jailing", we could start with a few "stable" repos and slowly releasing repos out of "jail" if they proved to be good. This jailing process can be automated as well in my opinion

[2020-05-21 07:05] #1364 closed

[2020-05-21 07:18] chizhg opened #2109 "The error logs for different tests run with Go 1.14 are interleaved in junit xml files"
Go 1.14 has a new feature that "go test -v now streams t.Log output as it happens, rather than at the end of all tests."

This make `go-junit-report` that we use to generate junit xml files unhappy, which can possibly show the error messages for one test under another one on Spyglass.

See one example in https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing/3034/pull-knative

[2020-05-21 18:30] davyodom commented on #1945
@chaodaiG, the build has since been refactored and simplified in eventing-kafka, the standard coverage job should now work (I think). Can we re-enable and verify?

[2020-05-21 19:45] chaodaiG commented on #1945
Sure, see #2110

[2020-05-22 17:53] chaodaiG opened #2116 "Postsubmit job shouldn't run in PR"
See: https://github.com/knative/test-infra/pull/2115

`post-knative-prow-config-updater` ran as part of presubmit jobs mix, this might because of #2115 is a reverting PR

[2020-05-22 19:40] coryrc opened #2118 "Go version should be defined in-repo"
Each repo should be able define what GO_VERSION becomes when running jobs. The configuration generator can provide a default value, but each repo should have a way to define what version of Go it desires.

Advantages:
1. Each repo can decide when to switch Go versions w/o waiting on test-infra to update jobs
2. Running tests in docker allows the GO_VERSION to be determined accurately without havin

[2020-05-23 16:55] davyodom commented on #1945
Looks like there is some problem here? https://storage.googleapis.com/knative-prow/pr-logs/pull/knative-sandbox_eventing-kafka/14/pull-knative-sandbox-eventing-kafka-go-coverage/1263888166427824128/build-log.txt

[2020-05-25 18:51] chizhg commented on #1624
/remove-lifecycle stale
/unassign @peterfeifanchen
/assign @chaodaiG

[2020-05-26 14:13] chaodaiG commented on #1945
I think this is because of the chicken and egg problem: coverage job needs at least one passed postsubmit coverage job serving as baseline for delta computation. The easiest fix is ignore the coverage result for the first PR then it'll establish a baseline

[2020-05-26 14:35] chaodaiG commented on #2089
/assign

[2020-05-26 15:43] slinkydeveloper opened #2120 "Flaky test reporter should not create duplicated issues for subtests"
From discussion: https://knative.slack.com/archives/CA1DTGZ2N/p1590494902288600

Example:
* https://github.com/knative/eventing-contrib/issues/1262
* https://github.com/knative/eventing-contrib/issues/1261

The two issues are about the same flaky test, but the bot open two issues

[2020-05-26 15:44] slinkydeveloper commented on #2120
/assign

[2020-05-27 03:04] #2105 closed

[2020-05-27 19:03] chaodaiG commented on #2104
/assign

[2020-05-27 20:11] davyodom commented on #1945
They seems to still be failing after a few different PRs have been merged, something else required to get it working?
https://storage.googleapis.com/knative-prow/pr-logs/pull/knative-sandbox_eventing-kafka/20/pull-knative-sandbox-eventing-kafka-go-coverage/1265734217526939650/build-log.txt

[2020-05-27 20:12] chaodaiG commented on #1945
Yes, sorry we ran into a bug with prow, and talking actively with k8s prow folks to see how to resolve this

[2020-05-28 03:30] coryrc commented on #2069
840 did it

[2020-05-28 03:30] #2069 closed

[2020-05-28 03:31] coryrc commented on #2063
/assign @peterfeifanchen
/unassign

[2020-05-28 03:32] coryrc commented on #1734
we have deleted default resource... but we should document what the config generator does somewhere

[2020-05-28 03:32] #1734 closed

[2020-05-28 13:42] chaodaiG commented on #1375
/remove-lifecycle rotten

[2020-05-29 15:18] chaodaiG commented on #1945
I think this is fixed, may need to have one more PR merged to get it working

[2020-06-01 00:01] #1242 closed

[2020-06-01 18:44] #2104 closed

[2020-06-01 19:49] #2116 closed

[2020-06-02 00:43] #2120 closed

[2020-06-02 01:37] chizhg commented on #2118
FYI the go version is already specified in `go.mod` file, see https://github.com/knative/test-infra/blob/master/go.mod#L3, so there is no need to add any extra logic in each repo.

The go version selection logic should be in the test driver scripts, e.g. `presubmit-tests.sh`, since we need the repo's source code to be in place first.

[2020-06-02 01:45] chizhg commented on #214
/remove-lifecycle stale
/life-cycle frozen

[2020-06-02 01:45] chizhg commented on #214
/lifecycle frozen

[2020-06-02 01:45] chizhg commented on #459
/life-cycle frozen

[2020-06-02 01:46] chizhg commented on #459
/lifecycle frozen

[2020-06-02 01:46] chizhg commented on #496
/lifecycle frozen

[2020-06-02 01:46] chizhg commented on #717
/lifecycle frozen

[2020-06-02 01:46] #717 closed

[2020-06-02 01:47] chizhg commented on #746
/lifecycle frozen

[2020-06-02 01:48] chizhg commented on #1102
The relevant issues have all been fixed.

[2020-06-02 01:48] #1102 closed

[2020-06-02 01:48] chizhg commented on #1265
/lifecycle frozen

[2020-06-02 01:49] chizhg commented on #1374
/lifecycle frozen

[2020-06-02 01:49] chizhg commented on #1586
/lifecycle frozen

[2020-06-02 01:50] chizhg commented on #1696
/lifecycle frozen

[2020-06-02 01:50] chizhg commented on #1733
/lifecycle frozen

[2020-06-02 01:50] chizhg commented on #1742
/lifecycle frozen

[2020-06-02 01:50] chizhg commented on #1777
/lifecycle frozen

[2020-06-02 02:07] chizhg commented on #2078
I did some experiment with Go multiple modules, and did not see any issues.

The only changes needed in each repo will be changing the floating deps from `knative.dev/test-infra` to `knative.dev/test-infra/scripts`. And even if it does not change, it can still work in the old way.

[2020-06-02 04:56] rhuss opened #2143 "Make scripts/library.sh work for Bash v3"
When including `scripts/library.sh` with Bash v3 (which is the version used on macOS), you get the following errors:

[code]

It would be good if the script would be runnable on a POSIX compliant shell, or at least Bash v3 and do not use Bash v4 or v5 only features. The use case is, that it is desirable to reuse library functions like `update_licenses` or `remove_broken_symlinks` not only for CI/C

[2020-06-02 18:19] evankanderson commented on #214
/assign @mattmoor @dprotaso

Take a look at the command in https://github.com/knative/test-infra/issues/214#issuecomment-511986692 and example execution in https://github.com/knative/test-infra/issues/214#issuecomment-514810888 and see if this would be useful to you.

[2020-06-02 19:52] davyodom commented on #1945
Still there!
https://storage.googleapis.com/knative-prow/pr-logs/pull/knative-sandbox_eventing-kafka/21/pull-knative-sandbox-eventing-kafka-go-coverage/1267904842634891265/build-log.txt

[2020-06-03 03:31] chizhg commented on #2118
Actually I was wrong about this. `runner.sh` is the initial test driver, so we can put the go version selection logic there.

[2020-06-03 13:56] dprotaso opened #2149 "We need a tool to bump go version across the repositories in knative org"
I've been bumping everything manually which has turned out to be a pain.

I did the bump to 1.14 since so that there would be consistency with the go tooling & it's use of the vendor folder - ie. see https://golang.org/doc/go1.14#go-command

We'll want to bump the go version at some point in the future so some automation would be ideal

[2020-06-03 16:40] chizhg commented on #2149
We are aware of this issue, and I'm working on a long term solution in https://github.com/knative/test-infra/pull/2147, do you think it is an ideal approach?

[2020-06-03 17:42] #2118 closed

[2020-06-03 17:53] chaodaiG opened #2154 "Deprecating in house monitoring tool"
There is an in house monitoring tool https://github.com/knative/test-infra/tree/master/tools/monitoring created in 2019 based on this design: go/kmon-fail

The alerts, especially pods not coming up error, provides more noise than useful message. I think we should deprecate this monitoring tool.

For the errors that are still valuable to be monitored, I would recommend we switch to stackdriver aler

[2020-06-03 18:32] chaodaiG commented on #2154
/assign

[2020-06-03 18:56] dprotaso commented on #214
looks good to me

[2020-06-03 19:04] dprotaso commented on #2149
oh my issue was more specifically bumping the version in the `go.mod` file

ie. eventually we'll want to go from 1.14 to 1.15

[2020-06-03 19:13] chizhg commented on #2149
My PR is specifically targeted on that 😄

First, we are now use [gvm](https://github.com/moovweb/gvm) which allows us install multiple versions of Go in the test image.
Then after my PR is in, before each Prow job starts, the test driver script will parse the `go.mod` file and use `gvm` to switch to the version of Go specified in it.

So in the future when you submit a PR to change the Go version

[2020-06-03 19:16] dprotaso commented on #2149
yours compliments - i mean actually having tooling that will update the go.mod file

ie. automate something like

https://github.com/knative/eventing-contrib/pull/1287

[2020-06-03 19:40] chizhg commented on #2149
I see, sorry I misunderstood.

Technically we can implement a Prow job to do this. But one thing I'm not sure is the trigger of this job, e.g. how do we determine when is the time to bump up Go versions.
One way I can think of is polling the releases of golang in https://github.com/golang/go/releases and create PRs for Knative when there is a new release. But I'm not sure if there is any caveat fo

[2020-06-03 19:43] dprotaso commented on #2149
manual triggering of the job would be fine - i don't think we need to poll for new golang releases

[2020-06-03 19:50] chizhg commented on #2149
I see. That's also what I thought initially, since we don't need it to be run quite often - IIRC Go only have a minor release every half year. I have modified the title to be more accurate and will check it when I get some time.

[2020-06-04 00:15] chizhg commented on #1782
/remove-lifecycle stale

[2020-06-04 17:35] chaodaiG commented on #2154
Stackdriver alerts set up here: https://pantheon.corp.google.com/monitoring/alerting/policies?project=knative-tests

- Pubsub subscription was deleted
- The service and deployment of monitoring app was deleted

[2020-06-04 23:23] evankanderson commented on #214
/assign @dprotaso to update any serving release documentation to mention how to run the tool, and to remind reviewers to check the `RELEASE NOTES` section of PRs.

[2020-06-05 01:45] dprotaso opened #2171 "logs not printed when certain runners fail"
ie. build logs here

https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_client/866/pull-knative-client-build-tests/1266493848373170176

[code]

[2020-06-05 14:01] chaodaiG commented on #2081
/assign chizhg

[2020-06-05 15:24] dprotaso opened #2174 "we need a tool to bump k8s deps across various knative repositories"
related: https://github.com/knative/serving/issues/6583

I'm adding a `./hack/update-k8s-dep.sh` to all of them. It would be nice if there was a manual job that could be run to invoke the script across all the repos and stage PRs.

[2020-06-05 15:24] dprotaso commented on #2174
note: i'm doing this manually for now

[2020-06-05 17:17] chaodaiG opened #2177 "Auto add/delete release branch jobs"
Branch specific jobs, including continuous, release jobs are set up for current release and previous release branches, currently they are manually added and deleted.

Since all these are defined in https://github.com/knative/test-infra/blob/master/config/prod/prow/config_knative.yaml, we can automate the process by monitoring the branches changes in each repo and send out PR updating them

[2020-06-05 17:31] #2154 closed

[2020-06-05 18:01] chaodaiG commented on #2109
/assign

[2020-06-08 14:42] chaodaiG commented on #2081
/unassign

[2020-06-08 16:58] #2089 closed

[2020-06-08 18:04] rhuss commented on #2143
@chizhg @chaodaiG any thoughts on this ? If there is a commitment to stick to bash v3, I'm happy to help and work on a PR to switch to bash v3 features only.

[2020-06-08 23:53] chaodaiG commented on #2109
The example above has:
[code]

I was an old pull request that's not easy to repro, this also happens in latest serving test:
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-continuous/1269932327077679104

[2020-06-09 17:41] chaodaiG commented on #2109
Tested with latest gotestsum, didn't help:

https://github.com/knative/serving/pull/8274
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/8274/pull-knative-serving-integration-tests/1270397344797429763

[2020-06-09 22:16] chaodaiG commented on #2109
gotestsum community seems active, created a bug there: https://github.com/gotestyourself/gotestsum/issues/128

[2020-06-09 22:39] dnephin commented on #2109
This is an issue with `go1.14`, see https://github.com/golang/go/issues/38458. It sounds like that issue was fixed recently, so it should be resolved for go1.15.

[2020-06-09 22:53] chizhg commented on #2109
Thanks for the pointer @dnephin !
It's likely that they are planning to backport this fix to Go 1.14 - https://github.com/golang/go/issues/39308

[2020-06-10 00:44] #2078 closed

[2020-06-11 21:22] chizhg commented on #2081
More observations for this issue:
It's because `gcsreporter` was throwing out errors when it uploads files to GCS. The error was in https://github.com/kubernetes/test-infra/blob/3bcd4aea5b0466ecac7cd1be2887b8a9ff237b7f/prow/crier/reporters/gcs/internal/util/util.go#L59-L69.

I have already found some issues with it but not the real culprit. Still digging.

[2020-06-12 00:51] #2103 closed

[2020-06-12 20:41] dprotaso commented on #214
K8s has a bot that forces either release notes to be placed or `NONE` can we enable that?

[2020-06-14 23:53] chizhg opened #2197 "web-apicoverage job is failing for Knative serving"
web-apicoverage job in serving has been failing for a while, see https://testgrid.knative.dev/serving#webhook-apicoverage

The error is `error: unable to recognize "STDIN": no matches for kind "Deployment" in version "apps/v1beta1"`, see error: unable to recognize "STDIN": no matches for kind "Deployment" in version "apps/v1beta1"

[2020-06-15 04:20] chizhg commented on #2081
The error only happens if the crier Pod has been running for a relatively long time, like 2-3 days, and restarting the Pod will "fix" the issue. I started running a crontab which deletes the crier Pod every midnight, and since then we never met this issue.

We are now suspecting 3 possible causes, but haven't figured which one is the real culprit.
1. The GCS client is having some quota limit that

[2020-06-15 12:48] alvaroaleman commented on #2081
Are you sure about that? Crier has retrying and I would assume this to be a transient error (but would still be interesting to find out why it happens).

[2020-06-15 16:55] chizhg opened #2199 "The image push postsubmit job fails"
The image push postsubmit job fails, see https://prow.knative.dev/view/gcs/knative-prow/logs/post-knative-test-infra-image-push/1272572469231751168

It looks we need to enable DIND for the job?

/assign @chaodaiG

[2020-06-15 19:33] chizhg commented on #2081
Yes, we are pretty sure about this phenomena.
We've seen quite a few times that the error happens after `crier` running for about 3 days. But after I started running a crontab that deletes `crier` Pod everyday two weeks ago, there is no such  `broken pipe` error anymore.

[2020-06-15 20:14] #2199 closed

[2020-06-16 19:55] chaodaiG opened #2205 "testgrid config is broken"
postsubmit job for updating testgrid config failed with:
[code]

https://prow.knative.dev/view/gcs/knative-prow/logs/post-knative-prow-cluster-config-updater/1272668602318721024

[2020-06-16 20:08] #2205 closed

[2020-06-17 01:19] #2177 closed

[2020-06-17 06:06] chizhg commented on #1704
/assign

[2020-06-17 18:49] #1704 closed

[2020-06-18 15:57] #148 closed

[2020-06-23 22:05] chizhg commented on #2081
I'm almost certain that the authentication process is different for a GCS client that is using a credential file vs not, see https://github.com/kubernetes/test-infra/blob/master/prow/io/opener.go#L117-L132, and using a credential file will cause this oauth error after a client has been run for a long time.

The only difference between us and k8s crier deployment is we are not using Workload Identi

[2020-06-23 22:09] chaodaiG commented on #2081
Since workload identity is the direction to go, I would say let's go ahead and enable workload identity instead of wasting more time on this bug

[2020-06-23 22:38] chizhg opened #2235 "[oncall toil]Enable workload identity for Knative Prow cluster"
Knative Prow is now deployed on a GKE cluster and using the Google cloud credential file to authenticate to the Google services.

We should enable [workload identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity) for the clusters, the reasons are:
1. As mentioned in the doc, Workload Identity is the recommended way to access Google Cloud services from within GKE due to

[2020-06-23 22:39] chizhg commented on #2081
That's also what I thought, created https://github.com/knative/test-infra/issues/2235 for tracking.

Let's keep this bug open though until we can confirm enabling workload identity can solve this issue.

[2020-06-24 17:18] chizhg opened #2239 "markdown link checks fail for the docs repo"
Markdown link check Prow job is consistently failing for the docs repo, see https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_docs/2618/pull-knative-docs-markdown-link-check/1275833960236060676.

The majority of errors are due to Github APIs having rate limit. We should:
1. either reduce the rate of crawling Github APIs to get the checks pass
2. or simply skip the checks for the

[2020-06-24 18:01] chizhg opened #2241 "We need a Prow job to automatically bump up images versions in the Prow job config files"
At this moment we have moved all the cluster and core config files for Knative Prow to [oss-test-infra](https://github.com/GoogleCloudPlatform/oss-test-infra) repo, but still having all the Prow job config files in knative test-infra.

A Prow job in oss-test-infra will automatically bump up the image versions for cluster and core config files, but not the Prow job config files. We also need a Prow

[2020-06-24 18:03] chizhg commented on #2241
This Prow job can possibly live in the oss-test-infra repo, so we have one single place to maintain all the autobump Prow jobs.

[2020-06-25 21:29] chaodaiG commented on #1807
code lives here: https://github.com/knative/test-infra/tree/master/tools/flaky-test-retryer

[2020-06-26 23:49] #2241 closed

[2020-06-29 05:10] chizhg commented on #2078
It turned out this approach has some problems, so I reverted the PR in https://github.com/knative/test-infra/pull/2185.

The reason is by using this approach, repos which imports the scripts package will get an `ambiguous import error` as the module can be either `knative.dev/test-infra/scripts` or `knative.dev/test-infra`. One solution given in https://github.com/golang/go/wiki/Modules#is-it-poss

[2020-06-29 05:23] chizhg opened #2249 "Remove the dependencies on knative.dev/pkg"
Currently `knative/test-infra` depends on `knative/pkg`, and `knative/pkg` also depends on `knative/test-infra`, this results in circular dependency and causes a few problems, see more details in https://github.com/knative/test-infra/issues/2069.

We tried to use Go multiple modules to solve this issue, but it didn't work, see the comments in https://github.com/knative/test-infra/issues/2078.

Ano

[2020-06-29 17:59] #2249 closed

[2020-06-29 19:31] chizhg opened #2252 "Do not generate issue tracker Prow jobs"
Currently the issue tracker Prow jobs are auto-generated by the config generator tool, see https://github.com/knative/test-infra/blob/master/tools/config-generator/issue_tracker_config.go, which makes it hard to bump up the image versions used in the Prow job, https://github.com/knative/test-infra/pull/2251 failed because of this.

Given the fact we have all the other maintenance jobs defined in c

[2020-06-29 21:46] #2252 closed

[2020-06-30 17:47] chaodaiG opened #2258 "Bug: postsubmit image pushing job runs every half an hour"
post-knative-test-infra-image-push is a postsubmit job, supposed to run only when there is a push into master branch. However, it has been running every half an hour in the past few days: https://testgrid.knative.dev/utilities#post-knative-test-infra-image-push

Job def: https://github.com/knative/test-infra/blob/15f40fe970475309caebc82e081086d2b95c31ea/config/prod/prow/jobs/custom/test-infra.yaml

[2020-07-02 00:48] chizhg commented on #103
/remove-lifecycle stale

[2020-07-06 17:41] chaodaiG commented on #2258
This had stopped

/close

[2020-07-06 17:41] #2258 closed

[2020-07-06 17:42] chaodaiG commented on #2258
/assign

[2020-07-06 18:47] joshua-bone commented on #1833
/assign

[2020-07-06 19:20] chizhg commented on #1858
This issue has been fixed in serving and test-infra, and populated to other Knative repos.

[2020-07-06 19:21] chizhg commented on #1858
/close

[2020-07-06 19:21] #1858 closed

[2020-07-07 16:26] chaodaiG commented on #2174
/kind good-first-issue

[2020-07-07 16:32] chizhg commented on #2149
/kind good-first-issue

[2020-07-07 18:13] chizhg opened #2269 "Send a Slack notification if a nightly release job fails"
As requested in https://knative.slack.com/archives/CA1DTGZ2N/p1594140886395000, we would want to send a slack notification if a nightly release job fails.

This could be supported by enabling Slack reporter in crier - https://github.com/kubernetes/test-infra/tree/master/prow/crier#slack-reporter, and set the slack channel per job.

[2020-07-07 18:15] chizhg commented on #2269
FYI @vaikas

[2020-07-08 01:00] chizhg opened #2278 "run_job.sh and pj-on-kind.sh are failing after the Prow core config file is removed"
run_job.sh and pj-on-kind.sh are now failing, since the Prow core config file has been removed and it's required.

The error message is:
[code]

FYI @chaodaiG

[2020-07-09 00:34] chizhg commented on #2278
/area test

[2020-07-09 00:34] chizhg commented on #2278
/unarea test

[2020-07-09 00:34] chizhg commented on #2278
/remove-area test

[2020-07-09 00:36] chizhg commented on #2278
/kind project-support

[2020-07-09 00:36] chizhg commented on #2278
/remove-kind project-support

[2020-07-09 00:37] chizhg commented on #1603
It looks there is no issue with `/kind` and `/area` commands now, see https://github.com/knative/test-infra/issues/2278#issuecomment-655827424

[2020-07-09 00:37] #1603 closed

[2020-07-09 00:46] #2278 closed

[2020-07-12 00:01] #1689 closed

[2020-07-13 03:31] chizhg opened #2289 "Peribolos Prow jobs fail when --fix-team-repos is set to true"
When `--fix-team-repos` is set to true, Peribolos Prow jobs will fail, see https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-peribolos/1282517750937292801#1:build-log.txt%3A307, and the error message `Entrypoint received interrupt: terminated` is not quite actionable.

We should figure out why it fails and fix it, it can probably be fixed by https://github.com/kubernetes/test-infra/pu

[2020-07-14 14:40] chaodaiG opened #2297 "Bug: release branch job generator reverts anchor"
Auto release branch job generator is a tool generates release branch jobs when there is a new release branch created from any repo, the generated yaml is https://github.com/knative/test-infra/blob/master/config/prod/prow/config_knative.yaml.

https://github.com/knative/test-infra/pull/2294 introduced anchor to `config_knative.yaml` file, which was expanded by auto release branch job generator and

[2020-07-14 14:42] chaodaiG commented on #2297
The problem here is that release branch job generator uses yaml Unmarshal, which already expands anchor during unmarshalling. @mattmoor , any idea how to generate yaml with anchor?

[2020-07-14 19:52] chizhg commented on #2143
Sorry for the late reply on this, I agree we should stick to bash v3 to make it runnable for most of our users, so please feel free to start the PR to switch to bash v3 features only.

Thanks!

[2020-07-14 20:05] mattmoor commented on #2297
there are yaml libraries that are better about roundtripping yaml (e.g. preserving comments), but if it's a ton of work it's probably worth just avoiding anchors/references.

[2020-07-14 21:59] chaodaiG commented on #1807
/assign @Yizong98

[2020-07-14 22:00] chaodaiG commented on #1807
@Yizong98 , this was fixed by your PR https://github.com/knative/test-infra/pull/2268

See https://github.com/knative/serving/pull/8603#issuecomment-658430593

[2020-07-14 22:01] chaodaiG commented on #1807
So that you don't need to click the link above
![Screen Shot 2020-07-14 at 3 00 55 PM](https://user-images.githubusercontent.com/45011425/87480785-e5636a80-c5e2-11ea-9ce3-904c46c2770a.png)

[2020-07-14 22:02] chaodaiG commented on #1807
/close

[2020-07-14 22:02] #1807 closed

[2020-07-15 14:45] chaodaiG commented on #2297
I have looked around, https://godoc.org/gopkg.in/yaml.v3 and https://github.com/goccy/go-yaml are both relevant. However, both require non trivial amount of work. Will leave this issue open and avoiding anchors for now

[2020-07-17 00:09] chizhg commented on #1813
/remove-lifecycle stale

[2020-07-17 00:10] chizhg commented on #1914
/remove-lifecycle stale

[2020-07-17 21:02] chizhg commented on #414
/remove-lifecycle stale

[2020-07-17 21:03] chizhg commented on #1773
/reopen

[2020-07-17 21:04] chizhg commented on #1784
/reopen

[2020-07-17 21:05] chizhg commented on #1778
/reopen

[2020-07-17 21:05] chizhg commented on #1611
/reopen

[2020-07-17 21:05] chizhg commented on #414
/reopen

[2020-07-18 00:27] #1837 closed

[2020-07-19 21:18] chizhg opened #2306 "label-sync Prow job fails when some specific labels are added"
The label-sync Prow job fails when some specific labels are added, like `kind/help-wanted` and `kind/refactor`, see https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-test-infra-label-sync/1283416279327182849. It's known that removing these labels will get the job pass, but we need to figure out why and potentially fix the `label_sync` tool.

[2020-07-20 18:51] #1833 closed

[2020-07-20 19:22] chaodaiG commented on #2235
/kind enhancement

[2020-07-20 19:24] chaodaiG commented on #1960
/kind enhancement

[2020-07-20 19:27] chaodaiG commented on #1773
We already have this for all other images but prow-tests https://testgrid.knative.dev/utilities#post-knative-test-infra-image-push

[2020-07-20 19:28] chaodaiG commented on #1773
/kind enhancement

[2020-07-20 19:31] chaodaiG opened #2311 "[oncall toil] Use inrepoconfig for prow jobs in all repos"
Inrepoconfig(https://github.com/kubernetes/test-infra/blob/master/prow/inrepoconfig.md) allows each repo setting up prow jobs in its own repo instead of everything in test-infra, the benefits:

- Promotes self-service
- Presubmit flows get validated in PRs before applying

To make sure there is no regression doing this, it might be required to refactor prow job config so that it still serves each

[2020-07-20 19:34] chaodaiG commented on #1813
The prow part migration was done, remaining is testgrid

/kind enhancement

[2020-07-20 19:35] chaodaiG commented on #1914
/kind enhancement

[2020-07-20 19:56] chizhg commented on #2311
/kind oncall-toil

[2020-07-20 19:56] chizhg commented on #2235
/kind oncall-toil

[2020-07-20 19:56] chizhg commented on #1914
/kind oncall-toil

[2020-07-20 19:56] chizhg commented on #1813
/kind oncall-toil

[2020-07-20 19:57] chizhg commented on #1773
/kind oncall-toil

[2020-07-20 20:02] chizhg commented on #1773
We can do this for all other images but not `prow-tests` is because building it require a large amount of memory that we cannot provision in the Prow jobs, and the reasons are probably:

1. The image is based on `gcr.io/k8s-testimages/kubekins-e2e`, which is a pretty big image. We may consider getting rid of it and build the image from scratch, as it includes a lot of stuff that are not needed for

[2020-07-20 20:27] chaodaiG opened #2312 "[oncall toil] Use github actions for managing stale issues/PRs instead of prow jobs"
Stale issues/PRs managed by prow jobs are defined here: https://github.com/knative/test-infra/blob/5563f96ef076b7e85645c4b67179f5bff82dd3b0/config/prod/prow/jobs/custom/issue-tracker.yaml#L18, to allow each WG managing this from their own repos and one less stuff for productivity WG to manage, we should migrate to use github actions for this.

/kind oncall-toil

[2020-07-20 20:29] chaodaiG commented on #1950
Staging prow isn't relevant any more

/close

[2020-07-20 20:29] #1950 closed

[2020-07-20 20:30] chaodaiG commented on #2037
These are not relevant any more

/close

[2020-07-20 20:30] #2037 closed

[2020-07-20 20:32] chaodaiG commented on #2312
This had been canaries by test-infra repo since 07/15/2020, and has been doing pretty well so far

See:
https://github.com/knative/test-infra/issues/1773#issuecomment-660336845
https://github.com/knative/test-infra/issues/1837#issuecomment-645688053

[2020-07-20 21:43] mattmoor opened #2313 "Spy glass shows the wrong logs with go 1.14 -v"
![image](https://user-images.githubusercontent.com/2442466/87989697-5dc0a480-ca97-11ea-915b-047a0cdc19a4.png)

[2020-07-20 21:52] chizhg commented on #2313
This is a known issue, see https://github.com/knative/test-infra/issues/2109.
And it looks Golang released 1.14.6 on July 16th which included the fix - https://github.com/golang/go/issues/39308, I'll update the Golang version in our test image now which I believe will fix the issue 😃

[2020-07-20 21:59] mattmoor commented on #2313
thanks!

[2020-07-20 22:41] #2313 closed

[2020-07-20 23:36] chaodaiG commented on #1935
Not relevant any more
/close

[2020-07-20 23:36] #1935 closed

[2020-07-21 02:57] chizhg commented on #2109
The issue has been fixed after updating Go to 1.14.6, see https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-gloo-0.17.1/1285367134993518592

[2020-07-21 02:57] #2109 closed

[2020-07-21 21:50] chizhg opened #2319 "Use gotestsum to generate XML formatted test results"
[gotestsum](https://github.com/gotestyourself/gotestsum) is a tool that can be used to print friendly test output and a summary of the `go test` run. It provides some nice features e.g. hiding the test logs for passed logs, and the community is much more active than the [go-junit-report](https://github.com/jstemmer/go-junit-report) tool we are currently using.

We should evaluate if `gotestsum` is

[2020-07-21 21:51] chizhg commented on #2319
This was brought up on Slack - https://knative.slack.com/archives/C9JP909F0/p1595345533023000

[2020-07-22 14:36] vaikas opened #2322 "Knobots linter and prow linter don't agree with each other"
https://github.com/knative/eventing/pull/3682/files
https://github.com/knative/eventing/pull/3668#issuecomment-661963247

@mattmoor @chizhg should be using the same linters in both places?

[2020-07-22 17:17] vaikas opened #2323 "Unable to access prow PR artifacts from GCS"
I'm unable to access my PR artifacts. Started just a little bit ago, worked fine earlier today. For example:

https://console.cloud.google.com/storage/browser/knative-prow/pr-logs%2Fpull%2Fknative_eventing%2F3599%2Fpull-knative-eventing-integration-tests%2F1285955695417495556%2Fartifacts%2F

I used to be able to access these logs earlier today, like this, but even that is no longer visible to me:

[2020-07-22 17:59] vaikas commented on #2323
However, if I manually construct the URL for what it should be:
https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_eventing/3599/pull-knative-eventing-integration-tests/1285955695417495556/artifacts/k8s.log.txt

I can pull the file just fine with curl. So the public access display permissions seems to be the bug here. This works:
[code]

[2020-07-26 20:44] #1553 closed

[2020-07-27 01:59] mattmoor commented on #678
/lifecycle frozen

[2020-07-30 14:11] #2269 closed

[2020-08-03 01:19] chizhg commented on #2322
I think this is also a check that is better to move to GitHub actions, there are quite a few existing ones we can use, e.g. https://github.com/marketplace/actions/markdown-link-check#:~:text=By%20default%20the%20github%2Daction,checks%20to%20only%20specific%20folders.&text=Specify%20how%20many%20levels%20deep,which%20means%20check%20all%20levels..

WDYT @chaodaiG ?

[2020-08-03 14:33] chaodaiG commented on #2322
github action sounds good to me, we can start with a canary repo first

[2020-08-03 17:50] #2319 closed

[2020-08-04 09:02] barthy1 opened #2337 "Run knative tests and builds for other architectures"
At this moment tests and releases for knative parts (serving, eventing, operator, client) are available only for amd64 (based on my knowledge)
Other architectures (s390x, ppc64le, arm64) usually require to run the tests and builds on the native hardware.
Suggestion is to add to knative CI/CD system the ways to run the tests and builds on corresponding native hardware.
My team (from IBM Z) can help

[2020-08-04 14:59] chizhg commented on #1505
/reopen
/lifecycle frozen

[2020-08-07 23:39] chaodaiG opened #2343 "Prow config generator supports override `run_if_changed`"
As discussed on Slack: https://knative.slack.com/archives/CCSNR4FCH/p1596842636408900, it's desired to allow certain presubmit job have `run_if_changed` field to be kicked off only when certain files changed, for example `third_party/foo_ingress` under serving repo, when there are changes it's required to pass `foo_ingress` related tests

[2020-08-07 23:39] chaodaiG commented on #2343
CC: @mattmoor
CC: @chizhg

[2020-08-07 23:59] mattmoor commented on #2343
concretely, I want to start requiring the `pull-knative-serving-contour-latest ` job when `./third_party/contour-latest` changed.

[2020-08-08 04:23] chizhg commented on #2064
Hi @navidshaikh , could you try updating test-infra and running this again?
Recently I made some change in the `go_test_e2e` which I think fixed this issue.

[2020-08-08 04:27] chizhg commented on #2064
No, it's not fixed.
I'm checking now.

[2020-08-08 04:32] chizhg commented on #2064
Just confirmed it's fixed, you need to run the command as:
`report_go_test -v -race -count=1 -timeout=45m -tags="e2e serving" ./test/e2e`

[2020-08-08 04:32] chizhg commented on #1948
This has been done.

[2020-08-08 04:32] #1948 closed

[2020-08-08 20:05] chizhg opened #2345 "e2e test infra switches to kubetest2"
The `kubetest` tool we use in our e2e test infra for creating clusters is being deprecated in favor of [`kubetest2`](https://github.com/kubernetes-sigs/kubetest2).

It's better in the following ways:
1. `kubetest2` is pretty well-designed. It defines clear boundaries and interfaces between test orchestrator, infra framework and testing framework, and each part can be updated separately. This give

[2020-08-09 14:33] mattmoor opened #2346 ""gke-resource-quotas" error updating resources"
I have been intermittently seeing flakes with:
[code]

[an example](https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/1292289327455277057)

I think @vaikas mentioned something like this in eventing as well.

[2020-08-10 16:38] #2343 closed

[2020-08-10 17:47] #2345 closed

[2020-08-10 19:23] coryrc commented on #2143
I don't agree, because these v4 features help make the scripts more robust. The scripts already use `#!/usr/bin/env bash` so Mac users can install a version of bash from this millenium.

[2020-08-10 19:26] chizhg commented on #2143
I'm not familiar with the bash v3 equivalent features for the v4 syntaxes like `[[ ! -v GOPATH ]]`, will it be adding much more complexities?

[2020-08-10 19:40] coryrc commented on #2143
The main additions affecting us are improved handling of arrays and miscellaneous features, like the above, that make the user's intention clearer.

https://mywiki.wooledge.org/BashFAQ/061

bash 4.0 was released in 2009. bash 3.2 in 2006. This is solely a problem because Apple refuses to ship CLI software with GPL3. Every developer should have homebrew installed because their entire CLI is frozen

[2020-08-12 01:29] mattmoor commented on #2346
[another example](https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/1293285808148582400)

[2020-08-12 01:37] chizhg commented on #2346
It seems to be a Kubernetes bug - https://github.com/argoproj/argo/issues/3217?

[2020-08-12 01:44] mattmoor commented on #2346
Here's the kubernetes bug: https://github.com/kubernetes/kubernetes/issues/67761

[2020-08-12 02:02] mattmoor commented on #2346
Well, given that the issues is still open and kingress conformance creates pods, svcs, and ingresses all of which go through the resourcequota I figured I'd port Ville's hack to kingress conformance: https://github.com/knative/networking/pull/79

[2020-08-12 02:06] mattmoor commented on #2346
cc @tcnghia for context

[2020-08-12 02:57] dprotaso commented on #2143
It seems like the only bash v4 usage is the `[[ -v VAR ]]` flag which seems like there's a suitable bash v3 work around `[[ -z ${VAR+x} ]]`

We should probably have @knative/technical-oversight-committee chime in as this spans the entire project and we should be consistent one way or the other

[2020-08-12 02:59] dprotaso commented on #2143
if bash 4 is the way we want to go is there a way to have the scripts fail immediately if it's not installed

ie. is there something like `#!/usr/bin/env bash --version=4` at the top of each script

[2020-08-12 12:21] slinkydeveloper commented on #1907
/remove-lifecycle-stale

Now we have script to run benchmarks, what are we missing to complete this issue?

[2020-08-14 04:49] chizhg commented on #2143
It looks we could check the value of `BASH_VERSINFO` and exit if it's smaller than 4 - https://askubuntu.com/a/916978

[2020-08-14 04:51] chizhg commented on #2143
[code]
seems to be safer.

[2020-08-14 05:40] coryrc commented on #2143
We could throw it in library.sh which should catch most scripts

[2020-08-15 12:12] #1913 closed

[2020-08-17 21:09] chizhg commented on #2079
/lifecycle frozen

[2020-08-18 00:37] chizhg commented on #1714
/lifecycle frozen
Probably something we can move to GitHub actions.

[2020-08-18 20:08] chaodaiG commented on #2312
This was already done, we have deprecated the prow job for managing issues https://github.com/knative/test-infra/pull/2318

/close

[2020-08-18 20:09] #2312 closed

[2020-08-18 20:54] chizhg commented on #2107
/lifecycle frozen

[2020-08-18 22:21] chizhg opened #2373 "Small but useful improvements to the config generator tool"
The [meta config file](https://github.com/knative/test-infra/blob/master/config/prod/prow/config_knative.yaml) we use to generate Prow jobs is growing pretty large, which makes it quite hard to read and easy to make mistakes. There have been discussions on completely rewriting it, but is not prioritized yet.

Some small and useful improvements can help reduce the meta config size and make it more

[2020-08-19 18:51] Harwayne opened #2374 "Failure to upload to GCS does not prevent a bad GitHub Release"
This was found while investigating https://github.com/knative/eventing/issues/3873.

---

Expected behavior: If (during a release) any asset uploads fail, then the entire release immediately fails.

---

When a release is being created, assets are uploaded GCS. But nothing seems to check if that upload succeeded. It just blindly assumes that it did. https://github.com/knative/test-infra/blob/maste

[2020-08-23 19:00] chizhg commented on #1624
/lifecycle frozen

[2020-08-25 23:27] #2289 closed

[2020-08-26 01:24] #1912 closed

[2020-08-26 03:50] chizhg commented on #2063
/lifecycle frozen

[2020-08-26 17:54] #2373 closed

[2020-08-27 14:44] chaodaiG opened #2389 "CVE automatic scanning for Knative"
As initiated by @cardil , this topic had been discussed on [mailing list](https://groups.google.com/g/knative-dev/c/ansGicHgCeA/m/UJaFaTo6BgAJ), WG meeting and on [slack](https://knative.slack.com/archives/CCSNR4FCH/p1594918347368100).

There were 3 options proposed for doing this:

- Dependabot https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot
- Snyk https://support

[2020-08-27 20:52] chizhg opened #2392 "Run shellcheck for Knative repositories"
We have lots of bash scripts in Knative repositories, but they are not written with care and violating lots of shell code best practices, which makes them more brittle and even harder to maintain. We should run [shellcheck](https://github.com/koalaman/shellcheck) in presubmit to provide signals to developers that the bash scripts need to be improved. The jobs could be non-blocking in the beginning

[2020-08-28 14:09] mattmoor opened #2395 "Use @infra-help for oncall"
Serving/Eventing use `@{serving,eventing}-help` groups in slack for a universal oncall thing to tag.

It'd be nice to have the same for productivity

[2020-08-28 17:46] chaodaiG commented on #2395
Moved the discussion to slack https://knative.slack.com/archives/CCSNR4FCH/p1598636774041200

[2020-08-28 17:52] chaodaiG opened #2398 "Assess rewriting bash scripts to go"
Background: knative/test-infra repo contains a bunch of bash scripts under https://github.com/knative/test-infra/tree/master/scripts, which are vendored and imported by other repos. As proposed by @cardil  and discussed on [productivity WG meeting](https://github.com/knative/test-infra/tree/master/scripts) that it's possible to transform these bash scripts to Go equivalent, serving same role, whil

[2020-08-28 17:52] chaodaiG commented on #2398
/kind enhancement

[2020-08-30 15:05] rhuss commented on #2143
If insisting to use a script interpreter (like bash v4 on mac) to run the scripts I don't understand why then using something that is so fragile and untestable like shell for scripting and not a real programming language like Python or even Perl. IMO the only reason for using shell is that it is ubiquitously available on every UNIX like system and works every (that's why  I typically would also no

[2020-08-30 15:06] rhuss commented on #2143
compared to the age of UNIX shell itself, this is just yesterday :)

[2020-08-30 21:40] coryrc commented on #2143
I'm working on it!

[2020-08-31 08:03] slinkydeveloper commented on #1906
Now that the scripts are merged in eventing master, how can we setup the task? We don't need to automatically run them, the idea was to run these with a command like `/run-benchmark`

[2020-09-01 04:31] chizhg commented on #1960
If we run the tests for multiple times, as what's being tried in https://github.com/knative/test-infra/pull/1615, it will be much unlikely to have flaky tests, then I guess testgrid integration won't be that important?
@markusthoemmes @chaodaiG @mattmoor @n3wscott since we have started moving to GitHub actions, it would be better to reach an agreement here.

[2020-09-01 14:35] n3wscott commented on #2398
We have been asking for this for over a year. The main issues with all this bash is there are no tests and it is too complex.

[2020-09-01 15:03] n3wscott commented on #1960
The end goal is a test infra that is open to the community and anyone who wants to can contribute to the entire stack. At the moment this is not possible, github actions help open up the infra.

[2020-09-01 15:20] markusthoemmes commented on #1960
I agree with @n3wscott.

@chizhg i don't quite parse your comment. Increasing the runcount will increase the likelyhood of flakes. Each failure from each run will be reported so I'd think testgrid integration is still of importance.

[2020-09-01 15:50] chizhg commented on #1960
Sorry for the confusion.

What I meant is since we run unit tests as presubmit tests, and we require
all tests pass to merge a PR, running them multiple times will more likely
expose the flaky tests, thus force the PR author to fix them. Theoretically
in this way the flaky test rate will be gradually reduced.

On Tue, Sep 1, 2020, 8:21 AM Markus Thömmes <notifications@github.com>
wrote:

[2020-09-01 17:22] coryrc commented on #1960
The current infra is all open source except for TestGrid.

github.com/knative/test-infra

https://github.com/kubernetes/test-infra/tree/master/prow

It's just few choose to contribute.

[2020-09-02 19:26] chaodaiG commented on #1914
/assign @joshua-bone

[2020-09-03 04:43] chizhg commented on #1782
/lifecycle frozen

[2020-09-03 06:17] chizhg commented on #1906
You can add a custom job like https://github.com/knative/test-infra/blob/fac473dda98b6867b825ec79296e06960e8d6f88/config/prod/prow/config_knative.yaml#L235-L239, and run `./hack/generate-configs.sh` to generate the actual Prow job configuration. After you submit the PR and it's merged, you will be able to trigger the job with `/test pull-knative-docs-[job-name]` command on PRs in eventing.

Some n

[2020-09-03 17:27] chizhg commented on #2392
/kind good-first-issue

[2020-09-03 17:30] chizhg commented on #2374
https://github.com/knative/test-infra/issues/1782 is an umbrella issue for Knative release process, which also mentioned this issue.

[2020-09-03 17:31] chizhg commented on #2239
/kind good-first-issue

[2020-09-03 17:31] chizhg commented on #2107
/kind good-first-issue

[2020-09-03 17:35] chizhg commented on #1945
It looks the jobs could pass - https://prow.knative.dev/job-history/gs/knative-prow/pr-logs/directory/pull-knative-sandbox-eventing-kafka-go-coverage (the failing jobs seem to be real failures), so we should be able to close it now?

[2020-09-03 17:37] chizhg commented on #1777
/kind good-first-issue

[2020-09-03 17:40] chizhg commented on #1759
Knative prow has been moved to [oss-test-infra](https://github.com/GoogleCloudPlatform/oss-test-infra/tree/master/prow/knative), so this issue is not valid anymore.

[2020-09-03 17:40] #1759 closed

[2020-09-03 17:41] chizhg commented on #1733
Similar as https://github.com/knative/test-infra/issues/2392, we could use GitHub actions to do this.

[2020-09-03 17:41] chizhg commented on #1733
/kind good-first-issue

[2020-09-03 17:41] chizhg commented on #1714
Similar as #2392, we could use GitHub actions to do this.
/kind good-first-issue

[2020-09-03 17:41] chizhg commented on #1696
Similar as #2392, we could use GitHub actions to do this.
/kind good-first-issue

[2020-09-03 18:33] davyodom commented on #1945
Yes, looks fine now.  We can close it, thanks!

[2020-09-03 18:35] #1945 closed

[2020-09-03 19:47] chaodaiG opened #2406 "Flakes test reporter supports reporting github issue in different org"
[Flakes test report](https://github.com/knative/test-infra/tree/master/tools/flaky-test-reporter) currently only supports reporting github issues in the same repo where the test takes place, as configured in this [yaml](https://github.com/knative/test-infra/blob/master/tools/flaky-test-reporter/config/config.yaml). As requested on https://knative.slack.com/archives/CCSNR4FCH/p1599021716069900, it'

[2020-09-03 19:47] chaodaiG commented on #2406
/kind enhancement

[2020-09-04 15:29] mattmoor commented on #2346
Here's a net-contour run where this really exploded: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-sandbox-net-contour-continuous/1301862429919023104

[2020-09-05 23:03] chizhg opened #2410 "pull-test-infra-validate-prow-yaml Prow job does not catch errors as expected"
We have a Prow job defined in https://github.com/knative/test-infra/blob/master/config/prod/prow/jobs/custom/test-infra.yaml#L22-L50 to validate the Prow job config files for Knative, but it failed to catch and prevent a critical Prow job config error which crashes `crier`, see https://github.com/knative/test-infra/pull/2409.

We need to investigate if it's because `pull-test-infra-validate-prow-y

[2020-09-05 23:09] chizhg opened #2411 "We don't have a way to manually update the Prow job config for Knatve"
Currently the Prow job config is updated with a plugin and it's defined in https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/knative/plugins.yaml#L75-L80. The plugin will update the Prow job config after a new change is submitted and merged in the knative/test-infra repo.

This process normally works pretty well, but sometimes e.g. when Prow has an outage due to misconfigured

[2020-09-05 23:23] chizhg commented on #2410
/kind bug

[2020-09-05 23:24] chizhg commented on #2411
/kind enhancement

[2020-09-08 14:37] chaodaiG commented on #2411
+ @cjwagner and @fejta for ideas

[2020-09-08 16:28] #2410 closed

[2020-09-08 16:49] cjwagner commented on #2411
This kind of problem would typically be resolved by using the [`/override`](https://prow.knative.dev/command-help#override) plugin to allow Tide to ignore the misconfigured ProwJob or by manually merging the PR via the merge button. I'd recommend configuring that plugin if it hasn't been already.

Another option is the [`config-bootstrapper`](https://github.com/kubernetes/test-infra/tree/master/pr

[2020-09-08 21:56] chizhg commented on #2398
I have some updates and more thoughts on this in my recent work:

Since knative test-infra is already using [`kubetest2`](https://docs.google.com/document/d/10Zfu0KiJVMxHL-rNMW9pOESdFcdCuw2ABrDFKVQqooM/edit#) which introduced a nice concept of decoupling `tester` from the `deployer` lifecycle, and it has been well accepted by the Kubernetes community, I think we should borrow the idea as much as p

[2020-09-08 21:57] chizhg commented on #2398
cc @devguyio @lionelvillard @n3wscott @slinkydeveloper

[2020-09-08 22:06] howardjohn opened #2414 "go.mod `replace` usage impacts downstream consumers, impacted by circular dependency loop"
https://github.com/knative/networking/blob/master/go.mod#L32-L36

All knative repos use the following `replace` hacks to get k8s dependencies working. This means anyone importing a knative library *also* has to do these hacks, otherwise they will get incompatible k8s libraries (it will force a super old client-go version).

At some point in the past these were required for k8s imports, but its bee

[2020-09-08 22:34] chizhg commented on #2414
This is one thing I was worried about when I finished removing the circular dependencies between `knative/test-infra` and `knative/pkg` 😅
@cjwagner it looks the only place that `knative.dev/pkg` is used in `k8s/test-infra` repo is the `prow/cmd/pipeline` package - https://github.com/kubernetes/test-infra/blob/master/prow/cmd/pipeline/controller.go#L52, any chance we can get rid of it?

[2020-09-08 22:39] howardjohn commented on #2414
@chizhg I think since github.com/tektoncd/pipeline is still widely used and imports `knative.dev/pkg` this wouldn't help too much. Unless go treats indirect vs direct dependency differently?

[2020-09-09 22:33] mattmoor commented on #2346
Looks like: https://github.com/kubernetes/kubernetes/issues/82130

[2020-09-10 15:41] cardil opened #2418 "[POC] Prototyping mage calling shell scripts"
Write a prototype of magetasks that can be used to build a Knative projects. Such prototype should showcase a temporary bridging solution of running a shell scripts from mage tasks.

[2020-09-10 15:41] cardil commented on #2418
/assign

[2020-09-10 17:58] joshua-bone opened #2419 "Improve unit testing coverage for config generator from 12.9% to 80%"
/assign

[2020-09-10 18:20] chizhg commented on #2419
Hmm is it for the current config generator? Since we have discussed completely rewriting it, is it worth to work on bumping up the unit test coverage for it? @chaodaiG

[2020-09-10 18:22] chaodaiG commented on #2419
We don't have a concrete plan of rewriting it yet, since it's been used so heavily atm, I think it still worths improving unit test coverages

[2020-09-10 18:24] chizhg commented on #2419
I see, that makes sense. It's a big chunk of work AFAICT though..

[2020-09-10 21:36] #1899 closed

[2020-09-15 23:34] coryrc commented on #103
/assign @mattmoor
apparently :-)

[2020-09-15 23:59] mattmoor commented on #103
I'm not looking at this in Prow
/unassign

[2020-09-16 00:20] coryrc commented on #103
Ah, glossed over the "on Prow" part, but I figured the "using KIND" was more important :)

[2020-09-16 01:36] mattmoor commented on #1611
Seems to me like this entire function could just be:
[code]

This doesn't properly check jobs, but what we have today is fairly hit or miss.

[2020-09-16 22:44] chizhg opened #2434 "Use Cloud Build to build and publish the images"
In this repo, we have a few docker images defined in https://github.com/knative/test-infra/tree/master/images, and we have defined a postsubmit Prow job to build and publish them to gcr.io/knative-tests/test-infra, except the [prow-tests](https://github.com/knative/test-infra/tree/master/images/prow-tests) image because it'll take too much resource that cannot be provisioned with Prow - https://gi

[2020-09-17 15:57] #2076 closed

[2020-09-17 15:57] #1787 closed

[2020-09-18 00:12] chizhg commented on #1611
Thanks @mattmoor ! I have created https://github.com/knative/test-infra/pull/2440

[2020-09-20 23:33] chizhg commented on #1611
#2440 will be partially reverted by https://github.com/knative/test-infra/pull/2443, so reopen this issue.

[2020-09-21 17:26] dprotaso commented on #2171
cc @efiturri

[2020-09-22 18:15] eric-sap opened #2446 "Check for cluster-admin-binding-${USER} in acquire_cluster_admin_role()"
The function acquire_cluster_admin_role() in scripts/infra-library.sh only checks to see if the cluster-admin-binding clusterrolebinding is present, but it can create one named cluster-admin-binding-${USER} when running on a local cluster.  This is never cleaned up and on running the setup_test_cluster() function again, it fails with the expected
[code]
I've worked around this in our (eventing-kaf

[2020-09-23 04:36] chizhg commented on #2446
It's a typo, I have created https://github.com/knative/test-infra/pull/2450 to fix it.
Thanks for reporting!

[2020-09-23 23:02] #2446 closed

[2020-09-23 23:12] #2434 closed

[2020-09-25 13:46] #1375 closed

[2020-09-26 01:35] chizhg opened #2466 "Apply go module caching and build caching to Prow jobs"
Istio Prow had some work on enabling go module cache and build cache, and got pretty good improvement on reducing the job running time, see the comments and descriptions in https://github.com/istio/test-infra/pulls?q=is%3Apr+cache.

Since it has been reported by some contributors that Prow is significantly slower than GitHub actions in build images, we should try if the same trick can be used to i

[2020-09-28 20:23] chizhg commented on #1773
We are now using cloud build to update the prow-tests image, see https://github.com/knative/test-infra/issues/2434, so all the images can be automatically update if relevant files changed in this repo (though some third-party dependencies like `kubetest2` cannot be automatically updated)

[2020-09-28 20:23] #1773 closed

[2020-09-29 00:25] chizhg commented on #2081
/remove-lifecycle stale

[2020-09-29 13:33] chaodaiG commented on #1265
/close

[2020-09-29 13:33] #1265 closed

[2020-09-29 13:37] chaodaiG commented on #103
Enabled in https://github.com/knative/test-infra/pull/2427
/close

[2020-10-05 07:32] rhuss opened #2478 "Link checker fails on REAMDE.md when infra scripts have been imported to scripts/"
See e.g. https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_client/1010/pull-knative-client-build-tests/1313011377060712451 where the link check fails on its own scripts.

We have disabled link checking globally in the client repo for now but would be cool if we can fix it here.

[2020-10-05 17:12] dprotaso commented on #2149
/remove-lifecycle stale

[2020-10-05 17:14] dprotaso commented on #2174
remove-lifecycle stale

[2020-10-05 17:14] dprotaso commented on #2174
/remove-lifecycle stale

[2020-10-06 16:13] #2419 closed

[2020-10-08 22:39] joshua-bone commented on #1914
/assign joshua-bone

[2020-10-09 19:55] n3wscott opened #2493 "drop scripts/update-test-infra.sh"
No not use scripts/update-test-infra.sh, use go mod.

[2020-10-09 20:11] coryrc commented on #2493
Using go mod requires all downstream users match the exact libraries in test-infra, which is not intended.

See https://knative.slack.com/archives/CCSNR4FCH/p1601628568033700 how it is causing problems.

[2020-10-09 20:34] chizhg commented on #2493
Or we create a new `scripts` repo under knative, then there won't be problems using `go mod` to vendor these scripts.

[2020-10-12 18:54] slinkydeveloper opened #2497 "Bump go-containerregistry to v0.1.3"
I cleaned up my local mod cache and now i cannot update **any** knative project anymore because there is `gitea` transitive dependency on test-infra that is broken.

Because of the circular dependency on pkg, even if I try to use the replace directives pointing to my local code, It still tries to download gitea:

[code]

With a bump of `go-containerregistry` to latest version this should be solved

[2020-10-12 19:06] slinkydeveloper commented on #2497
Related to https://github.com/knative/test-infra/issues/2414

[2020-10-12 22:38] n3wscott opened #2499 "[buoy] buoy check should check for release branch."
we are going to be using buoy to test for releasability of components for the 0.19 release. It needs to also check if there is a release branch on the module it is testing, as a way to short circuit the logic in `check`.

[2020-10-12 23:56] #2197 closed

[2020-10-13 10:05] #2497 closed

[2020-10-13 10:48] slinkydeveloper opened #2503 "update-deps.sh fails on licenseclassifier"
With a clean go mod cache, running `./hack/update-deps.sh` causes the licenseclassifier to break:

[code]

## Workaround

To fix it run:

[code]

[2020-10-13 15:09] n3wscott commented on #2478
We should not import test infra scripts to `./scripts`

[2020-10-13 17:14] rhuss commented on #2478
Are you sure that the check wouldn't fail if imported in `vendor/` since this is a relative link and I'm not sure that the target is picked up by go.mod resoluton as well.

[2020-10-15 14:50] n3wscott commented on #2414
Interesting. Looking into it.

[2020-10-15 15:01] slinkydeveloper commented on #2414
I'm gonna try to fix https://github.com/kubernetes/test-infra/issues/19583 and let's see if this solves the issue

[2020-10-19 16:54] chizhg commented on #2235
/remove-lifecycle stale

[2020-10-19 18:09] coryrc opened #2518 "Increase Pod timeout for serving CI job(s)"
See [slack](https://knative.slack.com/archives/CCSNR4FCH/p1603128725239100)

We need to add to the job(s):
[code]

i.e. [this job](https://github.com/knative/test-infra/blob/d236fb0ea9ffd3c6e9fba6b2ad19ec9987315260/config/prod/prow/jobs/config.yaml#L4189) would start with this instead:

[code]

Will probably require modifying [this](https://github.com/knative/test-infra/tree/master/tools/config-ge

[2020-10-20 09:25] rhuss commented on #1784
@daisy-ycguo Is this still an issue and if so, maybe @chizhg has an advice how to enable the istio gateway for the e2e client tests ?

[2020-10-21 12:32] #448 closed

[2020-10-22 22:44] coryrc commented on #2518
/assign @joshua-bone

[2020-10-22 23:22] coryrc opened #2525 "e2e-scripts.sh needs some love"
https://github.com/knative/test-infra/blob/master/scripts/e2e-tests.sh#L168

GCP_PROJECT_ID doesn't seem to be used or defined anywhere else?
Another comment references E2E_GCP_PROJECT_ID but that doesn't seem to exist anywhere either

Probably could use some overall love and inspection of all the scripts.

[2020-10-23 19:09] coryrc commented on #2518
It was suggested the easiest way is to update the template

[2020-10-26 13:46] dprotaso opened #2533 "Spyglass doesn't show commit SHA details"
Going to test grid I couldn't really view a SHA for a test run because the box was too small. I know you can see it my hovering/or looking at the source but that's beside the point.

Clicking on the run I don't see a mention of the sha being tested which would be nice

https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-continuous/1319760669830025217

[2020-10-26 14:52] pierDipi commented on #2149
I have a tool to change the Go version in `go.mod` files, https://github.com/pierDipi/gobump.
I guess a GH action that uses that tool would work well for this, WDYT?

cc @n3wscott @mattmoor

/assign
/remove-lifecycle stale
/lifecycle active

[2020-10-26 15:42] mattmoor commented on #2149
I could see this being a manually triggered workflow in `knative-sandbox/knobots`, wdyt?

[2020-10-26 18:10] pierDipi commented on #2149
SGTM.

[2020-10-27 17:30] dprotaso opened #2534 "retest command doesn't trigger failed github actions"
can we hook this in - it seems like PR authors are not able to re-trigger failed github actions

[2020-10-27 19:18] dprotaso opened #2536 "Enable cherry picker plugin"
Can we enable this plugin to make it easier to cherry pick changes

https://github.com/kubernetes/test-infra/blob/master/prow/external-plugins/cherrypicker/README.md

[2020-10-27 19:59] mattmoor commented on #2536
cc @abrennan89 @n3wscott

[2020-10-27 20:03] joshua-bone commented on #2518
/close

Fixed by https://github.com/knative/test-infra/pull/2535.

[2020-10-27 20:03] #2518 closed

[2020-10-28 00:38] chizhg commented on #2518
The failing jobs are actually for Knative nightly - https://testgrid.knative.dev/serving#nightly, according to the Slack conversation.

[2020-10-28 02:27] jsoref commented on #2143
@coryrc: minor point: `this millennium` started in 2001 which is well before 2006. The only applicable term would be `decade`, but neither version of Bash was released between 2011 and 2020.

Speaking as a beard wearer 🧔  who started using the internet/Unix/Linux/Bash in the previous millennium.

[2020-10-29 01:25] chizhg commented on #2414
@howardjohn we have got rid of the circular dependencies here, so you should be able to update your Knative dependencies to the latest to make your life easier.

[2020-11-02 07:34] vaikas commented on #2322
/remove-lifecycle stale
@chaodaiG I think this has been done now? If not, what's left?

[2020-11-02 08:06] chizhg commented on #2322
We have remove the linter functions from the test scripts, so we don't have this issue anymore.

[2020-11-02 08:06] #2322 closed

[2020-11-02 14:38] dprotaso commented on #2174
cc @n3wscott since we have buoy now

[2020-11-04 06:29] chizhg commented on #2081
We haven't seen such errors anymore after we enabled workload identity for the Prow cluster, so this issue should have been fixed.

[2020-11-04 06:29] #2081 closed

[2020-11-04 06:30] chizhg commented on #2493
The script has been dropped after we moved the scripts to `knative.dev/hack`, so close this issue.

[2020-11-04 06:30] #2493 closed

[2020-11-04 06:33] chizhg commented on #2235
Workload identity has been enabled for Knative Prow cluster.

[2020-11-04 06:33] #2235 closed

[2020-11-04 06:34] chizhg commented on #2239
We have removed the link check logic from the test scripts, and will run with GitHub actions instead.

[2020-11-04 06:34] #2239 closed

[2020-11-04 06:40] chizhg commented on #2478
We have removed the markdown check logic from the test scripts in https://github.com/knative/test-infra/pull/2476, since we were planning to run it with GitHub Actions instead.

[2020-11-04 15:42] chizhg commented on #2311
/lifecycle frozen

On Wed, Nov 4, 2020, 7:17 AM github-actions[bot] <notifications@github.com>
wrote:

[2020-11-06 17:13] chizhg opened #2559 "Run presubmit check for branch protector"
We have configured `branch-protector` Prow jobs for Knative to automatically configure branch protection rules for Knative repositories - https://github.com/knative/test-infra/tree/master/config/branch_protector, but the presubmit check (which has `--confirm=false`) is taking nearly 1 hour to finish, so we are disabling it in https://github.com/knative/test-infra/pull/2555.

We should make the pre

[2020-11-10 09:00] pierDipi commented on #2149
The general desire is that each repository bumps the minimum go version when they need.

/close

[2020-11-10 09:00] #2149 closed

[2020-11-11 16:27] n3wscott opened #2566 "No way to retry a release if the artifact upload fails for GitHub."
The current auto-releaser script will not run if the label exists for a release, we had a GitHub issue were the artifacts could not be attached to the release (they failed to upload from an outage) and a few of our 0.19  releases got created, labeled, but no yaml. But because the label exists, the job is a no-op. No way to recover from this.

A failed job log: https://console.cloud.google.com/stor

[2020-11-12 11:10] rhuss commented on #2143
Closing this as the hard bash v4 dependency won't change I suspect (and if the build system changes towards go then its not worth the hassle either)

 Added the hard requirement on bash v4 to the client build script.

[2020-11-12 11:11] #2143 closed

[2020-11-12 14:57] #2297 closed

[2020-11-12 19:37] chizhg commented on #2566
https://github.com/knative/test-infra/issues/1782 is the umbrella that includes all the issues I observed on the current release scripts, which also includes this issue.

[2020-11-14 20:48] #1556 closed

[2020-11-14 21:26] #1778 closed

[2020-11-16 16:38] chaodaiG commented on #1624
This we done. The dashboard was already set up

[2020-11-16 16:38] chaodaiG commented on #1624
/close

[2020-11-16 16:38] #1624 closed

[2020-11-16 18:21] chaodaiG commented on #1813
Prow was done by migrating knative prow configs to github.com/GoogleCloudPlatform/oss-test-infra
Testgrid is in the work, so closing this one

/close

[2020-11-16 18:21] #1813 closed

[2020-11-16 21:25] #2306 closed

[2020-11-19 14:44] matzew opened #2582 "Two more test runs for eventing-kafka"
The eventing kafka runs three _DIFFERENT_ test setups on one e2e test:

https://github.com/knative-sandbox/eventing-kafka/blob/master/test/e2e-tests.sh#L467-L468

I'd like to factor that our into different calls, like done already here:
https://github.com/knative/test-infra/blob/bdff5b9587793d348366547a56f6ebe603abf1ad/config/prod/prow/config_knative.yaml#L472-L479

/assign

[2020-11-19 18:32] #2323 closed

[2020-11-20 03:38] #2582 closed

[2020-11-25 19:59] cardil commented on #2389
/remove-lifecycle stale

[2020-11-26 11:21] rhuss commented on #2478
cool, so lets close this issue then.

[2020-11-26 11:22] #2478 closed

[2020-11-26 12:48] aliok opened #2591 "`buoy float` can't handle `master`"
For example, I am getting this when I do `./hack/update-deps.sh --upgrade` in `eventing-kafka`:
[code]
Isolated it to this command that's run in this script:
[code]

The automated updates work fine though: https://github.com/knative-sandbox/knobots/runs/1456593886?check_suite_focus=true

When I inspect it, I see `buoy` is executed with `0.20` and not `master` in this line: https://github.com/knati

[2020-11-26 15:03] dsimansk opened #2593 "Older client's dot release image is tagged as latest"
I've noticed that knative/client dot release `v0.18.4` that was produced a couple of hours after `v0.19.1` is tagged with `latest`.

I'd expect that `latest` tag is moving only on current dot releases, e.g `v0.19.1,v0.19.2,...`, excluding the previous versions.

Is it something we can fix in client's release script itself? Or a broader issue?

In addition created timestamp on image `v0.19.1` is a

[2020-11-30 18:31] n3wscott commented on #2591
Working as intended. "master" is not a release.

[2020-11-30 18:31] #2591 closed

[2020-11-30 18:45] chaodaiG commented on #1960
This had been fixed

/close

[2020-11-30 18:46] #1960 closed

[2020-11-30 19:27] chizhg commented on #2536
The cherrypicker plugin has been enabled,  now you can comment `/cherrypick release-x.x.x` on a merged PR to cherrypick it into other branches, or if you want to use GitHub label, you can  add the label like `cherrypick/x.x.x` on the PR.

See https://github.com/kubernetes/test-infra/tree/master/prow/external-plugins/cherrypicker for more details.

[2020-11-30 19:27] #2536 closed

[2020-12-01 16:27] mattmoor commented on #2536
I'm testing this here: https://github.com/knative/docs/pull/3071#issuecomment-736662413

I don't see this working.  Is there a way to check status?

[2020-12-01 18:33] n3wscott commented on #1782
We should start looking at RC builds of releases.

[2020-12-02 16:02] houshengbo opened #2598 "Knative operator repository only releases patch for the latest created branch"
The operator repo can only patch release the previous branch. For example, right now, release-0.19 can automatically cut the patch on Tue, once there are new commits merged, but release-0.18 branch does not cut any patch, even if there are new commits in this branch.

[2020-12-02 17:09] #2598 closed

[2020-12-02 19:53] chizhg commented on #2406
/lifecycle frozen

[2020-12-02 19:53] chizhg commented on #2392
/lifecycle frozen

[2020-12-02 19:54] chizhg commented on #2337
/remove-lifecycle stale
/lifecycle frozen
/reopen

[2020-12-02 19:55] chizhg commented on #2374
/lifecycle frozen

[2020-12-06 04:37] #2064 closed

[2020-12-08 11:29] rhuss commented on #2593
Good point, but I have no idea how the tagging works during an auto-release. @chizhg , any ideas ?

[2020-12-09 10:20] cardil commented on #2398
@grantr could you move this issue to knative/hack repo?

[2020-12-09 10:20] cardil commented on #2398
/remove-lifecycle stale

[2020-12-14 04:12] chizhg commented on #2063
Implemented in https://github.com/knative/test-infra/pull/2531

[2020-12-14 04:12] #2063 closed

[2020-12-14 04:13] chizhg commented on #1505
Enabled in https://github.com/GoogleCloudPlatform/oss-test-infra/pull/630

[2020-12-14 04:13] #1505 closed

[2020-12-14 04:15] chizhg commented on #459
Many workloads have been moved to GitHub Actions, so it's not an issue anymore.

[2020-12-14 04:15] #459 closed

[2020-12-26 18:10] #2395 closed

[2021-01-06 18:14] chizhg commented on #2411
/reopen
/lifecycle frozen

[2021-01-07 23:13] #2346 closed

[2021-01-08 19:26] cardil commented on #2418
/reopen
/remove-lifecycle stale

[2021-01-08 21:26] howardjohn commented on #2414
I think this is fixed now, I will close unless there was more work. k8s/test-infra still has circular deps, but looks like its not knative's fault

[2021-01-19 18:14] n3wscott opened #2630 "commmon.mk has hardcoded checks for master"
Move to not hardcode the HEAD branch of any repo. This is an effort to support inclusive naming and eliminate the usage of a `master` branch.

See https://github.com/knative/community/issues/293﻿

[2021-01-19 18:18] n3wscott opened #2631 "[buoy] workflow actions for buoy should not default to master, they should inspect the repo."
Move to not hardcode the HEAD branch of any repo. This is an effort to support inclusive naming and eliminate the usage of a `master` branch.

See https://github.com/knative/community/issues/293﻿

[2021-01-19 18:19] n3wscott opened #2632 "All config/prod/prow/* config needs to be not hardcoded to master."
Move to not hardcode the HEAD branch of any repo. This is an effort to support inclusive naming and eliminate the usage of a `master` branch.

See https://github.com/knative/community/issues/293﻿

[2021-01-19 18:22] n3wscott opened #2633 "Update guides/release_setup.md to remove master."
Move to not hardcode the HEAD branch of any repo. This is an effort to support inclusive naming and eliminate the usage of a `master` branch.

See https://github.com/knative/community/issues/293﻿

[2021-01-19 18:24] n3wscott opened #2634 "ClusterManager has a lot of master* configs."
Move to not hardcode the HEAD branch of any repo. This is an effort to support inclusive naming and eliminate the usage of a `master` branch.

See https://github.com/knative/community/issues/293﻿

[2021-01-22 13:16] nak3 commented on #2634
This is really necessary. If we create the new repo now, `main` is the default branch and prow fails :cry:
[net-ingressv2](https://github.com/knative/community/issues/389) is failing as https://prow.knative.dev/view/gs/knative-prow/logs/ci-knative-sandbox-net-ingressv2-nightly-release/1352547498790490112.

[2021-01-22 13:17] nak3 commented on #2632
This is really necessary. If we create the new repo now, `main` is the default branch and prow fails :cry:
[net-ingressv2](https://github.com/knative/community/issues/389) is failing as https://prow.knative.dev/view/gs/knative-prow/logs/ci-knative-sandbox-net-ingressv2-nightly-release/1352547498790490112.

[2021-01-24 03:39] chizhg commented on #2466
/remove-lifecycle stale
/lifecycle frozen

[2021-01-25 18:10] dprotaso commented on #2534
/lifecycle frozen

[2021-01-25 18:10] dprotaso commented on #2534
cc @knative/productivity-wg-leads

[2021-01-25 18:13] dprotaso commented on #2533
/lifecycle frozen

[2021-01-25 18:29] chizhg commented on #2534
@dprotaso this actually needs to be supported by Prow, could you transfer the issue to k8s/test-infra repo and track it there?

[2021-01-28 15:36] n3wscott opened #2645 "#productivity should create a backlog."
Eventing WGs are making backlogs that can be used as the basis for communicating out what we are doing and for the TOC to review.  Productivity should make one too.

[2021-01-28 20:02] #2411 closed

[2021-02-03 16:15] vaikas opened #2650 "Warning about not using ghproxy during peribolos run"
While working on this PR:
https://github.com/knative/community/pull/430

Looked at the peribolos logs here:
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_community/430/pull-knative-peribolos/1356898274002341888

I saw this:

[code]

[2021-02-04 03:13] chizhg commented on #2650
We are using a dedicated GitHub oauth token for peribolos Prow jobs, which is different from the one used by other jobs. In this case ghproxy is not useful anymore since its main purpose is for rate limiting the requests sent with the same token.

[2021-02-04 03:13] #2650 closed

[2021-02-04 09:39] vaikas opened #2652 "peribolos job fails silently, presubmit job does not appear to validate properly."
We tried to remove a group as per here:
https://github.com/knative/community/issues/91

And the PR is here:
https://github.com/knative/community/pull/425

Notice the presubmit job ran successfully here:
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_community/425/pull-knative-peribolos/1356294227448827904

But looking at the logs, it doesn't really seem to do anything useful si

[2021-02-04 10:27] vaikas commented on #2652
Ok, so after moving @eallred-google to org member, it appears that there was a larger number of actions taken by the postjob, judging by the logs here:
https://prow.knative.dev/view/gs/knative-prow/logs/post-knative-peribolos/1357270470004576256

Some of the items in the logs seem a bit unsettling however:
[code]
Unfortunately there's no history to see when the last successful run of this was:
htt

[2021-02-04 11:20] vaikas commented on #2652
Also tried to look a the periodic run logs, since it runs every day at 1700, but I can only see two runs there.
https://prow.knative.dev/?job=ci-knative-peribolos

Is there any other place to look for logs to see how long things have been b0rk3d?

[2021-02-04 11:34] vaikas commented on #2652
Ok, went to gcs to grab some older logs. This for example:
gs://knative-prow/logs/post-knative-peribolos/1340847225189699584/build-log.txt

Shows all those kinds of RemoveTeamRepo messages, so just looking briefly it does look like it always prints those (phew):

[code]
Problem of silent failures is still obviously a problem, but after unblocking the runs by fixing the eallred-google entry, things

[2021-02-05 23:21] #1914 closed

[2021-02-09 18:48] vaikas opened #2662 "Send a notice for post-submit peribolos failures."
As discussed in #2653 we should send failure notices from the post-submit prow job. This is a feature request for it.
@n3wscott @chizhg

[2021-02-09 18:48] vaikas commented on #2662
#2652 this one addresses the post-submit, where as #2653 addressed the more comprehensive pre-submit phase.

[2021-02-09 18:54] chizhg commented on #2662
I can help with it. Which channel do you want the failure notices to be sent to?

[2021-02-09 23:23] #2499 closed

[2021-02-10 11:24] #2503 closed

[2021-02-16 18:28] vaikas commented on #2652
Just an update on this. Looks like the last PR we did catch a similar issue that previously (the original pointer in this issue) was not caught:
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_community/455/pull-knative-peribolos/1361402784523489280

[code]

So, I'm going to close this issue since we have an #2662 tracking post-submit failure notifications.

[2021-02-16 18:28] #2652 closed

[2021-02-20 00:44] #2525 closed

[2021-02-21 20:16] chizhg commented on #2559
/lifecycle frozen

[2021-02-21 22:52] #2662 closed

[2021-03-01 18:03] dprotaso opened #2681 "invoking e2e scripts locally should work"
test-infra/hack makes this difficult

ie. in serving running ./test/e2e-upgrade-test.sh doesn't work because the GCP project i'm setting isn't passed to kntest etc.
changing the provider to kind breaks because kntest flags are passed to kubetest2 which aren't supported

[2021-03-03 10:33] markusthoemmes commented on #2632
Will be fixed via https://github.com/knative/test-infra/pull/2684

[2021-03-03 16:39] #2630 closed

[2021-03-03 16:50] #2632 closed

[2021-03-08 16:19] rhuss commented on #2593
/remove-lifecycle stale

@chizhg is there a way to influence to which image version the `latest` tag should go ?

[2021-03-12 19:52] #2566 closed

[2021-03-15 17:43] chizhg commented on #2269
Updated SlackReporter to allow only reporting jobs if the state matches in https://github.com/kubernetes/test-infra/pull/18316

[2021-03-17 21:53] csantanapr opened #2719 "Add new labels for ux repo"

[2021-03-17 21:54] csantanapr commented on #2719
/assign

[2021-03-17 22:11] #2719 closed

[2021-03-19 09:53] slinkydeveloper opened #2726 "Ship Maven and JDK in prow runner"
In eventing-kafka-broker today we have to run maven in docker to build, test, etc. This makes our scripts more (and unnecessary) complex. It would be nice if the prow runner could just ship maven and a jdk to run our builds.

It would be nice to have the jdk version configurable (maven version doesn't really matter, last one is always fine), but if it's too hard, it's not a big deal and you can ju

[2021-03-25 20:26] #2389 closed

[2021-03-30 18:39] dprotaso commented on #2534
upstream issue: https://github.com/kubernetes/test-infra/issues/21581

[2021-04-06 07:41] zhaojizhuang opened #3064 "some released image of Eventing don't have tag"

[2021-04-13 04:39] #414 closed

[2021-04-13 04:39] #496 closed

[2021-04-13 22:08] coryrc opened #2748 "Setup Prow build cluster for external secrets"
https://github.com/kubernetes/test-infra/blob/master/prow/prow_secrets.md#set-up-prow-maintainers

To use for s390x jobs.

/assign @chaodaiG
/cc @chaodaiG
/cc @barthy1

[2021-04-20 18:17] grantr opened #2751 "Switch knative-sandbox back to OWNERS and self-approval"
After surveying the knative-dev mailing list, 68% of respondents preferred to bring self-approval back to knative-sandbox.

An important clarification: **Self-approval does not allow merging code that has not been reviewed.** At least one reviewer who is not the PR creator must review and `/lgtm` a PR before it can merge. This will still be true if self-approval returns.

Unfortunately, (AFAIK) Gi

[2021-04-20 18:33] grantr opened #2752 "Switch knative back to self-approval"
After surveying the knative-dev mailing list, 53% of respondents preferred to bring self-approval back to knative. See #2751 for the equivalent knative-sandbox issue.

An important clarification: **Self-approval does not allow merging code that has not been reviewed.** At least one reviewer who is not the PR creator must review and /lgtm a PR before it can merge. This will still be true if self-ap

[2021-04-21 06:56] rhuss commented on #2751
Some background info: Here's an old open issue for GitHub to allow self-approval, but it looks like there is no movement in that area anymore: https://github.community/t/do-not-require-owner-approval-if-the-pull-request-is-from-an-owner/369

There seems to be a way to tweak the approval algo via bots like in https://docs.pullapprove.com/config/reviews/#author_value the question would be, whether w

[2021-04-21 08:08] slinkydeveloper commented on #2726
cc @chaodaiG any ideas about this one?

[2021-04-21 08:12] chizhg commented on #2726
You can add them in https://github.com/knative/test-infra/blob/main/images/prow-tests/Dockerfile.

[2021-04-21 16:52] #2726 closed

[2021-04-22 14:16] slinkydeveloper commented on #1907
/remove-lifecycle-stale

[2021-04-22 16:14] evankanderson commented on #2751
/assign

[2021-04-23 17:04] chaodaiG commented on #2748
Enabled via https://github.com/GoogleCloudPlatform/oss-test-infra/pull/807, verified that the service is running in knative build cluster. For instructions on how to use see https://github.com/kubernetes/test-infra/blob/master/prow/prow_secrets.md

/close

[2021-04-23 17:04] #2748 closed

[2021-04-23 18:16] coryrc opened #2760 "Use external secrets manager for s390x cluster secret"
https://github.com/kubernetes/test-infra/blob/master/prow/prow_secrets.md#usage-prow-clients

Now that #2748 is complete, you can follow the above instructions to create a secret in your own GCP project.

For step 3: `Create kubernetes external secrets custom resource by`, put it in https://github.com/GoogleCloudPlatform/oss-test-infra/tree/master/prow/knative/cluster/build
We wrote a little more

[2021-04-27 02:48] evankanderson commented on #2751
As you might gather, the `gh` tool is helping managing these operations, which aren't quite simple enough to automate (yet?)

[2021-04-27 07:53] rhuss commented on #2751
@evankanderson please let me know when it is time to roll back that 'technical user' hack in the team assignments that was introduced to reduce notification spam.

[2021-04-27 20:41] coryrc opened #2764 "TestGrid dashboard header links don't turn red when failing"
This job is failing but the link doesn't turn red: https://testgrid.k8s.io/r/knative-own-testgrid/beta-prow-tests#ci-google-knative-gcp-0.19-continuous&sort-by-flakiness=

I assume it has the same root cause as the summary page, which has 0/10 passing columns but shows as "FLAKY" instead of "FAILING".

If more than 1 out of the last 5 columns have failed, the job should be considered FAILING not F

[2021-04-27 20:47] coryrc opened #2765 "Prow-tests image documentation is outdated/wrong, image doesn't become beta?"
https://github.com/knative/test-infra/tree/main/images/prow-tests

It appears the image gets pushed by a job automatically? If so, the `make cloud_build` stuff should be moved out to a separate section. Please also include what job does this and how to get its status.

When is the oncall supposed to tag the image? I think the build process should automatically tag them `:beta`.

/assign @chizhg

[2021-04-27 20:47] chaodaiG commented on #2764
This is most likely related to testgrid setting, created https://github.com/GoogleCloudPlatform/testgrid/issues/442 in testgrid repo

[2021-04-27 22:26] coryrc commented on #2764
https://github.com/GoogleCloudPlatform/testgrid/blob/1c1a8a895cf4efa0299a39eb0a439b8b8ef1fe83/pb/config/config.proto#L615-L623 need to be set

[2021-04-27 22:58] albertomilan commented on #2765
We did some manual alterations on the labels. Verify the expected functionality does happen automatically in ongoing image generations before applying any change to the configuration.

[2021-05-05 03:50] dprotaso opened #2769 "cherry-pick plugin not up to date?"
Multiple commands were fixed here https://github.com/kubernetes/test-infra/issues/21714

but it didn't pick it up here:
https://github.com/knative/serving/pull/11298#issuecomment-832392366

it's also unclear why evan's comment didn't produce the necessary cherry picks

https://github.com/knative/serving/pull/11298#pullrequestreview-651753871

[2021-05-08 19:40] #2418 closed

[2021-05-08 21:47] #2414 closed

[2021-05-11 12:39] BbolroC opened #2775 "Deployment of the ExternalSecret for the Prow job 'ci-knative-eventing-s390x-e2e-tests'"
In order to get the prow job `ci-knative-eventing-s390x-e2e-tests` to reach the s390x test machine, the relevant secret has been updated by one of the maintainers (thanks @coryrc) on the knative build cluster (see https://github.com/knative/test-infra/pull/2717#pullrequestreview-617991296)
But, the [kubernetes external secret](https://github.com/external-secrets/kubernetes-external-secrets) has be

[2021-05-11 12:57] barthy1 commented on #2760
The connected issue https://github.com/knative/test-infra/issues/2775

[2021-05-11 14:11] chaodaiG commented on #2775
Create a new file called `600-kubernetes_external_secrets.yaml` and place under https://github.com/GoogleCloudPlatform/oss-test-infra/tree/master/prow/knative/cluster/build, it'll be applied on knative build cluster as soon as the PR merges

[2021-05-11 14:12] chaodaiG commented on #2775
[code]
I assume this is used by prow jobs, are you sure this is the correct namespace? By default it should be `test-pods`

[2021-05-11 15:09] BbolroC commented on #2775
Not sure. I just named it hinted by the service account `erviceAccount:kubernetes-external-secrets-sa@knative-tests.iam.gserviceaccount.com`. I will change the namespace to `test-pods` in the PR. Thanks a lot!

[2021-05-14 00:27] nak3 commented on #2769
I hit this issue before and realized that one `/cherry-pick xxx` needs to be in one comment :sweat: It seems multiple `/cherrry-pick` lines are not supported.

[2021-05-19 18:36] #2633 closed

[2021-05-19 18:36] #2631 closed

[2021-05-20 22:55] evankanderson commented on #2751
Unnecessary PRs:
* https://github.com/knative-sandbox/kn-plugin-source-pkg/pull/3 -- that repo is empty.
* https://github.com/knative-sandbox/actions-kind/pull/1 -- also empty
* https://github.com/knative-sandbox/build-spike/pull/4 -- empty, probably also defun(k)t
*
Dave is looking at https://github.com/knative-sandbox/wg-repository/pull/1 and https://github.com/knative-sandbox/integration/pull/4

[2021-05-21 08:42] BbolroC commented on #2775
The first `ci-knative-eventing-s390x-e2e-tests` failed after the merge, an issue https://github.com/GoogleCloudPlatform/oss-test-infra/issues/866 is open.

[2021-05-22 08:52] BbolroC commented on #2775
All secrets are put in place and working.

[2021-05-22 08:52] #2775 closed

[2021-05-22 08:54] BbolroC commented on #2760
The secret is installed and working.

[2021-05-22 13:25] #2634 closed

[2021-05-22 14:21] #2174 closed

[2021-05-22 14:21] #2171 closed

[2021-05-22 14:21] #1906 closed

[2021-05-22 14:21] #1784 closed

[2021-05-25 16:30] evankanderson commented on #2751
/reopen

I still need to remove CODEOWNERS

[2021-05-25 20:18] evankanderson commented on #2752
/close

(Apparently "Fixes ..." doesn't work from a different org.)

[2021-05-25 20:18] #2752 closed

[2021-05-25 22:27] evankanderson commented on #2751
/close

The CODEOWNERS files shouldn't do any harm, but shouldn't be needed, either.

[2021-05-25 22:27] #2751 closed

[2021-05-28 15:53] #2645 closed

[2021-05-31 14:10] dprotaso commented on #2681
/lifecycle frozen

[2021-06-07 05:10] rhuss commented on #2593
/remove-lifecycle stale

ping @chizhg

[2021-06-07 05:46] chizhg commented on #2593
The `latest` tag is added by the `ko resolve` command by default - https://github.com/google/ko/blob/23ecf4753b4f59fba8d370ed554da7580bfb4082/pkg/commands/options/publish.go#L71. You can add some logics around https://github.com/knative/client/blob/main/hack/release.sh#L45 if you want to change this behavior.

The reason that the images are all created in 1970s is explained in https://github.com/g

[2021-06-10 23:00] chizhg commented on #2769
From https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/knative/cluster/500-cherrypicker.yaml#L36 it's already using the latest version though.

[2021-06-11 15:31] dprotaso commented on #2769
Cool - I'll reopen if I see it again

[2021-06-18 07:31] dsimansk commented on #2593
@chizhg thanks for the thorough explanation. I'll take a look at patching the release script. IMO this issue can be closed as resolved/explained.

/close

[2021-06-18 14:46] dprotaso opened #2814 "./hack/generate-configs.sh: line 19: realpath: command not found"

[2021-06-22 07:10] slinkydeveloper opened #2816 "Protected dependabot branches"
In eventing-kafka-broker we use dependabot to update our Java dependencies. Every dependabot PR creates a branch in our repo: https://github.com/knative-sandbox/eventing-kafka-broker/branches

For some reason, dependabot branches becomes protected, which prevents us from:

* Cleaning up all these branches when PRs are merged
* Use the rebase dependabot command
* Using the GH action that updates th

[2021-06-22 16:42] chizhg commented on #2816
It looks it can be configured like https://github.com/kubernetes/test-infra/blob/master/config/prow/config.yaml#L148-L151 to exclude certain branches to be protected. Feel free to submit a PR for it.

[2021-06-22 19:36] dprotaso commented on #2816
Should we change the config to just include `main` and `release-*` branches only?

There's usually some persons stray branch that would be nice to clean up without having admin access

[2021-06-22 19:42] chizhg commented on #2816
That also sounds more ideal to me but it looks `branchprotector` does not support `include` syntax in its config, but I could be wrong.
Feel free to open an issue under https://github.com/kubernetes/test-infra/issues to ask if that's a case or if it's a reasonable feature request.

[2021-06-22 19:56] dprotaso commented on #2816
made an upstream issue

https://github.com/kubernetes/test-infra/issues/22657

[2021-06-22 19:56] #2816 closed

[2021-06-29 12:46] BbolroC opened #2824 "Get notified about the flaky tests for s390x via Slack"
It would be great to get notified about the flakiness of the e2e tests for s390x (https://prow.knative.dev/?job=*s390x*) like below:

[code]

If the slack channels are designated for `x86`, it would be good to create an arch-dedicated slack channel (e.g. `knative-s390x`) and get the notification through it

Any feedback on this would be appreciated. Thank you..

[2021-06-30 15:45] dprotaso opened #2832 "Allow knative-release-leads team to run jobs using the Prow UI"
We have a [rotation of leads](https://github.com/knative/release) that shepherd a Knative release. There's a corresponding GitHub team `knative-release-leads` in the `knative` org that is used for this process.

Members of this team currently don't have the ability to run Prow jobs via the UI. We should grant this team the same access as the milestone maintainers.

https://github.com/knative/test-

[2021-06-30 15:48] dprotaso commented on #2832
@chizhg @chaodaiG is this an easy config change?

[2021-06-30 15:50] chaodaiG commented on #2832
It can be configured here: https://github.com/GoogleCloudPlatform/oss-test-infra/blob/84080b48e72981f92fcd95184ac737f00ccaded8/prow/knative/config.yaml#L124

[2021-06-30 20:25] dprotaso commented on #2832
eek. `github_team_ids` - there's not reference by name?

[2021-06-30 20:25] dprotaso commented on #2832
in case the team is re-created for whatever reason

[2021-06-30 20:26] chaodaiG commented on #2832
Not afaict, feel free file a bug under https://github.com/kubernetes/test-infra

[2021-06-30 20:34] dprotaso commented on #2832
Made the PR here: https://github.com/GoogleCloudPlatform/oss-test-infra/pull/937

[2021-07-05 08:46] BbolroC commented on #2824
@coryrc Could you give me any feedback on this? Or it would be grateful to point me out to someone whom I could discuss this with. Thank you. :wink:

[2021-07-07 13:44] BbolroC commented on #2824
@chizhg can I get some feedback from you? It looks Cory is not available atm. Thank you very much!

[2021-07-07 16:14] coryrc commented on #2824
We had the last two days for vacation, but I don't know any more than you about this tool. Looks like you should just make the PR?

[2021-07-12 17:01] #2824 closed

[2021-07-20 11:38] Siddhesh-Ghadi opened #2842 "Run knative tests on ppc64le architecture"
This issue describes the approach using which knative can be tested on `ppc64le` architecture similar to `s390x`. We will follow similar approach describe in #2717.

#### Approach
1. Fetch helper script from remote `ppc64le` machine to setup k8s cluster.
2. Run helper script which will spin up a `ppc64le` k8s cluster & setup kubeconfig & private registry files for access.
3. Run knative e2e tests.

[2021-07-21 18:09] cardil commented on #2398
/remove-lifecycle stale

I'm still targeting this. Hopefully soon, now... :crossed_fingers:

[2021-07-22 04:45] Siddhesh-Ghadi commented on #2842
@coryrc - What do you think about this approach?

[2021-07-22 16:12] coryrc commented on #2842
You all might consider moving those commands and env vars into a script in-repo, because I've always found it more time consuming to test via Prow job vs just changing a script and running, but everything LGTM even if you don't change it.

[2021-07-23 06:11] Siddhesh-Ghadi commented on #2842
Thanks @coryrc. I will try out your suggestion. I will also need help from you or any other community member to create `ppc64le-cluster` secret on the prow server. The secret will contain `ssh key` and `ip` which will **not change** so I was thinking to skip `GCP project` for managing it.

[2021-07-23 16:23] coryrc commented on #2842
Do the same as https://github.com/GoogleCloudPlatform/oss-test-infra/pull/843 and assign to chaodaiG to create the secret.

https://github.com/knative/test-infra/issues/2760 has more information on the steps IIRC

[2021-07-26 21:04] #2760 closed

[2021-07-28 18:57] dprotaso opened #2845 "drop go-licenses in our docker image"
It doesn't need the module cache to function properly anymore since this landed

https://github.com/google/go-licenses/pull/74

[2021-07-30 16:10] chases2 opened #2847 "prow: Tide can't set status due to hitting status limit"
[code]

Tide seems to be repeatedly retrying to set this status; this error (or similar) is occurring pretty regularly

[2021-07-30 16:12] chases2 commented on #2847
/kind oncall-hotlist

[2021-07-30 20:38] shinigambit commented on #2847
According to the logs the PR causing the issue is this one knative-sandbox/async-component/pull/87 but nothing out of the ordinary seems to have happened on it that would trigger that many status updates. It should do more that 1000 updates to trigger this error according to the documentation https://docs.github.com/rest/reference/repos#create-a-commit-status

Is there any retry logic around this

[2021-07-30 21:34] shinigambit commented on #2845
Based on the changes to the library I believe the course of action will be basically to revert the changes made in this PR #2538

I'm currently trying to validate that there's no difference between the current approach and moving the go-licenses binary to a previous stage

[2021-08-12 02:23] #2845 closed

[2021-08-18 13:16] dprotaso opened #2859 "Consume branch protector `include` rules"
Support has landed

https://github.com/kubernetes/test-infra/pull/22667

[2021-08-20 14:29] #1907 closed

[2021-08-24 13:56] #2832 closed

[2021-08-25 23:01] #2765 closed, assigned to chizhg

[2021-09-20 19:36] lionelvillard opened #2880 "Patch release notes should not include dot release notes"
Instead only what has changed between the last dot/patch release should be in the release notes.

[2021-09-20 20:34] coryrc commented on #1975
There is a "recheck" functionality built into Github now. Any person in the Collaborator role can trigger the recheck, which will, in turn, have CLA bot rescan a PR.

[2021-10-18 01:29] #2814 closed

[2021-10-19 11:45] nak3 opened #2910 "go-coverage is broken on all repo"
All repos in knative and knative-sandbox has a broken go-coverage test now. The logs says the following:

[code]

Example logs:
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_test-infra/2907/pull-knative-test-infra-go-coverage/1450087179987456000
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative-sandbox_net-istio/789/pull-knative-sandbox-net-istio-go-coverage/1

[2021-10-19 15:16] houshengbo opened #2912 "Prow set up for the new repository kn-plugin-operator"
As in the title, we opened a new repo: https://github.com/knative-sandbox/kn-plugin-operator
We need to set up the prow configuration for it.

[2021-10-19 18:25] cardil opened #2914 "Auto-release prow jobs calls release script with invalid parameters quoting"
The prow job that runs auto-release job calls it like that:

[code]

but in fact it should call it like that (so the flag parsing works properly):

[code]

The first call fails on kn-plugin-event (see [build 1450497752243900416](https://prow.knative.dev/view/gs/knative-prow/logs/ci-knative-sandbox-kn-plugin-event-auto-release/1450497752243900416)), as I quote parameters in release script, properly

[2021-10-19 18:41] #2912 closed, assigned to nobody

[2021-10-20 02:25] #2910 closed

[2021-10-20 13:06] cardil commented on #2398
/remove-lifecycle stale

[2021-10-20 18:55] #2914 closed, assigned to cardil

[2021-10-27 13:39] kvmware opened #2929 "repo:write allows new branches to be created on non-forked repos"
Sometimes people push new branches to repos instead of their forks. With branch protection on one cannot easily delete those branches (would have to disable protection which is dangerous). When https://github.com/knative/test-infra/issues/2859 is solved that should allow us to delete branches that are not explicitly in the `include` rules. However, the larger problem of github UI allowing branches

[2021-11-16 21:42] nader-ziada opened #2942 "No reviewers assigned when a new PR is submitted"
I'n noticed in the `serving` repo at least, when a new PR is created, there is no reviewers assigned to it.

In the Kubernetes repo, also using pro and owners files, reviewers are assigned from the list of reviewers as soon as a PR is submitted.

[2021-11-19 22:50] xtreme-sameer-vohra opened #2946 "Understand the relationship between the different repos"
**Problem**
Its difficult for new contributors to understand the relationship between the different repos in the `knative` and `knative-sandbox` orgs.
This was raised at the New Contributor Retro ([Reference](https://docs.google.com/presentation/d/1janQbHA3NQ_DtYBre8FETMmN4O7-sOfpjoarreCzzKw/edit#slide=id.g1014d5d8257_0_26))

**Persona**
Which persona is this feature for?
Contributors

**Exit Crit

[2021-11-19 23:27] xtreme-sameer-vohra commented on #2946
cc @kvmware
@evankanderson you mentioned that there might be some tools that could be leveraged

A google search revealed https://github.com/Helcaraxan/gomod which looks promising

[2021-11-28 01:26] #2847 closed

[2021-12-06 05:58] chizhg commented on #2942
This can be done by enabling the blunderbuss plugin, see https://github.com/kubernetes/test-infra/blob/master/prow/plugins/blunderbuss/blunderbuss.go#L77

We used to also enable it for the Knative projects, but it was disabled by Matt after the polls, see https://knative.slack.com/archives/C93E33SN8/p1613665026353600

[2021-12-06 06:00] chizhg commented on #2929
@kvmware is this issue fixed now?

[2021-12-06 06:01] chizhg commented on #2859
@kvmware this issue should have been fixed? If yes let's close it.

[2021-12-06 06:03] chizhg commented on #2337
@BbolroC did some work for s390x. Is there anything else needed?

/remove-lifecycle frozen

[2021-12-06 06:23] chizhg opened #2957 "Build the prow-tests image from scratch instead of from the kubekins-e2e image"
The current prow-tests image we use for running all Prow jobs is based on the kubekins-e2e image - see https://github.com/knative/test-infra/blob/main/images/prow-tests/Dockerfile#L15, which is large and contains a lot of tools that are not needed by Knative. The latest one of gcr.io/knative-tests/test-infra/prow-tests is 2.9 GB.

To reduce its size and make it more clear on the version control, i

[2021-12-06 10:34] barthy1 commented on #2337
@BbolroC did great work. Now all main knative components have nightly tests for s390x. So I'd like to close this issue.
@chizhg thank you for reminder!

[2021-12-06 10:34] #2337 closed

[2021-12-06 15:22] kvmware commented on #2859
Yes, https://github.com/GoogleCloudPlatform/oss-test-infra/pull/1236 should have addressed this.

[2021-12-06 15:22] kvmware commented on #2929
https://github.com/GoogleCloudPlatform/oss-test-infra/pull/1236 fixes this

[2021-12-06 15:22] #2929 closed

[2021-12-06 23:35] #2859 closed

[2021-12-08 16:06] kvmware commented on #2946
https://docs.google.com/document/d/1mFY2QdXUvhCORyVkhJtBOqWeYGOIxmJ-ltSPXWZRU3E/edit?usp=sharing a proposal has been submitted to the DUX working group meeting. Please add comments or suggestions there.

[2021-12-09 05:32] chizhg opened #2962 "Convert Knative Prow into a GitHub app"
As the number of repos in Knative grows, there'll be issues in authenticating to the GitHub APIs with the GitHub Personal Access Token, since the rate limit is always 5000 per hour. To make it more scalable and secure, it'll be nice to convert Knative Prow into a GitHub app.

After it's converted into a GitHub app, the Prow jobs for peribolos, label_sync and branchprotector should also be switched

[2021-12-10 03:46] chizhg commented on #2942
Also there was once a proposal to switch from OWNERS (Prow) to CODEOWNERS (GitHub) but it was vetoed - https://docs.google.com/document/d/1LzOUbTMkMEsCRfwjYm5TKZUWfyXpO589-r9K2rXlHfk/edit#bookmark=id.lhq7i32767eh

[2021-12-10 04:01] chizhg opened #2965 "Auto merge PRs created by the knative-automation bot"
For PRs created by [knobot](https://github.com/knative-sandbox/knobots) GitHub actions, such as:
- https://github.com/knative/client-pkg/pull/24
-  https://github.com/knative/client-pkg/pull/23
- https://github.com/knative/client-pkg/pull/22

At this point there shouldn't be issues on skipping the code review and auto-merging them.

This can be achieved by adding a label such as `skip-review` to t

[2021-12-16 16:25] chizhg opened #2976 "Move all GCP projects used for Knative infra from google.com to knative.team org"
As part of CNCF infra migration, we need to move all GCP projects used for Knative infra from google.com to knative.team org, so that they can be accessed and managed by Knative community members.

These projects include:
- knative-tests
- knative-boskos-01…100
- knative-nightly, knative-releases
- knative-gcp, knative-nightly
- knative-performance, knative-eventing-performance
- knative-e2e-dns,

[2022-01-02 05:36] chizhg opened #2982 "Move Knative Prow config files from GoogleCloudPlatform/oss-test-infra repo to the knative/test-infra repo"
As the outcome of [Proposal: Reducing Productivity Oncall Duties](https://docs.google.com/document/d/1tktwX9qHR9DKiA6yZCEMRYouNtScyRVW4ztVea-MJ1M/edit?resourcekey=0-G8IkKBaNP2s7xc2j92nvAQ#), Knative Prow config files were moved from GoogleCloudPlatform/oss-test-infra repo to the knative/test-infra repo, which are managed and maintained by the Prow team at Google.

Now that Knative has been donated

[2022-01-02 05:38] chizhg opened #2983 "Move Knative TestGrid config files from GoogleCloudPlatform/testgrid repo to the knative/test-infra repo"
Similar to the Prow config files migration issue at https://github.com/knative/test-infra/issues/2982, this issue is for tracking the work to move the Knative TestGrid backend deployment config files from [GoogleCloudPlatform/testgrid](https://github.com/GoogleCloudPlatform/testgrid/tree/master/cluster/prod/knative) to the knative/test-infra repo

More details can be found in the [Knative test inf

[2022-01-02 06:12] chizhg opened #2984 "Change Google CLA to CNCF CLA after donation is completed"
Similar to Kubernetes, after Knative becomes an official CNCF project, contributors will need to sign the CNCF CLA instead of Google CLA, so the merge requirement will need to be updated.

[2022-01-02 06:24] chizhg opened #2985 "Remove the build and unit tests run by Prow, and use the GitHub actions to block on presubmit"
Currently there are some overlaps between the Prow test jobs and GitHub actions, the most obvious ones are the build and unit tests.

Since the tests run with GitHub actions are faster and easier to configure, it's more ideal to keep them and remove the Prow jobs.

The work will include:
1. Add a GitHub action in https://github.com/knative-sandbox/knobots to update the branchprotector rule config

[2022-01-02 06:30] chizhg opened #2986 "Use the Istio Prow config generator tool, and deprecate the bespoke Knative tool"
There is a plan to make https://github.com/istio/test-infra/tree/master/prow/config as the default config templating solution for Prow. After that happens, it'll be ideal to use it to generate the Prow config files for Knative, and deprecate the bespoke config generator tool in https://github.com/knative/test-infra/tree/main/tools/config-generator

More details can be found in the [Knative test in

[2022-01-02 06:49] chizhg opened #2987 "Move the Knative GitHub bot accounts to be managed by the community"
Currently there are a few GitHub bot accounts used for Knative automation, including:
- knative-prow-robot
- knative-metrics-robot
- knative-prow-releaser-robot
- knative-test-reporter-robot
- knative-prow-updater-robot

Currently these accounts are owned by Google and only Googlers have permissions to access them. As part of the CNCF infra migration, these accounts will need to be managed by the

[2022-01-05 20:09] dprotaso opened #2992 "Turn on the ability for /retest to re-run failed GitHub Actions"
This landed upstream thanks to @shinigambit

cc @kvmware @chizhg

https://github.com/kubernetes/test-infra/issues/21581

[2022-01-06 18:22] kvmware opened #2994 "Utilize the new reusable workflows"
Currently we copy the workflows across repos. This not needed anymore with the new reusable workflow feature.

Knative repo for hosting GitHub Actions workflows (also a sandbox one. Verify if we can ref workflows across orgs. If so, we don't need both.)
https://github.blog/2021-11-29-github-actions-reusable-workflows-is-generally-available/
https://github.com/knative/.github
https://github.com/kna

[2022-01-07 19:16] chizhg commented on #2992
It looks Fabian is looking into it, so assigning to him.

[2022-01-10 21:21] dprotaso commented on #2534
https://github.com/GoogleCloudPlatform/oss-test-infra/pull/1400/files

[2022-01-11 15:44] shinigambit commented on #2992
Forgot to link the PR to this issue, the configuration should be taking effect already. Feel free to close the issue if it's working as expected

[2022-01-12 06:09] #2992 closed

[2022-01-13 16:46] upodroid opened #3003 "Publish breakdown of GCP Infra used by knative test-infra"
@chizhg

Can you supply the following screenshots from billing?

![image](https://user-images.githubusercontent.com/25100905/149372859-e0e1dd99-5d72-4700-b731-f2dea0eef0e2.png)

I suspect it may not be possible, but access to the billing exports would be cool or a copy of the report @evankanderson wrote.

The usual suspects that we can optimise are the following:
- using preemptible nodes
- elimin

[2022-01-13 16:58] chizhg commented on #3003
FYI https://docs.google.com/spreadsheets/d/1UhN-2KixU_q_G7Bp87LczShHA0Ms-MAroxjdvyQAlL0/edit#gid=0 is the cost sheet created by Evan.

[2022-01-13 17:14] chizhg commented on #3003
And below is the new billing screenshot for November 2021:

![image](https://user-images.githubusercontent.com/19399934/149377058-5f1932dd-6934-4dc9-8e5a-a08fb79d130e.png)

[2022-01-13 17:55] upodroid commented on #3003
Can you break it down by SKU?

[2022-01-13 19:15] upodroid opened #3005 "Migrate to Artifact Registry"
Google Container Registry has been recommending migrating to Artifact Registry for some time now.

https://cloud.google.com/artifact-registry/docs/transition/transition-from-gcr

In theory, this should be straight forward:
- Ensure all service accounts have been granted Artifact Registry roles
- One major change is that repositories need to be created.
- Authentication methods are still the same.

[2022-01-13 19:33] chizhg commented on #3005
Thanks for opening this!

[2022-01-13 19:58] chizhg opened #3006 "Add a presubmit test to make sure the prow-tests image can be built"
See https://github.com/knative/test-infra/pull/3004#issuecomment-1012456907

[2022-01-13 20:47] upodroid commented on #3006
/assign @upodroid

[2022-01-13 22:54] #3006 closed

[2022-01-16 05:58] chizhg opened #3015 "The new docker-credential-gcr is having issues with authenticating to GCR"
All the Prow jobs started failing to publish images to GCR after changes for ` docker-credential-gcr` in https://github.com/knative/test-infra/pull/3007, one example is https://prow.knative.dev/view/gs/knative-prow/logs/ci-knative-client-continuous/1482576817675046912

/cc @upodroid

[2022-01-16 13:10] upodroid commented on #3015
I identified the problem.

[code]

[2022-01-16 13:33] upodroid opened #3017 "Introduce Robust Image testing pipeline"
We have been updating the prow-tests image recently and a few bugs snuck through including a critical one such as #3015

#3008 introduced a presubmit job that builds the image and verifies successful build but the image isn't tested properly with a prowjob.

We should extend #3008 to run a local Prow Job. k8s infra repo has instructions at https://github.com/kubernetes/test-infra/blob/master/prow/

[2022-01-16 13:33] upodroid commented on #3017
@chi

[2022-01-17 18:52] #3015 closed

[2022-01-18 17:48] upodroid commented on #2681
/assign @upodroid

[2022-01-18 19:08] upodroid opened #3023 "Insert commit hash the prow-tests docker image is built from in to the image"
The hash of the commit should be written to the image and shown at the top of the prow job log next to go, ko versions at https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_test-infra/3014/pull-knative-test-infra-build-tests/1483513866326380544/build-log.txt

It wasn't [clear](https://knative.slack.com/archives/CCSNR4FCH/p1642423405044300) which image prow was using when Chi rolled b

[2022-01-19 01:08] #2957 closed

[2022-01-19 16:41] #3023 closed

[2022-01-19 19:45] chizhg opened #3027 "Update the git version in the prow-tests image"
The `post-knative-test-infra-prow-tests-image-push` Prow job is now failing, and it seems to be still due to the old git version https://prow.knative.dev/view/gs/knative-prow/logs/post-knative-test-infra-prow-tests-image-push/1483865568942493696#1:build-log.txt%3A5

/cc @upodroid

[2022-01-19 20:13] upodroid commented on #3027
git version is already updated in the new image, have we rolled it out yet?

[2022-01-19 20:32] chizhg commented on #3027
My bad, I forgot about that.. I was monitoring on the beta (staging) Prow jobs, and found one error, https://github.com/knative/test-infra/pull/3028 is the fix.

[2022-01-19 20:58] upodroid commented on #3027
On a sidenote, pull-knative-test-infra-prow-tests-image-build should be failing properly

[2022-01-19 21:35] chizhg commented on #3027
That should be okay I think. We only need to make sure it's on the main branch when pushing the images.

[2022-01-19 22:10] chizhg opened #3029 "Create an oncall rotation for Knative infra"
After the infra is migrated to CNCF (basically everything in https://github.com/orgs/knative/projects/40/views/11 is done), we should create an oncall rotation for maintaining the infra.

We can hash out more details about the responsibilities, but ideally the oncall should only be responsible for handling the infra issues, including Prow, TestGrid, Boskos, etc, all other productivity related issu

[2022-01-19 22:10] chizhg commented on #3029
/kind cncf-infra

[2022-01-20 01:31] #2880 closed

[2022-01-20 05:22] chizhg commented on #2559
This can be easily fixed after https://github.com/knative/test-infra/issues/2962 is done.

[2022-01-20 05:34] chizhg commented on #2534
This issue should have been fixed at https://github.com/kubernetes/test-infra/issues/21581 and https://github.com/GoogleCloudPlatform/oss-test-infra/pull/1400 so close it.

/close

[2022-01-20 05:34] #2534 closed

[2022-01-20 16:19] upodroid commented on #2962
kubernetes's prow instance has been running as Github App for sometime now.

References:
- https://github.com/kubernetes/test-infra/issues/10423
- https://github.com/kubernetes/test-infra/pull/23630
- https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md

[2022-01-24 00:16] chizhg commented on #3027
The issue was fixed after rolling out the new image.

[2022-01-24 00:16] #3027 closed

[2022-01-24 19:04] evankanderson opened #3033 "Add support for additional test infrastructure providers"
e.g. Equinix, AWS, etc.

Adding this to the roadmap, but it will definitely need some longer-term design and discussion with the CNCF test infrastructure community to make sure that we're building on supported foundations. (`kubetest2`? `boskos`?).

There's no urgent need for this; this is a tracking issue in case we discover that we either want broader k8s coverage or better stability / performan

[2022-01-24 21:56] chizhg commented on #3033
/cc @kvmware

[2022-01-24 22:07] chizhg commented on #2982
On a side note for this issue, @upodroid is working on https://github.com/knative/community/issues/443 to automate management of GCP resources, and likely we'll want all these config files to be in the same repo.

@upodroid is your plan to have the k8s tools in the test-infra repo?

[2022-01-24 23:01] upodroid commented on #2982
1. https://github.com/kubernetes/k8s.io/tree/master/groups will live at https://github.com/knative/community/tree/main/groups
2. https://github.com/kubernetes/k8s.io/tree/main/infra/gcp will live at https://github.com/knative/test-infra/tree/main/infra/gcp

[2022-01-25 14:18] upodroid opened #3036 "Migrate to Containerd node images before GKE v1.24"
We will need to recreate the nodepools of the permanent GKE Clusters that we run.

![image](https://user-images.githubusercontent.com/25100905/150993539-302bbb64-6022-4628-8909-fba3cd3e263e.png)

https://kubernetes.io/blog/2022/01/07/kubernetes-is-moving-on-from-dockershim/

/kind cncf-infra

[2022-01-25 14:19] upodroid commented on #3036
/kind cncf-infra

[2022-01-25 21:42] chizhg commented on #3036
You are so fast! I was just about to bring this up 😄

The GKE clusters created for the E2E tests are also using legacy `cos` node image, and it should be an easy fix - we can just pass the `--image-type` flag to the `kubetest2 gke` command - https://github.com/kubernetes-sigs/kubetest2/blob/master/kubetest2-gke/deployer/options/cluster.go#L36

[2022-01-26 23:13] #3036 closed

[2022-01-27 16:22] upodroid commented on #2976
This is what we need to do.

1. Configure Google Cloud properly for knative.team https://cloud.google.com/resource-manager/docs/creating-managing-organization
2. Move the projects to knative.team GCP Org
3. Once the project is accepted in CNCF, update the billing in Google Workspace and Google Cloud. We'll need to log support cases with Google to update ownership and billing for both products.

[2022-01-27 21:30] upodroid commented on #2976
The organization is configured now.

[code]

[2022-01-28 07:02] chizhg opened #3048 "Investigate ways to count download stats for container images that are released"
Per https://knative.slack.com/archives/CCSNR4FCH/p1643306171089300, the data will be useful to be incorporated in the Knative project year report.

[2022-01-28 07:50] cardil commented on #2398
I think this is doable by splitting this into smaller tasks:

- Installation of knative components (latest, specific release, head) - task for specialized lib+tool that might be reused in other production codebases (operator, cli plugins)
- updating deps, generating code - specialized lib+tool that can be embedded within build tools
- launching test clusters - there are tools for this already, but

[2022-01-28 21:41] csantanapr opened #3052 "Add common label for "Epic""
Different groups are using a label of epic, but we don't have consistency.

This was discussed in [TOC meeting from 2022/01/27](https://docs.google.com/document/d/1LzOUbTMkMEsCRfwjYm5TKZUWfyXpO589-r9K2rXlHfk/edit#heading=h.jlesqjgc1ij3)

There was an agreement to create a common label for both GitHub orgs, we choose "Epic" as this is a special case-sensitive string leveraged by ZenHub software. Th

[2022-01-29 01:11] #3052 closed

[2022-01-29 17:13] dprotaso opened #3070 "Merge downstream tests fail for PR authors who are not org members"

[2022-01-29 20:04] dprotaso opened #3054 "Prow jobs unable to spin up GKE clusters"
https://prow.knative.dev/view/gs/knative-prow/logs/ci-knative-serving-istio-head-no-mesh/1487451128328097792

kubetest2 is throwing an error
[code]

[2022-01-29 21:22] #3054 closed

[2022-01-31 16:22] dprotaso opened #3057 "`/ok-to-test` should trigger GitHub Actions to run"
For non-members GitHub Actions don't run. They need approval from a member or maybe admin https://docs.github.com/en/actions/managing-workflow-runs/approving-workflow-runs-from-public-forks

Similarly prow gates running prow jobs for non-members until an `/ok-to-test` comment that adds an `ok-to-test` label.

It would be great when we comment `/ok-to-test` it also approves the GitHub Actions workf

[2022-01-31 23:52] shinigambit commented on #2994
To reference reusable workflows we still need to copy (via knobots) or create manually the yaml file that points to the reusable workflows, currently I'm copying the reusable bits to [knative-sandbox/.github/.github/workflows](https://github.com/knative-sandbox/.github/tree/main/.github/workflows) and modifying the templates defined in [knative-sandbox/.github/workflow-templates](https://github.co

[2022-02-01 15:09] kvmware opened #3060 "create-build-cluster.sh tries to curl a non existent file"
https://github.com/knative/test-infra/blob/main/config/prow/build-cluster/create-build-cluster.sh#L36 results in a 404.

[2022-02-01 15:28] psschwei commented on #3060
It shows up for me

<img width="546" alt="image" src="https://user-images.githubusercontent.com/44698588/151997934-8c0cb9e3-85b3-4589-b0a2-663ac99cc613.png">

[2022-02-01 16:12] kvmware commented on #3060
The link on that line points to a non existent file.

![image](https://user-images.githubusercontent.com/84356882/152005974-8cb19131-2c30-4e5e-91bf-82a85f8ea997.png)

[2022-02-01 16:20] psschwei commented on #3060
Sorry, misread the issue title.

[2022-02-01 16:29] cardil commented on #3060
Let's remove this. Invoking a shell script, directly downloaded from the network without checking for consistency, isn't safe.

[2022-02-01 16:33] kvmware commented on #3060
I agree with the downloading a file and running it is not the best, but sorta seems like an idiom used for now (I am guessing to avoid duplicating and manually syncing files) https://github.com/GoogleCloudPlatform/oss-test-infra/blob/master/prow/knative/create-build-cluster.sh#L36

[2022-02-01 17:58] kvmware commented on #2994
Sounds like we won't be able to escape using knobots. However, with reusable workflows we will make the use of knobots much less frequent since only rename and add/removal of jobs would need to be synced. We do get the win of when making changes to jobs would not need knobots and thus the many different repos would not have to have PRs spammed to them :+1:

[2022-02-01 19:15] cardil commented on #3060
At least, we should check the download sha, before executing it blindly. It's not an excuse that other people does that.

Yes, people do that, then get hacked and stop doing that.

[2022-02-02 06:39] chizhg commented on #2994
The plan sounds good to me, and +1 to Krsna's comment.

One open question I have after reading https://docs.github.com/en/actions/using-workflows/reusing-workflows#reusable-workflows-and-starter-workflows is, do we want to specify the different release branch name when referencing the reusable workflow, or shall we always use `main`? If the former, we'll need to start cutting release for the `.git

[2022-02-02 18:18] dprotaso commented on #3064
transferred to test-infra

cc @chizhg @kvmware

[2022-02-03 16:27] upodroid opened #3071 "Adjust Prow Trusted Build Cluster to use Workload Identity."
We should use Workload Identity instead of loading service accounts keys manually.

This change requires nodepools to be recreated so we should also switch to containerd at the same time.

[2022-02-03 16:28] upodroid opened #3072 "Adjust Prow Build Cluster to use Workload Identity"
We should use [Workload Identity ](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity) instead of loading service accounts keys manually.

This change requires nodepools to be recreated so we should also switch to containerd at the same time.

/kind cncf-infra

[2022-02-03 16:28] upodroid commented on #3071
/kind cncf-infra

[2022-02-04 15:27] upodroid opened #3075 "Update testgrid alert emails"
Many prowjobs have the following annotation `testgrid-alert-email: "*****@google.com"`. We should either remove them or send it to a `knative.team` googlegroup mailing list.

/kind cleanup

[2022-02-04 21:30] chizhg commented on #2976
@upodroid I checked with Ihor Dvoretskyi from CNCF regarding whether they are okay for us to create the GCP org, but below is what he said:
[code]

I'm not sure what the issues he meant here since I've never done this before, but it sounds there are certain risks for using this GCP org rather than waiting for CNCF to create it for us.

[2022-02-04 21:44] upodroid commented on #2976
Transferring projects between organizations has been streamlined by Google last year. You had to engage Google Support and took time but it is self service now.

The GCP org is tied to the GSuite organization. Ihor is effectively proposing we scrap our current gsuite and start with a fresh gsuite + gcp org which is extremely painful to deal with.

Lets arrange a meeting with the CNCF rep, GCP/GSui

[2022-02-04 21:47] upodroid commented on #2976
Also, CNCF needs to take ownership and billing responsibility for `knative.team` GSuite Subscription. It is currently paid by a Googler with their corporate card. I'll log a separate issue for that.

[2022-02-04 21:48] upodroid opened #3076 "Handover `knative.team` GSuite ownership and billing to CNCF"
CNCF needs to take ownership and billing responsibility for knative.team GSuite Subscription. It is currently paid by Google.

/kind cncf-infra

[2022-02-04 21:53] upodroid commented on #3057
There is an API for this.

https://docs.github.com/en/rest/reference/actions#approve-a-workflow-run-for-a-fork-pull-request

[2022-02-08 16:07] shinigambit commented on #3057
I think this could be accomplished by a new GitHub action that checks for the addition of the ok-to-test tag and copy the action to the necessary repos via knobots rather that relying on Prow for this

[2022-02-09 20:03] kvmware commented on #3076
Duplicate of https://github.com/knative/test-infra/issues/2976 this already is mentioned there.

[2022-02-09 20:04] kvmware commented on #3075
Or just use slack alerts.

[2022-02-09 20:09] shinigambit commented on #3057
I'm making good progress on this [here](https://github.com/shinigambit/serving/pull/4) but I've hit a roadblock because at every attempt to approve I get the following message
[code]
I think it's possible that the token in my fork doesn't have the appropriate permissions but the one used in the actual knative project would work. Should I create it on a repo to try it out @dprotaso @upodroid ?

[2022-02-09 20:11] upodroid commented on #3057
For security reasons, the token available for the PR from the fork is read-only to avoid bad actors making changes.
https://github.community/t/token-permissions-for-forks-once-again/16468/5

[2022-02-09 20:43] upodroid commented on #3057
I'm fine with either. Try `on:workflow_run` trigger first and see how that goes.

[2022-02-09 21:24] dprotaso commented on #3057
Since this is a prow command wouldn't prow have the authority/token to approve the GitHub actions to run?

[2022-02-10 15:23] dprotaso commented on #3057
But now we have to worry about propagating this action everywhere we want to use this feature. I think it's just simpler to maintain this across many repos if it's a prow plugin vs. a GitHub action

[2022-02-10 16:00] shinigambit commented on #3057
That's fair, I'm not sure if a Prow job would do, seems a bit easier than making a plugin. Mind if I try that option first @dprotaso ?

[2022-02-10 18:35] shinigambit commented on #3057
Consensus in the productivity WG meeting is to open an issue in upstream Prow and have Prow take care of approving the GitHub workflow runs, let's explore that first @dprotaso I'm opening the issue so we can have the Prow folks input

[2022-02-10 20:21] dprotaso commented on #3057
Sounds good. To clarify I wasn't suggesting a job but it being part of the plugin. The same way that you implemented `/retest` to restart failed actions

[2022-02-10 21:28] #3060 closed

[2022-02-10 21:30] upodroid opened #3080 "Install the refactored GSuite Groups Reconciler"
Update the groups folder in knative/community repo once https://github.com/kubernetes/k8s.io/issues/3356 is fixed.

/kind cleanup
/kind enhancement

[2022-02-13 16:22] dprotaso opened #3086 "As a follow up it would be good to know why the regexp didn't work"
As a follow up it would be good to know why the regexp didn't work

It was blocking this PR: https://github.com/knative/community/pull/919/files

_Originally posted by @dprotaso in https://github.com/knative/test-infra/pull/3084#discussion_r805069835_

[2022-02-13 16:22] dprotaso commented on #3086
/assign @upodroid

[2022-02-13 16:22] dprotaso commented on #3086
cc @chizhg

[2022-02-13 16:25] dprotaso commented on #2769
This comment didn't trigger three PRs as expected  - I had to do separate comments

https://github.com/knative/serving/pull/12614#issuecomment-1038228717

[2022-02-13 16:28] dprotaso commented on #2769
Another - https://github.com/knative/serving/pull/12617#issuecomment-1038232043

[2022-02-13 23:23] chizhg commented on #2982
Step 3 cannot be done at this point since the Prow team is stilling managing the Knative Prow instance. We'll do it after Knative is officially accepted by CNCF and the process is completely removed from oss-test-infra repo. So keeping this issue open for now for better tracking purpose.

[2022-02-13 23:24] chizhg commented on #2986
As a side note, https://github.com/knative/test-infra/blob/main/config/prow/testgrid/testgrid.yaml is not used anymore so we should delete it when we make the tool switch.

[2022-02-16 04:11] chizhg opened #3096 "Use the retry logic in kubetest2 gke deployer to retry on cluster creations"
We have logic in https://github.com/knative/test-infra/blob/main/pkg/clustermanager/kubetest2/gke.go#L134-L171 to retry on GKE cluster creation when there is GCE stockout. Now that kubetest2 gke deployer also supports smart retry, we should switch to use that instead.

This can also potentially save some compute resources since kubetest2 gke deployer will clean up the failed cluster before retryin

[2022-02-16 04:34] chizhg commented on #3096
/kind good-first-issue

[2022-02-16 16:30] kvmware opened #3100 "[Discussion] Move ./tools and ./pkg dir out into their own repo."
In the effort to try to cleanup and simplify `test-infra` repo, I think maybe we should move all the golang tools into their own directory and keep `test-infra` more as a central place for configurations etc. Problem is golang is very crufty and expect a root `pkg` folder as well as `go.mod` and `go.sum` which is very confusing in a repo. The repo is currently being used as a golang project as wel

[2022-02-16 16:38] kvmware opened #3101 "Enable postsubmit Prow job once CNCF process is complete"
From https://github.com/knative/test-infra/issues/2982 "Prow team is stilling managing the Knative Prow instance. We'll do it after Knative is officially accepted by CNCF and the process is completely removed from oss-test-infra repo. So keeping this issue open for now for better tracking purpose."

Uncomment and enable https://github.com/knative/test-infra/blob/main/prow/jobs/custom/autodeploy-pr

[2022-02-16 16:38] kvmware commented on #3101
/kind kind/cncf-infra

[2022-02-16 16:39] kvmware commented on #2982
Created an issue #3101 to track step 3

[2022-02-16 16:40] kvmware commented on #3101
/kind cncf-infra

[2022-02-16 16:41] #2982 closed

[2022-02-17 04:16] chizhg commented on #3100
Previously we made a lot of effort on removing the `test-infra` dependency for other Knative projects, see the discussions in https://github.com/knative/test-infra/issues/2078 and https://github.com/knative/test-infra/issues/2069, and we ended up moving the Bash scripts to a separate `hack` repo.

Currently `test-infra` is standalone and it should not be imported by any other repos, and this has b

[2022-02-17 14:13] kvmware commented on #3101
/kind kind/cncf-blocked

[2022-02-17 14:14] kvmware commented on #3101
/kind cncf-blocked

[2022-02-17 15:47] kvmware commented on #3100
I am suggesting moving all the golang stuff to a single repo. Not, each own repos. Sorry should have clarified that

[2022-02-17 15:50] kvmware commented on #3100
We should also move `buoy` to `tools` as well

[2022-02-17 15:52] kvmware commented on #3100
would have to copy buoy first then cherrypick the hack scripts to all the supported releases then finally remove buoy

[2022-02-17 16:10] kvmware commented on #3072
/unkind cncf-infra

[2022-02-17 16:10] chizhg commented on #3071
/remove-kind cncf-infra

[2022-02-17 16:10] kvmware commented on #3072
/remove-kind cncf-infra

[2022-02-17 16:11] kvmware commented on #3071
/remove-kind cncf-infra

[2022-02-17 16:42] chizhg opened #3104 "Reduce the infra cost for Knative"
Currently the infra cost for running Prow, E2E tests, release pipelines is around $50K per month. There have already been some efforts to reduce the cost. As part of the effort for CNCF infra migration, we want to further reduce the cost as much as possible before fully handing off the infra to the Knative community.

The current infra cost breakdown can be checked from https://github.com/knative/

[2022-02-17 17:20] mattmoor commented on #3104
From the meeting: we should be very very very careful about any sort of image cleanup.

There was cleanup logic added to Knative very early on which ended up doing an `rm -rf` on our public release public and burned a day or so of my and others time getting the GCR/GCS teams to restore it from backups.

If release images aren't a significant cost, then please just don't touch them.

If they are, t

[2022-02-17 18:13] dprotaso commented on #3057
It also looks like the approval needs to occur any time there's a new change (ie. pushed a commit) on the PR.

[2022-02-17 18:54] kvmware commented on #3057
We discussed this issue in Productivity WG meeting and we came to the consensus that the `/ok-to-test` for github actions should be feature parity with what Prow is currently doing (which the current PR is not doing).

[2022-02-18 19:59] chizhg commented on #2987
According to the discussions in https://knative.slack.com/archives/CU9DGL4FM/p1645164373229969, we need to wait until Knative is accepted by CNCF, and then use 1 Password to store them.

[2022-02-22 20:26] dprotaso opened #3113 "Drop usage of `go get` in favour of `go install`"
using `go get` to install a binary is deprecated in go1.17 and [is support is removed in go1.18](https://tip.golang.org/doc/go1.18#go-command)

Mentioned here: https://github.com/knative/serving/pull/12653#issuecomment-1048120859

/assign @chizhg @kvmware

Any chance you could take a look at this sometime this week - go1.18 comes out either next week or the week after.

I know we won't plan on mov

[2022-02-22 20:54] kvmware commented on #3113
https://github.com/knative/hack/search?q=%22go+get seems to have all 1.18> valid `go get` commands. From the release notes, `(with GO111MODULE=off), go get still builds and installs packages, as before` and the other command uses `-d` flag.

I can check other repos though or please point out anything if I am missing anything.

[2022-02-23 01:06] dprotaso commented on #3113
We're using it in `run_go_tool`: https://github.com/knative/hack/blob/cf8cbc0e9165fb3193e6e145852e238c0f816746/library.sh#L554

And we can drop the workaround in that bash function around since `go install` doesn't modify the `go.mod` file anymore.

`go install` has been around for over a year - I think we're good to adopt it as most tools have adopted modules etc.

[2022-02-23 15:37] #3096 closed

[2022-02-23 15:45] kvmware commented on #3101
/kind cncf-after

[2022-02-23 15:46] kvmware commented on #3029
/kind cncf-after

[2022-02-23 15:46] kvmware commented on #2984
/kind cncf-after

[2022-02-23 15:47] kvmware commented on #678
/kind security

[2022-02-23 15:51] kvmware commented on #3075
/remove cncf-infra

[2022-02-23 15:51] kvmware commented on #3075
/remove-kind cncf-infra

[2022-02-24 04:15] chizhg opened #3117 "Run kubetest2 with --down arg to release the Boskos project directly"
Currently the E2E test flow relies on the timeout setting in Boskos reaper to release the project resource, which will add ~ 15 minutes of delay for cleaning up the projects. We can add --down flag when running `kubetest2` command to directly release the projects in the end of E2E test flow, which'll help save some resource.

[2022-02-24 06:18] #3117 closed

[2022-02-24 11:43] upodroid opened #3119 "Knative Telemetry Architecture"
Gathering logs from test clusters using Stackdriver costs [more](https://github.com/knative/test-infra/issues/3003) than the entire compute cost of the Knative project. There is a need to gather and review logs from our tests and I'm proposing we use [Grafana Loki](https://grafana.com/oss/loki/) to gather logs from all our test clusters.

Loki costs considerably less.

The GCP Architecture looks l