[2019-05-28 18:42] adrcunha commented on #829
Also, some time ago we had race conditions regarding the creation of Istio CRDs that resulted in error messages similar to the ones above when installing knative/serving. They manual workaround was to simply `kubectl apply` the yaml again after a few seconds (when hopefully the CRDs were already created). If memory serves me well, for Istio someone (Nghia, I think) added a patch/hack to wait for t

[2019-05-28 18:51] adrcunha commented on #441
API Coverage was removed and also its dependency on knative/serving.

[2019-05-28 18:51] #441 closed

[2019-05-28 18:51] chaodaiG commented on #829
Under test-infra, this only happened for PR 828 and PR 830 so far

[2019-05-28 19:05] chaodaiG commented on #829
It's actually failing a bunch of stuff, at least client, eventing-sources, docs are affected. While serving and eventing are not affected, and they don't rely on GKE Istio Addon

[2019-05-28 19:17] adrcunha commented on #146
This is now properly notified by Prow when a merge happens: https://github.com/knative/test-infra/pull/831#issuecomment-496651103

[2019-05-28 19:17] #146 closed

[2019-05-28 20:11] Fredy-Z commented on #829
/assign @yt3liu
Assigning to Joyce since she's oncall :-)

[2019-05-28 20:49] adrcunha commented on #678
It seems that notifications are available through Pub/Sub: https://cloud.google.com/container-registry/docs/get-image-vulnerabilities

[2019-05-28 22:51] yt3liu commented on #829
For the intermittent error from "caching.internal.knative.dev/v1alpha1", since the image definition is also part of knative-serving, the wait solution will not work.

[code]

The next step is to add the re-try `kubectl apply` after it fails for the first time.

[2019-05-28 23:03] adrcunha commented on #829
I believe you're talking about https://github.com/knative/test-infra/blob/beeb6309cd1b885279e326b38d1f015739ea3c0d/scripts/library.sh#L335

If so:
* this should be a short-term solution\
* beyond the long-term solution we should have a way to avoid this kind of situation to happen again
* this should be in sync with the official instructions on how to install Knative ("got an error, retry" is a ba

[2019-05-29 00:42] steuhs commented on #810
completed with the two PRs merged

[2019-05-29 00:42] #810 closed

[2019-05-29 00:44] steuhs opened #835 "Create database tables specified in monitoring design doc"
This need to be completed before #764 can be verified

Step 1:
Create an sql file that contains the table creation statements

Step 2:
execute the file created in step 1 and load the table in monitoring database

[2019-05-29 00:45] srinivashegde86 commented on #367
I have renamed the bot to kn-metrics-bot.

[2019-05-29 00:51] adrcunha commented on #367
Can it be knative-metrics-robot, so the name is in sync with the other robots?

[2019-05-29 01:04] srinivashegde86 commented on #367
done. updated to knative-metrics-robot

[2019-05-29 01:06] adrcunha commented on #367
Thanks. Looking forward to the updated robot profile. :)

[2019-05-29 19:22] evankanderson commented on #459
One additional observation (which may be obvious) for the new test setup:

Test setup should probably be thought as a nesting set (stack) of operations. At a minimum:

1. Provision resources (i.e. GKE cluster, kind cluster, etc for e2e tests)
2. Setup environment (i.e. load base CRDs, controllers)
3. Create test-specific resources and validate behavior (within go test, typically)

It seems like st

[2019-05-29 19:59] Fredy-Z commented on #829
Link the Serving issue for tracking:
https://github.com/knative/serving/issues/4176

[2019-05-29 20:07] adrcunha commented on #829
The proper way (as in "no race conditions") of installing Knative Serving is documented in https://knative.dev/docs/install/knative-with-gke/

Basically it says the install is a 2-step process now:

[code]

[2019-05-29 20:08] adrcunha commented on #829
Note that the documentation doesn't say there must be a wait between both commands, so I assume the CRDs are ready once the first command finishes.

[2019-05-30 06:56] adrcunha commented on #723
The fix needs to be propagated to the affected branches.

[2019-05-30 16:59] yt3liu opened #841 "Update Mail dependencies in monitoring k8s app"
Currently the cloud mail dependencies is not available through `go get`. Once it is available, fetch the dependencies through go get and remove the current solution to fetch the dependencies (hack).

[2019-05-30 21:41] steuhs commented on #619
Should we set the display name or the full name to github name?

[2019-05-30 21:55] yt3liu commented on #829
The retry logic is propagated to other repos and the problem is triaged. The install knative serving in two steps as suggested by serving team will go out in the next upgrade of test-infra in other repos.

[2019-05-30 21:55] yt3liu commented on #829
/close

[2019-05-30 21:55] #829 closed

[2019-05-30 22:03] adrcunha commented on #619
Display name.

[2019-05-31 15:44] yt3liu opened #844 "e2e test failed in nightly releases due to forbidden images"
[code]

https://storage.googleapis.com/knative-prow/logs/ci-knative-client-nightly-release/1134371905113952256/build-log.txt

[2019-05-31 16:08] yt3liu commented on #844
It looks like `is_protected_gcr` never worked until https://github.com/knative/test-infra/pull/808 is merged. The nightly releases uses `gcr.io/knative-nightly` as `$KO_DOCKER_REPO` previously as well.

Previous log using the same image: https://storage.googleapis.com/knative-prow/logs/ci-knative-client-nightly-release/1133284739810070528/build-log.txt

[2019-05-31 16:34] #579 closed

[2019-05-31 16:53] adrcunha commented on #619
All oncalls now use their GitHub username as their Slack handle.

[2019-05-31 16:53] #619 closed

[2019-05-31 17:00] adrcunha commented on #844
Good catch, Joyce. That check should exclude newly created clusters.

[2019-05-31 21:59] yt3liu opened #848 "Tide is not merging PRs"
There has been no tide entries since 12:34:34pm today (https://prow.knative.dev/tide-history). No PRs are merged after this time.

Blocked PR: https://github.com/knative/client/pull/154

![image](https://user-images.githubusercontent.com/12664976/58736975-a198ac00-83b4-11e9-9b55-2aade5199db8.png)

[2019-05-31 22:48] yt3liu commented on #848
The problem is Github is not setting the status consistently. This issue is also seen in in some of the kubernetes repos.

[2019-06-01 00:42] yt3liu commented on #848
Github fixed the issue and the PRs are getting merged now.

[2019-06-01 00:42] #848 closed

[2019-06-01 00:47] yt3liu commented on #844
Resolving. Changes are merged into impacted repos (No nightly releases in docs). Also re-ran the nightly release job on eventing-sources and confirmed the fix is working.

[2019-06-01 00:47] #844 closed

[2019-06-02 06:17] adrcunha commented on #841
/assign @srinivashegde86

Assigning to Srinivas so he can prioritize accordingly.

[2019-06-02 06:34] adrcunha opened #850 "/devstats is being pulled to other repos by dep ensure"
`dep ensure` for test-infra in other repos is also pulling a few json and sql files from /devstats.

It was also happening when devstats was under tools, thus #819 tried to avoid that. All the repos depend on /scripts and /tools/dep-collector, with no explicit mention to /devstats. Pruning non-go files didn't help: it removes /script but keeps /devtstats in the vendored dir.

So far the only worka

[2019-06-03 21:18] Fredy-Z opened #855 "Update coverage-image and Prow config"
Add as an issue here for tracking purpose, we need to update coverage-image and Prow config after #852 is merged.

/assign @Fredy-Z

[2019-06-03 21:19] #855 closed

[2019-06-03 21:51] #764 closed

[2019-06-03 23:57] Fredy-Z commented on #588
Updated `coverage-image`, `coverage-dev-image` and `Prow` config.
/close

[2019-06-03 23:57] #588 closed

[2019-06-04 14:41] #697 closed

[2019-06-04 15:21] chaodaiG opened #856 "[Bug]Slack notification displays flaky tests issues link twice"
Flaky test reporter is displaying the same link for flaky tests related issues.

Expected:
Displays the link only once for each flaky test related issue

Actual:
The links are all displayed twice for each flaky test

Example:

As of 2019-06-04 10:02:04 +0000 UTC, there are 2 flaky tests in 'ci-knative-serving-continuous' from repo 'serving'

https://github.com/knative/serving/issues/4178
https://g

[2019-06-04 15:22] chaodaiG commented on #856
/assign @chaodaiG

[2019-06-04 16:30] chaodaiG commented on #856
This was an error caused by incorrect pagination, which kept on fetching the same page while listing Github issues, and caused the same issue appeared multiple times. It's been fixed by PR #843

[2019-06-04 16:31] chaodaiG commented on #856
Just updated the image for flaky test reporter, will close this issue once fix is confirmed in next run

[2019-06-04 19:43] adrcunha commented on #723
eventing-0.5 is now passing:
https://storage.googleapis.com/knative-prow/logs/ci-knative-eventing-0.5-continuous/1135828755776802816/build-log.txt

eventing-sources-0.5 is now passing:
https://prow.knative.dev/log?job=ci-knative-eventing-sources-0.5-continuous&id=1135986043321847808

[2019-06-04 19:43] #723 closed

[2019-06-04 20:22] srinivashegde86 opened #862 "E2E_MIN_CLUSTER_NODES and E2E_MAX_CLUSTER_NODES not respected for perf jobs"
Perf tests request 16 nodes using the env vars - https://github.com/knative/test-infra/blob/0cce920dd50978fb94ec410791dd7894649d3bf4/ci/prow/config.yaml#L2110-L2113

But, when running the test we are only asking for 4 nodes:

I0604 03:02:15.854] 2019/06/04 03:02:15 process.go:153: Running: gcloud beta container clusters create --quiet --enable-autoscaling `--min-nodes=4 --max-nodes=4` --scopes=clo

[2019-06-04 20:22] srinivashegde86 commented on #862
/cc @adrcunha

[2019-06-04 20:38] steuhs opened #863 "remove previous posts of knative-metrics-robot"
remove previous posts of knative-metrics-robot

[2019-06-04 20:44] srinivashegde86 commented on #862
Sample perf job log - https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-serving-performance/1135712993292587008

[2019-06-04 23:02] #862 closed

[2019-06-05 16:27] chaodaiG commented on #856
Verified fix: https://knative.slack.com/archives/CA4DNJ9A4/p1559736141000100

/close

[2019-06-05 16:27] #856 closed

[2019-06-05 16:33] adrcunha commented on #867
Ideally the images would be automagically rebuilt once their code or dependencies change.

[2019-06-05 18:02] #863 closed

[2019-06-05 19:17] adrcunha commented on #866
This is basically https://github.com/kubernetes/test-infra/issues/6014

The conclusion in that issue (which was closed) is that "use `/hold` to wait ... it's working fine as a socially enforced process and not worth codifying" https://github.com/kubernetes/test-infra/issues/6014#issuecomment-352950594, as suggested by Fejta [above](https://github.com/knative/test-infra/issues/866#issuecomment-3973

[2019-06-05 19:17] #866 closed

[2019-06-05 19:20] adrcunha commented on #867
https://github.com/knative/serving/issues/4263 is a superset of this issue, closing.

[2019-06-05 19:20] #867 closed

[2019-06-05 19:21] adrcunha commented on #850
/assign @ericKlawitter
/unassign @adrcunha

@ericKlawitter I believe that once you cleanup the /devstats dir this will be solved. WDYT?

[2019-06-05 19:33] adrcunha commented on #444
With https://github.com/knative/serving/issues/4263 it would be unnecessary to separate the conformance tests from serving, and maintain yet another Knative repository.

[2019-06-05 19:35] adrcunha commented on #367
I updated the robot profile.

![image](https://user-images.githubusercontent.com/35786489/58984644-5f91b080-878e-11e9-8a46-e4d5d552c4b4.png)

[2019-06-05 19:35] #367 closed

[2019-06-05 19:40] adrcunha opened #869 "https://testgrid.knative.dev/knative-serving#conformance-tests is empty"
From @dgerd :

[2019-06-05 20:00] #869 closed

[2019-06-05 21:59] chaodaiG opened #871 "Run multiple k8s/istio tests in parallel for Knative"
Run multiple combinations of k8s/istio versions for regression detection, make sure the results are surfaced on Testgrid as well.

Start with latest 3 minor versions of k8s X Istio 1.0/1.1

[2019-06-05 21:59] chaodaiG commented on #871
/assign @chaodaiG

[2019-06-06 20:47] steuhs opened #875 "boskos resource runs out"
In the afternoon of June 5th, multiple integrations tests in across several knative repos failed in a row. (Example failure: https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/4156/pull-knative-serving-upgrade-tests/1136392221466038272/)

The problem recovers later that day (after 17:47pm, see https://prow.knative.dev/?job=*-integration-tests for details)

I have update

[2019-06-06 21:42] chaodaiG commented on #875
The underlying cause for Boskos running out of resource is not clear yet, so it's not quite convincing that expanding Boskos pool is the proper fix for this issue. Switching to investigating the root cause first

[2019-06-07 01:09] steuhs commented on #875
@chaodaiG you can feel free to change the title here

[2019-06-07 14:48] chaodaiG commented on #875
@steuhs , I think the title is fine, will keep it this way

[2019-06-07 21:33] chaodaiG commented on #875
Parsed all Prow jobs in past 2 days, all Boskos projects were equally used, means Boskos resources were properly cleaned up on all projects, and there is no issue of cleaning up blocked by bad resources.

Followed 1 Boskos project after it ran e2e tests in test-infra repo, Janitor took ~40 minutes cleaning it up. Since we only had 6 Janitor for 40 Boskos projects, cleaning up queue could be badly

[2019-06-10 14:23] houshengbo opened #887 "Are we able to start knative serving based on a specified version?"
I see the following function is available in scripts/library.sh:
function start_latest_knative_serving()

It deploys the latest knative serving based on the source code of master branch. Are we considering adding the support to start knative serving based on a specified version, so that we can run further tests against any knative serving version?

[2019-06-10 17:02] houshengbo opened #889 "How to run e2e tests against vanilla k8s (minikube / other k8s cluster)?"
Question 1: Do we support any other kube clusters on other platforms, except GKE?
Question 2: Do we support running e2e tests against existing kube cluster, without installing kube cluster again?

[2019-06-10 17:15] srinivashegde86 commented on #889
You can run the e2e tests against any K8S cluster with knative installed - https://github.com/knative/serving/blob/master/test/README.md#running-end-to-end-tests

[2019-06-10 17:24] houshengbo commented on #889
@srinivashegde86 Thanks, but that is not enough.
I mean running the script ./test/e2e-tests.sh.

[2019-06-10 17:37] srinivashegde86 commented on #889
Yes, you can use the `--run-tests` flag to run the tests with the script. You will need to set KO_DOCKER_REPO and kubeconfig to the registry and the cluster you want to use.

Different flags with the script:
https://github.com/knative/test-infra/blob/d1bb39bbca6e8d5b7d84410bcae0e3fc74747081/scripts/README.md#using-the-e2e-testssh-helper-script

Excerpt from the README:
`Calling your script with --

[2019-06-10 17:37] srinivashegde86 commented on #889
/cc @dushyanthsc

[2019-06-10 20:15] coryrc opened #890 "serving/istio* tests are not running since 7 Jun"
https://testgrid.knative.dev/serving#istio-1.0.7-no-mesh

I am investigating.

[2019-06-10 20:16] coryrc commented on #890
/assign @coryrc

[2019-06-10 20:37] chaodaiG commented on #890
The jobs actually ran, they are not showing on testgrid. For example:
https://prow.knative.dev/?job=ci-knative-serving-istio-1.0.7-mesh

[2019-06-10 21:21] coryrc commented on #890
/assign @adrcunha

[2019-06-11 00:32] houshengbo opened #893 "PROJECT_ID should not be checked, if the command ./test/e2e-tests.sh is run with the argument --run-tests"
Since the command ./test/e2e-tests.sh --run-tests means run the tests against an existing kube cluster, we does not need to check if the env var PROJECT_ID is set or not.

Kube cluster can be from minikube, docker-desktop, and any other platform.

[2019-06-11 00:32] houshengbo commented on #893
/assign @houshengbo

[2019-06-11 00:35] houshengbo opened #894 "Clusterrolebinding is not created by ./test/e2e-tests.sh, but removed by ./test/e2e-tests.sh"
The clusterrolebinding should be created before running the command ./test/e2e-tests.sh --run-tests, which means it is out of the scope of e2e-tests.sh to create this clusterrolebinding.
However, in the end of ./test/e2e-tests.sh, the clusterrolebinding is removed. The behavior is not symmetric. Suggest not to remove the clusterrolebinding in ./test/e2e-tests.sh.

[2019-06-11 00:36] houshengbo commented on #894
/assign @houshengbo

[2019-06-11 00:46] houshengbo opened #895 "Support of other container registries like docker.io and quay.io"
KO_DOCKER_REPO is key env var for knative. Modules like Knative serving have already supported other container registry, like docker hub to push and pull the images.

If we configure KO_DOCKER_REPO with a value for docker.io or quay.io registry, some images will fail to be pushed, since these registries do not support nested image names, like github.com/<folder>/<folder>/Image_name. They only supp

[2019-06-11 00:46] houshengbo commented on #895
/assign @houshengbo

[2019-06-11 00:48] steuhs opened #896 "[monitoring] docker build broken"
The breakage is likely to be cause my the recent moving of mysql package to /shared folder

Reproduce:
1. cd knative/test-infra/images/monitoring
2. make push

Error Observed:
main.go:28:2: cannot find package "github.com/knative/test-infra/shared/mysql" in any of:
	/usr/local/go/src/github.com/knative/test-infra/shared/mysql (from $GOROOT)

[2019-06-11 13:32] adrcunha commented on #890
/unassign @adrcunha

[2019-06-11 16:24] rhuss opened #897 "Allow the version of the Knative installation be configurable"
In https://github.com/knative/client/pull/170/files we are trying to establish E2E tests which tests against various version of Knative serving. Therefore we need to be able to parameterize the version of Knative to install in the E2E setup, but unfortunately the version in https://github.com/knative/client/blob/0d9494736616aa21e8a45da443cbc7a0a922ca7f/vendor/github.com/knative/test-infra/scripts/

[2019-06-11 16:53] adrcunha commented on #890
Testgrid was stuck, restarting it solved the problem.

[2019-06-11 16:53] #890 closed

[2019-06-11 18:01] houshengbo commented on #897
I root for this.
/assign @houshengbo

[2019-06-11 20:04] adrcunha commented on #895
Where exactly support to other registries should be added? To the release script? Where knative/serving added support to other registries (so far I didn't find anything in the /hack and /test dirs)?

[2019-06-11 20:05] adrcunha commented on #887
Closing in favor of #897.

[2019-06-11 20:05] #887 closed

[2019-06-11 20:05] adrcunha commented on #889
Closing, since it was answered.

[2019-06-11 21:45] #896 closed

[2019-06-12 05:48] chaodaiG commented on #875
I think increasing Janitor count worked

/close

[2019-06-12 05:48] #875 closed

[2019-06-12 15:32] #889 closed

[2019-06-12 15:37] adrcunha commented on #894
It is created for the cluster if it doesn't exist

https://github.com/knative/test-infra/blob/80d9eccb2177e903a89c3aedceaf0d20fd4d1e0c/scripts/e2e-tests.sh#L298

It's not removed by the script above. But for serving, it's deleted (not failing if not found though):

https://github.com/knative/serving/blob/master/test/e2e-common.sh#L228

[2019-06-12 15:38] adrcunha commented on #894
Indeed, the binding should only be removed if it was created by the test. Since the creation is not being tracked, deleting it might cause an inconsistent/unexpected state in already existing clusters.

Moving this to knative/serving.

[2019-06-12 18:23] #893 closed

[2019-06-12 18:25] yt3liu opened #912 "Update pubsub subscriber to use ReportMessage from k8s.io/test-infra"
Attempted to resolved dependencies manually by adding override fields in Gopkg.toml. the override versions are based on dependency version in [k8s/test-infra](https://github.com/kubernetes/test-infra/blob/b04708f9255f109196389baa71dcf93c0c8b65cd/go.mod)

<details><summary>Changes in Gopkg.toml</summary>
<p>

Overrides added:

[code]

Error (persisted even after clearing dep cache and removing vend

[2019-06-12 18:37] #715 closed

[2019-06-12 19:44] houshengbo commented on #895
@adrcunha This should be an issue for knative serving again. In https://github.com/knative/serving/blob/master/hack/generate-yamls.sh#L75,

ko resolve ${KO_YAML_FLAGS} -f config/ | "${LABEL_YAML_CMD[@]}" > "${SERVING_YAML}"

KO_YAML_FLAGS is set to -P for full name, but if it is docker hub or other registry, we should use -B for KO_YAML_FLAGS to pick up the short name.

[2019-06-12 19:45] #895 closed

[2019-06-12 21:48] houshengbo opened #916 "If no argument is specified, when calling e2e-tests.sh, how does knative serving get installed?"
Does the  “function create_test_cluster()” call the “function knative_setup” in knative/test-infra/scripts/e2e-tests.sh(when --run-tests is not specified)? I only found “function setup_test_cluster” calls “function knative_setup”(when --run-tests is specified).
In general, if we do not specify --run-tests, how do we make sure “function knative_setup” is called to set up the knative?

[2019-06-12 22:46] yt3liu commented on #757
Mailing feature already added in https://github.com/knative/test-infra/pull/865
/close

[2019-06-12 22:46] #757 closed

[2019-06-12 23:04] #759 closed

[2019-06-13 00:31] #835 closed

[2019-06-13 15:08] adrcunha commented on #916
No, because it's not called when you pass --run-tests.

Yes, that's correct.

setup_test_cluster() is called after create_test_cluster() creates the test cluster through kubetest. See https://github.com/knative/test-infra/blob/master/scripts/e2e-tests.sh for details.

/close

[2019-06-13 15:08] #916 closed

[2019-06-13 15:35] adrcunha commented on #642
Logs GCS link is https://pantheon.corp.google.com/storage/browser/knative-prow/logs/ci-knative-client-go-coverage/1111070508478107650/?project=knative-tests

[2019-06-13 15:41] adrcunha opened #919 "Coverage tabs in TestGrid are all red despite the good numbers"
Despite high coverage numbers, all entries in code coverage tabs are marked red.

![image](https://user-images.githubusercontent.com/35786489/59446723-e3fbb900-8db6-11e9-9386-0f9b5a5fa279.png)

Looks like the issue started on 6/3.

/assign @coryrc
/cc @steuhs @srinivashegde86

[2019-06-13 15:42] adrcunha commented on #919
It seems to be related to entries get a . prefix, eg:

![image](https://user-images.githubusercontent.com/35786489/59446861-2624fa80-8db7-11e9-9ef1-c5a88ae1dd0b.png)

[2019-06-13 15:45] adrcunha commented on #919
Looks like 852 is the culprit (it was merged on 6/3), see https://github.com/knative/test-infra/pull/852/files#r293448726

/assign @Fredy-Z

[2019-06-13 15:55] adrcunha commented on #912
/assign @yt3liu

[2019-06-13 16:01] adrcunha commented on #629
@chaodaiG it's been almost 2 months, if there are no network resources leaked anymore, should we remove the function and close this?

[2019-06-13 16:02] dushyanthsc commented on #89
I think this was picked up by @yt3liu

[2019-06-13 16:26] chaodaiG commented on #629
@adrcunha , scanned again, there has been no network resources leaked anymore. Removed in PR #921

[2019-06-13 18:23] yt3liu commented on #89
The previous change only enabled zipkin for performance test. Related issue: https://github.com/knative/test-infra/issues/539

That's done in this PR https://github.com/knative/serving/pull/3594/. Similar change can be done for all tests to enable zipkin.

[2019-06-13 18:29] adrcunha commented on #919
Synced up with Chi, and he mentioned that the image he built/pushed after 852 contained previous changes that were not published before. The JUnit XML files before and after 6/3 are different:

https://storage.googleapis.com/knative-prow/logs/ci-knative-build-go-coverage/1135350603736682497/artifacts/junit_bazel.xml
https://storage.googleapis.com/knative-prow/logs/ci-knative-build-go-coverage/1135

[2019-06-13 18:38] adrcunha commented on #919
Code coverage image was generated on 2/16. All PRs from 2/16 until now are potential cuprits. :(

[2019-06-13 18:49] Fredy-Z commented on #919
I don't see #852 would cause this error. Reassigning for further investigation.
/unassign @coryrc
/assign @steuhs @srinivashegde86

[2019-06-13 19:26] adrcunha commented on #89
Thanks, closing.

[2019-06-13 19:26] #89 closed

[2019-06-13 20:55] chaodaiG opened #926 "Ensure jobname and tab mapping in testgrid package are up-to-date"
[testgrid package](https://github.com/knative/test-infra/tree/master/shared/testgrid) contains hardcoded mapping of jobname: tab, which could become outdated when someone updates testgrid config yaml forgot to update in testgrid package. This needs to be enforced as it could fail tools depending testgrid package.

Suggesting unit test instead of dynamically parsing it at runtime, since this packag

[2019-06-13 21:16] #646 closed

[2019-06-14 18:26] srinivashegde86 commented on #912
I looked into this a bit. Looks like prow is dependent on tekton for a few things and tekton is using knative/pkg as of 2/14 - https://github.com/tektoncd/pipeline/blob/3e8b177fbeb39126a9c9de121008db571ef45bfa/Gopkg.toml#L57

That seems too old and pkg has had a few changes in that time and we are seeing issues building tekton with an updated version of pkg. Mainly, it does not completely implemen

[2019-06-14 18:40] srinivashegde86 commented on #912
Tried updating pkg/ to 2/14, but we have added a few things in there, that we need form that time :(
[code]

[2019-06-14 18:54] coryrc commented on #459
/cc @coryrc

[2019-06-14 22:01] chaodaiG opened #932 "Prow job for keeping updated pkg in all repos"
As requested by @mattmoor , it would be nice if there is a prow job updating pkg in all repos. This job running periodically, creating PRs updating pkg, and should inform if there is a bad merge (i.e. still create a PR stating that there was a bad merge)

[2019-06-14 22:02] mattmoor commented on #932
shut up and take my money :)

[2019-06-14 22:17] srinivashegde86 commented on #932
/woof money

[2019-06-14 22:27] srinivashegde86 commented on #932
can we also have one for test-infra :D

[2019-06-14 23:02] mattmoor commented on #932
I am experimenting with this for knative/pkg via the morning knobots job now.  I can play with test-infra if I can get that working.

[2019-06-15 01:32] #765 closed

[2019-06-15 03:55] mattmoor commented on #932
So the way we futz with things in `./hack/update-deps.sh` means that this cannot simply be `dep ensure -update foo`, but I also can't simply run `./hack/update-deps.sh` in my template the way we do things today because the way we setup the `REPO_ROOT_DIR` undoes the symlink magic I use to present `dep` with the illusion of being on GOPATH.  🙄

[2019-06-15 04:05] mattmoor commented on #932
If someone could take a peak at: https://github.com/knative/sample-controller/pull/10 I'll see if it unblocks this for `sample-controller` and if it does mirror the change elsewhere.

[2019-06-15 04:18] mattmoor commented on #932
Alright, the `knative/pkg` case is a nop at the moment, but here's `knative/test-infra`: https://github.com/knative/sample-controller/pull/11 :)

[2019-06-15 20:57] mattmoor commented on #932
Well, in the main repos we blow up updating licenses because of this line: https://github.com/knative/test-infra/blob/62c33c1b815e365539469b51682e20e6a3f40048/scripts/library.sh#L372

So my prior changes to `hack/update-deps.sh` were in vain because `REPO_ROOT_DIR` is my resolved symlink instead of the symlink on GOPATH :(

[code]

You can see what I'm doing [here](https://github.com/mattmoor/knob

[2019-06-17 14:59] mattmoor commented on #932
@adrcunha WDYT?  Could we support BYO `REPO_ROOT_DIR` or make `update_licenses` assume it's already there?

[2019-06-17 17:58] chaodaiG opened #946 "Investigate why it takes janitor ~40 minutes cleaning up Boskos project"
There has been a few times that Boskos ran out of resources, and often found out that majority of the projects were waiting to be cleaned. After some initial investigation, it looks like the cleaning up of Boskos project isn't very efficient.

Inspected Janitor log after a Boskos project done with an integration test from a pull request in test-infra, it took ~40 minutes for Janitor to completely

[2019-06-17 18:01] adrcunha commented on #932
Let's support BYO `REPO_ROOT_DIR`, so we'll have flexibility built into all the scripts.

[2019-06-17 18:03] chaodaiG commented on #629
/close
since it's obsolete now

[2019-06-17 18:03] #629 closed

[2019-06-17 19:19] houshengbo commented on #897
/reopen

[2019-06-17 19:20] mattmoor commented on #932
If that lands in test-infra, I can set it in my build template and it should just be picked up in the next update to each of the repos :)

[2019-06-17 19:33] adrcunha commented on #932
Sure. You can simply LGTM 947 and wait. :)

[2019-06-17 19:58] houshengbo commented on #897
/close

[2019-06-17 19:58] #897 closed

[2019-06-17 21:11] adrcunha commented on #946
/assign @dushyanthsc

[2019-06-17 21:39] steuhs commented on #919
I think this is the cause: <failure>false</failure> was treated like a <failure>
We should either
1. undo #726
2. change how testgrid treats <failure>false</failure>

[2019-06-17 22:11] adrcunha commented on #919
1 is bad because you're back to duplicate, custom code.
2 is unnecessary complexity, unless it's a bug in TestGrid.

First thing to do is to make sure this is indeed the root cause.

[2019-06-17 22:53] srinivashegde86 commented on #919
If that is the issue, can we just add the tag only on failures? Seems better than having duplicate code.

[2019-06-17 22:58] steuhs commented on #919
I believe my original implementation was to only add tag on failures.
I'll see double check if that is the root cause

[2019-06-17 23:19] steuhs commented on #919
It was the root cause. I verified by manually removing that tag from the some entries and it turned the corresponding cell green. See https://testgrid.knative.dev/serving#coverage

[2019-06-18 01:16] mattmoor commented on #932
I've update the template to set this, and I'll try this for serving now.

[2019-06-18 01:32] mattmoor commented on #932
It seems to have worked in Eventing, but Serving is blocked on pulling in @srinivashegde86 change.

This is going to fail and require manual work anytime breaking changes are made to `test-infra`, so we should be more careful about making them.

[2019-06-18 01:49] Fredy-Z opened #957 "Issue for two projects using different version of dependencies"
When I worked with `eventing` project, I met a dependency issue, but I'm not sure what is the best practice to solve it. So I create an issue here to keep a record.

The problem and steps to reproduce are described as below:
Both `eventing` and `test-infra` depend on `cloud.google.com/go`, but the versions are different - `v0.39.0` for `eventing` and `v0.33.1` for `test-infra`.
In `test-infra`, on

[2019-06-18 18:18] adrcunha opened #960 "Cluster creation in a boskos project is failing due to missing API"
e.g.

https://storage.googleapis.com/knative-prow/logs/ci-knative-build-nightly-release/1140899922418077696/build-log.txt

[code]

[2019-06-18 18:28] #960 closed

[2019-06-18 21:34] #919 closed

[2019-06-18 21:50] steuhs opened #964 "boskos fails to acquire resources, again"
https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_test-infra/952/pull-knative-test-infra-integration-tests/1141097728638455808/

[2019-06-19 04:23] mattmoor opened #968 "old fortio redirects are broken"
/assign @srinivashegde86
cc @dushyanthsc

This change removed the `go-import` `<meta>` tags that made the old versions work, `test-infra` needs to move to the `fortio.org` based import paths ASAP.

https://github.com/istio/istio.io/commit/4d03f086f049df9751620601d68abcbcc32e37e4#diff-e3202d59ce8d9d83b8911b4107f87c1e

cc @geeknoid

[2019-06-19 16:06] mattmoor commented on #968
This is an indirect dependency for Serving, so once it is fixed in test-infra, I'd like to verify that my auto-update works for serving.

[2019-06-19 16:36] geeknoid commented on #968
Let me know if you'd like me to reinstate the links for a while.

[2019-06-19 16:37] mattmoor commented on #968
The version of `fortio` we are on is very old, so I think we need to solve this.  If we can't figure it out today, we might reach out about that though. :)  thanks @geeknoid

[2019-06-19 17:10] srinivashegde86 commented on #968
The sample example mentioned in their docs still uses istio.io - https://github.com/istio/istio/blob/0.3.0/tests/e2e/tests/mixer/mixer_test.go#L37

[2019-06-19 17:25] srinivashegde86 commented on #968
Moving to fortio.org fails with "unexpected error while defensively cleaning up after possible derelict nested submodule directories: Entering 'vendor' error: unknown switch `x'"

there was a recent PR in dep when working with submodules - https://github.com/golang/dep/pull/2176. Probably related

[2019-06-19 17:39] dushyanthsc commented on #968
To close the loop here, pinning to a 1.3.1 commit and `dep ensure` updates the packages correctly. `dep ensure -update fortio.org/fortio`, tries to pull the latest on fortio and is failing with

[code]

[2019-06-19 17:40] chaodaiG opened #971 "Running presubmit test mistakenly reported as failed on Github"
The observation is:
- Got an email saying `pull-knative-serving-integration-tests` failed in my PR
- Went to Github UI, click on the `Details` link for the job
- The status of the job was `Not Finished` at the time

This example probably will expire pretty soon:
PR: https://github.com/knative/serving/pull/4372
Job: https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/4372

[2019-06-19 17:48] srinivashegde86 commented on #971
the job will most likely fail as it is failing cluster creation
[code]

[2019-06-19 17:52] chaodaiG commented on #971
The cluster creation was actually caught by our retry logic, so it's creating cluster in us-west1

[2019-06-19 18:53] steuhs opened #974 "[monitoring] create config yaml"

[2019-06-19 19:04] #968 closed

[2019-06-19 19:15] adrcunha commented on #957
I think this is outside the scope of Productivity WG, and more a matter of regular golang dep best practices.

[2019-06-19 19:21] adrcunha commented on #971
The jobs are pretty slow. For example, `bazel version` is taking at least 1 minute to run. The prow-tests image was updated recently, and it seems to be related.

First lines of a log from 6/13 (before the last update):
[code]

First lines of a log from today (after the last update):
[code]

[2019-06-19 20:03] houshengbo opened #976 "Add the support of PR builds for the repo knative/serving-operator"
Add the support of PR builds for the repo knative/serving-operator, since it has been created.

[2019-06-19 21:51] adrcunha commented on #964
This is because of boskos pool exhaustion, closing in favor or #946.

[2019-06-19 21:52] #964 closed

[2019-06-20 02:43] chaodaiG commented on #265
/assign @chaodaiG

[2019-06-20 02:59] adrcunha commented on #265
Chao, please validate this approach before doing a full change. Manually change one job and use run_job.sh, so you can check that everything is working as intended. I hope https://github.com/knative/test-infra/issues/265#issuecomment-440338316 is obsolete now.

[2019-06-20 05:28] adrcunha opened #981 "gubernator crashes when opening 32MB+ logs"
Usually that happens when opening the test log form GitHub. For example:

https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/4338/pull-knative-serving-integration-tests/1141568502964948993/

throws

[code]

However, https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_serving/4338/pull-knative-serving-integration-tests/1141568502964948993/build-log.txt is re

[2019-06-20 05:34] adrcunha commented on #981
I just noticed that the above log is 37MB long.

[2019-06-20 05:35] adrcunha commented on #981
According to https://cloud.google.com/appengine/docs/standard/python/outbound-requests the URL Fetch service has a limit of 32MB for response size.

[2019-06-20 05:38] adrcunha commented on #981
https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_serving/4338/pull-knative-serving-integration-tests/1139273583915175937/ points to a 15MB and doesn't cause the 500 above.

[2019-06-20 05:39] adrcunha commented on #981
Since this is an API limitation, looks like the solution is to switch to Spyglass (#710).

[2019-06-20 05:40] adrcunha commented on #981
Closing in favor of #710.

[2019-06-20 05:40] #981 closed

[2019-06-20 05:41] adrcunha commented on #710
Due to #981, we have to increase the priority of this issue.

[2019-06-20 05:43] adrcunha commented on #971
Chao reverted prow-tests to the previous stable image, it *seems* that it solved the problem. At least for a couple of tests I manually checked, things are way better now.

[2019-06-20 05:52] adrcunha commented on #971
Hopefully with #265 done we won't have this kind of problem.

[2019-06-20 17:26] chaodaiG commented on #265
@adrcunha unfortunately https://github.com/knative/test-infra/issues/265#issuecomment-440338316 is not obsolete yet, just synced with k8s folks, the timestamp feature is still missing from podutil, see this discussion

But for migrating sample-controller to knative.dev/sample-controller in this PR https://github.com/knative/sample-controller/pull/24 and more along the line, we still need to move f

[2019-06-20 17:43] TrevorFarrelly opened #984 "flaky re-trier: Add concise JSON logging to flaky-test-reporter"
This is the first step in the implementation of the flaky test re-trier.

We need to report flaky tests to a location where we can programmatically analyze the results, for the implementation of the actual tool. This will be done using the existing artifacts directory for storing pre-processed results.

This should be done in a shared library, so we can reuse it on the re-trier side.

[2019-06-20 17:49] TrevorFarrelly opened #985 "flaky re-trier: parse JSON logs created by flaky-test-reporter"
Part 2 of implementation of the flaky test re-trier

Parse the JSON logs that will be created in #984, so we can analyze incoming failed jobs and see if they failed due to a flaky test.

Use shared library that will be implemented in #984 in the implementation of this.

[2019-06-20 17:59] TrevorFarrelly opened #986 "flaky re-trier: Trigger job via Pub/Sub message"
Part 3 of implementation of the flaky test re-trier

We will trigger this tool when a Pub/Sub message from Prow's [Crier](https://github.com/kubernetes/test-infra/tree/master/prow/crier) indicates a job transitioned to a failure state. We will need to filter these messages so we only operate on jobs that came from new PRs, and jobs that we run the reporter on.

[2019-06-20 18:05] TrevorFarrelly opened #987 "flaky re-trier: Add GitHub integration"
Part 4 of implementation of the flaky test re-trier

When our job is triggered by a failing test on a new PR, we will want to re-run those flaky tests until they succeed. We will do this by using the existing GitHub bot to comment `/retest` and a brief message as to why we are doing this

If the PR's failed tests include both flaky and non-flaky tests, we will also post a comment saying why we wil

[2019-06-20 18:05] TrevorFarrelly commented on #984
/assign @TrevorFarrelly

[2019-06-20 18:06] TrevorFarrelly commented on #985
/assign @TrevorFarrelly

[2019-06-20 18:06] TrevorFarrelly commented on #986
/assign @TrevorFarrelly

[2019-06-20 18:06] TrevorFarrelly commented on #987
/assign @TrevorFarrelly

[2019-06-20 19:54] #265 closed

[2019-06-20 21:42] steuhs commented on #643
fixed by #725

[2019-06-20 21:42] #643 closed

[2019-06-21 02:15] #710 closed

[2019-06-21 19:54] #976 closed

[2019-06-21 21:54] #926 closed

[2019-06-21 22:05] #763 closed

[2019-06-23 20:36] adrcunha opened #1018 "dep-collector -check is failing for knative/client"
The reason for the failure is, that an old, installed dep-collector is picked up from $GOPATH/bin without rebuilding is with a new license dependency:

[code]

[2019-06-23 20:39] adrcunha commented on #1018
It's easy to check if the dep-collector tool is running using an old license classifier because of the error message `cannot register licenses`. The newest version would say `cannot register licenses from`.

[2019-06-23 20:40] adrcunha commented on #1018
I tried rebuilding prow-tests, the "old" dep-collector/licenseclassifier is there.

[2019-06-23 20:41] adrcunha commented on #1018
Probably it's best always building dep-collector with the latest sources from github.com. Otherwise a new license that's not covered by the old binary will cause the check to fail.

[2019-06-23 20:45] adrcunha commented on #1018
Also, because knative/client doesn't vendor test-infra/tools/dep-collector, the license checking function will try to use a local binary.

[2019-06-23 21:12] rhuss commented on #1018
Even when `knative/client` would vendor the dep-collector, a locally installed `dep-collector` will always take precedence.

[2019-06-23 21:16] adrcunha commented on #1018
Yes, that's expected. Without a local binary, because knative/client doesn't vendor dep-collector, the check function will fail.

[2019-06-24 05:21] #1018 closed

[2019-06-24 17:57] dushyanthsc opened #1026 "Fix permission in prow/boskos/permissions.sh"
Executing prow/boskos/permissions.sh on a newly created GCP project is failing with:

"ERROR: Policy modification failed. For a binding with condition, run "gcloud alpha iam policies lint-condition" to identify issues in condition.
ERROR: (gcloud.projects.add-iam-policy-binding) INVALID_ARGUMENT: Group 89939 does not exist.
- '@type': type.googleapis.com/google.rpc.DebugInfo
  detail: Group 89939

[2019-06-24 17:57] dushyanthsc commented on #1026
The current work-around is to add the "knative-productivity-admins@googlegroups.com" manually to the project.

[2019-06-24 18:03] dushyanthsc opened #1027 "Add documentation around applying new resources to Prow Test cluster"
I observed that our README.md file does not have enough documentation around applying changes that adds new K8 resources to our Prow cluster.

This issue is created to track the work to add necessary documentation.

[2019-06-24 21:22] #850 closed

[2019-06-24 22:19] grantr opened #1029 "Prow's milestone command stopped working"
The `/milestone` command used to work in https://github.com/knative/eventing issues, but it stopped working a few weeks ago. Here's a recent example of a `/milestone` command being ignored: https://github.com/knative/eventing/issues/1214

[2019-06-24 22:59] dushyanthsc opened #1031 "Provide compute resource requirements per prow job."
This issue is created to investigate if its feasible to provide compute resource requirements (cpu and memory) at a per job level. We currently have setup LimitResources at a test-pods namespace level, however each job would have different characteristics and probably makes sense to provide the resource requirements at job level.

[2019-06-24 23:27] adrcunha commented on #1026
Wait, you can't add knative-productivity-admins@ to the project using the script, but you can do it in the console?

[2019-06-24 23:36] #974 closed

[2019-06-25 03:21] adrcunha commented on #1029
From SD logs:

https://pantheon.corp.google.com/logs/viewer?project=knative-tests&minLogLevel=0&expandAll=false&timestamp=2019-06-25T03%3A18%3A35.594000000Z&customFacets&limitCustomFacetWidth=true&dateRangeStart=2019-06-25T02%3A19%3A35.688Z&dateRangeEnd=2019-06-25T03%3A19%3A35.688Z&interval=PT1H&resource=container%2Fcluster_name%2Fprow%2Fnamespace_id%2Fdefault&scrollTimestamp=2019-06-25T03%3A19%3A

[2019-06-25 03:25] dushyanthsc commented on #1026
Yes, that is correct.

[2019-06-25 17:49] #754 closed

[2019-06-25 20:39] #984 closed

[2019-06-25 21:07] srinivashegde86 opened #1041 "Run perf tests more frequently and in more regions"
currently we only run serving perf tests in us-central1 and once a day. We need to get more samples

[2019-06-25 21:07] srinivashegde86 commented on #1041
/assign

[2019-06-25 21:28] chaodaiG opened #1042 "Prow job config generator supports generating multiple jobs with same name"
Currently Prow job config generator only supports generating one job for the same job name, which doesn't fit some of the upcoming jobs. For example, running perf test in different regions as #1041 , and vanity URL (`knative.dev`) migration need different jobs supporting old release branches.
It would be nice if prow job config generator can support generating multiple jobs with same name, ideally

[2019-06-25 22:48] #709 closed

[2019-06-26 00:35] adrcunha commented on #1042
Looks like the generator needs to be rewritten. :)

[2019-06-26 00:36] adrcunha commented on #1042
/assign @chaodaiG

[2019-06-26 00:42] adrcunha commented on #1026
@dushyanthsc  `gcloud projects add-iam-policy-binding knative-boskos-50 --member group:knative-productivity-admins@googlegroups.com --role roles/editor` worked for me, so if it's a permission issue, it's on the user not on the script. Can you try that?

[2019-06-26 17:35] grantr opened #1049 "Eventing dot release job failed to notice new commit to release branch"
Commit https://github.com/knative/eventing/commit/90c5aca9fded347baafd47b5c3c537932aac5864 was pushed to branch `release-0.6` yesterday morning, before the eventing-dot-release job ran.

The job [ran ~~yesterday afternoon~~ this morning](https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-eventing-dot-release/1143457969216688128/?log#log) and detected no new commits since the `v0.6.0

[2019-06-26 17:41] #1029 closed

[2019-06-26 17:44] adrcunha commented on #1049
PR 1452 was merged on June 24 1:11 PM PDT.
dot-relase ran on June 25 2:56 AM PDT, log is https://storage.googleapis.com/knative-prow/logs/ci-knative-eventing-dot-release/1143457969216688128/build-log.txt
d123d12f7c6b9c51298719c67cd9745571abade2 is the commit before PR 1452, from May 14.

[2019-06-26 18:52] steuhs opened #1052 "monitoring email only include the most recent error log"
should include all matching error logs

[2019-06-26 18:53] steuhs commented on #1052
/cc @srinivashegde86 @yt3liu

[2019-06-26 19:22] adrcunha commented on #1049
During initialization, I see no difference between

[2019-06-27 00:12] adrcunha commented on #971
To recap, the job mentioned in the OP was killed because it took to long and the `finished.json` file was never generated, so Gubernator thinks it's still running. With all the changes and tweaks in Prow over the past weekend, things are in way better shape now, so I'm closing this as resolved.

[2019-06-27 00:12] #971 closed

[2019-06-27 00:12] #957 closed

[2019-06-27 00:13] adrcunha commented on #755
http://stats.knative.dev is up.

[2019-06-27 00:13] #755 closed

[2019-06-27 00:17] adrcunha commented on #1049
This is hard to reproduce, so I'll consider that #1053 fixed it. If that's not true, we'll work on it more once it happens again.

[2019-06-27 00:17] #1049 closed

[2019-06-27 03:22] chaodaiG commented on #871
/close
done in associated PRs

[2019-06-27 03:22] #871 closed

[2019-06-27 03:55] chaodaiG opened #1060 "Evaluate moving webhook-apicoverage to pkg repo"
test-infra and pkg repos are both vendored in most of other repos, the dependency between these two could be a problem for other repos. webhook-apicoverage has quite some dependencies on pkg repo, which probably should be move to pkg repo for breaking the dependency

[2019-06-27 03:57] chaodaiG commented on #1060
FYI @mattmoor since you ran into this problem earlier today while working on this: https://github.com/knative/serving/pull/4546

[2019-06-27 18:38] #1052 closed

[2019-06-28 13:59] chaodaiG commented on #689
This is done after #1057 merged
/close

[2019-06-28 13:59] #689 closed

[2019-06-28 14:37] chaodaiG commented on #946
/assign @chaodaiG

[2019-06-28 14:41] chaodaiG commented on #946
This might not be true any more. Just checked 2 Boskos projects finished this morning, Janitor took [17 minutes](https://pantheon.corp.google.com/logs/viewer?project=knative-tests&minLogLevel=0&expandAll=false&customFacets=jsonPayload.component,jsonPayload.level&limitCustomFacetWidth=false&interval=CUSTOM&resource=container%2Fcluster_name%2Fprow%2Fnamespace_id%2Fdefault&timestamp=2019-06-28T14:39:

[2019-06-28 18:03] evankanderson commented on #459
Thinking about this a bit more:

It seems like `test-infra` should run a tool which performs step 1 and can bootstrap step 2 via some sort of contract.

It seems like step 2 should live in the component repo, and should be responsible for building the necessary artifacts (docker containers, etc) and then launching them on the cluster.

Step 3 would be independently runnable if you already had a cl

[2019-06-28 19:56] coryrc opened #1074 "Boskos Project Creation Script"
We have scripts for setting up permissions, but not for creating the projects themselves.
Writing one.

[2019-06-28 20:37] coryrc commented on #1074
/assign @coryrc

[2019-06-28 20:41] coryrc opened #1075 "Create more Boskos project and janitors"
Create projects 51-70.
Increase number of janitors temporarily to 35 to avoid running out of test resources until excessive janitor time fixed.

/assign @coryrc

[2019-06-28 22:33] #812 closed

[2019-06-28 22:58] coryrc commented on #1026
This is a bug in the script with using the variable "GROUPS". I will fix this with issue 1074 (don't know how to link it, sorry).

[2019-06-28 23:26] adrcunha commented on #1060
@chaodaiG please take this in consideration during Q3 work.

[2019-06-28 23:26] adrcunha commented on #1031
/assign @chaodaiG

[2019-06-28 23:26] adrcunha commented on #1027
/assign @chaodaiG

[2019-06-28 23:29] #1026 closed

[2019-06-28 23:41] adrcunha opened #1080 "Autoscaling or alert for high usage of janitors/boskos"
Should be an easy alert in Grafana.

We will want an alert if free projects drops very low.
May also want an alert for janitors fully occupied, but also may not want that.

/assign @chaodaiG
Please consider for Q3 planning.

[2019-06-29 03:29] Fredy-Z opened #1082 "Could not resolve host: github.com in Prow job"
I've seen this error message a couple of times. Not sure if additional logic is needed, but it seems the test retryer can handle it?

Log link:
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_test-infra/954/pull-knative-test-infra-integration-tests/1144796790348845057

/cc @chaodaiG

[2019-07-01 14:16] chaodaiG commented on #1082
AFAIK we have no control over `git clone` logic, so if there is a retry it should be handle in Prow.
@krzyzacy, have you seen this kind of error before?

[2019-07-01 17:05] krzyzacy commented on #1082
@stevekuznetsov @cjwagner ^^

seems just network flakes?

[2019-07-01 17:08] chaodaiG commented on #1082
I think it's network flakes too, just want to make sure, as this should also happen in k8s if that's the case

[2019-07-01 18:05] #1074 closed

[2019-07-01 18:41] #1075 closed

[2019-07-01 18:42] chaodaiG opened #1090 "Knative oncall should have all required permissions"
Knative oncaller isn't necessarily a test-infra admin, thus sometimes need escalation for certain operations such as updating/patching Prow cluster. Should explore ways of automatically assign/unassign sufficient roles for oncallers

[2019-07-01 20:19] chaodaiG commented on #1082
/assign

[2019-07-01 20:37] chaodaiG commented on #1082
I have scanned all failed jobs today and from yesterday, the same error hasn't happened since, so it seems like a network flakiness on last Friday

[2019-07-01 23:14] chaodaiG commented on #1082
Since Cory is interested
/assign @coryrc

[2019-07-02 02:54] stevekuznetsov commented on #1082
Yeah so it's highly suggested to run DNS caches on high throughput k8s clusters -- are you running any?

[2019-07-02 05:27] chaodaiG commented on #1082
@stevekuznetsov , this is a good point. afaik we are not using DNS caches, are you referring to something like this? https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns/nodelocaldns

[2019-07-02 15:07] chaodaiG commented on #1082
Another input, just scanned all test logs in past month, it started happening since 06/22/19, which was right after we switched from bootstrap to pod-utils.

[2019-07-02 15:56] adrcunha commented on #1090
My major concern is that a service account able to do `gcloud projects add-iam-policy-binding` in a job is a pretty powerful one, although we could have one that's just able to change roles. Let's discuss pros and cons.

/assign @chaodaiG

[2019-07-02 16:39] stevekuznetsov commented on #1082
I am fairly certain the `clonerefs` container is based on Alpine (@cjwagner @fejta please confirm) which would be using the `musl`-based resolver unlike the `glibc` one in `bootstrap.py`, as documented here: https://wiki.musl-libc.org/functional-differences-from-glibc.html#Name-Resolver/DNS

I would tentatively point the blame at that? But you should run DNS caches either way :)

[2019-07-02 17:40] adrcunha commented on #1082
I tried to find k8s DNS cache setting in prow/cluster, but it's not there. Maybe I'm looking in the wrong place?

[code]

[2019-07-02 17:43] chaodaiG commented on #1082
@adrcunha I think it's an addon for prow cluster, see the link in my previous comment

[2019-07-02 17:45] adrcunha commented on #1082
Yes, it's a kubernetes add-on. I was just expecting that, if it's a recommended setting, it would be documented/configured for k8s and thus available in the k8s repo, so we could base our config on that.

[2019-07-02 17:47] chaodaiG commented on #1082
I see. @stevekuznetsov , how was DNS cache enabled on k8s Prow cluster?

[2019-07-02 18:00] adrcunha opened #1099 "Make on-call page easier to remember/access"
https://storage.googleapis.com/knative-infra-oncall/oncall.html is not intuitive. Even though it's pinned in Slack.

[2019-07-02 19:12] adrcunha commented on #780
@Fredy-Z can you please file an issue in kubernetes/test-infra and link it from here?

[2019-07-02 19:36] chaodaiG opened #1101 "Kubetest waits for Boskos instead of fail when Boskos ran out"
Change Kubetest from k8s/test-infra to allow it taking an additional parameter, which let Kubetest wait for certain amount of time on next available Boskos resource. Knative jobs using Kubetest should use this parameter instruct how long it could wait on Boskos becoming available

[2019-07-02 19:36] chaodaiG opened #1102 "Preventing Boskos from running out of resources"
Boskos running out of resources has been a recurring issue causing integration tests failures globally: https://github.com/knative/test-infra/issues/964, https://github.com/knative/test-infra/issues/875, https://github.com/knative/test-infra/issues/638

This issue is created for tracking progress of several works aiming at solving this problem:
- Investigate why it takes janitor ~40 minutes cleani

[2019-07-02 20:00] chaodaiG commented on #1082
Analyzed all jobs in test-infra and serving since 06/30, there were 25 out of 964 runs failed for this

[2019-07-02 21:02] stevekuznetsov commented on #1082
One option is [here](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns/nodelocaldns) but I cannot vouch for it specifically.

[2019-07-02 22:14] Fredy-Z commented on #780
I checked with Cole, he said since periodic job is not necessarily meant to run against specific repo, it can be any kind of job, that's why `PULL_BASE_REF` is not required in its environment variables.
And also since we will specify the branch name for our periodic jobs, that's one thing we've already known, adding it as the environment variable for prow jobs will be confusing and kind of mislead

[2019-07-02 22:19] Fredy-Z opened #1104 "Branch name is missed in periodic jobs for releases"
It started from the PR to replace `bootstrap` with `podutil` - #989 , now all periodic jobs are running against the `master` branch.

One example error job config:
https://github.com/knative/test-infra/blob/9ccec33ae7eb8ede1bdffeb3dc50b0b6ec7b6c88/ci/prow/config.yaml#L1864

The right job should contain `release-x.x` like below, so that prow will be able to know which branch to check out:
https://g

[2019-07-02 22:19] Fredy-Z commented on #1104
/cc @chaodaiG

[2019-07-02 22:23] Fredy-Z commented on #1104
/assign @chaodaiG

[2019-07-02 22:28] Fredy-Z commented on #1104
/bug

[2019-07-02 22:30] Fredy-Z commented on #1104
/kind bug

[2019-07-02 22:31] Fredy-Z commented on #1104
/label bug

[2019-07-02 23:45] adrcunha commented on #780
Thanks for investigating, Chi. Good catch on the branch for the jobs.

/close

[2019-07-02 23:45] #780 closed

[2019-07-03 00:03] chaodaiG commented on #1104
Thanks at @Fredy-Z for finding this out, PR out #1106

[2019-07-03 00:13] #1104 closed

[2019-07-03 00:29] adrcunha commented on #1099
https://knative.github.io/test-infra/ is the new oncall display page.

Added link to knative/test-infra repo root.
Added link as topic in #productivity and #test in Slack.
Updated pinned announcement about oncall in #general, #productivity and #testing in Slack.

[2019-07-03 00:29] #1099 closed

[2019-07-03 00:48] chaodaiG opened #1108 "Make rolling back Prow config possible"
Prow config is updated by `kubectl` command, which doesn't provide a good way of tracking when Prow config was last updated, nor which commit it based on. We should have a way of tracking last Prow config as well as easily restoring to previous working config if bad things happened

[2019-07-03 17:45] chaodaiG commented on #1101
https://github.com/kubernetes/test-infra/pull/13217 was merged 06/27, we can use flag `--boskos-wait-duration 20m` when we get this new kubetest

[2019-07-03 17:45] chaodaiG commented on #1101
/assign

[2019-07-03 17:46] chaodaiG commented on #1102
/assign

[2019-07-03 17:46] chaodaiG commented on #1108
/assign

[2019-07-03 17:48] chaodaiG commented on #946
Janitor log timestamp was merged 06/28 https://github.com/kubernetes/test-infra/pull/13256, we can get more information out of Janitor log when we update to use Janitor released later than 06/28

[2019-07-03 18:52] #1108 closed

[2019-07-03 19:44] alanconway opened #1112 "Remove hard gcloud dependency from scripts"
Many scripts use 'gcloud' which does not exist in non-google clouds. The scripts appear to work correctly anyway on a minikube or kubeadm clouds without the gcloud commands.

Make calling gcloud optional for non-google clouds.

[2019-07-03 20:45] alanconway commented on #1112
I think it makes more sense to fix this in the dependent repos like eventing and serving.

[2019-07-08 19:31] #766 closed

[2019-07-09 22:21] #986 closed

[2019-07-10 18:39] TrevorFarrelly opened #1122 "jsonreport: artifacts are found, but cannot be read"
getReportPaths(), or more specifically, prow.Build.GetArtifacts() returns absolute paths:

`logs/ci-knative-flakes-reporter/<buildID>/artifacts/serving/flaky-tests.json`

 while readJSONReport(), i.e. prow.Build.ReadFile(), expects paths relative to the build's directory:

`artifacts/serving/flaky-tests.json`

Need to trim the artifact directory prefix before returning the file path.

[2019-07-10 18:40] TrevorFarrelly commented on #1122
/assign

[2019-07-11 00:21] #1122 closed

[2019-07-11 14:24] mattmoor commented on #444
Yeah, I don't want this if we can avoid it.  Closing since we seem to be in agreement on that.

[2019-07-11 14:24] #444 closed

[2019-07-11 16:55] adrcunha commented on #932
@srinivashegde86 is the comment above still valid?

[2019-07-11 18:13] adrcunha commented on #215
devstats is able to provide this report, e.g., https://stats.knative.dev/d/4/companies-stats?orgId=1&from=1558980743967&to=1559326343967&var-period=d&var-metric=prs&var-repogroup_name=All&var-companies=All

[2019-07-11 18:13] #215 closed

[2019-07-11 21:12] chaodaiG commented on #946
After `--verbose` turned on for janitor, there are more info:
going to delete 1 networks

start a new thread, total 1

Call ['gcloud', 'compute', '-q', 'networks', 'subnets', 'delete', '--project=knative-boskos-46', u'kserving-e2e-net1149389537487622146', u'--region=https://www.googleapis.com/compute/v1/projects/knative-boskos-46/regions/northamerica-northeast1']

going to delete 1 networks

start

[2019-07-11 21:14] chaodaiG commented on #946
The cause was janitor not properly cleaning up "auto" subnet, which was produced by default when using kubetest creating cluster: https://github.com/kubernetes/test-infra/blob/4de0259d8729e8f5fa654e57cebd128bf944f49c/kubetest/gke.go#L281

[2019-07-11 21:15] chaodaiG commented on #946
@krzyzacy for reference

[2019-07-11 22:26] chaodaiG commented on #1082
It magically stopped happening since 07/01, closing this issue
/close

[2019-07-12 21:15] TrevorFarrelly opened #1133 "flaky retryer: keep track of which pulls are currently being processed."
The current retryer design unintentionally assumes that each presubmit job is unique within its pull request, when in fact there are numerous presubmits in place that can all succeed/fail at different rates.

We need to keep track of which PRs are currently being processed across all threads, as well as prevent new jobs from being processed if their PR is already being worked on.

[2019-07-12 21:17] TrevorFarrelly commented on #1133
/assign

[2019-07-12 21:25] TrevorFarrelly opened #1134 "flaky retryer: cache flaky results for each job we process"
As the design stands, when processing a job, we parse the flaky logs numerous times. There's the possibility of a new report coming out in the middle of execution, potentially resulting in mismatches and invalid reports.

Associate a cache of the flaky test data with each message, making it so we only query for flaky logs once every time we process a job.

[2019-07-12 21:34] TrevorFarrelly commented on #1134
/assign

[2019-07-13 06:26] chaodaiG commented on #1042
done via #1124

[2019-07-13 06:26] chaodaiG commented on #1042
/close

[2019-07-13 06:26] #1042 closed

[2019-07-14 01:29] adrcunha commented on #714
Nikhil left the team, assigning this issue to me.
/assign adrcunha
/unassign nbarthwal

[2019-07-14 01:30] adrcunha commented on #713
Nikhil left the team, assigning this issue to me.
/assign adrcunha
/unassign nbarthwal

[2019-07-14 01:30] adrcunha commented on #678
Nikhil left the team, assigning this issue to me.
/assign adrcunha
/unassign nbarthwal

[2019-07-14 01:30] adrcunha commented on #576
Nikhil left the team, parking this issue on me.
/assign adrcunha
/unassign nbarthwal
/label TBD

[2019-07-14 01:31] adrcunha commented on #294
Nikhil left the team, parking this issue on me.
/assign adrcunha
/unassign nbarthwal
/label TBD

[2019-07-14 01:32] adrcunha commented on #496
Nikhil left the team, assigning this issue to me.
/assign adrcunha
/unassign nbarthwal

[2019-07-14 01:32] adrcunha commented on #491
Nikhil left the team, assigning this issue to me.
/assign adrcunha
/unassign nbarthwal

[2019-07-14 01:33] adrcunha commented on #368
Nikhil left the team, assigning this issue to me.
/assign adrcunha
/unassign nbarthwal

[2019-07-14 01:34] adrcunha commented on #368
Documentation is the last part of this issue, so closing this as we have issue #491 tracking this.
/close

[2019-07-14 01:34] #368 closed

[2019-07-14 23:57] Fredy-Z opened #1136 "Set correct org name for dot-release and auto-release jobs"
Right now in `scripts/release.sh`, the `org` name is hard coded as `knative`. But `cloud-run-events` is under `GoogleCloudPlatform`, which will cause `dot-release` and `auto-release` jobs to fail. We'll need to support setting `org` name dynamically by adding an extra flag.

[2019-07-15 16:11] anishj0shi opened #1137 "mktemp statement invocation throws error"
https://github.com/knative/test-infra/blob/4631314ecc6586c84223b67ecb78dc48d0bdb7bf/scripts/e2e-tests.sh#L222

Wnen create_test_cluster() function is invoked locally to test knative e2e-tests, statement "mktemp -d --tmpdir kubernetes.XXXXXXXXXX" throws error

mktemp: illegal option -- -
usage: mktemp [-d] [-q] [-t prefix] [-u] template ...
       mktemp [-d] [-q] [-u] -t prefix

****This Happens o

[2019-07-16 15:31] adrcunha commented on #1136
You mean fixing this (log from auto-release job):

[code]

[2019-07-16 15:37] #1137 closed

[2019-07-16 16:41] adrcunha commented on #932
Not anymore, serving is done.

/close

[2019-07-16 16:41] #932 closed

[2019-07-16 16:43] adrcunha commented on #1082
@chaodaiG just because you closed it: https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-auto-release/1151168386852458496/build-log.txt

[2019-07-16 17:39] adrcunha commented on #496
Relevant related issue: https://github.com/kubernetes/test-infra/issues/8668

[2019-07-16 17:52] adrcunha commented on #678
Vulnerability scanning is now enabled for knative-nightly and knative-tests.

[2019-07-16 18:15] adrcunha commented on #678
The missing part is subscribing to the pubsub topic and publishing it as e-mail. Joyce has the necessary knowledge for doing that.

/unassign adrcunha
/assign @yt3liu

[2019-07-16 18:27] #985 closed

[2019-07-16 18:29] chaodaiG commented on #1082
It did start happening 40/6781 times since 07/12. Reopening the issue since it's still annoying
@coryrc  for reference

[2019-07-16 18:30] chaodaiG commented on #1082
/open

[2019-07-16 18:33] chaodaiG commented on #1082
/reopen

[2019-07-16 18:43] adrcunha commented on #714
This is caused by the hub tool. Release assets are uploaded here:

https://github.com/github/hub/blob/01429de9a214d37fc76db7ccc9bc3af78d56a1fc/github/client.go#L387

If an error happens, the function bubbles up the error. Then in

https://github.com/github/hub/blob/ad6e36233d8515be97ea697e2c54451b8e674958/commands/release.go#L630

it will simply abort the process, causing a partial release to be p

[2019-07-16 19:08] adrcunha commented on #714
Filed an issue for the hub tool (https://github.com/github/hub/issues/2197), thus closing this one.

/close

[2019-07-16 19:08] #714 closed

[2019-07-16 19:14] #713 closed

[2019-07-16 21:05] adrcunha commented on #214
Repos like serving already updated the PR template to include a field for [the release notes](https://raw.githubusercontent.com/knative/serving/master/.github/pull-request-template.md). A simple change can make it compatible with the Prow release-notes plugin, without requiring extra tools/code/etc.

https://github.com/kubernetes/test-infra/blob/master/prow/plugins/releasenote/releasenote.go

![im

[2019-07-16 21:08] stevekuznetsov commented on #1082
I mean if you don't fix the DNS issue it will just continue happening indefinitely.

[2019-07-16 21:26] chaodaiG commented on #1082
@stevekuznetsov , thanks for reminding, we will investigate and act appropriately

[2019-07-17 14:13] kramvan1 commented on #678
@adrcunha Will the email list be open to users to get on?    As a consumer of Istio, I would like to see the scan output.    Maybe just use a new repo and create issues instead of email?   or a repo wiki page for each scan?

[2019-07-17 14:17] adrcunha commented on #678
That's a good idea, simple, effective and doable: creating an issue in the relevant repo.

[2019-07-17 21:32] adrcunha opened #1148 "Markdown link checker doesn't detect 404"
The markdown link checker passes (https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_test-infra/1146/pull-knative-test-infra-build-tests/1151539705179803648/build-log.txt) for a markdown file with this link:

[code]

[2019-07-17 21:38] adrcunha commented on #1148
Filed https://github.com/raviqqe/liche/issues/23

/close

[2019-07-17 21:38] #1148 closed

[2019-07-17 22:09] #1134 closed

[2019-07-17 23:06] chaodaiG commented on #1082
Followed 3 of the jobs failed at the same time this morning:
(Create time: 2019-07-17 07:29:13 -0700 PDT)
pr-logs/pull/knative_serving/4787/pull-knative-serving-build-tests/1151498938310725632
pr-logs/pull/knative_serving/4787/pull-knative-serving-go-coverage/1151498938314919940
pr-logs/pull/knative_serving/4787/pull-knative-serving-upgrade-tests/1151498938314919938

At the moment there was no nod

[2019-07-18 02:12] adrcunha commented on #946
I'm closing this issue as the goal was achieved: we know why janitor sometimes take a long time to clean up projects. Fixing it requires at least modifying kubetest, which is not in our list of priorities right now.

/close

[2019-07-18 02:12] #946 closed

[2019-07-18 02:13] adrcunha commented on #640
/unassign coryrc
/assign adrcunha

[2019-07-18 20:33] #428 closed

[2019-07-19 00:35] coryrc opened #1160 "Enable boskos Metrics reporter"
https://github.com/kubernetes/test-infra/tree/master/boskos#other-components

[2019-07-19 00:35] coryrc commented on #1160
/assign

[2019-07-19 03:25] #640 closed

[2019-07-19 18:06] adrcunha commented on #459
All issues mentioned in my first comment are not solved. Feedback and input is now captured in the high level design doc for the next version of the test infrastructure -- https://docs.google.com/document/d/1QHPks3oRKccTpzAOJuU2tgHjyiA0Somm7PwdQVupyk0/edit -- feedback is welcome.

Closing this issue, as new work/tasks should be in separate, smaller issues.

[2019-07-19 18:11] chaodaiG opened #1164 "Separate each service/deployment config into it's own file"
Currently we have Prow config files that contains multiple services/deployments, for example `boskos`, `janitor`, `reaper` in https://github.com/knative/test-infra/blob/master/ci/prow/boskos/config.yaml. This approach makes it not easy to roll back from bad config applied by `kubectl apply -f config.yaml`, as `kubectl delete -f config.yaml` would delete everything in the config, while we might onl

[2019-07-19 18:15] adrcunha commented on #424
This is now captured in the high level design doc for the next version of the test infrastructure -- https://docs.google.com/document/d/1QHPks3oRKccTpzAOJuU2tgHjyiA0Somm7PwdQVupyk0/edit -- feedback is welcome.

Closing this issue, as new work/tasks should be in a separate issue.

[2019-07-19 18:15] #424 closed

[2019-07-19 19:01] adrcunha commented on #294
This is now captured in the high level design doc for the next version of the test infrastructure -- https://docs.google.com/document/d/1QHPks3oRKccTpzAOJuU2tgHjyiA0Somm7PwdQVupyk0/edit -- feedback is welcome.

Closing this issue, as new work/tasks should be in a separate issue.

[2019-07-19 19:01] #294 closed

[2019-07-19 19:02] adrcunha commented on #576
This is now captured in the high level design doc for the next version of the test infrastructure -- https://docs.google.com/document/d/1QHPks3oRKccTpzAOJuU2tgHjyiA0Somm7PwdQVupyk0/edit -- feedback is welcome.

Closing this issue, as new work/tasks should be in a separate issue.

[2019-07-19 19:02] #576 closed

[2019-07-19 19:02] adrcunha commented on #590
This is now captured in the high level design doc for the next version of the test infrastructure -- https://docs.google.com/document/d/1QHPks3oRKccTpzAOJuU2tgHjyiA0Somm7PwdQVupyk0/edit -- feedback is welcome.

Closing this issue, as new work/tasks should be in a separate issue.

[2019-07-19 19:02] #590 closed

[2019-07-19 19:03] yt3liu opened #1166 "Pull the monitoring config asynchronously"
Currently, in the monitoring app, it fetches the [config](https://github.com/knative/test-infra/blob/master/tools/monitoring/config/config.yaml) when a new message comes in. This makes the time when the config is applied to be non-deterministic.

[2019-07-19 19:05] yt3liu commented on #1166
/kind monitoring

[2019-07-19 19:07] yt3liu opened #1167 "Change the build log link in the alert message to spyglass link"
Currently the build log link the alert message links to the GCS bucket. Update this to use the spyglass link to get summary of the error.

/kind monitoring

[2019-07-19 19:09] yt3liu opened #1168 "Add monitoring to the monitoring app"
Currently there's no monitoring on the [monitoring app](https://github.com/knative/test-infra/tree/master/tools/monitoring). Add some monitoring to make sure the app is up-and-running as expected in case of no alerts.

Potential approaches: stackdriver logging, Kubernetes health check (liveness probe)

/kind monitoring

[2019-07-19 19:22] adrcunha commented on #414
The dashboard code lives in https://github.com/kubernetes/test-infra/tree/master/triage

[2019-07-19 19:34] adrcunha commented on #1164
/assign @chaodaiG

The config can be split and put into a separate subdirectory. A `make` target can make it easier to apply all at once. Other operations (like delete), full or individual, should be done by hand to avoid mistakes.

[2019-07-19 19:34] adrcunha commented on #1166
/assign yt3liu

[2019-07-19 19:34] adrcunha commented on #1167
/assign yt3liu

[2019-07-19 19:35] adrcunha commented on #1168
/assign yt3liu

[2019-07-21 21:36] srinivashegde86 commented on #1167
According to the schema, we should be storing the link to the build-log file - https://github.com/knative/test-infra/blob/81861c7c2060af68e3dbdc72bcd3a2f0584566d2/tools/monitoring/mysql/schema.sql#L27

But, it looks like we are actually storing the path to the GCS dir instead. When sending the alert, we are just using this and hence, it points to the GCS dir.

[2019-07-21 21:37] srinivashegde86 commented on #1167
We either need to update the storage to start storing the URL instead of the GCS path, or update the schema to also store the url with the GCS path

[2019-07-22 04:50] Fredy-Z commented on #532
/assign

[2019-07-22 18:13] #1167 closed

[2019-07-22 18:44] chaodaiG commented on #1082
Scanned Prow jobs from test-infra and serving in past week on 07/22/2019, the last appearance of this error was 11:44:44AM on 07/17/2019. I'm having pretty good confidence that turning off autoscale fixed the problem

[2019-07-22 18:48] srinivashegde86 commented on #841
We are not using cloud mail anymore. Closing this

[2019-07-22 18:48] #841 closed

[2019-07-23 21:08] #1136 closed

[2019-07-24 16:32] #1101 closed

[2019-07-24 17:22] adrcunha opened #1179 "stats.knative.dev is stale"
Looks like there's no new data since 7/1.

https://stats.knative.dev/d/7/contributing-companies?orgId=1&from=now-1y&to=now&var-period=d28&var-repogroup_name=All

[2019-07-24 17:41] #1164 closed

[2019-07-24 17:55] adrcunha commented on #214
/cc @evankanderson

[2019-07-24 17:58] #987 closed

[2019-07-24 18:00] evankanderson commented on #214
I'd like to try running the `release-notes` tool against e.g. the `eventing` repo to see the quality of the output before we enable the Prow plugin and add toil to existing workflows.

[2019-07-24 18:38] adrcunha opened #1180 "Create a staging Prow cluster for Test Infra 2.0"

[2019-07-24 18:39] adrcunha opened #1181 "Design the per-repo config YAML for Test Infra 2.0"

[2019-07-24 18:41] adrcunha opened #1182 "Design the supervisor for Test Infra 2.0"

[2019-07-24 18:41] adrcunha opened #1183 "Implement the supervisor for Test Infra 2.0"

[2019-07-24 18:42] adrcunha opened #1184 "Design the job wrapper for Test Infra 2.0"

[2019-07-24 18:42] adrcunha opened #1185 "Implement the job wrapper for Test Infra 2.0"

[2019-07-24 18:43] adrcunha opened #1186 "Implement the cluster creation library for Test Infra 2.0"
This library should provide the basic functionality for the creation of test clusters for E2E tests, on Prow (using boskos) and locally.

[2019-07-24 18:43] adrcunha opened #1187 "Design the basic test framework for Test Infra 2.0"

[2019-07-24 18:43] adrcunha opened #1188 "Implement the basic test framework for Test Infra 2.0"

[2019-07-24 18:44] adrcunha opened #1189 "Design the local test run tool for Test Infra 2.0"

[2019-07-24 18:44] adrcunha opened #1190 "Implement the local test run tool for Test Infra 2.0"

[2019-07-24 18:45] adrcunha opened #1191 "Define the KPIs for Test Infra 2.0"

[2019-07-24 18:45] adrcunha opened #1192 "Implement the KPIs for Test Infra 2.0"

[2019-07-24 21:41] adrcunha commented on #214
Running the tool for all commits since May 22

[code]

results in a markdown file in `/tmp` that has the following contents:

## Other Notable Changes

- the configuration for the kafka CCP is now camel case ([#1386](https://github.com/knative/eventing/pull/1386), [@matzew](https://github.com/matzew))
- ApiServerSource and CronJobSource will trace 1% of events. ([#1358](https://github.com/knative/

[2019-07-25 17:00] adrcunha opened #1196 "Add other services to Test Infra 2.0"
Like go coverage jobs, periodic backup, etc.

[2019-07-25 18:18] adrcunha commented on #1188
Cory will start translating some functions from shell to go in order to assess how complex building the libraries can be.

[2019-07-25 18:35] adrcunha commented on #1186
Chao is looking into talking to boskos.

[2019-07-25 18:49] adrcunha commented on #770
googlebot now understands the author explicit consent. The author must add the comment

```@googlebot I consent.```

to explicit state that.

Closing this as the problem should now be fixed, please reopen if not.

[2019-07-29 15:09] adrcunha commented on #1179
Restarting the backfill and cron jobs didn't help. The link above still shows data until 7/1. Something seems to be wrong because:

* the graph above shows 0 contributing companies until 5/30;
* the dashboard above doesn't exist in https://knative.teststats.cncf.io, which clearly shows that our instance is outdated;

[2019-07-29 16:32] chaodaiG opened #1204 "Appearance of `<>` in failure message breaks junit result parsing in flaky test reporter"
Flaky test reporter failed to parse junit results from serving continuous runs, due to the appearance of `<autogenerated>` in failure message.

Example:
Flaky test reporter: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-flakes-reporter/1155810473984135168
Junit result containing `<autogenerated>`: gs://knative-prow/logs/ci-knative-serving-continuous/1155782790478827520/artifacts/j

[2019-07-29 17:46] Fredy-Z commented on #1179
It seems this issue has been "fixed"? The dashboard now shows data till yesterday.

[2019-07-29 17:50] adrcunha commented on #1179
Yes, indeed there's new data, probably captured by the cron job. However, the graph is still weird: no data at all from 6/6 to 7/23.

[2019-07-29 18:18] #1204 closed

[2019-07-30 19:21] Fredy-Z commented on #1082
Completely disabling autoscale may not be a long-term solution. We'll have to increase the number of nodes manually whenever there is abruptly high load, and it is highly possible that a lot of nodes will have low utilization after the peak. The problem may become more serious as the project evolves.
@stevekuznetsov May I ask if Kubernetes' Prow cluster has `autoscaling` enabled?

[2019-07-30 19:43] adrcunha commented on #1082
I believe the answer is "no" and that prow.k8s has enough nodes to handle utilization peaks and doesn't care about them being idle. But I might be wrong.

[2019-07-30 20:09] TrevorFarrelly commented on #1133
closing issue, this feature is no longer necessary.

[2019-07-30 20:09] #1133 closed

[2019-07-30 21:37] stevekuznetsov commented on #1082
Please just deploy the DNS caches. I don't see why that isn't the simple, direct answer to this question.

[2019-07-30 22:18] chaodaiG commented on #1082
@stevekuznetsov , to be honest, I'm not quite convinced that DNS caches can solve this problem. Based on my investigation, the root cause of this issue is network not ready on newly provisioned nodes, so the problem happened on the first few DNS lookups on the fresh nodes. And based on this [doc](https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/#introduction), DNS cache looks up ca

[2019-07-31 16:38] grantr opened #1213 "Eventing-contrib build tests don't verify Gopkg.lock"
https://github.com/knative/eventing-contrib/pull/496 and https://github.com/knative/eventing/pull/1604 were both generated with an older version of dep than Prow runs. That older version of dep generated a trivially different Gopkg.lock than what was checked in, causing a bunch of unnecessary diffs.

The eventing build tests caught the issue and [failed](https://prow.knative.dev/view/gcs/knative-p

[2019-07-31 17:28] stevekuznetsov commented on #1082
You're saying you see this only at node boot-time and never again after the fact?

[2019-07-31 17:35] coryrc commented on #1082
@stevekuznetsov Correct

[2019-07-31 17:43] srinivashegde86 commented on #912
tektoncd has updated to knative.dev/pkg, but looks like k8s.io/test-infra is still using the old name causing build issues

[2019-07-31 17:56] adrcunha commented on #912
This circular dependency between Prow and Knative is insane. @krzyzacy @cjwagner any comments on this?

[2019-07-31 18:25] n3wscott opened #1214 "What is TestInfra 2.0?"

[2019-07-31 19:34] #1213 closed

[2019-07-31 23:04] cjwagner commented on #1082
Anecdotally I've seen the same.
I added a node pool to a gke cluster the other day and immediately scheduled a ProwJob pod to it. The job failed with `Could not resolve host: github.com`, but since then I haven't seen that reoccur.

[2019-08-01 18:00] adrcunha commented on #1179
The data is being updated, so the dashboard is not stale anymore.

[2019-08-01 18:00] #1179 closed

[2019-08-01 18:01] adrcunha commented on #1214
See WG meeting notes at https://docs.google.com/document/d/1aPRwYGD4XscRIqlBzbNsSB886PJ0G-vZYUAAUjoydko/edit?pli=1#heading=h.2d6ss6p081xt

[2019-08-01 18:01] #1214 closed

[2019-08-01 18:04] adrcunha commented on #698
#1187 is a superset of this issue.

[2019-08-01 18:04] #698 closed

[2019-08-01 21:39] adrcunha commented on #1189
Covered in the low level design: https://docs.google.com/document/d/1PQ6DLL8kqMSSmciTSrR9RLaJt8sBgaziLEkwkP9TKec/edit#

[2019-08-01 21:40] #1189 closed

[2019-08-01 21:40] adrcunha commented on #1187
Covered in the [low level design](https://docs.google.com/document/d/1PQ6DLL8kqMSSmciTSrR9RLaJt8sBgaziLEkwkP9TKec/edit#).

[2019-08-01 21:40] #1187 closed

[2019-08-01 21:45] adrcunha commented on #1191
Covered in the [low level design](https://docs.google.com/document/d/1PQ6DLL8kqMSSmciTSrR9RLaJt8sBgaziLEkwkP9TKec/edit#).

[2019-08-01 21:45] #1191 closed

[2019-08-01 21:45] adrcunha commented on #1184
Covered in the [low level design](https://docs.google.com/document/d/1PQ6DLL8kqMSSmciTSrR9RLaJt8sBgaziLEkwkP9TKec/edit#).

[2019-08-01 21:45] #1184 closed

[2019-08-01 21:45] adrcunha commented on #1182
Covered in the [low level design](https://docs.google.com/document/d/1PQ6DLL8kqMSSmciTSrR9RLaJt8sBgaziLEkwkP9TKec/edit#).

[2019-08-01 21:45] #1182 closed

[2019-08-01 21:45] adrcunha commented on #1181
Covered in the [low level design](https://docs.google.com/document/d/1PQ6DLL8kqMSSmciTSrR9RLaJt8sBgaziLEkwkP9TKec/edit#).

[2019-08-01 21:45] #1181 closed

[2019-08-02 00:03] #1160 closed

[2019-08-02 14:39] chaodaiG commented on #1082
@cjwagner , is autoscaling turned on in the cluster that runs k8s Prow workloads?

[2019-08-02 14:42] #491 closed

[2019-08-02 17:55] srinivashegde86 commented on #912
Looks like the tekton dependency needs to be updated to latest in k8s/test-infra this as the pipeline version in their vendor dir sitll uses the old github.com/knative/pkg. This commit updated it tektoncd/pipeline@5021e4d#diff-a5b024c3ad8012899d9a7d56f19c2331, but they still dont have a release with it and I think we should wait till they are ready with it to upgrade.

[2019-08-02 22:14] cjwagner commented on #1082
No

[2019-08-02 22:18] chaodaiG commented on #1082
Thanks! Then I think I can close this issue for now, since I'm pretty confident that it's fixed by turning off autoscaling. How to make the error disappear with autoscaling turned on should be explored in a separate issue if we need to.

[2019-08-02 22:18] chaodaiG commented on #1082
/close

[2019-08-02 22:18] #1082 closed

[2019-08-05 17:58] chaodaiG opened #1227 "Push prow-auto-bumper tool to kubernetes/test-infra"
As suggested by @cjwagner, it seems like this tool can potentially be consumed by other prow instances that want auto bumping to stable Prow versions. Refactor this tool and push it to kubernetes/test-infra so that it can be easily consumed by others

[2019-08-05 18:25] srinivashegde86 commented on #912
@bobcatfish

[2019-08-06 16:24] chaodaiG opened #1233 "serving 0.8 release failed publishing"
The first run of dot_release for serving 0.8 release branch failed. All tests passed, but failed pu
blishing:
[code]

The job is here: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-auto-release/1158748345653530625

[2019-08-06 16:24] chaodaiG commented on #1233
/cc @steuhs

[2019-08-06 19:09] steuhs commented on #1233
All 15 .yaml files has been released. The release should be complete. The error message is due to the duplicated yaml name passed to function publish_to_github. The duplicated yaml name is "serving-alpha-crds.yaml". Investigation is being conducted.

[2019-08-06 19:10] chaodaiG commented on #1233
FYI @mattmoor

[2019-08-06 21:31] steuhs commented on #1233
Diagnose:
- publish_to_github is called to publish to each item in the list of env var ARTIFACTS_TO_PUBLISH
- ARTIFACTS_TO_PUBLISH get its value from generate-yamls.sh
- There should be some bug in generate-yamls.sh that produced the duplicate

Solution:
A quick solution is to remove duplicates in ARTIFACTS_TO_PUBLISH
A further action item is to find the root cause of duplication in generate-yamls

[2019-08-06 21:39] chaodaiG commented on #1233
I can see 2 PRs, 1 goes to test-infra and 1 goes to serving :)

[2019-08-06 22:56] Fredy-Z commented on #1233
FYI, I believe it's the line caused the duplication is https://github.com/knative/serving/blob/d38697e7c16a95ec11d56e00d403e40ee179f306/hack/generate-yamls.sh#L151
Instead of just `grep -v ${SERVING_YAML}`, it should also rule out all other Serving yamls added above.

Actually, I'm not entirely sure why we cannot simply replace line 143-151 with `ls -1 ${YAML_OUTPUT_DIR}/*.yaml > ${YAML_LIST_FILE}

[2019-08-07 21:04] knative-housekeeping-robot opened #1239 "Test issue"
test test

[2019-08-07 21:06] #1239 closed

[2019-08-07 23:08] grantr opened #1240 "Prow project plugin is not configured"
We'd like to use the [Prow project plugin](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/project/project.go) but it's not configured. Here's [the configuration struct](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/config.go#L425) and [an example config](https://github.com/kubernetes/test-infra/blob/master/prow/plugins.yaml#L302).

[2019-08-07 23:38] steuhs opened #1241 "Code coverage failure due to directory change from github.com/knative to knative.dev"

[2019-08-07 23:47] chaodaiG opened #1242 "Coverage shouldn't fail if the baseline it compares to failed"
Currently presubmit coverage test looks for latest master coverage result and compares against it, the latest master coverage result is produced by postsubmit coverage test. Normally this flow works, but when there is one postsubmit coverage test failed, presubmit coverage test would fail due to not able to find baseline. An example is here: https://prow.knative.dev/view/gcs/knative-prow/pr-logs/p

[2019-08-07 23:47] chaodaiG commented on #1241
See #1242

[2019-08-07 23:57] steuhs commented on #1242
We used to go for earlier post submit when the master head fails, it was modified to tolerate minor failures. However the modification does not take into consideration of all tests fail due to changing directory. (see #1241). I am working on a fix for it.

[2019-08-08 00:05] steuhs commented on #1241
This issue is same as unit test failures which was fixed https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing/1655/pull-knative-eventing-unit-tests/1159196050158784512

[2019-08-08 00:05] #1241 closed

[2019-08-08 15:06] adrcunha commented on #1240
/assign @Fredy-Z

Hey Chi, is it something you could work on?

[2019-08-08 15:08] adrcunha commented on #1227
/assign @chaodaiG

[2019-08-08 15:22] chaodaiG commented on #1227
As discussed with team, opened an issue here: https://github.com/kubernetes/test-infra/issues/13823, closing this issue in favor of that one

/close

[2019-08-08 15:22] #1227 closed

[2019-08-08 17:56] #1027 closed

[2019-08-08 18:05] adrcunha commented on #214
@evankanderson please take a look at the output of the release notes tool above and let me know if it looks reasonable for our needs.

[2019-08-08 18:42] #532 closed

[2019-08-08 19:06] Fredy-Z commented on #1240
Sure, I can work on it.

[2019-08-08 21:27] chaodaiG opened #1247 "Regional clusters are using 3X resources than expected"
Currently regional clusters are created by default for e2e tests, each of them by default spawns 3 random zones, and provisions a copy of what's asked in each zone, thus there are 3X resources provisioned in each cluster than we expected.

For example: in an [e2e test](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_test-infra/1245/pull-knative-test-infra-integration-tests/1159

[2019-08-09 15:04] chaodaiG opened #1249 "flaky-test-retryer: provide spyglass link of previous test"
The way github works, is when a retest is triggered, the link to previous run disappeared, which might be desired in certain cases, i.e., debugging something in e2e test set up.

Proposing adding a link to latest run(or all 3 previous runs) in bot comment

[2019-08-09 15:05] chaodaiG commented on #1249
fyi @TrevorFarrelly  in case you feel bored

[2019-08-09 15:10] chaodaiG opened #1250 "flaky-test-retryer: based on more up-to-date stats with broader spectrum"
Currently flaky-test-retryer is based on the same report flaky-test-reporter produces daily at 5AM each morning, which could be outdated later in the day, and misses lots of retries which could happen. The report only scans past 10 runs in master, which could also miss flaky tests that happen less frequently.

Propose to improve this by:
- set up a cron job runs a variant of flaky-test-reporter ho

[2019-08-09 15:10] chaodaiG commented on #1250
fyi @TrevorFarrelly  in case you feel bored

[2019-08-09 15:17] chaodaiG opened #1251 "flaky-test-retryer: add unit test for log_parser"
There are several functions in this file can be protected better with unit tests

[2019-08-09 15:18] chaodaiG commented on #1251
fyi @TrevorFarrelly in case you feel bored

[2019-08-09 17:00] TrevorFarrelly commented on #1249
/assign

[2019-08-09 17:02] TrevorFarrelly commented on #1251
/assign

[2019-08-12 21:31] #1249 closed

[2019-08-13 08:08] navidshaikh opened #1259 "Support for passing timeout duration to go_test_e2e"
New e2e tests added for one of `kn` PR requires updating service in sync multiple times summing the total time taken for e2e go beyond the default timeout duration (10minutes) in `go test`.

https://golang.org/cmd/go/#hdr-Testing_flags
[code]

In this kn [PR](https://github.com/knative/client/pull/345), e2e tests are failing complaining (ref [logs](https://prow.knative.dev/view/gcs/knative-prow/pr

[2019-08-13 17:19] Fredy-Z commented on #1259
You can pass the `-timeout=xx` on this line:
https://github.com/knative/eventing/blob/539d72ec0417bd7127e64bac09a131316251d395/test/e2e-tests.sh#L33

Example:
https://github.com/knative/eventing/blob/539d72ec0417bd7127e64bac09a131316251d395/test/e2e-tests.sh#L33

[2019-08-13 17:28] navidshaikh commented on #1259
@Fredy-Z : Thanks! :+1:

[2019-08-13 17:28] #1259 closed

[2019-08-13 20:32] chizhg opened #1262 "dot-release is running the ./hack/release.sh in master branch"
`eventing-contrib` repo is doing a dot-release but the job ended up with an error.

From the job logs https://prow.knative.dev/log?job=ci-knative-eventing-contrib-dot-release&id=1161353664162435072, we can see the error is `2019/08/13 19:14:03 Error enumerating files: lstat github/config/: no such file or directory`. However, `github/config/` is a path written in the `./hack/release.sh` of master

[2019-08-13 20:46] #1240 closed

[2019-08-13 20:56] Fredy-Z commented on #1240
Update the Prow config.

[2019-08-13 21:28] adrcunha commented on #1262
The way the release script currently works it runs indeed from the master branch.

The workaround is to manually create a dot-release job, and update it to use the branch before starting it. This will be addressed in test-infra 2.0.

[2019-08-13 22:30] adrcunha commented on #1262
New release published successfully:

https://prow.knative.dev/log?job=ci-knative-eventing-contrib-dot-release&id=1161389776184545280

/close

[2019-08-14 17:25] grantr opened #1265 "Update project names in project plugin config"
Some observations of the project plugin based on my testing in https://github.com/knative/eventing/issues/1461:

* It only supports project names without spaces. I'm not sure how project names like [KEP Implementation Tracking](https://github.com/kubernetes/test-infra/blob/9501e29276a5e98eeb809684ee639f7888ffcca8/prow/plugins.yaml#L316) work. Maybe they don't? I can't find any usages of the `/proj

[2019-08-14 17:28] grantr commented on #1265
/cc @Fredy-Z

[2019-08-14 18:06] #1251 closed

[2019-08-14 18:29] adrcunha commented on #1247
/assign @chaodaiG

The idea behind regional test clusters by default is having higher availability and making them bit less stockout prone. Tests that require specific regions/zones can do so by setting the corresponding environment variables. Also, the clusters are short lived so the cost shouldn't be an issue. I suggest syncing up with @mattmoor about this, who originally proposed this approach.

[2019-08-14 18:29] adrcunha commented on #1250
Just in case Trevor leaves before getting bored. :)

/assign @chaodaiG

[2019-08-14 18:30] adrcunha commented on #1265
/assign @Fredy-Z

[2019-08-15 18:26] grantr opened #1269 "Go import paths with typos are ignored by ko during release"
For the 0.8.1 release of eventing-contrib, some go import paths in YAML files were invalid due to typos (fixed in https://github.com/knative/eventing-contrib/pull/543). `ko resolve` ignores any string that is not a valid go import path, so those strings were not recognized as buildable. The release succeeded, and some yaml files released were invalid ([kafka-channel.yaml](https://github.com/knativ

[2019-08-15 20:20] Fredy-Z commented on #1265
I have changed the name in the plugin to "perf/measurement", so you can use `/project perf/measurement` to add the issue as `To do` by default.
For the things listed here, they do not seems to be "features", I'm looking into the source code to see if I can make a quick fix.

[2019-08-15 20:25] Fredy-Z opened #1270 "Write script to file quote increase requests for all boskos project"
Right now if we want to increase quotas for boskos projects, we'll have to manually go to each project's Quota page, change the quota, and submit the request.

Since there are already 70 boskos projects, that would be a lot of manual work. We need a script to automatically do it for us.

[2019-08-15 20:26] Fredy-Z commented on #1270
/cc @adrcunha @chaodaiG

[2019-08-15 20:29] adrcunha commented on #1270
I'm afraid this can't be automated, as the documentation only points to the manual process:

https://cloud.google.com/compute/quotas

[2019-08-15 20:38] Fredy-Z commented on #1270
Ah, then we may have one more reason to look into Mason.

[2019-08-15 20:40] adrcunha commented on #1270
I assume you mean https://github.com/kubernetes/test-infra/tree/master/boskos/mason

If so, I'm not sure I picture how quotas fit into the Mason flow.

[2019-08-15 20:50] Fredy-Z commented on #1270
By using Mason, we will be able to create multiple clusters within the same project, that means we will not need to always increase the number of Boskos projects as Knative grows. I'm not sure how often we will need to increase the quota, but if one day when we have 200 boskos projects, that would be even more work to do.

But these are just my two cents.

[2019-08-15 20:52] adrcunha commented on #1270
Got it. Indeed, an ever-growing list of Boskos projects is not sustainable. For the purposes of this bug then I think Mason is not the right solution, so I'll close it as unfeasible.

/close

[2019-08-15 20:52] #1270 closed

[2019-08-16 05:37] ImJasonH commented on #1269
The underlying issue is fixed in https://github.com/google/ko/pull/58 which was just merged.

If you update your `ko` version (`go get -u github.com/google/ko/cmd/ko`) -- and expect/force developers to use a recent `ko` -- you can start prefixing expected import paths with `ko://` and invoking `ko resolve --strict -f config/`.

This will cause `ko` to fail loudly if it finds an import path a human

[2019-08-19 21:44] chaodaiG opened #1282 "flaky-test-retryer: counting start over when new commit pushed"
Current behavior of flaky-test-retryer is a global count on certain PR, which runs out early(3 times) on a PR with multiple updates. The count should start over when new changes are pushed to a PR

[2019-08-19 21:45] chaodaiG commented on #1282
/assign

[2019-08-19 22:07] chaodaiG commented on #716
It's delivered and running as a tool named flaky-test-retryer
Thanks for @TrevorFarrelly  for all the hard works

/close

[2019-08-19 22:07] #716 closed

[2019-08-20 17:36] srinivashegde86 opened #1287 "Out of memory errors in serving prow job runs"
error:
/usr/local/go/pkg/tool/linux_amd64/link: flushing $WORK/b813/exe/a.out: write $WORK/b813/exe/a.out: cannot allocate memory

Happens mostly in build tests and is currently flaky.

Workaround:
Add `/retest` comment to rerun the job.

/assign @yt3liu

[2019-08-20 17:37] srinivashegde86 commented on #1287
/cc @chaodaiG
/cc @adrcunha

[2019-08-20 21:10] #1282 closed

[2019-08-20 22:21] chaodaiG opened #1291 "E2E tests failed creating cluster due to unhealthy nodes"
cluster creation status was done but reported nodes unhealthy afterwards, error:
[code]

Example:
https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/5166/pull-knative-serving-integration-tests/1163929316979904515

[2019-08-20 22:36] adrcunha commented on #1291
/assign @chaodaiG

[2019-08-20 22:38] #1291 closed

[2019-08-20 22:50] adrcunha opened #1294 "Make stats.knative.dev redirect to knative.teststats.cncf.io"
In order to have more metrics about Knative, a work was done to make [devstats](https://devstats.cncf.io/) work on Kubernetes so it could be used and easily accessible for the project (https://github.com/knative/test-infra/issues/755). This resulted in a fork of devstats in the test-infra repo, which runs on GKE and serves at stats.knative.dev.

However, since the work was completed, a few things

[2019-08-20 23:51] steuhs opened #1296 "Metrics bot stopped posting coverage diff on repos after directory changed to knative.dev"
fixed by https://github.com/knative/test-infra/pull/1290

[2019-08-21 17:39] #1250 closed

[2019-08-29 17:07] coryrc opened #1323 "Boskos project folder changed"
The folder it's created in has changed, but the script hasn't been updated.

test-infra/ci/prow/boskos/create_projects.sh

/assign ChaoDaiG

[2019-08-29 17:11] chaodaiG commented on #1323
/close

[2019-08-29 17:11] #1323 closed

[2019-09-03 21:58] chaodaiG opened #1326 "Flaky test reporter failed updating Github issue comment due to exceeding characters limit"
Flaky test reporter keeps on appending current results on top of old results without trimming old results. After a while they would fail as a comment can only allow 65535 characters. See example here: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-flakes-reporter/1168856445676949508

[2019-09-03 22:59] chaodaiG opened #1329 "E2E tests fail with go 1.13"
When running serving tests with go1.13, they would fail complaining flags provided but not defined.
For example:
[code]
Got errors:
[code]

[2019-09-03 22:59] chaodaiG commented on #1329
/assign @steuhs

[2019-09-03 23:13] srinivashegde86 commented on #1329
probably related - https://github.com/golang/go/issues/31859

[2019-09-04 01:27] adrcunha commented on #1329
This seems to be caused due to the way flags are parsed in serving/test/e2e:

[code]

[2019-09-04 01:28] adrcunha commented on #1329
We're running go 1.12 on Prow. The issue described happens with go 1.13rc1.

[2019-09-04 01:35] adrcunha commented on #1329
istio is facing the same issue: https://github.com/istio/istio/issues/16797

[2019-09-04 01:46] adrcunha commented on #1329
Root cause: custom flag initialization function (https://github.com/knative/serving/blob/master/test/e2e_flags.go#L66) calling `flag.Parse` before the testing flags have been registered.

It *seems* to me that simply ommiting `flag.Parse()` would work, as it will be called later by the testing package.

[2019-09-04 02:16] howardjohn commented on #1329
We fixed a similar issue in Istio by parsing in test main instead of init fwiw

[2019-09-04 04:09] adrcunha commented on #1329
Interesting, thanks John. @steuhs if we go that way, make sure test-infra is updated because otherwise using `TestMain` might break the presubmit build tests depending on what it does or expects.

[2019-09-04 05:22] adrcunha commented on #1326
/assign @chaodaiG

[2019-09-04 16:26] chaodaiG commented on #1329
@steuhs is OOO this week
/assign

[2019-09-04 16:26] chaodaiG commented on #1329
/unassign @steuhs

[2019-09-04 16:59] #1326 closed

[2019-09-05 19:59] chaodaiG commented on #1329
In go1.13 testing level flags (i.e. `-v`) are registered in `testing.Init()` according to [release note](https://golang.org/doc/go1.13#testing) as part of generated `main()` function, which is executed later than global variable initialization, such as [`initializeServingFlags`](https://github.com/knative/serving/blob/d2bf8fd8fb9d290f84530cbb88bb98fcef633bd0/test/e2e_flags.go#L53) call, which fail

[2019-09-06 18:30] #1329 closed

[2019-09-06 20:02] adrcunha commented on #1265
The name was fixed https://github.com/knative/test-infra/pull/1266

[2019-09-10 19:05] srinivashegde86 opened #1340 "Prow auto-bumper tool updates prow config, but does not apply it"
The prow auto-bumper tool creates a PR and auto merges the updates to prow config so that we are using latest stable version. But, applying this is still a manual process and we should consider automating it. Else, we will not be reflecting the version we are acutally using in the repo as in the actual prow cluster

/cc @chaodaiG

[2019-09-10 19:09] srinivashegde86 commented on #1340
Note that the auto-PR also updates `config.yaml`to use these new references - https://github.com/knative/test-infra/pull/1336

So, if we only update config-map to use the new config.yaml, it will point to new references and prow will still be on the older version.

[2019-09-10 19:53] chaodaiG commented on #1340
Agree with automating applying part, we can set up a postsubmit job to do it. What's worth discussing is:
1. If the job should update with any `*.yaml` change under `ci/prow`, or just a subset of it
2. Should the job only update when PR author is prow auto updater bot or any user

[2019-09-10 21:00] srinivashegde86 commented on #1340
/cc @adrcunha

[2019-09-10 21:09] adrcunha commented on #1340
I'm not sure I like the idea of Prow being automatically updated when the PR gets merged.

[2019-09-10 23:00] srinivashegde86 commented on #1340
My only concern is that we will keep updating our files in the repo and not actually update prow cluster. So, we will still see issues of backward-incompatibility like before.

[2019-09-10 23:05] adrcunha commented on #1340
I agree. The PRs should only be approved by the oncall, who then updates the cluster immediately. We already talked about that.procedure, but never wrote that down; we should do that.

[2019-09-11 01:51] #1340 closed

[2019-09-16 17:18] adrcunha commented on #1269
Current prow-tests image contains a `ko` version that includes the fix above:

https://storage.googleapis.com/knative-prow/logs/ci-knative-serving-continuous/1173630354808901632/build-log.txt

[code]

Using `ko://` paths is now safe for all jobs running on Prow.

[2019-09-16 17:18] #1269 closed

[2019-09-18 21:49] chaodaiG opened #1362 "Failed listing file changes in presubmit tests"
Presubmit tests depend on file changes info for determining whether certain tests need to be ran or not. i.e. no test is needed for documentation only PRs. Observed failure of listing file changes due to rate limit in this [job](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/5589/pull-knative-serving-unit-tests/1174435093909868547):
[code]

It should be fixed by authen

[2019-09-18 23:54] coryrc opened #1364 "Staging mechanism for new prow-tests images"
Problem: No good or documented way to test new prow-tests images.

Solution:
Building on https://github.com/knative/test-infra/issues/329, add an optional presubmit using an alpha tagged prow-tests image, change a CI flow to use a beta-tagged image, and document the procedure.

[2019-09-18 23:56] coryrc commented on #1364
/assign

[2019-09-19 14:55] adrcunha commented on #1364
Don't change a CI flow. Instead, create a new one that exercises the components/tools. Add tests as necessary.

[2019-09-19 19:08] vagababov opened #1366 "Switch default to Go1.13"
Hi,
now that Go 1.13 has been out for some time and we've talked to the others on the TOC meeting and there were no blockers, so let's update to it!

[2019-09-19 19:08] vagababov commented on #1366
/assign @chaodaiG @adrcunha

[2019-09-19 19:10] chaodaiG commented on #1366
Go1.13 doesn't work with all old release branches, can we cherry pick the fix into old releases?

[2019-09-19 19:13] adrcunha commented on #1366
Using Go 1.13 requires a new prow-tests image. What about using the current image (with Go 1.12) for old releases, instead?

[2019-09-19 19:14] chaodaiG commented on #1366
I'm good with jobs using different images. Just to be clear, do we want go1.12 or go1.13 for release-0.9 branch? @vagababov

[2019-09-19 19:50] eallred-google opened #1368 "Add Issue / Pull Request Lifecycle Management to Docs Repo"
Add issue / Pull Request Lifecycle Management to knative/docs repo

Stale = 90 days
Rotten = Stale + 30 days
Close = Rotten + 30 days

Details outlined in [proposal doc](https://docs.google.com/document/d/15sqqVxOGAXLNEDFp777NWIpevwrSMYbGQABFLNqiq5Q/edit#)

[2019-09-19 20:06] adrcunha commented on #1368
The config generator needs to be updated to handle per-repo jobs, as well as per-repo settings for the deadlines. I also would like the messages to be updated to reflect those in the proposal doc.

@Fredy-Z can you work on this? Not urgent, but also shouldn't be a hard task.

/assign @Fredy-Z
/label kind/project-support

[2019-09-19 20:39] adrcunha commented on #1294
stats.knative.dev is now down.

[2019-09-19 21:01] vagababov commented on #1366
No, 1.13 only going forward (.10 and later)

On Thu, Sep 19, 2019 at 12:14 PM chaodaiG <notifications@github.com> wrote:

[2019-09-20 03:03] adrcunha commented on #479
Obsolete due to https://github.com/knative/test-infra/issues/1294

/close

[2019-09-20 03:03] #479 closed

[2019-09-20 03:03] adrcunha commented on #478
Obsolete due to https://github.com/knative/test-infra/issues/1294

/close

[2019-09-20 03:03] #478 closed

[2019-09-20 04:09] adrcunha commented on #1294
Redirection is now up: https://stats.knative.dev.

/close

[2019-09-20 04:09] #1294 closed

[2019-09-20 15:13] #1362 closed

[2019-09-20 15:30] chaodaiG opened #1374 "Flaky test reporter reports severity of flakiness in Slack"
Active flaky tests are reported as a list in Slack, provides a nice overview of which tests are flaky, but it's still not easy to determine how bad it is without clicking any link. It would be nice to show the severity of each test, for example failed 6/10 runs, or grade based on ratio such as low: 1-2, medium: 3-5, bad: 6-9, failed: 10

[2019-09-20 15:35] chaodaiG opened #1375 "Flaky test reporter also scans presubmit tests"
Currently flaky test reporter only scans periodic jobs, which run every 2 hours, so only 10 latest runs got scanned. This causes the result often not up-to-date and tend to miss some of the flaky tests (Can be found out by how many times manual /retest made the tests pass). The result doesn't necessarily need to be included in Github/Slack reports, but for sure will make flaky-test-retryer much mo

[2019-09-20 16:19] adrcunha opened #1376 "Update TestGrid"
Go 1.9 is deprecated on AppEngine, we need to update TestGrid FE to avoid it stop working in the future.

/assign
/label kind/enhancement

[2019-09-20 16:20] adrcunha commented on #1376
Blocked on internal issue 141342468.

[2019-09-20 20:31] coryrc opened #1379 "Update testing image to have `kail` installed"
We try to install `kail` here:
https://github.com/knative/serving/blob/5407c07d2f247032ddcbebf2f6048eb73eb70857/test/e2e-common.sh#L344

but it should be pre-installed in the test image.

This tool is used to collect logs.

I need to
1. Update the test image
2. Publish updated test image
3. Update this code to not attempt to install kail

/assign

[2019-09-22 23:28] Fredy-Z opened #1383 "Flaky test retryer reacts slowly to failed presubmit tests"
Sometimes the flaky test retryer takes a few minutes to make comments on the PR after presubmit tests failed.

One example can be seen at https://github.com/knative/serving/pull/5623.

From the [stackdriver logs](https://pantheon.corp.google.com/logs/viewer?interval=NO_LIMIT&project=knative-tests&minLogLevel=0&expandAll=false&timestamp=2019-09-22T21:50:04.762146215Z&customFacets=&limitCustomFacetW

[2019-09-23 19:04] chaodaiG commented on #1383
Thanks @Fredy-Z , I have investigated once with @yt3liu , and we noticed that the latency between jobs failed and pubsub message isn't very long(less than 1 minute), so there must be some other activities going on that prevented retryer from reacting fast.

[2019-09-24 17:54] #1368 closed

[2019-09-24 17:59] chaodaiG commented on #1383
So after some investigation I believe the bottleneck is in prow/crier, as we only have 1 pubsub-worker configured for crier. After updating pubsub-worker to 5 in #1392, the problem seemed fixed.
Examples:
https://github.com/knative/serving/pull/5339
https://github.com/knative/serving/pull/5655

[2019-09-24 18:01] Fredy-Z commented on #1383
Nice 👍

[2019-09-24 18:02] adrcunha commented on #1368
@Fredy-Z please sync up with the oncall to update the Prow config and enable the new jobs.

[2019-09-24 18:14] chaodaiG commented on #1383
Have checked a few other runs of flaky test retryer, the latency is down to less than 1 minute for all. Mark this issue as fixed.

/close

[2019-09-24 18:14] #1383 closed

[2019-09-24 18:34] coryrc commented on #1364
We discussed in person; plan is new presubmit same as CI master branch, then CI master branch using the image.

[2019-09-24 18:45] Fredy-Z commented on #1375
One of my concern for this proposal is, since many (if not most) presubmit tests fail due to non-flaky tests, how do we make sure the data we collect will not pollute our golden data? We can probably only collect failed tests on the PRs' last commit before they are merged, but I'm not sure how doable it will be.

[2019-09-24 18:50] chizhg opened #1393 "Allow specifying cluster name in clustermanager library"
Right now by using the clustermanager library in https://github.com/knative/pkg/testutils/clustermanager to create a cluster, the cluster name is fixed and we don't have a way to manipulate it.

As requirements of Knative performance testing, we need to:
1. Create clusters with any names
2. Delete and recreate the cluster if it already exists

/cc @chaodaiG
/cc @adrcunha

[2019-09-24 18:51] Fredy-Z commented on #1393
/assign @chaodaiG
/kind feature

[2019-09-24 18:52] Fredy-Z commented on #1393
/kind project-support

[2019-09-24 18:56] chaodaiG commented on #1375
@Fredy-Z , polluting our golden data for sure is a top concern in my mind as well. The solution in my mind is we should gather information in PR in a very strict way:
- Only compares runs that have identical source(myFork/serving myBranch) and base(knative/serving master branch) commits with each other
- Exclude runs that failed all tests
- Only tests that don't fail consistently are considered fl

[2019-09-24 19:07] adrcunha commented on #1379
Fixed by #1378.
/close

[2019-09-24 19:07] #1379 closed

[2019-09-24 19:12] adrcunha commented on #1364
So I don't get confused again about this:

* new presubmit job uses "alpha" image;
* test-infra CI flow uses "beta" image;
* everyone else uses "prod" image;

[2019-09-24 21:42] chaodaiG commented on #1393
I think the last sentence revealed a bug

[2019-09-25 16:41] coryrc commented on #1364
Oh, as another part of modifying the config generator, may want the ability to leave old releases on an old image (f.ex. updating to go 1.13 would break releases pre-0.9), but I won't actually set an old image at this time.

[2019-09-25 17:17] JRBANCEL opened #1398 "Use explicit flags to specify gateway to use in E2E tests"
Today, the E2E tests only support Gloo and Istio.
If GLOO_VERSION  is not specified, it is assumed Istio should be used.
This is not future proof and not very solid.

I propose to use `--istio-version` and `-gloo-version` instead and not assume anything.

/assign

[2019-09-25 17:52] chaodaiG opened #1399 "Improve efficiency of test resources cleanup tool"
Left over test resources such as test images are cleaned up with a [cleanup tool](https://github.com/knative/test-infra/tree/master/tools/cleanup) that runs weekly, which has been having trouble catching up cleaning up as we have expanded Boskos pool from 20 to 75 projects since the tool was implemented.

The performance of the tool is not ideal as it's running cleaning up in sequential order, whi

[2019-09-25 18:17] adrcunha commented on #1399
/assign @adrcunha

[2019-09-25 20:09] chaodaiG opened #1403 "Monitoring Prow maintenance jobs for consistent failures and staleness"
So far we have a few maintenance Prow jobs that are doing some important tasks, which are either unmonitored or manually monitored. It would be nice if we can extend monitoring to also monitor these maintenance jobs to make sure they are not consistently failing or become stale.

An nonexhaustive list of maintenance jobs:
- test resources cleanup job: https://prow.knative.dev/?job=ci-knative-clean

[2019-09-25 20:09] chaodaiG commented on #1403
FYI @srinivashegde86 as we talked about it in person

[2019-09-26 18:05] eallred-google commented on #1368
I added the lifecycle/stale, lifecycle/rotten, and lifecycle/frozen labels to the Docs repo.

[2019-09-27 17:42] #1393 closed

[2019-09-27 17:57] #1403 closed

[2019-09-27 18:06] srinivashegde86 commented on #1041
We are using  a different perf infra and this is not used anymore.

[2019-09-27 18:06] #1041 closed

[2019-09-27 18:07] srinivashegde86 commented on #595
Using a difference perf infra now. We dont need this anymore

[2019-09-27 18:07] #595 closed

[2019-09-27 18:08] srinivashegde86 commented on #556
Using mako to show all benchmarks. We dont need to create a new one for now.

[2019-09-27 18:08] #556 closed

[2019-09-27 18:08] srinivashegde86 commented on #555
We are working with the various repos to build benchmarks specific to them. We dont need an issue in test-infra for this

[2019-09-27 18:08] #555 closed

[2019-09-27 18:08] srinivashegde86 commented on #522
Using a difference perf infra now. We dont need this anymore

[2019-09-27 18:08] #522 closed

[2019-09-27 18:09] srinivashegde86 commented on #521
Using a difference perf infra now. We dont need this anymore

[2019-09-27 18:09] #521 closed

[2019-09-27 18:09] srinivashegde86 commented on #519
Using a difference perf infra now. We dont need this anymore

[2019-09-27 18:09] #519 closed

[2019-09-27 18:09] srinivashegde86 commented on #518
Using a difference perf infra now. We dont need this anymore

[2019-09-27 18:09] #518 closed

[2019-09-27 18:09] srinivashegde86 commented on #517
Using a difference perf infra now. We dont need this anymore

[2019-09-27 18:09] #517 closed

[2019-09-27 18:13] adrcunha commented on #1080
/lifecycle stale

[2019-09-27 18:14] adrcunha commented on #1080
@chizhg the `/lifecycle` command in the comment from the robot wasn't recognized. I wonder why.

[2019-09-27 18:15] adrcunha commented on #1080
/remove-lifecycle stale

[2019-09-27 18:15] adrcunha commented on #318
/lifecycle stale

[2019-09-27 18:16] adrcunha commented on #400
@steuhs isn't this done?

[2019-09-27 18:16] adrcunha commented on #690
/assign @adrcunha

[2019-09-27 18:17] adrcunha commented on #1060
/close

[2019-09-27 18:17] #1060 closed

[2019-09-27 20:30] adrcunha commented on #770
/close

[2019-09-29 05:34] chizhg opened #1413 "ISSUE TEST"
TEST

[2019-09-29 05:34] chizhg commented on #1413
/lifecycle stale

[2019-09-29 05:35] chizhg commented on #1413
/lifecycle rotten

[2019-09-29 05:36] #1413 closed

[2019-09-29 05:38] chizhg commented on #1413
--comment=Issues go stale after 90 days of inactivity.\n
        Mark the issue as fresh by adding the comment `/remove-lifecycle stale`.\n
        Stale issues rot after an additional 30 days of inactivity and eventually close.\n
        If this issue is safe to close now please do so by adding the comment `/close`.\n\n
        Send feedback to [Knative Productivity Slack channel](https://knative

[2019-09-29 05:38] chizhg commented on #1413
/lifecycle stale

[2019-09-29 05:39] chizhg commented on #1413
/remove-lifecycle stale

[2019-09-29 05:39] chizhg commented on #1413
Issues go stale after 90 days of inactivity.\n
Mark the issue as fresh by adding the comment /remove-lifecycle stale.\n
Stale issues rot after an additional 30 days of inactivity and eventually close.\n
If this issue is safe to close now please do so by adding the comment /close.\n\n
Send feedback to Knative Productivity Slack channel or file an issue in knative/test-infra.\n\n
/lifecycle stale

[2019-09-29 22:00] chizhg commented on #1413
/remove-lifecycle stale

[2019-09-29 22:15] chizhg commented on #1413
/lifecycle stale

[2019-09-29 22:15] chizhg commented on #1413
/remove-lifecycle stale

[2019-09-29 22:25] chizhg commented on #1413
/remove-lifecycle stale

[2019-09-30 15:52] coryrc commented on #1364
Don't forget to update the playbook as well

[2019-09-30 18:38] chaodaiG commented on #1366
FYI @vagababov , it's done

[2019-09-30 19:59] vagababov commented on #1366
Thanks!

[2019-10-01 14:32] adrcunha commented on #1090
Currently all oncallers have the required permissions through a custom role, without the need of being owners OR a custom service to admin that. I consider this fixed.

/close

[2019-10-01 14:32] #1090 closed

[2019-10-01 21:09] chizhg commented on #1413
/auto:perf

[2019-10-01 21:09] chizhg commented on #1413
/auto perf

[2019-10-01 21:09] chizhg commented on #1413
/label auto:perf

[2019-10-01 21:10] chizhg commented on #1413
/meow

[2019-10-01 21:11] chizhg commented on #1413
/label

[2019-10-01 21:21] chizhg commented on #1413
/auto perf

[2019-10-01 21:21] chizhg commented on #1413
/auto:perf

[2019-10-01 21:25] knative-test-reporter-robot opened #1424 "[performance] TEST PURPOSE ONLY"
### Auto-generated issue tracking performance regression
* **Test name**: TEST PURPOSE ONLY

[2019-10-01 21:25] chizhg commented on #1424
/close

[2019-10-01 21:25] #1424 closed

[2019-10-02 20:59] steuhs commented on #400
https://github.com/knative/test-infra/blob/master/tools/coverage/README.md

[2019-10-02 20:59] #400 closed

[2019-10-03 18:38] adrcunha commented on #1383
/label kind/enhancement

[2019-10-03 18:39] adrcunha commented on #1383
/label bug

[2019-10-03 18:40] adrcunha commented on #1242
/label kind/enhancement

[2019-10-04 12:59] adrcunha commented on #770
Closed

[2019-10-07 22:21] coryrc commented on #1364
And, not test-infra CI flow using beta, knative/serving master CI flow uses beta image. It's the same test that is run in the new presubmit.

test-infra doesn't do enough interesting work to serve as a valid test case.

[2019-10-07 23:16] adrcunha commented on #1364
We don't want to use knative/serving as a guinea pig. If test-infra doesn't have good enough test cases for the image, add new ones, even if they're used exclusively by the beta flow.

[2019-10-07 23:58] coryrc commented on #1364
The presubmit runs in knative/serving. It runs the exact same job as CI master branch. There's no reason for it to fail, and it will be easy to revert.

We currently have no testing. This is better.

[2019-10-08 00:05] adrcunha commented on #1364
Almost. The CI job runs everything in sequence.

Famous last words. 🤣 It's even easier and more contained if we use test-infra.

We do have testing, and they're meant to test the infrastructure, not Knative. If they're not enough for the prow-tests image, this is yet another reason to add more tests.

[2019-10-09 07:03] rakelkar opened #1451 "Support publish to azure"
The release script currently requires gcs/gcr.. add an option to publish artifacts to acr/blob so that knative can be built and consumed on azure directly

[2019-10-10 17:20] adrcunha commented on #1451
/assign @rakelkar

[2019-10-10 17:21] adrcunha opened #1454 "Tide is not working for knative/website anymore"
See https://github.com/knative/website/pull/97#issuecomment-540265926

[2019-10-10 17:29] adrcunha commented on #1454
The reason is that after https://github.com/knative/test-infra/pull/1412 only repos with presubmits have tide enabled.

[2019-10-10 18:01] #1454 closed

[2019-10-16 00:49] adrcunha commented on #678
/remove-lifecycle stale

[2019-10-16 21:52] chaodaiG opened #1469 "Monitoring pubsub based services over pubsub messages using stackdriver"
We have a few tools running as standalone services on monitoring k8s cluster, such as flaky test retryer and monitoring tool, which by themselves are not monitored, and we wouldn't know about them fail even if they haven't been running for quite a while. Since these 2 tools both consume pubsub messages, the pubsub messages will not be acked if the services are not working. So we can use stackdrive

[2019-10-17 03:10] nicoaragon commented on #1469
1) message age per topic: When P99 message age is older than threshold "X", this means your service is too slow to drain the queue and might have stopped running.

2) queue depth per topic: When there are more than "K" messages queued, this means your service is not draining the queue and might have stopped running.

Tweaking "X" and "K" will configure alarm sensitivity (increase/decrease accuracy

[2019-10-18 00:01] yt3liu commented on #1168
/remove-lifecycle stale

[2019-10-18 16:14] adrcunha commented on #1180
Staging cluster lives in https://prow-staging.knative.dev with configs in /ci/prow/staging

/close

[2019-10-18 16:14] #1180 closed

[2019-10-18 17:46] chaodaiG commented on #1469
Have played with my test project, and the alerting for queue depth works great! Thanks a lot for the tips. I somehow had trouble figuring out the query for P99 message, any pointer would be appreciated.

[2019-10-19 00:27] adrcunha commented on #414
/remove-lifecycle stale
/label lifecycle-frozen
/unassign
/label good-first-issue

[2019-10-19 00:29] adrcunha commented on #1166
@yt3liu is this worth working on?

[2019-10-19 00:30] adrcunha commented on #1469
/label monitoring
/assign @chaodaiG

[2019-10-22 18:18] adrcunha commented on #1469
I was able to remove the project from such workspace and add it to knative-tests. I'm now able to access it. Please try again.

[2019-10-22 20:32] chaodaiG commented on #1469
Great! Monitoring for `monitoring` app and `flaky-test-retryer` app is set up here: https://app.google.stackdriver.com/policies/15844359308756244434?project=knative-tests

I would consider this task completed
/close

[2019-10-22 20:32] #1469 closed

[2019-10-24 17:35] chaodaiG commented on #1168
Done by https://github.com/knative/test-infra/issues/1469
/close

[2019-10-24 17:35] #1168 closed

[2019-10-24 17:36] chaodaiG commented on #1186
I think I can close this issue as it's feature complete, WDYT? @adrcunha

[2019-10-24 17:50] adrcunha commented on #1186
Sure. Thanks for all the work.

/close

[2019-10-24 17:50] #1186 closed

[2019-10-25 22:39] adrcunha opened #1492 "Tide is not working for knative/community"
/assign

[2019-10-25 22:39] adrcunha commented on #1492
Just like #1454

[2019-10-25 23:42] #1492 closed

[2019-10-27 18:28] chizhg opened #1494 "Monitoring should only handle failed jobs or be configurable"
According to the logic in https://github.com/knative/test-infra/blob/027b4ff36fdb3a671f12e4fb1d386a742ee12183/tools/monitoring/alert/alert.go#L61, monitoring is handling all Prow jobs (parse the build log, match the error pattern, decide if alert needs to be sent, etc.), it can easily overload the service.

We should only handle failed jobs. If we do need to handle some normal jobs for specific re

[2019-10-27 18:29] chizhg commented on #1494
/label bug

[2019-10-27 18:30] chizhg commented on #1494
/label kind/bug

[2019-10-27 18:31] chizhg commented on #1494
/label bug

[2019-10-27 18:43] chizhg opened #1495 "Monitoring should use scanner to read the build log, instead of directly read it all"
In https://github.com/knative/test-infra/blob/027b4ff36fdb3a671f12e4fb1d386a742ee12183/tools/monitoring/alert/alert.go#L70, the tool is reading the full build log directly into memory, since the build log can be very large (e.g. more than 10,000 lines for serving integration test), it will easily drain the memory.

We should use `bufio` to read the file, match the regexes line by line, and stop as

[2019-10-27 18:50] chizhg opened #1496 "Monitoring should filter the patterns for the job first, then try the match"
In https://github.com/knative/test-infra/blob/027b4ff36fdb3a671f12e4fb1d386a742ee12183/tools/monitoring/log_parser/log_parser.go#L44, the parser is trying to find matches in the build log with ALL patterns added in the `config.yaml` file, but most of them are unnecessary since they are not related to this job.

Before matching, we should filter error patterns that are configured for the job, then

[2019-10-29 03:20] chizhg commented on #1495
/assign @steuhs

[2019-10-29 03:20] chizhg commented on #1496
/assign @steuhs

[2019-10-29 16:09] adrcunha commented on #1375
/unassign

[2019-10-29 16:14] adrcunha commented on #821
/remove-lifecycle stale

[2019-10-29 16:16] adrcunha commented on #214
/cc @eallred-google

[2019-10-29 16:25] #1398 closed

[2019-10-29 20:45] steuhs commented on #1494
Fixed by https://github.com/knative/test-infra/pull/1501.
Need to build and use new image after the change

[2019-10-29 20:50] steuhs commented on #1495
For wild card matching every line (.*), I agree we should stop as long as we find a match. However, a build log may contain multiple error patterns we care about and I don't think we should stop after we find the first one

[2019-10-30 04:04] chizhg opened #1505 "Set up cherrypick plugin"
There is a plugin in Prow called [CherryPicker](https://github.com/kubernetes/test-infra/tree/master/prow/external-plugins/cherrypicker). If it's enabled, users can add a comment like `/cherrypick release-1.10` under a PR, the plugin will create a new PR against that branch after the PR is merged. This plugin seems to be very useful especially for knative/docs repo.

[2019-10-30 04:04] chizhg commented on #1505
/kind enhancement

[2019-10-30 18:09] steuhs opened #1506 "Monitoring should not report all lines in the email when pattern ".*" is used"
Monitoring currently report all occurrences of an error pattern in a build log. It works as desired for regular patterns with concrete content. However, when the pattern ".*" is used, it will report all lines in the build log - it costs storage and traffic, and distracts reader.

[2019-10-30 19:16] chizhg commented on #1506
I think we can make ".*" as the default configuration, if it's being specified, we skip the matching process.

[2019-10-30 21:19] steuhs commented on #1494
Image updated and deployed https://github.com/knative/test-infra/pull/1504

[2019-10-30 21:21] steuhs commented on #1494
/close

[2019-10-30 21:21] #1494 closed

[2019-11-01 03:08] adrcunha commented on #1196
/remove-lifecycle stale

[2019-11-01 03:09] adrcunha commented on #1192
/remove-lifecycle stale

[2019-11-01 03:09] adrcunha commented on #1190
/remove-lifecycle stale

[2019-11-01 03:09] adrcunha commented on #1185
/remove-lifecycle stale

[2019-11-01 03:09] adrcunha commented on #1183
/remove-lifecycle stale

[2019-11-01 19:22] chizhg opened #1513 "Alert was not sent after the number of job failures pass the threshold"
We have configured monitoring for performance testing related Prow jobs, but when it failed for multiple times (more than the threshold set in the configuration file),  no alert was sent.

Job history: https://prow.knative.dev/?job=ci-knative-eventing-update-clusters&state=failure
Config: https://github.com/knative/test-infra/blob/89cde81f6a2bba89d07b85fec67086cafac6ce26/tools/monitoring/config/co

[2019-11-03 16:16] nak3 opened #1516 "Pod name in artifacts/k8s.log.txt is not consistent with buid-log.txt and k8s.dump.txt"
TL;DR: In short, k8s.log.txt does not have correct pod logs in test grid.

k8s.dump.txt has `scale-to-n-scale-10-0-fwxgxqlo` in the log.
build-log.txt also has `scale-to-n-scale-10-0-fwxgxqlo` in the log.
__BUT__
k8s.log.txt has `scale-to-n-scale-10-0-afboppjo` in the log.

---
For example, download artifacts from https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-istio-1.2-no-

[2019-11-03 23:46] adrcunha commented on #1516
TestGrid points to the same artifacts that Spyglass shows, so it's not TestGrid's fault.

k8s.log.txt and k8s.dump.txt are generated differently, and k8s.log.txt is specific to Knative serving:

* k8s.dump.txt is generated by https://github.com/knative/test-infra/blob/e7ee6c7ed4f4ff1c24902e714d874310db23cf36/scripts/e2e-tests.sh#L97
* k8s.log.txt is generated by https://github.com/knative/serving/

[2019-11-04 23:14] #1513 closed

[2019-11-05 14:58] adrcunha commented on #1399
I'm running the cleanup script locally to get rid of the backlog quicker. After that, with 1523 merged, the cleanup job shouldn't timeout anymore (some fine tuning might be necessary though, but the logs will tell).

[2019-11-05 15:12] chaodaiG opened #1524 "flaky-test-retryer commented on PR closed long time ago"
Background: flaky-test-retryer is a pubsub based tool, sends alert when a presubmit job failed due to flaky test

Expected: auto comment on PR only when a presubmit job failed, and the latency should be within 1 minute.

Actual: there was an auto comment appeared on a PR close more than 5 days: https://github.com/knative/serving/pull/5908#issuecomment-549620493

[2019-11-05 15:12] chaodaiG commented on #1524
+ @chizhg since he first discovered the problem

[2019-11-06 01:11] chizhg opened #1526 "Prevent monitoring release from being broken"
Monitoring nightly release job released a broken artifact on Nov. 4, 2019, which broke eventing e2e tests and blocked all PRs:
[code]

Though we don't have any e2e tests for monitoring, we can at least `kubectl apply -f ${MONITORING_YAML}` to make sure it can be installed.

There are two things we need to do for this task:
- [ ] Similar as `start_knative_serving`, add a function `start_knative_mon

[2019-11-06 01:43] chizhg opened #1528 "Consider a way to automatically retrigger stuck presubmit jobs"
During the down time of Prow or Github, if someone creates a PR, the presubmit jobs will be stuck in `wait for status to be reported` state, and won't be automatically triggered after everything is recovered.

Users can type `/retest` or `git push` to get these jobs started, but it would be nice if they can be automatically handled in the failover process.

[2019-11-07 02:54] adrcunha commented on #1188
/remove-lifecycle stale

[2019-11-07 18:04] adrcunha commented on #1528
This should be moved to kubernetes/test-infra, as it's Prow-specific.

[2019-11-07 18:05] adrcunha commented on #1526
/assign @chizhg

[2019-11-07 18:10] adrcunha commented on #1399
Fun fact: if you run the cleanup tool locally, it will reach the registry quota (500K HTTP requests/day) in a day or two (https://cloud.google.com/container-registry/quotas)

[2019-11-07 18:19] chaodaiG commented on #1399
Curious about Prow ip address, is it different per pod or there is a global
limit for Prow

On Thu, Nov 7, 2019 at 10:10 AM Adriano Cunha <notifications@github.com>
wrote:

[2019-11-07 18:27] adrcunha commented on #1399
Please note that this is about running the tool locally, i.e., on your own workstation.

[2019-11-07 18:33] chaodaiG commented on #1399
noted. The question was more a concern of whether the period cleanup job would also resulted in the quota limit problem. I have seen a really bad quota limit where it restart the timer even with a single query, and hopefully this one is not the case

[2019-11-07 18:50] adrcunha commented on #1399
Unfortunately the answer is "yes", because it's a single job (not sure about restarting the quarantine period). Proof at the end of the log: https://00e9e64bac8a874e2dfb250f02aceca14d0ba5502d236b32f1-apidata.googleusercontent.com/download/storage/v1/b/knative-prow/o/logs%2Fci-knative-cleanup%2F1189602484583141376%2Fbuild-log.txt?qk=AD5uMEt_mOHltxV11m0413_M4be1tSCX7BL3yRsWR9QaoWN24eZG_xxiXezD-SSTt0

[2019-11-07 22:18] chizhg commented on #1528
Make sense, created https://github.com/kubernetes/test-infra/issues/15178.
/close

[2019-11-07 22:18] #1528 closed

[2019-11-08 02:47] chizhg opened #1533 "Intermittently getting "boskos failed to acquire project" error"
For the integration tests Prow jobs, we intermittently got "boskos failed to acquire GKE project" error:
[code]

Expanding boskos pool to 100 (https://github.com/knative/test-infra/pull/1529) does not seem to have solved this problem.

Based on the discussion, @chaodaiG has a suspicion that it's because there is a race condition for compute resources between boskos pods and test pods since they ar

[2019-11-13 20:21] grantr opened #1542 "No dot release for 0.10 due to ordering"
The eventing-dot-release run yesterday thought the most recent release branch was `release-0.9`, ignoring `release-0.10` because it was sorted earlier:

[code]

This seems to block any 0.10.1 release.

/cc @adrcunha

[2019-11-13 20:23] adrcunha commented on #1542
I thought this has been solved, let me take a look.

[2019-11-13 20:25] adrcunha commented on #1542
https://github.com/knative/test-infra/pull/1377 fixed that for auto releases, but not dot releases.

[2019-11-13 20:26] grantr commented on #1542
Great, seems like a simple fix.

[2019-11-13 22:39] adrcunha commented on #1542
Fix is in, releases built manually, waiting for the remaining PRs to be merged before closing this issue.

[2019-11-14 18:07] yt3liu commented on #1542
For eventing-operator, the required test-infra changes is merged in another PR: https://github.com/knative/eventing-operator/pull/32/files

[2019-11-15 19:13] adrcunha commented on #1542
All PRs merged.
/close

[2019-11-15 19:13] #1542 closed

[2019-11-19 18:01] RJPercival opened #1553 "Consider merging dep-collector with go-licenses"
There's a very similar tool to dep-collector called [go-licenses](https://github.com/google/go-licenses). It might be best to merge the two together to reduce maintenance burden.

[2019-11-22 18:57] adrcunha commented on #1553
@mattmoor WDYT, as the author of dep-collector?

[2019-11-24 14:50] mattmoor commented on #1553
Fine by me

[2019-11-25 16:58] chaodaiG opened #1556 "Prow-tests image uses versioned tags instead of "stable""
`prow-tests` image is used for most of Prow jobs for Knative repos, currently `stable` tag is used for locating image, such as: https://github.com/knative/test-infra/blob/fad831028edbe066665977ea7bf366c3d5c0a2d1/ci/prow/config.yaml#L226

This approach works pretty well initially as it allowed fast recovery when certain image doesn't work well, but due to increased complexity of Knative repos the o

[2019-11-25 18:49] chaodaiG opened #1557 "prow-tests image update fails knative-serving integration tests"
After upgrading the tools in prow-tests, knative serving integration tests are not setup correctly and fails due to:
[code]

Test PR in OSS: https://github.com/knative/serving/pull/6089
Spyglass link: https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_serving/6089/pull-knative-serving-integration-tests/1197947484156989440

The most likely culprit that breaks the test-infra is ko u

[2019-11-27 20:06] chaodaiG opened #1560 "Investigate unit test flakiness in serving"
Recently there are multiple occurrence of unit test flakiness happening in serving repo, and the tests showed up as being flaky are not always the same. This possibly is due to test resources problem, i.e. competing cpu resources among pods caused some jobs getting low cpu allocated and caused test timed out.
Need to do a through investigation and figure out how to properly fix it if it's the case

[2019-11-28 13:47] navidshaikh opened #1561 "Incorrect return status from default_build_test_runner"
client is [using](https://github.com/knative/client/blob/master/test/presubmit-tests.sh#L51) default build test runner, which failed/stopped [here](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/523/pull-knative-client-build-tests/1200012590198034432#1:build-log.txt%3A449) on `go: error loading module requirements` and no sub-tests (codegen, licenses) ran further. This

[2019-12-02 19:15] adrcunha commented on #1561
While it's correct that the build tests should be aborted and no further tests run if a module loading error happens, post_build_tests shouldn't run as well.

[2019-12-02 19:19] adrcunha commented on #1557
Since this issue is 7 days old, I assume the prow-tests image was rolled back?

[2019-12-02 19:20] adrcunha commented on #1376
Not blocked on internal issue anymore.

[2019-12-02 19:22] adrcunha commented on #1196
Due to changes in priorities, we're deprecating this work. This is most likely to be obsolete and replaced by something else yet to be defined.

/close

[2019-12-02 19:22] adrcunha commented on #1192
Due to changes in priorities, we're deprecating this work. This is most likely to be obsolete and replaced by something else yet to be defined.

/close

[2019-12-02 19:22] #1192 closed

[2019-12-02 19:22] #1196 closed

[2019-12-02 19:23] adrcunha commented on #1190
Due to changes in priorities, we're deprecating this work. This is most likely to be obsolete and replaced by something else yet to be defined.

/close

[2019-12-02 19:23] #1190 closed

[2019-12-02 19:23] adrcunha commented on #1188
Due to changes in priorities, we're deprecating this work. This is most likely to be obsolete and replaced by something else yet to be defined.

/close

[2019-12-02 19:23] #1188 closed

[2019-12-02 19:23] adrcunha commented on #1185
Due to changes in priorities, we're deprecating this work. This is most likely to be obsolete and replaced by something else yet to be defined.

/close

[2019-12-02 19:23] #1185 closed

[2019-12-02 19:23] adrcunha commented on #1183
Due to changes in priorities, we're deprecating this work. This is most likely to be obsolete and replaced by something else yet to be defined.

/close

[2019-12-02 19:23] #1183 closed

[2019-12-02 19:42] adrcunha commented on #1561
The cause is a bit more subtle. Offending line is

https://github.com/knative/test-infra/blob/2c4cd9df33c648a86d95bdd4119386cba04cde56/scripts/presubmit-tests.sh#L161

It seems that `go list` is failing, thus returning no content, which causes the function to return, but since no test failed so far (and at this point the only test run was the markdown test) it returns success.

[2019-12-03 03:16] navidshaikh commented on #1561
Another thing wanted to discuss is, client uses `default_build_test_runner` which performs multiple steps, markdown, `go build`, etc, we'd like to be able to customize the `go build` [step](https://github.com/knative/test-infra/blob/2c4cd9df33c648a86d95bdd4119386cba04cde56/scripts/presubmit-tests.sh#L167) or use it as a separate function which supports args, specifically would like to call `go bui

[2019-12-03 05:22] adrcunha commented on #1561
If you just want `-mod=vendor` in `go build`, I suggest you add such feature to the base script. If you prefer having your custom build step, see step 2 in https://github.com/knative/test-infra/blob/master/scripts/README.md#using-the-presubmit-testssh-helper-script

[2019-12-03 05:40] navidshaikh commented on #1561
Thanks!, I checked the step 2 in docs, would like to keep and re-use other useful checks base script has of `IS_DOCUMENTATION_PR`, markdown, codegen, license etc but just adjust the parameters of `go build`.

Alright! :+1:

[2019-12-03 12:44] daisy-ycguo opened #1566 "Question: any plan to add `start_knative_eventing` to test-infra?"
I would like to enable e2e test for eventing in Client project, refer to https://github.com/knative/client/issues/531. I want to know if there is any methods I can leverage in test-infra to start eventing infrastructure. If no, are there any plans to add it ?

[2019-12-03 17:43] adrcunha opened #1568 "Remove support to --emit-metrics"
This flag was used in the E2E tests to display verbose latency metrics that were collected by a daily job. Such job is long gone, and we now have performance tests in place that do a way better job.

This is safe to remove from all knative repos.

[2019-12-03 18:27] #1561 closed

[2019-12-03 20:39] adrcunha commented on #1376
TestGrid is up-to-date.

/close

[2019-12-03 20:40] #1376 closed

[2019-12-03 21:12] adrcunha commented on #1566
No plans, feel free to add it. I imagine something along the lines of start_knative_serving, but @chizhg might be able to help/clarify.

[2019-12-03 22:02] chizhg commented on #1566
We don't have it in test-infra just because it is not reusable.
Now that we can reuse the function in both Knative client and eventing, there is a good reason to add.

Feel free to submit a PR for it, it should be just as simple as the one we now have for serving - https://github.com/knative/test-infra/blob/a130cd2df6c15aecdcb8be97f5579ed4532d19f9/scripts/library.sh#L410

[2019-12-04 15:41] lionelvillard opened #1572 "Add config for testing multitenant eventing"
Once this [PR](https://github.com/knative/eventing/pull/2180) is merged.

[2019-12-04 16:40] lionelvillard commented on #1572
/assign

[2019-12-05 01:28] #1566 closed

[2019-12-05 16:43] eallred-google opened #1573 "Investigate tools for dependency mapping across components"
Tooling to enhance the release process to show cross project component dependencies.  Show API changes that might impact dependent components.

[2019-12-05 16:49] adrcunha commented on #1573
Hopefully there's a generic tool for golang that could create such mapping.

[2019-12-05 16:51] adrcunha commented on #1572
Do you mean adding a new CI and/or presubmit flow for a new test?

[2019-12-05 17:27] lionelvillard commented on #1572
actually @chizhg suggested a better solution so this is not needed. Sorry I meant to close this one earlier.

[2019-12-05 17:27] #1572 closed

[2019-12-06 10:39] navidshaikh opened #1574 "Update prow config to enable go 1.13 for client"
client planning to move to go 1.13 https://github.com/knative/client/issues/532 ,
logging this to track changes needed at test-infra side.

[2019-12-06 13:01] navidshaikh opened #1575 "Enable nightly job of Tekton e2e tests for client"
We've Tekton-Knative e2e tests setup for client, per last WG call meeting we decided to run these e2e  tests only as (a) Nightly check (post usual nightly job) ~and (b) Pre-release check~.

This is to track configuring respective jobs at test-infra side.

[2019-12-06 23:55] adrcunha commented on #1575
I understand that (a) is a nightly job (running after the usual nightly release job), but it's not clear to me what (b) would be.

[2019-12-06 23:58] adrcunha commented on #1574
I believe that once https://github.com/knative/test-infra/pull/1558 is merged it's just a matter of merging 532 above and updating the Prow config.

[2019-12-07 15:14] navidshaikh commented on #1575
(b) Pre-release check - The validations tests ran before the auto-release, wanted to append these Tekton-Knative e2e tests to the default validations tests.
However, thinking about the kn image that will be used for these tests - the one configured is `gcr.io/knative-nightly/knative.dev/client/cmd/kn` (the last nightly built image, or even the one before if last nightly had failed) and the release

[2019-12-09 15:31] adrcunha commented on #1568
Not fully fixed yet, requires at least 1579 to be merged.

/reopen

[2019-12-09 18:22] #1568 closed

[2019-12-09 18:27] adrcunha opened #1580 "Add label config to Prow"
Currently `/label` understand only the default labels. From its help:

The label plugin provides commands that add or remove certain types of labels. Labels of the following types can be manipulated: 'area/*', 'committee/*', 'kind/*', 'language/*', 'priority/*', 'sig/*', 'triage/*', and 'wg/*'. More labels can be configured to be used via the /label command.

Extra labels can be configured through

[2019-12-10 15:29] chaodaiG commented on #1533
This is getting worse, it's happen pretty frequently now, see example: https://testgrid.knative.dev/serving#istio-1.4-no-mesh&width=20&exclude-non-failed-tests=50&sort-by-failures=

We should prioritize investigating and fixing this.

/assign @yt3liu

[2019-12-10 17:17] chaodaiG opened #1583 "Prow auto updater misses updates from Boskos related images"
Prow auto updater updates all major components of Prow weekly, such as this example: https://github.com/knative/test-infra/pull/1581

However, the Boskos images are not included in these auto bumping PRs, will need to figure out a way of including them

[2019-12-11 07:32] chizhg commented on #1533
The boskos image update did not fix the issue.

After looking into boskos source code, I'm pretty sure it falls into  https://github.com/kubernetes/test-infra/blob/0c5566a3f019399377910bed349c2c280f5539e8/boskos/ranch/ranch.go#L155 when the error happens. One step further, it is https://github.com/kubernetes/test-infra/blob/0c5566a3f019399377910bed349c2c280f5539e8/boskos/crds/crd_storage.go#L52.

[2019-12-11 11:38] navidshaikh commented on #1574
/close

Prow configured to use go 1.13 for client, thanks!

[2019-12-11 11:38] #1574 closed

[2019-12-11 15:13] chaodaiG commented on #1533
I figured this out too, looking into more info

[2019-12-11 16:53] chaodaiG commented on #1533
When I check this morning, the Boskos container in Prow cluster was still using the old image. There are 2 observations:
- Boskos is configured as statefulset, which needs more manual step adopting new image. See config here: https://github.com/knative/test-infra/blob/master/ci/prow/deployments/boskos_statefulset.yaml
- Boskos in k8s/test-infra was switched to deployment instead of statefulset in

[2019-12-11 17:53] yt3liu commented on #1533
In the Stackdriver logs, the first error started to happen in November 11, 2019.

First error in boskos container [[Stackdriver log]](https://pantheon.corp.google.com/logs/viewer?interval=NO_LIMIT&project=knative-tests&minLogLevel=0&expandAll=false&timestamp=2019-12-11T17:35:34.783000000Z&customFacets=&limitCustomFacetWidth=true&scrollTimestamp=2019-11-11T17:36:27.000000000Z&advancedFilter=resourc

[2019-12-11 19:36] eallred-google opened #1586 "Enable project plugin for docs repo"
Using the prow **/project Kn Client Docs** command in the docs repo to add an issue to a project is failing.

repro Steps
- open an issue in the docs repo
- /project 23
- results "Instructions for interacting with me using PR comments are available here. If you have questions or suggestions related to my behavior, please file an issue against the kubernetes/test-infra repository."

Sam has suffici

[2019-12-11 20:01] cardil opened #1587 "Rewrite test script to Golang"
## Proposal

I would like to propose to rewrite existing test scripts to Golang.

## Problem

Writing scripts in Bash is troublesome and many developers and testers struggle to write them. Bash scripts are hard to write as the language has its quirks (see https://github.com/koalaman/shellcheck/blob/master/README.md#gallery-of-bad-code as an example). Additional linters are needed to assert quality

[2019-12-12 00:46] coryrc commented on #1587
Several people are investigating solutions to this problem.

One big problem is e2e or conformance test CI run require a cluster created after a build succeeds, but they also need to run with an existing cluster in development. They also need to tear down the cluster after all tests are run (which run in multiple packages, so TestMain does not work) and process the output into JUnit. We use a numb

[2019-12-12 00:47] coryrc commented on #1556
Why not separate image names instead of separate tags?

[2019-12-12 00:49] coryrc commented on #1586
/assign @steuhs

[2019-12-12 19:02] adrcunha commented on #1586
It doesn't work because it's not configured for the docs repo:

https://github.com/knative/test-infra/blob/master/ci/prow/plugins.yaml#L50

[2019-12-12 19:50] adrcunha commented on #148
Reopening as this came up again in the TOC meeting today.

/reopen

[2019-12-13 17:10] chaodaiG commented on #1533
Updating Boskos to latest version fixed the problem

/close

[2019-12-13 17:13] #1533 closed

[2019-12-13 18:08] coryrc commented on #1556
I like :stable because it is trivial to rollback a broken change.

[2019-12-16 21:56] eallred-google opened #1593 "Add Issue / Pull Request Lifecycle Management to Serving Repo"
Add issue / Pull Request Lifecycle Management to knative/docs repo

Stale = 90 days
Rotten = Stale + 30 days
Close = Rotten + 30 days

Details outlined in [proposal doc](https://docs.google.com/document/d/15sqqVxOGAXLNEDFp777NWIpevwrSMYbGQABFLNqiq5Q/edit#)

[2019-12-16 22:03] eallred-google commented on #1593
added the following labels to Serving Repo
Label                     Description
lifecycle/stale        Flags lifecycle automation to ignore
lifecycle/rotten      lifecycle automation - stale + untouched for 30 days
lifecycle/frozen     lifecycle automation - untouched for 90 days

[2019-12-17 16:44] navidshaikh commented on #1575
In the current setup, the pre-release job would be same as the last nightly job run for Tekton tests.
So let's configure only nightly job for Tekton tests.

[2019-12-17 16:57] adrcunha commented on #1575
Sorry, this fell off my radar. So the idea is to run https://github.com/knative/client/blob/master/test/tekton-tests.sh at after 1:41AM PST (https://testgrid.knative.dev/client#nightly), say around 5AM PST?

[2019-12-17 17:05] navidshaikh commented on #1575
Yup, 5AM PST sounds good!

[2019-12-17 17:17] adrcunha commented on #1580
/label proposal/0.1

[2019-12-17 17:17] adrcunha commented on #1580
/label proposal

[2019-12-17 17:20] adrcunha commented on #1580
/label proposal/0.2

[2019-12-17 17:22] adrcunha commented on #1580
/label proposal/0.3

[2019-12-17 17:24] adrcunha commented on #1580
/label proposal/0.5

[2019-12-17 17:25] adrcunha commented on #1580
/label proposal/0.5

[2019-12-17 17:32] adrcunha commented on #1580
/label priority/0.5

[2019-12-17 17:32] adrcunha commented on #1580
/label priority 0.5

[2019-12-17 17:33] adrcunha commented on #1580
/label proposal/0.5

[2019-12-17 17:34] adrcunha commented on #1580
/label proposal/0.1

[2019-12-17 17:40] adrcunha commented on #1580
/label proposal/0.11

[2019-12-17 17:41] adrcunha commented on #1580
/label kind/enhancement

[2019-12-17 17:41] adrcunha commented on #1580
/kind enhancement

[2019-12-17 17:41] adrcunha commented on #1580
/proposal 0.11

[2019-12-17 17:41] adrcunha commented on #1580
/proposal 0.11

[2019-12-17 17:43] adrcunha commented on #1580
/label proposal/0.11

[2019-12-17 17:58] adrcunha commented on #1580
/label bla

[2019-12-17 18:13] adrcunha commented on #1580
The /label plugin help text led me to believe that a generic proposal/* handler could be added. I filed https://github.com/kubernetes/test-infra/issues/15628 noticing this inconsistency, but to avoid blocking this issue I added the proposal labels from 0.11 to 0.19 in #1594.

[2019-12-17 18:37] #1580 closed

[2019-12-19 22:46] #1593 closed

[2019-12-19 23:25] samodell commented on #1586
@adrcunha  It would be super helpful to have that implemented for the docs repo! We have contributors wanting to organize their work in our projects. Thanks for looking into the issue.

[2019-12-19 23:28] adrcunha commented on #1586
@samodell And what settings should be used?

[2019-12-19 23:33] samodell commented on #1586
I'd say any Knative org Member should be able to use /project to put issues/PRs into projects with Prow. Is that similar to what other repos are doing?

[2019-12-20 02:31] adrcunha commented on #1586
Sorry, I was thinking specifically about the plugins settings (https://github.com/knative/test-infra/blob/master/ci/prow/plugins.yaml#L55). Do you need extra columns? Is the default milestone team enough, or do you need to create a new one?

[2019-12-20 02:38] adrcunha commented on #1593
Prow config updated.

[2019-12-20 18:00] adrcunha commented on #1593
Jobs are running fine. Sample stale issue in serving:

https://github.com/knative/serving/issues/2452

Initial list of stale issues:

https://prow.knative.dev/log?job=ci-knative-serving-issue-tracker-stale&id=1207994091841785857

[2019-12-21 00:40] samodell commented on #1586
We could use https://github.com/orgs/knative/teams/knative-doc-writers for the team who will have access.

And the default column being "to do" is fine, like for eventing. Thanks! @adrcunha

[2019-12-21 00:42] samodell commented on #1586
Unless the Knative Doc Writers group has more permissions than I'm aware of -- maybe we should get a new group created. I can ask about it and get back to you.

[2019-12-21 03:21] adrcunha commented on #1586
Unfortunately I don't have permission to query the API to check the ID of knative-doc-writers. Someone from https://github.com/orgs/knative/teams/knative-admin should be able to do that (as explained in https://github.com/knative/test-infra/blob/master/ci/prow/plugins.yaml#L44). Also, I believe @grantr can give you the right guidance regarding whether creating a new group is recommended or not.

[2019-12-23 19:37] eallred-google commented on #1593
Thank you Adriano - looks great!

[2019-12-23 20:13] #1575 closed

[2019-12-23 20:49] coryrc opened #1600 "Refactor test-infra Scripts by Role"
## Problem

Our test-infra scripts are doing multiple jobs all mashed into one script:

1. Act as test runner
2. Setup and teardown for CI flows
3. Execute a particular test suite

Normally if a change is desired, someone only wishes to affect one of these three areas. Having these three intermixed makes every change more fragile and requires someone to understand all three components just to chan

[2019-12-23 20:50] coryrc commented on #1600
@pbuzek

[2019-12-23 23:50] samodell commented on #1586
I sent an email to the Knative admins to ask what permissions knative-doc-writers has now. I'll let you know when I hear back!

[2019-12-25 12:01] #318 closed

[2019-12-26 22:42] coryrc opened #1601 "[test] - please ignore"

[2019-12-26 22:43] coryrc commented on #1601
/area autoscale
/area build
/area monitoring
/area networking
/area test-and-release

Other classifications:
/kind good-first-issue
/kind process

/kind proposal

[2019-12-26 23:04] #1601 closed

[2019-12-28 23:24] adrcunha opened #1603 "Investigate the behavior or /kind and /area"
Looks like they are either misconfigured or the described behavior is now different from the actual behavior.

For example: https://github.com/knative/serving/issues/6375

I noticed the same issue in /label and filed https://github.com/kubernetes/test-infra/issues/15628

[2019-12-28 23:36] adrcunha commented on #1600
I don't think this is the right approach. Simply splitting the scripts with the expectation that they can be replaced by another tool or script means that you're not changing the framework, but just being even more coupled with it.

1 is independent of the CI/CD system, and we're not going away from Prow in the foreseeable future.

2 had work done by Chao, yes, but only for the replacement of kube

[2019-12-30 22:29] evankanderson commented on #148
Would it make sense to put these in a sub-directory of https://github.com/knative/community ?

[2020-01-02 01:20] adrcunha commented on #1242
/remove lifecycle-stale

[2020-01-02 01:23] adrcunha commented on #1242
/remove-lifecycle stale

[2020-01-03 21:02] coryrc opened #1607 "Fix Prow config build test to not care about the year"
#1606  should not be necessary.

[2020-01-03 21:02] coryrc commented on #1607
/kind good-first-issue

[2020-01-03 21:03] coryrc commented on #1607
cc @peterfeifanchen

[2020-01-06 04:07] chizhg opened #1609 "Making testgrid alerts more useful and standardize the alerts"
Currently testgrid will send email alerts when Prow jobs fail, as configured in https://github.com/knative/test-infra/blob/master/ci/prow/testgrid.yaml. By default it will send alerts for every job failure, and for some CI jobs it will send alerts if there are more than 3 failures.

In this way it will send a lot of alerts, most of which are not useful. Further more, we now have FlakyTestReporter

[2020-01-06 18:55] chizhg commented on #1600
I think the right direction will be designing and developing our own test driver in Go, e.g. `kntest` (of course we can give it a better name if people do not like it).

There are a couple of reasons for me to consider this approach:
1. As @coryrc pointed out in https://github.com/knative/test-infra/issues/1587, we cannot use a single `TestMain` to do the setup and teardown, since `TestMain` is ti

[2020-01-06 18:58] adrcunha commented on #1609
Agreed. 1 is trivial, is there even a change needed for 2 and 3?

[2020-01-06 19:49] chizhg opened #1611 "wait_until_pods_running should be able to rule out error pods that are not related to the final state of the owners"
In https://github.com/knative/test-infra/blob/97901db33f62f8e1abe9c8221670a09c5a1cba8a/scripts/library.sh#L133, `wait_until_pods_running` will only succeed if all pods in the given namespace are in `Running` or `Completed` state.

But since k8s has some retry logic, e.g. K8s Job can create a new pod if there is an error, one error pod does not necessarily mean the Job fails - https://prow.knative.

[2020-01-06 22:10] #1607 closed

[2020-01-06 23:39] adrcunha commented on #1611
Please clarify what are the specific requirements for undoubtedly ruling a collection of pods as "running". If the answer is "the requirements depend on what we're waiting to be running", then this function should be removed from `library.sh` and the required variants implemented in each place it's used.

[2020-01-06 23:53] adrcunha commented on #1505
This seems interesting. However, this is an external plugin, meaning it must be hosted somewhere:

https://github.com/kubernetes/test-infra/blob/master/prow/plugins/README.md

That's probably why I don't see it enabled for Kubernetes:

https://github.com/kubernetes/test-infra/search?q=cherrypicker&unscoped_q=cherrypicker

[2020-01-07 00:01] steuhs commented on #1611
Alternatively we can delete those failed ones after retry started, we don't need to make the change here

[2020-01-07 19:44] mattmoor opened #1614 "Consider adding validation for release.sh"
This came up in changes to generate-yamls.sh in Serving (https://github.com/knative/serving/pull/6431#issuecomment-571714135) , but this script  is unsuitable to ask developers to run locally because:
1. Some developers (like me) have broad enough permissions to actually cut a release and it isn't worth the risk.
2. The script also assumes that you have GCP access, which isn't a reasonable expecta

[2020-01-07 20:54] adrcunha commented on #1614
Note that while the basics of `generate-yamls.sh` is tested by the E2E tests, PR 6431 affects the output of a release, and how Knative Serving is installed by users, thus testing it (beyond E2E) is advisable to avoid broken releases.

[2020-01-09 23:49] adrcunha commented on #770
/reopen

[2020-01-10 03:09] adrcunha commented on #770
/close

[2020-01-10 03:09] #770 closed

[2020-01-17 00:12] chizhg opened #1622 "Enhance Prow config presubmit tests"
Istio EngProd team has added a new presubmit test job to check Prow cluster config and job configs - https://github.com/istio/test-infra/blob/master/.prow.yaml.

It's actually using the same tool we are using in https://github.com/knative/test-infra/blob/d5990f0e5a05d5819a40ad3b4de6227406850b48/ci/prow/Makefile#L145, but there are a lot of recent changes that makes it being able to catch various l

[2020-01-17 00:18] chizhg opened #1623 "Add postsubmit job to update Prow configs"
After https://github.com/knative/test-infra/issues/1622 is done and we are confident it can catch all the Prow config errors, we can add a postsubmit job to automatically deploy Prow components and update ProwJob configs.

Below are a few reference links from Istio test-infra:
- Example auto deploy job for automatically deploying Prow component file changes: https://github.com/istio/test-infra/blo

[2020-01-17 00:18] chizhg commented on #1623
/kind good-first-issue

[2020-01-17 00:19] chizhg commented on #1622
/kind enhancement

[2020-01-17 00:19] chizhg commented on #1623
/kind enhancement

[2020-01-17 00:20] chizhg commented on #1586
@samodell any update for this?

[2020-01-17 01:15] #1506 closed, assigned to nobody

[2020-01-17 01:32] chizhg opened #1624 "Set up monitoring dashboard for Prow"
Kubernetes Prow has a dashboard where we can check the metrics for the running Prow instance - http://velodrome.k8s.io/.

The doc is in https://github.com/kubernetes/test-infra/blob/master/prow/metrics/README.md.

We should set up the same dashboard as it's now built in Prow.

/kind monitoring

[2020-01-17 05:27] samodell commented on #1586
@chizhg @adrcunha

Thanks for the ping! The admins created a new group for this purpose -- https://github.com/orgs/knative/teams/knative-doc-contributors

Can we give that group of folks permissions through Prow to:

- Add issues to projects in the Docs repo
- Add labels to issues and PRs, except for the Approved, LGTM, and CLA:YES labels (if that's possible)

[2020-01-17 15:59] adrcunha commented on #1586
These are GitHub permissions, not Prow. If they can be set, it's probably through GitHub's settings UI (probably by an admin).

Specifically, the cla:yes label is handled by googlebot and the approve/lgtm ones by Prow; these two won't be fooled if a bad player simply add such labels, so there's no need to worry.

[2020-01-17 21:57] adrcunha commented on #1624
Velodrome is deprecated and unmaintained. Last time we talked to the Prow team about this, there was an upcoming feature that include the metrics server and a graphana dashboard in Prow, which would make it easy to create dashboards.

The first step for this issue is to sync up with the Prow team about the current/best way of setting up this dashboard.

[2020-01-17 22:02] adrcunha commented on #1622
A separate job won't achieve anything that the current job doesn't already do. We run @k8s//prow/cmd/checkconfig in the presubmit tests since I don't remember when, and there were several instances where the check didn't catch issues (I don't remember them though).

I'm not confident with simply having checkonfig as the gatekeeper for automatic deploying Prow configs.

[2020-01-17 22:13] adrcunha commented on #1622
One example of an error (typo) that checkconfig can't catch: rename `tide:` in `config.yaml` to, say, `tida:`, and it won't complain. It means that entire sections of the config file can be missing or wrong (as long as the file is parseable YAML) and the presubmit will still pass.

[2020-01-17 22:49] chizhg commented on #1622
I believe that @k8s//prow/cmd/checkconfig has been improved a lot to be able to catch more errors, there are a lot of options that we can enable for better checking, which we don't have for now. See https://github.com/kubernetes/test-infra/blob/5f81c02cfa52aed3311a76b9b9e0b077db34d035/prow/cmd/checkconfig/main.go#L90-L103

I can check if options like `tideStrictBranchWarning` can catch the error y

[2020-01-17 23:01] adrcunha commented on #1622
Indeed, our test has room for improvement. For example, we have warnings about long job names (which then fail the test if `--strict` is used). But other than that looks like only `--expensive-checks` is missing? (all warnings are enabled by default)

And AFAICU from the code, `tideStrictBranchWarning` is enabled by default and didn't catch the example I mentioned (although just enabling it is a v

[2020-01-17 23:12] chizhg commented on #1622
Indeed, based on the code logic, it's not enabled by default (though the var name `defaultWarnings` is super confusing).
To enable the warnings, you'll have to pass them as flags, things like:
[code]

[2020-01-17 23:16] adrcunha commented on #1622
No, by default all warnings are enabled (if expensive warnings are enabled, there are more):

https://github.com/kubernetes/test-infra/blob/master/prow/cmd/checkconfig/main.go#L198

But currently there's only one expensive warning, but it's just for checking OWNERS files:

https://github.com/kubernetes/test-infra/blob/master/prow/cmd/checkconfig/main.go#L120

In your example above you would be che

[2020-01-20 03:49] chizhg opened #1626 "Allow repo leads to update their Prow jobs independently"
Currently all Prow job configs are in one single file, which is https://github.com/knative/test-infra/blob/master/ci/prow/config.yaml.

For better control and separation of ownerships, we should separate the Prow job config file into different project folders, and add `OWNERS` file for each folder, so that each project leads will be able to merge the PRs related to that project without approval fr

[2020-01-21 19:02] adrcunha commented on #1626
I'm afraid things are not just that simple:
* the monolithic config is created by a tool, which needs to be updated to generate separate configs;
* given that we we don't deploy Prow config changes automatically, having leads approving them doesn't make them going live automatically (which can be both frustrating and confusing);
* given that we cannot rely only on our presubmit checks, I'm not com

[2020-01-22 00:52] #1583 closed

[2020-01-22 06:19] chizhg opened #1629 "Presubmit tests on untagged release branch picks up the wrong latest release in installing its dependencies"
If the presubmit tests is run on a release branch that has not been tagged (handled by auto-release Prow jobs), `get_latest_knative_yaml_source` will return a wrong release.

The reason is because in https://github.com/knative/test-infra/blob/dfeb254e57938f9e30b179034e9833e196ec899f/scripts/library.sh#L619, it will return a tag that is on the previous release.

To fix it, `major_minor` in that fun

[2020-01-22 06:20] chizhg commented on #1629
/bug

[2020-01-22 06:21] chizhg commented on #1629
/label bug

[2020-01-22 07:29] chizhg commented on #1629
/kind good-first-issue

[2020-01-22 19:35] pbuzek opened #1632 "Failure to create a cluster should be reported in the log as an Error"
For example this [log](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing-operator/75/pull-knative-eventing-operator-integration-tests/1219742932098093057) does not show any errors which makes the failure a little more difficult to diagnose. We should simply print out an error like we do [here](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_eventing-o

[2020-01-22 19:45] chizhg commented on #1629
Also as a project can possibly cut release before its dependencies, in such case the function should be able to fall back to the latest nightly release.

[2020-01-23 17:40] chaodaiG opened #1633 "Flaky test reporter also monitors eventing"
Flaky test reporter is a tool analyzing flaky tests and reporting them via Github issues and Slack, it was originally enabled for serving since April 2019, and has been working great since then. We should also consider enabling this tool for eventing as well.

Since the initial design of flaky test reporter already considered supporting multiple repos, there isn't much code change expected other t

[2020-01-23 17:41] chaodaiG commented on #1633
/kind good-first-issue

[2020-01-24 01:20] dushyanthsc commented on #577
Fixed in this https://github.com/knative/test-infra/pull/575.

/close

[2020-01-24 01:20] #577 closed

[2020-01-25 02:37] adrcunha commented on #1629
What's the context here? A release branch is created once, and then a major release cut, adding the tag. Presubmits will run only after the release is cut (ignore the race condition between the manual operations of creating the branch AND creating the CI jobs for the new release). Based on your last comment, it seems to me that the release process was changed (maybe some created a branch and later

[2020-01-25 02:42] adrcunha commented on #1632
This is not a good example:

[code]

Note that the job was terminated (not sure if during or after the cluster creation) due to some error in the entrypoint binary (run.go) so there's no way the error could be properly displayed. We can highlight this particular error in Spyglass, but I wonder how often it happens (I never saw it before).

[2020-01-25 02:47] adrcunha commented on #1632
BTW the cluster creation error is already highlighted in Spyglass (unless the job is killed, as explained above):

https://github.com/knative/test-infra/blob/087ff9c87533fd594ac02a41ad4b70d6cdbfc161/ci/prow/config.yaml#L64

[2020-01-25 03:02] #1632 closed

[2020-01-25 03:04] adrcunha commented on #1632
The error is now highlighted:

![image](https://user-images.githubusercontent.com/35786489/73115550-59e30980-3edc-11ea-8680-09e000105358.png)

[2020-01-25 05:26] chizhg commented on #1629
There are two issues here.

As an example, project `knative-gcp` depends on `serving`, and in its e2e test setup phase, it will run `start_latest_knative_serving` to install the latest `serving` release, with the version got from `get_latest_knative_yaml_source`.

The first issue is, suppose `knative-gcp` just cut branch `release-0.12`, it can take up to 2 hours to be released (as the interval for

[2020-01-25 07:55] adrcunha commented on #1629
That's correct and expected: since 0.12 wasn't built yet, it doesn't make sense expecting any jobs to use 0.12.

That makes sense.

[2020-01-28 00:05] chizhg commented on #1080
/remove-lifecycle stale

[2020-01-28 00:05] chizhg commented on #1375
/remove-lifecycle stale

[2020-01-28 01:00] coryrc opened #1638 "Prow config update PRs don't have an approver auto-assigned"
Assignees are set by knative-prow-robot, who selects reviewers and approvers from the OWNERS file.

However all PRs from knative-prow-updater-robot are assigned only to a reviewer. See https://github.com/knative/test-infra/pull/1637 for example.

This it NOT because knative-prow-updater-robot is not a member of Knative, as other PRs created by non-members do get a reviewer and an approver assigned

[2020-01-28 01:01] coryrc commented on #1638
/assign @chizhg

[2020-01-28 02:47] chizhg commented on #1638
/unassign
/cc @chaodaiG

[2020-01-28 05:06] adrcunha commented on #1638
Assignees are set by knative-prow-robot, who selects reviewers and approvers from the OWNERS file. If this is really desired, the config files should be moved to a separate directory and have a custom OWNERS file.

[2020-01-28 05:07] adrcunha commented on #1638
It would be good to expand on why this is desired, though.

[2020-01-28 05:12] adrcunha commented on #1638
Hmmm... I think the reason for this issue is because https://github.com/knative/test-infra/pull/1637 was assigned only to coryrc, who's a reviewer but not an approver.

[2020-01-28 05:25] adrcunha commented on #1638
It seems that the way the update PR is generated is causing this behavior, but I can't see any obvious cause in https://github.com/knative/test-infra/blob/b0c4c4e1691282f24ccb3b5b0399952bf086edfc/tools/prow-auto-bumper/pullrequest.go#L141

[2020-01-28 14:48] duglin commented on #678
@adrcunha what's the status of this one?

[2020-01-28 14:48] duglin commented on #678
/remove-lifecycle stale

[2020-01-28 17:08] adrcunha commented on #678
@yt3liu started some work in https://github.com/knative/test-infra/pull/1175 but AFAIK this is not a priority.

[2020-01-28 18:31] #1629 closed

[2020-01-29 21:58] #1399 closed

[2020-01-29 23:26] adrcunha commented on #1624
I was told once by the Prow team that once we have a grafana dashboard up and running, it's easy to set up alarms for thresholds (and thus solve issues like https://github.com/knative/test-infra/issues/1080).

[2020-01-30 03:35] coryrc opened #1644 "Coverage program should read ARTIFACTS var from environment when non-zero"
The Prow job configs have a lot of --artifacts=$(ARTIFACTS) when executing the coverage job.

We should modify https://github.com/knative/test-infra/blob/ee08b33b3cf07d7cae113e0b66cd7bbcc8c6ca43/tools/coverage/main.go#L48 to use the environment variable ARTIFACTS when it is non-zero or the current default value when it isn't in the environment. (Because it is a flag, it will still be overwritten i

[2020-01-31 18:52] chaodaiG commented on #1623
Prow job configs and Prow components are not actually on the same level of stability.
- For job configs, due to the fact that they are generated, there is much less chance of random errors such as typos
- For Prow components
    - Images update is done automatically, relatively "Stable"
    - Any other updates are still scary, we don't really have a good way of validating them

I think we can do t

[2020-01-31 18:55] efiturri commented on #1644
/assign @efiturri

[2020-01-31 19:03] efiturri commented on #1644
/unassign @efiturri

[2020-01-31 19:04] efiturri commented on #1644
/assign @efiturri

[2020-01-31 19:13] chaodaiG opened #1653 "Enable rerun plugin for Prow"
Rerun plugin allows whitelisted users being able to click a button on Prow UI and rerun a job. For example, lead of repo X can rerun dot release in case a hotfix missed the automated dot release which runs once per week. Otherwise lead will need to have the permission to apply job yaml on Prow cluster as described here: https://github.com/knative/test-infra/blob/master/ci/manual_release.md#creatin

[2020-01-31 19:15] chaodaiG commented on #1653
/kind enhancement

[2020-01-31 20:30] chizhg commented on #1623
Agree.

In order to do this, at first we'll need to do some changes to make Prow being able to differentiate the different kinds of PRs, and run the corresponding `update-config` job.
Solutions currently in my mind:

1. Auto apply job configs - move all Prow job and testgrid configs to separate folders, if a PR only contains changes in those folders, run `make update-config` and `make update-testg

[2020-01-31 20:32] chizhg commented on #1653
Is it indeed a plugin? I searched in https://github.com/kubernetes/test-infra/blob/master/config/prow/plugins.yaml but didn't find it.

[2020-01-31 20:33] adrcunha opened #1654 "Cleanup job is failing to start"
https://prow.knative.dev/?job=ci-knative-cleanup

https://prow.knative.dev/prowjob?prowjob=efbe52b0-445b-11ea-b132-3e5f37440a93

https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-cleanup/1223320284837187584

[code]

[2020-01-31 22:42] chizhg commented on #496
/remove-lifecycle stale

[2020-02-01 00:04] chizhg commented on #1624
What we actually need is https://monitoring.prow.k8s.io/.

@cjwagner do you know how this dashboard was set up?

[2020-02-01 03:33] cjwagner commented on #1624
Monitoring resources are deployed with bazel. Instructions are here: https://github.com/kubernetes/test-infra/tree/master/prow/cluster/monitoring#deploy
These are the commands used to deploy: https://github.com/kubernetes/test-infra/blob/02fd978b4312d6930708a1a22e2ff46b3aa22858/prow/deploy.sh#L91-L92

Please upstream any improvements you make that would be generally useful!

[2020-02-01 05:30] #1654 closed

[2020-02-03 17:41] adrcunha commented on #1653
This is not a plugin, but a oauth config instead:

https://github.com/kubernetes/test-infra/blob/45246b09ed105698aa8fb928b7736d14480def29/prow/cmd/deck/github_oauth_setup.md#how-to-setup-github-oauth

[2020-02-04 05:04] chizhg commented on #1609
/assign @peterfeifanchen

[2020-02-04 05:04] chizhg commented on #1624
/assign @peterfeifanchen

[2020-02-04 18:07] chaodaiG opened #1658 "Capture errors introduced by Go1.14"
Go1.14 is going to be released very soon: https://github.com/golang/go/releases/tag/go1.14beta1

With early manually testing there were already a couple of bugs discovered and fixes are on the way: https://github.com/knative/serving/pull/6725

We could set up Prow jobs running continuously or even in presubmit test to avoid uncaught errors

[2020-02-04 18:07] chaodaiG commented on #1658
/cc @yt3liu

[2020-02-04 19:56] #1638 closed

[2020-02-04 23:55] chizhg commented on #1658
I think it will be enough to run optional presubmit tests with Go 1.14, we can change it to be required at some time point.
Do we really need to run the Prow job continuously?

[2020-02-05 17:57] yt3liu opened #1666 "Go coverage tool is not reporting the correct status"
https://github.com/knative/serving/pull/6740 delete a test file which should change the coverage data, but the prow job passes without reporting any coverage result on the drop on coverage.

Sample PR for when the coverage job is reporting coverage data: https://github.com/knative/serving/pull/6566#issuecomment-575931991

[2020-02-05 18:12] yt3liu commented on #1666
A fix was attempted last week https://github.com/knative/test-infra/pull/1647. This changed is pushed through coverage-dev image and it's still having the same issue.
**NOTE:** Change is not pushed to all coverage job as this is not the right fix.
https://pantheon.corp.google.com/gcr/images/knative-tests/GLOBAL/test-infra/coverage-dev?project=knative-tests&gcrImageListsize=30

From the [job build

[2020-02-05 19:03] coryrc commented on #1666
It wasn't supposed to fix that issue (didn't know that was an issue).

[2020-02-06 01:11] #1644 closed

[2020-02-06 19:02] #1609 closed

[2020-02-06 22:45] coryrc commented on #1666
/assign @steuhs

[2020-02-06 22:56] chizhg commented on #1102
/remove-lifecycle stale

[2020-02-07 02:45] #1658 closed

[2020-02-07 23:38] steuhs commented on #1666
I see coverage is running 1 hour ago https://github.com/knative/client/pull/629

[2020-02-07 23:40] steuhs commented on #1666
Instead of removing the file, you can delete the file content and leave the file there. If there is no _test.go file associated. Go's test coverage tool will just ignore that source file

[2020-02-08 01:12] steuhs commented on #1666
This is another evidence showing coverage tool working: https://github.com/knative/serving/pull/6774

There is no evidence the coverage tool stop working. Closing this issue

[2020-02-08 01:13] steuhs commented on #1666
/close

[2020-02-08 01:13] #1666 closed

[2020-02-10 17:24] chaodaiG commented on #1653
There is a design affecting how Github teams work in knative: https://docs.google.com/document/d/1pCLzTfNP5-_Z9taNK0W5hntyKbP4E5DI4-6n16GpyeU/edit#

Since this work will very likely use Github teams as authorized user, let's hold off until the design landed

[2020-02-10 23:06] chizhg opened #1683 "Move testgrid.yaml from prow/ to testgrid/"
Currently testgrid.yaml is under prow/ in the test-infra repo, but it does actually belong to Prow. We should create a testgrid/ folder and move it there.

Please be careful with this move as the path needs to be changed in multiple places. Search for `config/prow` and replace all relevant strings when you make the change.

/kind good-first-issue

[2020-02-10 23:15] chizhg opened #1684 "Move config generator code to tools/config-generator"
We have a tool written in Go to generate config files for Prow and Testgrid. The Go files are currently under config/prow but they do not belong here. We should move the Go files to tools/config-generator.

Please be careful with this move as this tool is being consumed by the Makefile.

/kind good-first-issue

[2020-02-10 23:46] chizhg opened #1685 "Do not generate testgrid.yaml for staging-prow"
We have set up staging Prow for testing uncertain changes before apply them on the prod Prow, and it's running on https://prow-staging.knative.dev/. We don't have staging testgrid and don't have plans to set up it, as it would be less destructive to break testgrid than Prow.

But as we are using the same config generator tool to generate the configs for staging Prow, it also generates testgrid.yam

[2020-02-11 00:11] chizhg opened #1686 "Presubmit tests in test-infra should also include testing for staging prow configuration"
Since staging prow configuration file is also generated from the config generator tool, if there are some changes to the tool, the auto-generated staging prow configuration will also be changed.

Currently in presubmit tests we are only checking the prod prow configuration file, see https://github.com/knative/test-infra/blob/64615f92c4ebdd4e4423015ffc0db45877660a0d/test/presubmit-tests.sh#L39, we

[2020-02-11 02:19] chizhg commented on #1586
@samodell

Sorry I missed this issue.. Do we still want it? It seems https://github.com/orgs/knative/teams/knative-doc-contributors does not exist anymore. Maybe we also want to push this issue back until [Knative Github ACLs](https://docs.google.com/document/d/1pCLzTfNP5-_Z9taNK0W5hntyKbP4E5DI4-6n16GpyeU/edit#) is landed.

[2020-02-11 16:22] chaodaiG opened #1689 "Investigate how to support `go test` count greater than 1"
As experimented in this PR https://github.com/knative/test-infra/pull/1615 it was discovered that go-junit-report creates duplicated entries of the same test when `go test -count=5`, which makes spyglass report 5X test count. Investigate how to make Prow and Testgrid work when count is greater than 1

[2020-02-11 16:23] chaodaiG commented on #1689
/kind enhancement

[2020-02-11 19:54] chaodaiG opened #1693 "Updating Prow images to 20200204 stopped Prow from functioning"
Knative has an automated Prow images updating process, which picked one of Prow images updating PRs in k8s/test-infra repo, based on the fact that the PR was not reverted within 24 hours. It has been doing pretty good since it was introduced, until the one from 20200204 from commit https://github.com/kubernetes/test-infra/commit/5f861f7489e1c1a870caa038b72dc54595a21631#diff-00deeeaf0a7a2aba7d06744

[2020-02-11 19:54] chaodaiG commented on #1693
/kind bug

[2020-02-12 01:17] chizhg opened #1695 "Run Prow components and ProwJob pods on separate clusters"
Currently we are running all the workloads (services and jobs) for Prow on one single cluster.

As suggested by @cjwagner , we should have separate clusters for the prow components (service cluster) and prow job pods (build cluster).

Copied & pasted from what he suggested:
That is important for security in OSS if you are running presubmit jobs because it prevents anyone who can run presubmits fro

[2020-02-12 01:18] chizhg commented on #1695
/kind enhancement

[2020-02-12 02:41] chizhg opened #1696 "Run verify-spelling in presubmit tests"
In Kubernetes, they run verify-spelling in presubmit tests with a script - https://github.com/kubernetes/kubernetes/blob/master/hack/verify-spelling.sh.

For Knative, we should run the similar check. Probably can be done by the `sockpuppet` bot.

/kind  enhancement

[2020-02-12 15:19] chaodaiG commented on #1623
/reopen

[2020-02-12 18:33] chizhg commented on #1683
/assign @peterfeifanchen

[2020-02-12 18:33] chizhg commented on #1684
/assign

[2020-02-12 18:42] chizhg commented on #1623
/remove-kind good-first-issue

[2020-02-12 22:45] #1693 closed

[2020-02-13 01:32] chizhg commented on #1265
/reopen

[2020-02-13 01:35] chizhg commented on #1265
We should fix this plugin and push it to upstream.

/cc @chaodaiG

[2020-02-13 02:30] chizhg commented on #1696
/label lifecycle-frozen

[2020-02-13 02:31] chizhg commented on #1696
/kind lifecycle-frozen

[2020-02-13 02:31] chizhg commented on #1696
/lifecycle frozen

[2020-02-13 02:32] chizhg commented on #1696
/remove-lifecycle frozen

[2020-02-13 02:32] chizhg commented on #414
/remove-lifecycle stale
/lifecycle frozen

[2020-02-13 05:39] chizhg opened #1704 "Run label_sync Jobs to sync labels across all Knative repos"
Currently all labels in Knative repos are manually added and managed by repo admins, it is tedious and will be ended up with each repo having different labels and styles.

Kubernetes test-infra has a label_sync tool that can manage the labels in one place, and uses a Job to sync the labels in all repos, see https://github.com/kubernetes/test-infra/tree/master/label_sync

We can also use this tool

[2020-02-14 01:48] chizhg commented on #1684
Done in #1701

[2020-02-14 01:48] #1684 closed

[2020-02-14 23:09] chizhg commented on #1265
/assign @chaodaiG

[2020-02-15 23:55] chizhg commented on #1262
/unassign @adrcunha

As test-infra 2.0 was not launched as planned, this issue still needs to be addressed.

/reopen

[2020-02-17 02:39] chizhg commented on #459
/uncc @adrcunha

As test-infra 2.0 was not launched as planned, some of the discussions under this issue need to be revisited.

/reopen

[2020-02-17 08:28] chizhg opened #1714 "check_links_in_markdown should check all markdown files"
Currently `check_links_in_markdown` only checks markdown files that are changed in the PR, see https://github.com/knative/test-infra/blob/d41432f3e415994399b2ea328675e2284451b83b/scripts/presubmit-tests.sh#L143.

However, it can also be possible that some links in the markdown files become invalid because the corresponding files are moved or deleted. So this function should always check all markdo

[2020-02-17 16:47] #1685 closed

[2020-02-18 17:15] #1683 closed

[2020-02-19 17:16] adrcunha commented on #1714
Please note that by doing so you'll might block a PR because of unrelated changes/files and thus receive a push back from developers (this already happened in the past).

[2020-02-19 17:41] chizhg commented on #1714
Thanks for the info! I actually understand that. But if we don't do this, the number of broken links will continue growing and make the situation even worse.
We can help removing the broken links, or find the developers to do so before we change this check. But after that, everyone should start taking care of the broken links in their own PR then there won't be any broken links.

[2020-02-19 22:10] chizhg opened #1723 "Updating Prow images to 20200212 stopped Prow from functioning"
In https://github.com/knative/test-infra/pull/1716, Prow images were updated to v20200212, but boskos stopped functioning and had a lot of crashloops.
The root cause is k8s test-infra made some breaking changes to boskos, and we need to follow https://github.com/kubernetes/test-infra/pull/16267 to fix it.

/assign

[2020-02-19 22:11] chizhg commented on #1723
/close

Fixed in https://github.com/knative/test-infra/pull/1720

[2020-02-19 22:11] #1723 closed

[2020-02-20 22:09] chizhg commented on #1557
/assign

[2020-02-21 19:58] #1557 closed

[2020-02-22 09:55] nak3 opened #1728 "Request: Support to add need-rebase label by knative-prow-robot when PR is conflicted"
When our PR needs rebase, there are neither notifications nor label addition currently. So, I would like to request to add [needs-rebase plugin](https://github.com/kubernetes/test-infra/tree/master/prow/external-plugins/needs-rebase) like [k8s project](https://github.com/kubernetes/test-infra/blob/master/prow/cluster/needs-rebase_deployment.yaml).

Here is the [example PRs](https://github.com/kube

[2020-02-22 18:56] chaodaiG commented on #1265
The PR for allowing spaces in project name was merged, and we should be able to do `/project "Performance: Measurement"` after we update Prow next week

[2020-02-22 18:58] chaodaiG commented on #1031
/remove-lifecycle stale

[2020-02-22 18:59] chaodaiG commented on #1031
It's already supported, see this example: https://github.com/knative/test-infra/blob/c270971a47b2f418c0a2619f2c03f516528caff2/config/prow/config_knative.yaml#L180

[2020-02-22 18:59] chaodaiG commented on #1031
/close

[2020-02-22 18:59] #1031 closed

[2020-02-22 19:03] chaodaiG commented on #1247
This is actually intended

/close

[2020-02-22 19:03] #1247 closed

[2020-02-22 19:18] chaodaiG commented on #1524
/remove-lifecycle stale

[2020-02-23 07:36] chizhg opened #1733 "Check yaml errors in presubmit tests with yamllint"
The knative/test-infra repository holds a lot of yaml files, but there is no check for the yaml file format.
We should add the check in presubmit tests, [yamllint](https://github.com/adrienverge/yamllint) seems to be a tool we can choose.

/kind enhancement

[2020-02-23 16:57] chaodaiG commented on #1733
Good idea, k8s is already using it: https://github.com/kubernetes/test-infra/blob/bca31114da01be73b3af6e3f500c9b9ed91e8836/config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml#L63

[2020-02-23 17:03] chaodaiG commented on #1696
sockpuppet is already doing it, an example is: https://github.com/knative/test-infra/pull/1670

[2020-02-23 17:07] chaodaiG commented on #1686
Since the recent change moved templates right next to config-generator: https://github.com/knative/test-infra/tree/master/tools/config-generator, I think we can add a unit test for config-generator instead of a unit test in Makefile

[2020-02-23 18:05] chizhg commented on #746
/remove-lifecycle rotten

[2020-02-23 18:05] chizhg commented on #448
/remove-lifecycle rotten

[2020-02-23 18:06] chizhg commented on #717
/remove-lifecycle rotten

[2020-02-23 18:29] chizhg commented on #690
/remove-lifecycle rotten

[2020-02-23 19:58] coryrc opened #1734 "Document default resource requests for Prow jobs"
It seems we have default resource requests of 8.6GiB memory and 4 vCPU, but I can't find where this is configured. We should document this.

[2020-02-23 20:35] #1728 closed

[2020-02-23 20:51] chizhg commented on #1704
/woof

[2020-02-23 23:17] chizhg opened #1735 "Enable showing job Pod info on Spyglass"
[Spyglass](https://github.com/kubernetes/test-infra/tree/master/prow/spyglass) is the tool we use to show the Prow job logs and links of other artifacts for the Prow job.

In the latest version, it supports showing job Pod info, see the example in https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/88424/pull-kubernetes-typecheck/1231055005352464386. This new feature can enhance the visib

[2020-02-23 23:17] chizhg commented on #1735
/kind enhancement

[2020-02-24 00:46] chizhg commented on #1553
/remove-lifecycle stale

[2020-02-24 17:31] #1524 closed

[2020-02-25 00:31] coryrc commented on #946
I identified the real problem and got it fixed here: https://github.com/kubernetes/test-infra/pull/16353

[2020-02-25 00:37] coryrc commented on #1080
This is superseded by #1624
/close

[2020-02-25 00:37] #1080 closed

[2020-02-25 00:38] coryrc commented on #1624
Please ensure it includes metrics on boskos (free, dirty, cleaning, busy).

[2020-02-25 15:28] chaodaiG opened #1742 "Make tide the only required check for PRs"
As part of knative repo setup steps, it's required to [check all required Prow jobs](https://github.com/knative/test-infra/blob/master/guides/prow_setup.md#setting-up-prow-for-a-new-repo-reviewers-assignment-and-auto-merge) in Github UI other than tide, this is theoretically not necessary since Prow jobs already have a field of [`optional: true|false`](https://github.com/knative/test-infra/blob/90

[2020-02-25 15:28] chaodaiG commented on #1742
/kind enhancement

[2020-02-25 17:30] adrcunha commented on #459
/unassign

[2020-02-25 17:30] adrcunha commented on #770
/unassign

[2020-02-25 23:18] chizhg commented on #1696
That is from postsubmit, we can probably add an optional presubmit test job. Also mentioned by JR in https://github.com/knative/serving/pull/7015.

[2020-02-26 02:22] chaodaiG opened #1746 "Support running multiple scripts in a single prow job"
Currently there are 2 ways of defining what runs in a Prow job:
- Use [`presubmit-tests.sh`](https://github.com/knative/test-infra/blob/master/scripts/presubmit-tests.sh) as entrypoint
- Invoke a script directly

As experimented in #1744, none of these currently work with multiple scripts, will need to figure out a way supporting running multiple scripts in a single Prow job

[2020-02-26 05:27] chaodaiG commented on #1734
They are configured here:
https://github.com/knative/test-infra/blob/master/config/prow/cluster/200-cpu-limitrange.yaml
https://github.com/knative/test-infra/blob/master/config/prow/cluster/200-memory-limitrange.yaml

The reason for 8.6 GiB instead of 8GiB I believe was because of each sidecar takes 200M

[2020-02-26 05:37] chaodaiG commented on #1696
I see, make sense

[2020-02-26 06:08] coryrc commented on #1734
Ah, thanks. I will find an appropriate place to document.
/assign

[2020-02-26 18:44] adrcunha commented on #1746
Easiest way is to expand --run-test to allow multiple parameters, then loop through them: https://github.com/knative/test-infra/blob/01760e2303d6a17936658f155004da3019d0f43c/scripts/presubmit-tests.sh#L362

[2020-02-27 00:03] chizhg commented on #1374
/remove-lifecycle rotten

[2020-02-27 00:07] chizhg commented on #214
/remove-lifecycle rotten

[2020-02-27 14:55] dprotaso opened #1750 "k8s.log.txt being truncated"
I think the k8s.log.txt is being truncated in continuous runs for knative-serving

[2020-02-27 22:10] dprotaso commented on #1750
nm - this is in knative serving

[2020-02-27 22:10] #1750 closed

[2020-02-27 22:13] chizhg commented on #1750
Do you have an example for this? The `dump_cluster_state` function actually lives in test-infra - https://github.com/knative/test-infra/blob/edd308cb6d4b023d25722c40eb40cd8a612616ca/scripts/e2e-tests.sh#L90

[2020-02-27 23:18] coryrc commented on #1364
/remove-lifecycle rotten

[2020-02-28 21:02] #1735 closed

[2020-02-28 22:36] chizhg opened #1758 "[Prow auto-update] Create build cluster that can run postsubmit jobs to update Prow cluster"
According to the documentation for Prow [self-update](https://github.com/kubernetes/test-infra/blob/master/prow/more_prow.md#make-prow-update-and-deploy-itself), since the postsubmit job will need to supply privileged credentials (e.g. a kubeconfig file or GCP service account key-file) to make changes to the Prow cluster, it needs to be run in a separate build cluster that is isolated from all pre

[2020-02-28 22:49] chizhg opened #1759 "Use config-bootstrapper to update Prow configs"
Currently we are using a bunch of Makefile commands to update Prow configs, see https://github.com/knative/test-infra/blob/25cf0446d09cca2cd422484d6a42054b8aba20ad/config/prow/Makefile#L76-L136. While k8s/test-infra provides a tool called config-bootstrapper to update Prow configs, we should use it to reduce the maintenance burden.

The tool is in https://github.com/kubernetes/test-infra/tree/mast

[2020-02-29 00:07] chizhg opened #1761 "[Prow auto-update] Implement the auto-update tool"
Based on the [design for Prow auto-update](https://docs.google.com/document/d/1dziNlmNM3_VaPg46bgUV39K-PzBZAsmOUqfYQto99vg/edit#), we need to implement the auto-update tool that will be run by the postsubmit jobs.

The tool needs to be implemented as:
1. Check if the PR contains changes for Prow cluster config and/or job config
2. Update staging-prow cluster if needed
3. Check if the presubmit tes

[2020-02-29 00:12] chizhg opened #1762 "[Prow auto-update] Config Tide to allow merging a PR without manual approval"
Tide can be configured that allows PRs to be automatically merged without manual approval, see https://github.com/istio/test-infra/blob/6c79c4e28d0bc43f71142ce6cf6f96285f4fee1f/prow/config.yaml#L367 and the author field.

This is needed in [Prow auto-update](https://docs.google.com/document/d/1dziNlmNM3_VaPg46bgUV39K-PzBZAsmOUqfYQto99vg/edit#heading=h.q8uh8fpvt8m8) as we need to create a PR that c

[2020-02-29 00:42] chizhg opened #1763 "[Prow auto-update] Add postsubmit jobs for Prow auto-update"
As described in the [Prow auto-udpate](https://docs.google.com/document/d/1dziNlmNM3_VaPg46bgUV39K-PzBZAsmOUqfYQto99vg/edit#heading=h.7vh1j4jqa46h) design doc, after we implement the tool, we need to create two postsubmits jobs that will do Prow auto-update.

[2020-02-29 01:21] chizhg opened #1765 "Update prow-tests image"
We have a fix for the liche tool we use in checking markdown links, and it's fixed and updated in https://github.com/knative/test-infra/pull/1764.

Since it's a change in the prow-tests Dockerfile, we need to build and upload the prow-tests image with the new Dockerfile.

/cc @coryrc

[2020-03-02 18:43] chaodaiG opened #1769 "Enable flakes test reporter for knative-gcp"
As requested by @nachocano , enabling auto flakes bug for knative-gcp but not slack notification. This work will require some changes in the code of flaky-test-reporter, as knative-gcp is not under knative org, but it's hard coded in the tool: https://github.com/knative/test-infra/blob/c803034e81660febb9c6723aac235c5cd958cfa8/tools/flaky-test-reporter/constants.go#L26

knative-gcp is here: https:/

[2020-03-02 18:47] nachocano commented on #1769
/cc @nachocano

[2020-03-02 21:32] #1686 closed

[2020-03-03 01:29] chizhg opened #1773 "[oncall toil]Add periodic Prow jobs to automatically update images"
There is a list of images in the test-infra repo, see https://github.com/knative/test-infra/tree/master/images.

Currently when there are changes to these images, we manually run `make push` command to build and push the images. This process is tedious and lack of testing.

We should have periodic Prow jobs to update these images, and more importantly, we should make sure these images are properly

[2020-03-03 18:38] chaodaiG opened #1777 "Automated Slack notifications use hyperlink"
Slack just added the feature of hyperlink: https://slack.com/help/articles/202288908-Format-your-messages

We should use it for all automated Slack notifications, including but not limited to flaky-test-reporter and performance test reporting

/cc @chizhg

[2020-03-03 18:38] chaodaiG commented on #1777
/kind enhancement

[2020-03-03 21:58] chaodaiG opened #1778 "0.13 release in serving failed due to auto tls test failure"
Knative 0.13 release failed due to auto tls test failure, and the root cause  is that auto tls test relies on service account for talking to dns server, and it doesn't exist in auto release job. See example failure: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-auto-release/1234880014055378945

The release was done by a hacky way to unblock releasing, by manually mounting

[2020-03-03 21:58] chaodaiG commented on #1778
/kind bug

[2020-03-03 21:59] chaodaiG commented on #1778
/bug
/assign @nbarthwal

[2020-03-04 04:56] chizhg opened #1782 "Improve the release process for Knative projects"
Currently, Knative test-infra provides infrastructure for Knative projects to do `auto-release`, `dot-release` and `nightly-release`, see the difference between them in https://github.com/knative/test-infra/blob/master/guides/release_setup.md.

To support these releases, the Knative project needs to vendor test-infra scripts, source [release.sh](https://github.com/knative/test-infra/blob/master/sc

[2020-03-04 04:57] chizhg commented on #1782
Related:
https://github.com/knative/test-infra/issues/1262
https://github.com/knative/test-infra/issues/1778

[2020-03-04 05:39] nachocano commented on #1782
BTW, would it be possible to publish knative-gcp nightly artifacts to the google org bucket instead of knative? Otherwise the pre-release knative.dev links don't work...

https://storage.googleapis.com/google-nightly/knative-gcp/latest/cloud-run-events.yaml

but it actually is here:

https://storage.googleapis.com/knative-nightly/knative-gcp/latest/cloud-run-events.yaml